{% extends 'crud/detail.html' %}
{% load i18n cache crispy_forms_tags %}
{% load webpack_static from webpack_loader %}

  {% block head_content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.9/dist/chart.umd.min.js"></script>
    <script type="module" src="{% webpack_static '/js/dashboard_custom.js' %}"></script>
  {% endblock %}

{% block title %}
  <h1 class="page-header d-flex bg-red text-white container-search justify-content-between" >
    Pesquisar Matérias Legislativas
    {% if not show_results %}
      <a class="btn btn-warning btn-ajuda" data-toggle="collapse" href="#collapseAjudaBuscaTextual" role="button" aria-expanded="false" aria-controls="collapseAjudaBuscaTextual">
        ?
      </a>
    {% endif %}
  </h1>
{% endblock title %}

{% block container_actions %}
  {% if not user.is_anonymous or show_results %}
    {{ block.super }}
  {% endif %}
{% endblock container_actions %}

{% block actions %}

  {{ block.super }}

  {% if show_results %}
    <div class="bg-white rounded">
      {% with url_reverse='cmj.search:materia_haystack_search' url_openapi='sapl.api:materia_materialegislativa-list'  %}
        {% include "crud/format_options.html" %}
      {% endwith %}
    </div>
  {% endif %}
{% endblock %}

{% block extra_content %}

{% endblock %}
{% block detail_content %}
{{infofilter|safe}}
{% endblock %}

{% block table_content %}

<div class="container-search">
  {% if not show_results %}
    {% cache 604800 portalcmj_pesquisar_materia %}
      {% include 'search/search_help_text.html' %}
      <div class="row">
        <div class="col-12">
        </div>
        <div class="col-12 col-md-8">

          {% crispy form %}

          <hr>
          {{ dashboard.dash_grids.materiasearchdashboard }}

          <small class="text-black-50">
            OBS: Classificação de Assuntos é automatizada e realizada, atualmente, apenas para os Requerimentos, sendo feita diariamente pela Inteligência Artificial Gemini 2.0.
          </small>

        </div>
        <div class="col-12 col-md-4 " style="border-left: 1px solid white;">
          {% with view.tipos_autores_materias as tipos_autores_materias %}
            {% if tipos_autores_materias %}
              <br>
              <fieldset>
                <h3>
                  <a class="text-black-50" href="{% url 'cmj.search:materia_haystack_search'%}?em_tramitacao_b=1">
                    Acesso Rápido às Matérias em Tramitação
                  </a>
                </h3>
              </fieldset>
              <hr>
              {% include 'materia/materias_em_tramitacao_widget.html' %}
            {% endif %}
          {% endwith %}
        </div>
      </div>
    {% endcache %}
  {% else %}
    <div class="container-table">
    {% for result in page.object_list %}

      {% if forloop.first %}
        <div class="result-count">Foram encontrados {{ page.paginator.count }} registros </div>
      {% endif %}

      <div class="item-listas p-2">
        <div class="item-raiz row m-0 p-0">

          <div class="col px-0 px-md-2">
            {% cache 604800 m.ml.l result.pk_i %}
              {% with result.object as m %}
                {% include "search/materialegislativa_search_cache.html" %}
              {% endwith %}
            {% endcache %}

            {% if perms.materia.change_materialegislativa %}

              {% with result.object as m %}
                <div class="bg-white d-flex flex-column mt-2">
                  {% if m.certidao %}
                    <small>
                    <a class="text-danger" href="{% url 'cmj.core:certidaopublicacao_detail' m.certidao.id %}">Certidão de Publicação nº {{m.certidao.id|stringformat:"06d" }} de {{m.certidao.created}}</a>
                    </small>
                  {% endif %}
                  {% if m.diariosoficiais.exists %}
                    <small>
                      <a class="text-green" href="{% url 'cmj.diarios:diariooficial_detail' m.diariosoficiais.first.id %}">{{m.diariosoficiais.first.diario}}</a>
                    </small>
                  {% endif %}
                  {% if m.metadata.signs.texto_original.hom %}
                    <small>
                    Homologação: {{m.metadata.signs.texto_original.hom.0}}
                    </small>
                  {% endif %}
                  <small>
                    Score: {{result.score|floatformat:"4"}}
                  </small>
                </div>
              {% endwith %}

            {% endif %}
          </div>

          {% if result.highlighted.text %}
            <div class="col-12 col-md-4 highlight-search m-0 p-0">
              {% for hl in result.highlighted.text %}
              {{ hl|safe }}
              {% endfor %}
            </div>
          {% endif %}

        </div>
      </div>

    {% empty %}
        <h3 class="p-5">Nenhuma Matéria Legislativa encontrada com os critérios de busca acima!</h3>
    {% endfor %}
    </div>

    {% if page.object_list  %}
      {% include "paginacao.html" %}
    {% endif %}

  {% endif %}
</div>
{% endblock %}
