{% extends 'crud/detail.html' %}
{% load i18n cache crispy_forms_tags cropping thumbnail  %}
{% load common_cmj_tags highlight menus %}
{% load common_tags sigad_filters  %}
{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}

  {% block head_content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.9/dist/chart.umd.min.js"></script>
    <script type="module" src="{% webpack_static '/js/dashboard_custom.js' %}"></script>
  {% endblock %}

{% block title %}
  <h1 class="page-header d-flex bg-red text-white container-search justify-content-between" >
    Pesquisar Matérias Legislativas
    {% if not show_results %}
      <a class="btn btn-warning btn-ajuda" data-toggle="collapse" href="#collapseAjudaBuscaTextual" role="button" aria-expanded="false" aria-controls="collapseAjudaBuscaTextual">
        ?
      </a>
    {% endif %}
  </h1>
{% endblock title %}

{% block container_actions %}
  {% if not user.is_anonymous or show_results %}
    {{ block.super }}
  {% endif %}
{% endblock container_actions %}

{% block actions %}

  {{ block.super }}

  {% if show_results %}
    <div class="bg-white rounded">
      {% with url_reverse='cmj.search:materia_haystack_search' url_openapi='sapl.api:materia_materialegislativa-list'  %}
      {% include "crud/format_options.html" %}
      {% endwith %}
    </div>
  {% endif %}
{% endblock %}

{% block extra_content %} {% endblock %}
{% block detail_content %} {% endblock %}

{% block table_content %}

<div class="container-search">
  {% if not show_results %}
    {% cache 86400 portalcmj_pesquisar_materia %}
      {% include 'search/search_help_text.html' %}
      <div class="row">
        <div class="col-12">
        </div>
        <div class="col-12 col-md-8">

          {% crispy form %}

          <hr>
          {{ dashboard.dash_grids.materiasearchdashboard }}

          <small class="text-black-50">
            OBS: Classificação de Assuntos é automatizada e realizada, atualmente, apenas para os Requerimentos. Feita pela Inteligência Artificial Gemini 2.0.
          </small>

        </div>
        <div class="col-12 col-md-4 " style="border-left: 1px solid white;">
          {% with view.tipos_autores_materias as tipos_autores_materias %}
            {% if tipos_autores_materias %}
              <br>
              <fieldset>
                <h3>
                  <a class="text-black-50" href="{% url 'cmj.search:materia_haystack_search'%}?em_tramitacao_b=1">
                    Acesso Rápido às Matérias em Tramitação
                  </a>
                </h3>
              </fieldset>
              <hr>
              {% include 'materia/materias_em_tramitacao_widget.html' %}
            {% endif %}
          {% endwith %}
        </div>
      </div>
    {% endcache %}
  {% else %}
    <div class="container-table">
    {% for result in page.object_list %}
      {% if forloop.first %}
        <div class="result-count">Foram encontrados {{ page.paginator.count }} registros </div>
      {% endif %}
      {% if result.object %}


      {% with result.object as m %}
      <div class="item-listas p-2">
        <div class="item-raiz">

            {% if perms.materia.change_materialegislativa %}
              {% include "search/materialegislativa_search_cache.html" %}
            {% else %}
              {% cache 604800 m.ml.l result.object.pk %}
                {% include "search/materialegislativa_search_cache.html" %}
              {% endcache %}
            {% endif %}

            {% if result.highlighted.text %}
              <div class="highlight-search m-0">
                {% for hl in result.highlighted.text %}
                {{ hl|safe }}
                {% endfor %}
              </div>
            {% endif %}

            </div>
          </div>
        {% endwith %}

      {% endif %}

      {% empty %}
          <h3 class="p-5">Nenhuma Matéria Legislativa encontrada com os critérios de busca acima!</h3>
      {% endfor %}
    </div>

    {% if page.object_list  %}
      {% include "paginacao.html" %}
    {% endif %}

{% endif %}
</div>
{% endblock %}
