{% extends 'crud/detail.html' %}
{% load crispy_forms_tags cropping thumbnail  %}
{% load common_cmj_tags highlight %}
{% load common_tags sigad_filters  %}

{% block title %}
  <h1 class="page-header bg-green text-white container-search" >
    Pesquisar Legislação Municipal - Atos Normativos
    <a class="btn btn-warning btn-ajuda" data-toggle="collapse" href="#collapseAjudaBuscaTextual" role="button" aria-expanded="false" aria-controls="collapseAjudaBuscaTextual">
      ?
    </a>
  </h1>
{% endblock title %}

{% block container_actions %}
    {% if view.create_url %}
      <div class="context-actions justify-content-between">
        <div class="actions btn-group btn-group-sm" role="group">
          <a href="{{ view.create_url }}" class="btn btn-outline-primary">
             Adicionar Norma Jurídica
          </a>
        </div>
      </div>
    {% endif %}
    {% endblock %}

    {% block detail_content %} {% endblock %}

    {% block table_content %}

    <div class="container-search">
      {% include 'search/search_help_text.html' %}
      {% crispy form %}
      <div class="d-flex justify-content-between">
        <div>
          {{infofilter|safe|default:""}}
        </div>
        <div>
          {% with 'cmj.search:norma_haystack_search' as url_reverse %}
          {% include "crud/format_options.html" %}
          {% endwith %}
        </div>
      </div>

    <div class="container-table">
      {% for result in page.object_list %}
        {% if forloop.first %}
          <div class="result-count">Foram encontrados {{ page.paginator.count }} registros </div>
        {% endif %}

        {% if result.object %}
          <div class="item-listas p-2">
            <div class="item-raiz">
              {% with result.object as n %}
                {% include 'norma/normajuridica_widget_list.html' %}
              {% endwith %}
              {% if perms.norma.change_normajuridica %}
              <small>
                Score: {{result.score|floatformat:"4"}}
              </small>
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% empty %}
        {% if show_results %}
          <h3 class="p-5">Nenhuma Norma encontrada com os critérios de busca acima!</h3>
        {% endif %}
      {% endfor %}
    </div>

  {% if page.object_list  %}
    {% include "paginacao.html" %}
  {% endif %}

</div>
{% endblock %}
