{% extends "crud/detail.html" %}
{% load i18n %}

{% block detail_content %}

{% if user.is_authenticated or composicao_mesa %}
<fieldset class="form-group">
  {% if perms.sessao.add_integrantemesa %}
  <legend>{% trans "Escolha da Composição da Mesa Diretora da Sessão Plenária" %}</legend>
  {% endif %}

  <div class="row">
    <div class="col-md-5">
      <label>{% trans "Composição da Mesa Diretora" %}</label>
      <table class="table table-sm table-bordered mb-0" id="tbl_composicao_mesa">
        <thead>
          <tr>
            {% if user.is_authenticated %}
            <th></th>
            {% endif %}
            <th>{% trans "Parlamentar" %}</th>
            <th>{% trans "Cargo" %}</th>
            {% if perms.sessao.change_integrantemesa %}
            <th class="text-center">{% trans "Assina Ata" %}</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for p in composicao_mesa %}
          <tr data-id="{{ p.id }}">
            {% if user.is_authenticated %}
              <td><input type="radio" name="composicao_mesa" value="{{ p.id }}"></td>
            {% endif %}
            <td>{{ p.parlamentar }}</td>
            <td>{{ p.cargo }}</td>
            {% if perms.sessao.change_integrantemesa %}
            <td class="text-center">
              <input type="checkbox" class="assina-ata-check" data-id="{{ p.id }}"
                     {% if p.assina_ata %}checked{% endif %}>
            </td>
            {% endif %}
          </tr>
          {% empty %}
          <tr><td colspan="4" class="text-center text-muted">{% trans "Nenhum integrante" %}</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    {% if perms.sessao.add_integrantemesa %}
    <div class="col-md-3 d-flex flex-column align-items-center justify-content-center">
      <button type="button" id="id_incluir" class="btn btn-primary mb-2" {% if not cargos_vagos %}disabled{% endif %}>
        {% trans "Incluir" %}
      </button>
      <button type="button" id="id_excluir" class="btn btn-danger" {% if not composicao_mesa %}disabled{% endif %}>
        {% trans "Excluir" %}
      </button>
    </div>
    {% endif %}

    {% if perms.sessao.add_integrantemesa and cargos_vagos %}
    <div class="col-md-4">
      <label id="parlamentar-cargo-title">{% trans "Parlamentar | Cargo" %}</label>
      <select class="form-control" name="parlamentar" id="id_parlamentar">
        {% for p in parlamentares %}
        <option value="{{ p.id }}">{{ p.nome_parlamentar }}</option>
        {% endfor %}
      </select>
      <br />
      <select class="form-control" name="cargo" id="id_cargo">
        {% for c in cargos_vagos %}
        <option value="{{ c.id }}">{{ c }}</option>
        {% endfor %}
      </select>
    </div>
    {% endif %}
  </div>
</fieldset>
{% endif %}

<div class="alert alert-danger alert-dismissible d-none" id="div-error" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <b><span id="error-message"></span></b>
</div>

<div class="alert alert-success alert-dismissible d-none" id="div-success" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <b><span id="success-message"></span></b>
</div>
{% endblock detail_content %}


{% block extra_js %}
<script>
(function() {
  'use strict';

  var $composicao = $('#tbl_composicao_mesa'),
      $parlamentar = $('#id_parlamentar'),
      $cargo = $('#id_cargo'),
      $incluir = $('#id_incluir'),
      $excluir = $('#id_excluir'),
      $titulo = $('#parlamentar-cargo-title'),
      $divError = $('#div-error'),
      $divSuccess = $('#div-success'),
      $errorMsg = $('#error-message'),
      $successMsg = $('#success-message'),
      sessaoId = {{ sessaoplenaria.id|safe }};

  function showMsg(msg) {
    $divError.addClass('d-none');
    $divSuccess.addClass('d-none');
    if (!msg) return;
    if (msg[1] === 0) {
      $errorMsg.html(msg[0]);
      $divError.removeClass('d-none');
    } else {
      $successMsg.html(msg[0]);
      $divSuccess.removeClass('d-none');
    }
  }

  function toggleControles(temParlamentares, temCargos, temComposicao) {
    var podeInserir = temParlamentares && temCargos;
    $incluir.prop('disabled', !podeInserir);
    $parlamentar.closest('.col-md-4').toggle(podeInserir);
    $excluir.prop('disabled', !temComposicao);
  }

  function atualizarMesa(msg) {
    $.get("{% url 'sapl.sessao:atualizar_mesa' %}", {sessao: sessaoId}, function(data) {
      if ($.isEmptyObject(data)) return;

      var composicao = data.lista_composicao,
          parlamentares = data.lista_parlamentares,
          cargos = data.lista_cargos;

      $parlamentar.empty();
      $cargo.empty();

      var $tbody = $composicao.find('tbody');
      $tbody.empty();
      var temPermChange = {{ perms.sessao.change_integrantemesa|yesno:"true,false" }};
      composicao.forEach(function(c) {
        var checkTd = '';
        if (temPermChange) {
          checkTd = '<td class="text-center"><input type="checkbox" class="assina-ata-check" data-id="' + c[0] + '"' + (c[3] ? ' checked' : '') + '></td>';
        }
        $tbody.append(
          '<tr data-id="' + c[0] + '">' +
          '<td><input type="radio" name="composicao_mesa" value="' + c[0] + '"></td>' +
          '<td>' + c[1] + '</td>' +
          '<td>' + c[2] + '</td>' +
          checkTd +
          '</tr>'
        );
      });

      parlamentares.forEach(function(p) {
        $parlamentar.append(
          $('<option>', {value: p[0], text: p[1]})
        );
      });

      cargos.forEach(function(c) {
        $cargo.append(
          $('<option>', {value: c[0], text: c[1]})
        );
      });

      toggleControles(parlamentares.length > 0, cargos.length > 0, composicao.length > 0);

      if (data.msg && data.msg[1] === 0) {
        msg = data.msg;
      }
      showMsg(msg);
    });
  }

  $incluir.on('click', function() {
    $.ajax({
      url: "{% url 'sapl.sessao:insere_parlamentar_composicao' %}",
      type: 'POST',
      headers: {'X-CSRFToken': getCookie('csrftoken')},
      data: {
        sessao: sessaoId,
        parlamentar: $parlamentar.val(),
        cargo: $cargo.val()
      },
      success: function(data) {
        atualizarMesa(data.msg);
      }
    });
  });

  $excluir.on('click', function() {
    var selecionado = $composicao.find('input[name="composicao_mesa"]:checked').val();
    if (!selecionado) {
      showMsg(['Selecione algum parlamentar para ser excluido!', 0]);
      return;
    }
    $.ajax({
      url: "{% url 'sapl.sessao:remove_parlamentar_composicao' %}",
      type: 'POST',
      headers: {'X-CSRFToken': getCookie('csrftoken')},
      data: {composicao_mesa: selecionado},
      success: function(data) {
        atualizarMesa(data.msg);
      }
    });
  });

  $composicao.on('change', '.assina-ata-check', function() {
    var $cb = $(this);
    $.ajax({
      url: "{% url 'sapl.sessao:toggle_assina_ata' %}",
      type: 'POST',
      headers: {'X-CSRFToken': getCookie('csrftoken')},
      data: {integrante_id: $cb.data('id')},
      success: function(data) {
        if (data.msg && data.msg[1] === 0) {
          showMsg(data.msg);
          $cb.prop('checked', !$cb.prop('checked'));
        }
      },
      error: function() {
        $cb.prop('checked', !$cb.prop('checked'));
        showMsg(['Erro ao atualizar assinatura da ata!', 0]);
      }
    });
  });

})();
</script>
{% endblock %}
