
.dashboard {
  div[class*="col-"] {
    padding-bottom: 1rem;
  }

  h1 {
    text-align: center;
  }

}

.visually-hidden {
  display: none;
}

.flex-row {
  justify-content: space-between;
  align-items: stretch;
}

.card-header {
  .dropdown {
    &:hover {
      .dropdown-menu {
        display: block;
        margin: 0
      }
    }
  }
}