footer {
  position: relative;
  background: $color_primary $url_bg_png;
  border-top: 2px solid lighten($color_primary, 20%);
  //z-index: 2100;
  span {
    color: lighten(yellow,40%);
  }
  a {
    color: #ccc;
    padding: 0;
    display: inline-block;
    &:hover {
      color: white;
    }
  }

  ul {
    font-size: 0px;
    list-style: none;
    padding: 0;
    width: 100%;
    display: table;
    margin: 0;
  }
  li {

    position: relative;
    font-size: 1rem;
    display: inline-block;
    width: calc(100%);
  }

  .head_title {
    display: inline-block;
    padding: 20px 0 0 0;
    font-variant: small-caps;
    font-size: 120%;
    font-weight: bold;
    font-family: arial;
    color: yellow;
  }


  & > div:nth-child(2) {
    background: $color_primary none repeat scroll 0 0;
    color: lighten($color_primary, 20%);
    text-align: center;
    a {
      padding: 5px 0;
    }
  }

  & > div:nth-child(1) {
    padding-bottom: 20px;
    .container {
      & > ul {
        & > li {
          width: calc(20%);
          vertical-align: top;
        }
      }
    }
  }

  div[vw].enabled {
    top: auto;
    bottom: 20%;
  }

}

.container-footer {
  background: $hover_background_05p;
  margin: $grid-gutter-width 0 0 0;
  z-index: 2100;
  .path-parlamentares {
    display: none;
  }
  .path-item-list {
    padding-top: $grid-gutter-width * 0.5;
    .path-imagem {
      width: 100%;
      margin: 0px;
      padding: 0;
      height: 130px;
    }
    .data-pub {
      position: static;
      text-align: right;
      padding: 0 0 5px;
      border: 0px;
    }
    .titulo {
      font-size: 90%;
    }
    
    .descricao {
      font-size: 70%;
    }
    
  }
}

@media screen and (max-width: 991px) {
  .container-footer {
    .path-item-list {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  footer {
    li {
      font-size: 0.7rem;
    }
    & > div:nth-child(1) {
      .container {
        & > ul {
          & > li {
            width: calc(50%);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .container-footer {
    .path-item-list {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
