@import '__layout_bootstrap';

@import '_layout_forms';
@import '_layout_2018';

@import '_layout_accessibility';


@import '_layout_footer';
@import '_layout_escola';
@import '_layout_galeria';
@import '_layout_navbar';
@import '_layout_noticias_procuradoria';
@import '_layout_noticias_secundarias';
@import '_layout_noticias_parlamentares';
@import '_layout_popup';
@import '_layout_ultimas_publicacoes';
@import '_layout_sidebar';
@import '_layout_videos';
@import '__layout_certidao_publicacao';
