{% extends "crud/detail.html" %}
{% load i18n sigad_filters cropping common_tags%}

{% block head_title %}{{object}}{% endblock head_title %}
{% block meta_description%}{{object.ementa}}{% endblock meta_description %}
{% block head_title_sufix %}PortalCMJ{% endblock head_title_sufix %}

{% block social_links %}
{% endblock social_links %}

{% block title %}

<h1 class="page-header {{bg_title}} d-flex justify-content-between">

  <div>teste
    <a href="#collapseSigns" data-toggle="collapse" href="#collapseSigns" role="button" aria-expanded="false" aria-controls="collapseSigns">
        {% if object.is_signed %}
          <i class="fas fa-1x fa-certificate" title="Documento com Assinatura Digital"></i>
        {% endif %}
    </a>
    {{object.tipo.sigla}} {{object.numero}}/{{object.ano}} - {{object.tipo}}
  </div>


</h1>

  <div class="collapse" id="collapseSigns">
  {% with object.metadata.signs.texto_original.signs as signs %}
    {% include 'core/sign_widget.html' %}
  {% endwith %}
  </div>

{% endblock title %}

  {% block container_actions %}
    {% if not user.is_anonymous %}
      {{ block.super }}
    {% else %}
      <div class="pt-2">
      {% block actions %}{{ block.super }}
      {% endblock actions %}
      </div>
    {% endif %}
  {% endblock container_actions %}

{% block sub_actions %}
    {{ block.super }}
    {% if object.em_tramitacao and mail_service_configured or user.is_superuser %}
      <div class="actions btn-group btn-group-sm" role="group">
        <a href="{% url 'sapl.materia:acompanhar_materia' object.id %}" class="btn btn-outline-primary"  data-toggle="tooltip" data-placement="top" title="Registre seu email para acompanhamento desta matéria. Você receberá um email sempre que está materia tramitar.">Acompanhar Matéria</a>
      </div>
    {% endif %}
{% endblock sub_actions %}

{% block detail_content %} teste 2
<div class="item-listas container-table">
  <div class="item-raiz px-4">
    {% with object.autores.all.count as count_parlamentares %}
      {% for autor in object.autores.all %}
        {% if forloop.counter0 > 0 and forloop.counter0|organize_direction_horizontal_avatars:count_parlamentares %}
          </div>
        {% endif %}

        {% if forloop.counter0|organize_direction_horizontal_avatars:count_parlamentares %}
          <div class="path-parlamentares mt-1">
        {% endif %}

          {% if autor.autor_related.fotografia %}
            <a class="avatar avatar{% if count_parlamentares >= 5 %}5{%else%}3{% endif %}"
              href="{% url 'sapl.materia:pesquisar_materia'%}?autoria__autor={{autor.id}}"
              title="{{parlamentar}}">
              <img src="{% cropped_thumbnail autor.autor_related "fotografia_cropping" %}" alt="{{autor.autor_related}}">
            </a>
          {% endif %}
        {% if not forloop.last %}
          <span class="linebreak"></span>
        {% else %}
          </div>
        {% endif %}
      {% endfor %}
    {% endwith %}

    <div class="links-texto">
      {% if object.texto_original %}
        <a class="link-texto" target="_blank" href="{{object.texto_original.url}}?u={% now "u"%}" title="Texto Original">
          <i class="far fa-2x fa-file-{% if '.pdf' in object.texto_original.path %}pdf{% else %}archive{% endif %}"></i>
        </a>
      {% endif %}
    </div>

    <div class="text-ementa">{{ object.ementa }}</div>

    <small>
      {% with object.tramitacao_set.first as tram %}
        {% if tram.unidade_tramitacao_destino %}
          <strong>Localização Atual:</strong> &nbsp;{{tram.unidade_tramitacao_destino}}</br>
          <strong>Status:</strong> {{tram.status}}<br>
          <strong>Ultima Ação:</strong> {{tram.texto}}<br>
          <strong>Data da última Tramitação:</strong> {{tram.data_tramitacao}}<br>
        {% endif %}
      {% endwith %}
      <br>
    </small>
    <div class="clearfix"></div>
  </div>

  {% if object.url_video %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-sm-7 pb-3">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe id="ytplayer" type="text/html" allowfullscreen
            src="https://www.youtube.com/embed/{{ object.url_video|youtube_id }}"
            frameborder="0"></iframe>
          </div>
        </div>
      </div>
    </div>
  {% endif %}


  <div class="container">
    {{ block.super }}
  </div>

  {% if object.documentoadministrativo_set.exists %}
    <p class="control-label">Documentos Administrativos Vinculados a Matéria</p>
    <div class="bg-white p-3">
        {% with object.documentoadministrativo_set.all as doc_list %}
          {% include 'protocoloadm/documentoadministrativo_widget_materia.html' %}
        {% endwith %}
    </div>
  {% endif %}

  {% if object.audienciapublica_set.exists %}
    <p class="control-label">&emsp; Audiência(s) Pública(s)</p>
    <div class="actions btn-group btn-group-sm" role="group">
      {% for ap in object.audienciapublica_set.all %}
        &emsp;&emsp;<a href="{% url 'sapl.audiencia:audienciapublica_detail' ap.id %}">
            {{ ap.nome }}
        </a>
          {% if not forloop.last %} </br> {% endif %}
      {% endfor %}
    </div>
  {% endif %}

  {% if user.is_superuser %}
    <div class="container">
    <div class="row">
      {% if materialegislativa.user %}
        <div class="col-sm-6">
          <div id="div_id_user" class="form-group">
            <p class="control-label">Usuário</p>
            <div class="controls">
              <div class="form-control-static">
                <div class="dont-break-out">
                  <a href="{% url 'cmj.core:user_update' materialegislativa.user.pk %}">{{materialegislativa.user}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      {% if materialegislativa.ip %}
        <div class="col-sm-6">
          <div id="div_ip_user" class="form-group">
            <p class="control-label">IP</p>
            <div class="controls">
              <div class="form-control-static">
                <div class="dont-break-out">{{materialegislativa.ip}}</div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
    </div>
  {% endif %}


  {% if object.registrovotacao_set.exists %}
    <div class="pt-4">
      <table class="table">
        {% for rv in object.registrovotacao_set.all %}
          {% if forloop.first %}
            <tr>
            <th>Deliberações em Plenário</th>
            <th>Votação</th>
            </tr>
          {% endif %}
          <tr>
            <td>
              {% if rv.ordem %}
                <a href="{% url 'sapl.sessao:ordemdia_list' rv.ordem.sessao_plenaria_id %}#id{{object.id}}">
                  {{rv.ordem.sessao_plenaria.str_short}}
                </a>
              <br><strong>Data:</strong> {{ rv.ordem.sessao_plenaria.data_inicio}}
              {% elif rv.expediente %}
                <a href="{% url 'sapl.sessao:expedientemateria_list' rv.expediente.sessao_plenaria_id %}#id{{object.id}}">
                  {{rv.expediente.sessao_plenaria.str_short}}
                </a>
              <br><strong>Data:</strong> {{ rv.expediente.sessao_plenaria.data_inicio}}
              {% endif %}
              <br><strong>{{rv.tipo_resultado_votacao}}</strong>
              {% if rv.observacao %}
                - {{rv.observacao}}
              {% endif %}
              {% for subscricao in rv.subscricoes.all %}
                {% if forloop.first %}
                  <br><br><strong>Subscrições</strong><br>
                  <div class="container-avatar">
                {% endif %}
                    <a class="avatar avatar7"
                      href="{% url 'sapl.materia:pesquisar_materia'%}?autoria__autor={{subscricao.autor.first.id}}"
                      title="{{subscricao}}">
                      <img src="{% cropped_thumbnail subscricao "fotografia_cropping" %}" alt="{{subscricao}}">
                    </a>
                {% if forloop.last %}
                  </div>
                {% endif %}
              {% endfor %}
            </td>
            <td>
              {{ rv.tipo_votacao }}
              <strong>Sim: </strong>{{ rv.numero_votos_sim }}
              <br><strong>Não: </strong>{{ rv.numero_votos_nao }}
              {% if rv.numero_abstencoes %}
                <br><strong>Abstenções: </strong>{{ rv.numero_abstencoes }}
              {% endif %}

              {% if rv.ordem.tipo_votacao == 2 %}
                <br>-------------
                {% for vp in rv.votoparlamentar_set.all %}
                  <br><strong>{{vp.voto}}</strong> - {{vp.parlamentar}}
                {% endfor %}
              {% endif %}
            </td>
          </tr>
          {% if forloop.last and object.diariosoficiais.exists %}
            <tr>
              <th colspan=2 class="text-left small">
                <strong>Deliberações em plenário finalizadas e aprovação publicada em:</strong><br>
                  <a href="{% url 'cmj.diarios:diariooficial_detail' object.diariosoficiais.first.diario.pk %}">
                  {{object.diariosoficiais.first.diario}}
                  </a><i>&nbsp;({{object.diariosoficiais.first.diario.data}})</i>
              </th>
            </tr>
              {% endif %}
        {% endfor %}
      </table>
    </div>
  {% endif %}

  {% with object.tramitacao_set.all as object_list %}
    <br>
    {% include "materia/tramitacao_list_container.html" %}
  {% endwith %}


{% endblock detail_content %}
