
.dashboard {
    font-family: "Roboto Condensed", Helvetica, sans-serif;
  * {
    // line-height: 1;
  }
  div[class*="col-"] {
    padding-bottom: 1rem;
  }
  .card-body {
    padding: 0.5rem;
  }
  form {
    margin: 0;
    div[class*="col-"] {
      padding-bottom: 0;
    }
  }

  h1, h2, h3 {
    margin: 0;
  }
  h1 {
    text-align: center;
  }
  .card-title {
    font-family: "Roboto Condensed", Helvetica, sans-serif;
    font-weight: 400;
    color: $color_text_title;
    padding: 0.5rem 0.5rem 0 0.5rem;
    margin: 0;
    line-height: 1;
  }
  .card-description {
    font-family: "Roboto Condensed", Helvetica, sans-serif;
    font-style: italic;
    color: $color_text_descricao;
    padding-left: 1rem;
    margin: 0;
    line-height: 1;
  }

}

.visually-hidden {
  display: none;
}

.flex-row {
  justify-content: space-between;
  align-items: stretch;
}

.card-header {
  .dropdown {
    &:hover {
      .dropdown-menu {
        display: block;
        margin: 0
      }
    }
  }
}