input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--bs-border-color) inset !important;
    -webkit-text-fill-color: var(--bs-body-color) !important; /* Optional: Change text color */
}

a {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

.avatar {
  opacity: 0.75;
  img {
    border: 0px solid transparent;
    border-radius: 50%;
    width: 100%;
  }

  &:hover {
    opacity: 1;
  }
}


// ######### Dark Mode #########
@include color-mode(dark) {
}

// ######### Media Queries #########
@media (min-width: 768px) {
}

@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media print {
}