.contrast {
  &, * {
    opacity: 1;
    &::before, &::after {
      filter: grayscale(100%) contrast(110%);
    }
  }
  &, .contrast_base {
    background-image: none !important;
    background-color: black !important;
    color: white !important;
  }

  img,
  a.imagem,
  div.imagem,
  div.path-capa,
  .icon {
    filter: grayscale(100%) contrast(110%);
  }

  a {
    color: white !important;
  }

  nav, div,  ol, header, footer, section, main, aside, article, span {
    background-color: black !important;
    color: white !important;
  }
  h1, h2, h3, h4,h5,h6,p,label,strong,em,cite,q,i,b,u,span {

    color: white !important;
    opacity: 1;
  }

  button, input[type=button], input[type=reset], input[type=submit], .btn {
    background: black !important;
    color: yellow !important;
    border: none !important;
  }

  .navbar-social-links, div.path-parlamentares {
    background-color: transparent !important;
    i {
      text-shadow: 0 0 0;
    }
  }

  table, .table {
    th, td {
      @extend .contrast_base;
      &:hover {
        @extend .contrast_base;
      }
    }
  }

  .header-accessibility {
    @extend .contrast_base;
    a {
      @extend .contrast_base;
      font-weight: bold;
      font-size: 90% !important;
    }
  }

  .navbar-topo{
    .container, .container-fluid {
      background: none;
    }
  }

  .carousel-indicators {
    .active {
      background-color: white !important;
    }
  }

  .container-calendar {
    .dia {
      .numero {
        font-size: 120%;
      }
    }
    .dia-out {
      .numero  {
        font-size: 100%;
      }
    }
  }

  .navbar, .navbar-nav, ul, .item-agenda, .heading,
  .btn-ouvidoria, .path-header, .page-link, .page-header,
  .container-box, .inner, .nav-pagination {
    background-image: none !important;
    background-color: #000 !important;
    border-color: white !important;
    &::before, &::after {
      filter: grayscale(100%) contrast(110%);
    }
  }

  .link-e-sic {
    background-color: white !important;
    color: black !important;
  }
}


.contrast1 {
  background-image: none !important;

  * {
    //filter: grayscale(100%);
  }
  .color_black {
    color: black !important;
    opacity: 1 !important;
  }

  a {
    @extend .color_black;
    text-decoration: underline !important;
  }
  .descricao, i {
    @extend .color_black;
  }
  .navbar-social-links {
    a:hover {
      background-color: black !important;
      i {
        color: white !important;
      }
    }
  }

  .box {
    opacity: 1;
    background-color: black !important;
    border-bottom: 1px solid white;
  }

  .navbar, .header-accessibility, .box {
    a {
      color: white !important;
      opacity: 1;
      text-decoration: none !important;
    }
  }

  .navbar, .navbar-nav, ul {
    background-image: none !important;
    background-color: #000 !important;
    border-color: white !important;
    ::before {
      filter: grayscale(100%) contrast(110%);
    }
    li {
      a {
        color: white !important;
        font-family: Arial, Helvetica, sans-serif;
      }
      &:hover {
        border-color: white !important;
      }
    }
  }

  .navbar-topo, .navbar-menu {
    background-color: #000 !important;
  }

  img,
  div.imagem,
  .icon {
    filter: grayscale(100%) contrast(110%);
  }

}