@import 'variables';

.copylink_old {
  cursor: pointer;
  position: relative;
  width: 2em;
  height: 2em;
  display: inline-block;
  // &::after {
    // background-image: url(~@/assets/v2018/img/icon_copy_area_transferencia.png);
  // }
  i {
    display: none;
  }
  &::after {
    background-size: 100% 100%;
    content: " ";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
  }
}

.navbar-social-links {
  display: inline-block;
  padding: 0;
  line-height: 1;
  // z-index: 1;
  border-radius: 5px;
  overflow: hidden;

  border: 1px solid transparent;

  background-color: #fff9;
  a {
    font-size: 1rem;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    i {
      color: rgba($color_text, 0.4);
    }

    &.facebook {
      &::after {
      background-image: url(~@/assets/v2018/img/icon_facebook64x64.png);
      }
    }

    &.whatsapp {
      &::after {
      background-image: url(~@/assets/v2018/img/icon_whatsapp64x64.png);
      }
    }

    &.twitter {
      &::after {
      background-image: url(~@/assets/v2018/img/icon_twitter64x64.png);
      }
    }
    &.x-twitter {
      &::after {
      background-image: url(~@/assets/v2018/img/icon_x_twitter.png);
      }
    }
    &.youtube {
      &::after {
      background-image: url(~@/assets/v2018/img/icon_youtube64x64.png);
      }
    }

    &.instagram {
      &::after {
      background-image: url(~@/assets/v2018/img/icon_instagram64x64.png);
      }
    }
    &.telegram {
      &::after {
      background-image: url(~@/assets/v2018/img/icon_telegram64x64.png);
      }
    }

    &.facebook,
    &.whatsapp,
    &.twitter,
    &.x-twitter,
    &.youtube,
    &.instagram,
    &.telegram {
      position: relative;
      i {
        display: none;
      }
      &::after {
        background-size: 100% 100%;
        content: " ";
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 0;
      }
    }

    &:hover {
        &::after {
          opacity: 1;
        }
    }
  }
  .icon-sessoes-online {
    margin-right: 0.7em;
    background-image: url(~@/assets/v2018/img/icon_plenarias_online.png);
    background-size: 1.8em auto;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
  &.absolute-center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
  &.absolute-top-center {
    position: absolute;
    top: 5px;
    left: 50%;
  }
  &.absolute-right {
    position: absolute;
    right: 5px;
    top: 5px;
  }
  &.top-right {
    position: relative;
    right: 0;
    text-align: right;
    padding-left: 5px;
  }
  &.icon-block {
    a {
      display: block;
    }
  }
  &.block {
    margin-top: 5px;
    display: block;
    width: 100%;
    clear: both;
    border: 1px solid transparentize($color_border_input, 0.6);
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 0;
    small {
      font-size: 70%;
    }
  }
  span {
    display: none;
  }
  &:hover {
    background-color: #fff;
    a:hover {
      background-color: $color_primary;
      i {
        color: $color_text_reverse;
      }
    }
  }
}
