
.navbar-brand {
  &:hover {
    text-shadow: 0px 0px 10px #eb3c7d;
  }
}

.brand-name {
  position: relative;
  &::before {
    content: " ";
    background: url(~@/__globals/2018/themes/outubro_rosa/img/outubro_rosa.png) no-repeat top left;
    background-size: auto 100%;
    opacity: 1;
    left: 100%;
    bottom: 0;
    width: 50px;
    height: 100%;
    position: absolute;
    z-index: 1;
  }
}

@media screen and (min-width: 992px) {
  .brand-name {
    &::before {
      background: url(~@/__globals/2018/themes/outubro_rosa/img/outubro_rosa_corte_j.png) no-repeat top left;
      background-size: auto 100%;
      width: 70%;
      height: 70%;
      bottom: -14px;
      left: -8px;
    }
  }
}
