form {
  margin-top: $grid-gutter-width / 2;
  .form-group {
    &.disabled {
      opacity: 0.4;
    }
  }
  .controls {
    flex: 1 0 auto;
    margin: 0 $grid-gutter-width / 2;

    .btn {
      text-transform: uppercase;
    }
  }

  .controls-file {
    padding: 10px;
    border: 1px solid #d6e1e5;
    border-radius: 4px;

    label.checkbox-inline {
      margin: 0px;
      display: block;
    }
  }

  .controls-radio-checkbox {
    padding: 0px;
    border: 1px solid #d6e1e5;
    border-radius: 4px;
    min-height: 20px;
    background-color: white;

    .help-block {
      margin: $grid-gutter-width / 2;
      padding: $grid-gutter-width / 2;
      border: 2px dashed #d6e1e5;
    }

    label {
      padding: 5px;
      .icons {
        top:  5px;
        left: 8px;
      }
      &.checkbox-inline, &.radio-inline {
        padding: 8px;
        padding-left: 36px;
        .icons {
          top:  8px;
          left: 8px;
        }
      }
    }
    .checkbox, .radio, .checkbox-inline, .radio-inline  {
        margin: 0;
      &:hover {
        background-color: #d6e1e5;
      }
    }
  }

  .form-group-contatos-search {
    .checkbox {
      padding-left: $grid-gutter-width / 4;
    }
    label {
          min-height: 0;
          margin: 0;
          padding: 5px;
          line-height: inherit;
      span, input {
        display: none;
      }
    }
  }
}

.form-control-static {
  font-size: 1.2em;
  border-bottom: 1px solid darken($color_main_bg, 5%);
  line-height: 2em;
  padding: 0px $grid-gutter-width / 2;
  min-height: 2em;
  background: transparentize($color_main_bg, 0.4);
  ul {
    margin: 0;
    padding-left: $grid-gutter-width * 1.2;
  }
}