{% extends "crud/detail.html" %}
{% load i18n crispy_forms_tags common_tags sigad_filters cropping thumbnail%}
{% load webpack_static from webpack_loader %}

{% block class_header %}list-materias{% endblock class_header %}

{% block widgets_form_css %}
  {% if request.GET.autoria__autor %}
    {% for autor in page_obj.0.autores.all %}
      {% if autor.id|stringformat:"d" == request.GET.autoria__autor %}
        <style>
          .second_header::before {
          {% if autor.autor_related.capa %}
              background-image: url({% thumbnail autor.autor_related.capa 9000x9000 box=autor.autor_related.capa_cropping crop detail %});
          {% else %}
              background-image: url({% webpack_static 'public/img/fundo_topo.jpg' %});
          {% endif %}
          }
        </style>
      {% endif %}
    {% endfor %}

  {% endif %}
{% endblock widgets_form_css %}

{% block base_container_header %}

    {% if request.GET.autoria__autor %}
      {% for autor in page_obj.0.autores.all %}
        {% if autor.id|stringformat:"d" == request.GET.autoria__autor %}
          <span class="tipo_header">Matérias Legislativas</span>
          <div class="container-avatar float-right">
            <a class="avatar avatar2"
              href="{% url 'sapl.materia:pesquisar_materia'%}?autoria__autor={{autor.id}}"
              title="{{autor.nome}}">
              <img src="{% cropped_thumbnail autor.autor_related "fotografia_cropping" %}" alt="{{autor.autor_related}}">
            </a>
          </div>

          {% block sub_title %}
            <h3>{{autor.nome}}</h3>
          {% endblock sub_title %}

        {% endif %}
      {% endfor %}
    {% else %}
          {% block title %}{{ block.super }}
          {% endblock title %}

    {% endif %}



{% endblock base_container_header %}



  {% block actions %}
    <div class="actions btn-group" role="group">
      {% if show_results %}
          <a href="{% url 'sapl.materia:pesquisar_materia' %}" class="btn btn-outline-primary">{% trans 'Fazer nova pesquisa' %}</a>
      {% endif %}
    </div>
    <div class="actions btn-group btn-group-lg" role="group">
      {% if perms.materia.add_materialegislativa %}
      <a href="{% url 'sapl.materia:materialegislativa_create' %}" class="btn btn-outline-primary">
          {% blocktrans with verbose_name=view.verbose_name %}Adicionar Matéria Legislativa{% endblocktrans %}
      </a>
      {% endif %}
    </div>
  {% endblock %}

{% block detail_content %}
  {% if not show_results %}
    {% include 'search/search_widget.html' %}
  <hr>
    {% crispy filter.form %}
  {% endif %}
{% endblock detail_content %}

{% block table_content %}
  {% if show_results %}
    <div class="result-count">Total de Matérias: <strong>{{paginator.count}}</strong></div>
      {% if not paginator.count %}
        <h3>Nenhuma matéria encontrada com essas especificações</h3>
      {% else  %}
        {% for m in page_obj %}
          <div class="row">
            <div class="col item-listas">
              <div class="item-raiz">

                <strong>
                  <a class="text-epigrafe top-avatar" href="{% url 'sapl.materia:materialegislativa_detail' m.id %}">
                      {% if m.is_signed %}
                        <i class="fas fa-1x fa-certificate" title="Documento possui versão com Assinatura Digital, entre nos detalhes do documento para abrir o Arquivo Original"></i>
                      {% endif %}
                    {{m.tipo.sigla}} {{m.numero}}/{{m.ano}} - {{m.tipo}}
                  </a>
                </strong>


                <div class="container-avatar float-right">
                  <div class="avatar-group">
                  {% with m.autores.all.count as count_parlamentares %}
                    {% for autor in m.autores.all %}
                      {% if forloop.counter0 > 0 and forloop.counter0|organize_direction_horizontal_avatars:count_parlamentares %}
                        </div>
                      {% endif %}

                        {% if forloop.counter0|organize_direction_horizontal_avatars:count_parlamentares %}
                          <div class="line-avatar">
                        {% endif %}

                        {% if autor.autor_related.fotografia %}
                          <a class="avatar avatar{% if count_parlamentares >= 5 %}5{%else%}{% if count_parlamentares >= 2 %}4{% else %}3{% endif %}{% endif %}"
                            href="{% url 'sapl.materia:pesquisar_materia'%}?autoria__autor={{autor.id}}"
                            title="{{autor.autor_related}}">
                            <img src="{% cropped_thumbnail autor.autor_related "fotografia_cropping" %}" alt="{{autor.autor_related}}">
                          </a>
                        {% endif %}

                      {% if not forloop.last %}
                        <span class="linebreak"></span>
                      {% else %}
                        </div>
                      {% endif %}
                    {% endfor %}
                  {% endwith %}
                  </div>

                  {% if m.registrovotacao_set.exists %}
                    {% for rv in m.registrovotacao_set.all %}
                      {% for subscricao in rv.subscricoes.all %}
                        {% if forloop.first %}
                          <div class="avatar-group subscricoes">
                          <small><strong>Subscrições:</strong></small>
                        {% endif %}

                        {% if forloop.counter0|divisibleby:2 %}
                          {% if forloop.counter0 != 0%}
                            </div>
                          {% endif %}
                          <div class="line-avatar">
                        {% endif %}

                        <a class="avatar avatar6"
                          href="{% url 'sapl.materia:pesquisar_materia'%}?autoria__autor={{subscricao.autor.first.id}}"
                          title="{{subscricao}}">
                          <img src="{% cropped_thumbnail subscricao "fotografia_cropping" %}" alt="{{subscricao}}">
                        </a>

                        {% if forloop.last %}
                          </div>
                          </div>
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
                  {% endif %}
                </div>

              <div class="links-texto">
                {% if m.texto_original %}
                  <a class="link-texto" target="_blank" href="{{m.texto_original.url}}?u={% now "u"%}" title="Texto Original">
                    <i class="far fa-2x fa-file-{% if '.pdf' in m.texto_original.path %}pdf{% else %}archive{% endif %}"></i>
                  </a>
                {% endif %}
              </div>

                <strong>
                  <a class="text-epigrafe bottom-avatar" href="{% url 'sapl.materia:materialegislativa_detail' m.id %}">
                      {% if m.is_signed %}
                        <i class="fas fa-1x fa-certificate" title="Documento possui versão com Assinatura Digital, entre nos detalhes do documento para abrir o Arquivo Original"></i>
                      {% endif %}
                    {{m.tipo.sigla}} {{m.numero}}/{{m.ano}} - {{m.tipo}}
                  </a>
                </strong>

              <div class="text-ementa">
                {{ m.ementa }}
              </div>

              <div>
                <strong>Data de Apresentação:</strong> <span style="white-space: nowrap">{{m.data_apresentacao}}</span>
                {% if m.protocolo_gr.first %}
                  <br><strong>Protocolo: </strong>{{m.protocolo_gr.first.epigrafe}}
                {% endif %}

                <br><strong>Autoria:</strong> {{ m.autores.all|join:", "}}

                {% if m.data_fim_prazo %}
                  <strong>Data Fim Prazo (Matéria): </strong>{{ m.data_fim_prazo|default_if_none:"" }}
                  </br>
                {% endif %}

                {% if m.numeracao_set.first %}
                  <strong>Processo: </strong>{{ m.numeracao_set.first.numero_materia }} / {{ m.numeracao_set.first.ano_materia }}
                  </br>
                {% endif %}
              </div>

              {% if not tipo_listagem or tipo_listagem == '1' %}
                <div>
                  {% if m.tramitacao_set.first.unidade_tramitacao_destino %}
                    <strong>Data da última Tramitação:</strong><br>{{m.tramitacao_set.first.data_tramitacao}}</br>
                    {% if m.tramitacao_set.first.data_fim_prazo %}
                        <strong>Data Fim Prazo (Tramitação):</strong> {{m.tramitacao_set.first.data_fim_prazo|default_if_none:""}}</br>
                    {% endif %}
                    <strong>Localização Atual:</strong> {{m.tramitacao_set.first.unidade_tramitacao_destino}}</br>
                    {% endif %}
                    {% if m.tramitacao_set.first.status %}
                      <strong>Status:</strong> {{m.tramitacao_set.first.status}}</br>
                    {% endif %}
                    {% if m.tramitacao_set.first.data_tramitacao %}
                    <strong>Ultima Ação:</strong> {{m.tramitacao_set.first.texto}}</br>
                  {% endif %}
                </div>
              {% endif %}
            </div>
            {% if not tipo_listagem or tipo_listagem == '1' %}
              <div class="mt-2">
                {% if m.documentoacessorio_set.all.exists %}
                  <strong>Documentos Acessórios:</strong>&nbsp;
                  <a href="{% url 'sapl.materia:documentoacessorio_list' m.id %}">
                      {{ m.documentoacessorio_set.all.count }}
                  </a><br>
                {% endif %}
                {% if m.normajuridica_set.exists %}
                  {% for nr in m.normajuridica_set.all %}
                    {% if not forloop.first %}<br>{% endif %}
                    {% if nr.tipo_id == 27 %}
                      <strong>Autrografo:&nbsp;</strong>
                    {% else %}
                      <strong>Norma Jurídica Vinculada:&nbsp;</strong>
                    {% endif %}
                    <a href="{% url 'sapl.norma:normajuridica_detail' nr.id %}">
                      {{ nr }}
                    </a>
                  {% endfor %}
                {% endif %}
              </div>

              <div class="mt-2">
                {% if m.registrovotacao_set.exists %}
                  {% for rv in m.registrovotacao_set.all %}
                    {% if forloop.first %}
                      <strong>Deliberações em Plenário:</strong><br>
                      <ul>
                    {% endif %}

                    <li>
                      {% if rv.ordem %}
                        <a href="{% url 'sapl.sessao:ordemdia_list' rv.ordem.sessao_plenaria_id %}#id{{m.id}}"
                          title="{{rv.ordem.sessao_plenaria}}">
                          {{ rv.ordem.sessao_plenaria.data_inicio }}
                          - {{ rv.tipo_resultado_votacao.nome}}
                        </a>
                          <i>
                          {% if rv.ordem.registrovotacao_set.first.observacao %}<br><small>{{ rv.ordem.registrovotacao_set.first.observacao}}</small>{% endif %}
                          </i>
                      {% elif rv.expediente %}
                        <a href="{% url 'sapl.sessao:expedientemateria_list' rv.expediente.sessao_plenaria_id %}#id{{m.id}}"
                          title="{{rv.expediente.sessao_plenaria}}">
                          {{ rv.expediente.sessao_plenaria.data_inicio }}
                        </a>
                      {% endif %}

                    </li>
                    {% if forloop.last %}
                      </ul>
                    {% endif %}

                  {% endfor %}
                {% endif %}
              </div>

              <div class="">
                {% if m.anexo_de.exists %}
                  {% for a in m.materia_anexada_set.all %}

                    {% if forloop.first %}
                      <strong>
                        Matéria Anexadora:
                      </strong>
                      <ul>
                    {% endif %}

                    <li>
                      <a href="{% url 'sapl.materia:materialegislativa_detail' a.materia_principal.id %}">
                          {{ a.materia_principal }}&nbsp;
                      </a>
                      <small>
                        <i>Data de anexação: {{a.data_anexacao}}</i>
                      </small>
                    </li>
                    {% if forloop.last %}
                      </ul>
                    {% endif %}
                  {% endfor %}
                {% endif %}

                {% if m.anexadas.all.exists %}
                  {% for anexada in m.materia_principal_set.all %}
                    {% if forloop.first %}
                      <strong>
                        Matérias anexadas:
                      </strong>
                      <ul>
                    {% endif %}

                    <li>
                      <a href="{% url 'sapl.materia:materialegislativa_detail' anexada.materia_anexada.id %}">
                          {{ anexada.materia_anexada }}.
                      </a>
                      <small>
                      <i>Data de anexação: {{anexada.data_anexacao}}</i>
                      </small>
                    </li>
                    {% if forloop.last %}
                      </ul>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </div>
            {% endif %}

                    {% if m.em_tramitacao and mail_service_configured %}
                      <a class="btn btn-sm btn-outline-primary" href="{% url 'sapl.materia:acompanhar_materia' m.id %}" data-toggle="tooltip" data-placement="top" title="Registre seu email para acompanhamento desta matéria. Você receberá um email sempre que está materia tramitar.">Acompanhar Matéria</a>
                    {% endif %}

                    {% if False %}
                      {% if m.audienciapublica_set.exists %}
                        <strong>Audiência(s) Pública(s): </strong>
                        {% for ap in m.audienciapublica_set.all %}
                          <a href="{% url 'sapl.audiencia:audienciapublica_detail' ap.id %}">
                              {{ ap.nome }}
                          </a>
                          {% if not forloop.last %},&nbsp;{% endif %}
                        {% endfor %}
                      {% endif %}
                      <p></p>
                    {% endif %}



                </div>
              </div>
            {% endfor %}
          {% endif %}
      {% include "paginacao.html" %}
    {% endif %}
    {% endblock table_content %}
