{% load common_tags %}
{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <meta charset="utf-8">
  </meta>
<head>
  <style>
    {% include "css/base_old.css" %}
    {% include "css/header-relatorio.css" %}
    </style>
</head>
<body>
  <section id="header_relatorios">
    <dl>
      <dt class="image-header">
        <img src="{% if logotipo %}{{ MEDIA_URL }}{{ logotipo }}{% else %}{% webpack_static 'public/img/logo.png' %}{% endif %}">
      </dt>
      <dd class="title-header">
        <h2>{{casa.nome}}</h2>
        <h4>Sistema de Apoio ao Processo Legislativo</h4>
        {% if info %}
          <h5>{{info|safe}}</h5>
        {% endif %}
      </dd>
    </dl>
  </section>
</body>
</html>