{% extends "crud/list.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load common_tags %}
{% block container_table_list %}
  {% crispy filter.form %}
  <style type="text/css">
    .presenca_table td, th{
      text-align: center;
    }
  </style>

  <b>PERÍODO: {{periodo}}</b><br />
  <b>Legislatura: {{legislatura}}</b><br />
  <b>Sessão Legislativa: {{sessao_legislativa}}</b><br />
  <b>Tipo Sessão Plenária: {{tipo}}<br /> </b>
  <b>TOTAIS NO PERÍODO - SESSÕES: {{total_sessao}} - ORDENS DO DIA: {{total_ordemdia}}</b><br />
  <br>
  <table class="table table-bordered table-hover presenca_table">
    <thead class="thead-default" align="center">
      <tr class="active">
        <th rowspan="2">Nome Parlamentar / Partido</th>
        <th rowspan="2">Titular?</th>
        <th rowspan="2">Ativo?</th>
        <th colspan="2">Sessão</th>
        <th colspan="2">Ordem do Dia</th>
        <th rowspan="2">Ausências Justificadas em Sessão</th>
      </tr>
      <tr class="active">
        <th>(Qtd)</th>
        <th>( % )</th>
        <th>(Qtd)</th>
        <th>( % )</th>
      </tr>
    </thead>
    <tbody>
      {% for p in parlamentares %}
        <tr>
          <td><b> {{p.parlamentar}}</b> / {{p.parlamentar|filiacao_intervalo_filter:date_range|default:"Sem Partido"}}</td>
          <td>{% if p.titular %} Sim {% else %} Não {% endif %}</td>
          <td>{% if p.parlamentar.ativo %} Sim {% else %} Não {% endif %}</td>
          <td>{{p.sessao_count}}</td>
          <td>{{p.sessao_porc}}</td>
          <td>{{p.ordemdia_count}}</td>
          <td>{{p.ordemdia_porc}}</td>
          <td>{{p.ausencia_justificada_count}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock container_table_list %}

{% block extra_js %}

<script type="text/javascript">

  $(document).ready(function(){

    var original_options = [];
    $.each($("#id_sessao_legislativa").children(), function(idx, obj) {
      original_options.push($(obj));
    });

    $('#id_legislatura').change(function(event) {

      let legislatura = $("#id_legislatura").val();
      var json_data = {
        legislatura : legislatura,
      }

      if(legislatura){
        $.getJSON("{% url 'sapl.parlamentares:get_sessoes_legislatura' %}", json_data, function(data){
            if (data) {
              $("#id_sessao_legislativa").children().remove();
              if (data.sessoes_legislativas.length > 1) {
                sel = $("#id_sessao_legislativa").append("<option>---------</option>");
                sel.children().last().attr("value", "");
              }
              $.each(data.sessoes_legislativas, function(idx, obj) {
                $("#id_sessao_legislativa")
                  .append($("<option></option>")
                  .attr("value", obj[0])
                  .text(obj[1]));
              });
            }
        });
      }else{
        $("#id_sessao_legislativa").children().remove();
        $.each(original_options, function(idx, obj) {
          $("#id_sessao_legislativa").append(obj);
        });
        $("#id_sessao_legislativa").children().first().attr('selected', true);
      }
    }).trigger('change')

  });

</script>

{% endblock %}
