
// ADJUST tela de login ########################################
.html-login {
  background-color: $color_topo_bg;
  background-image: none;
  a.navbar-brand {
    font-size: 50px;
    margin-left: -10px !important;
  }
  body, .navbar {
    background-color: $color_topo_bg;
    background-image: none;
  }
}
.login-page {
  footer {
    border-width: 1px;
    margin-top: 100px;
    bottom: 0px;
  }
  footer > div:first-child {
    display: none;
  }

}

.container-login {
  box-shadow: 0px 1px 5px #ccc;
  min-height: 100%;
  position: relative;
  margin: 3% 15%;
  background-color: transparent;
  color: $color_topo_bg;
  border: 0;
  .inner {
    padding: $grid-gutter-width;
    line-height: 1;
  }
  .logo-cmj {
    position: absolute;
    opacity: 0.7;
    right: 15px;
    top: 2px;
    width: 60px;
    z-index: 1;
  }
  .label2 {
    color: white;
    font-weight: normal;
    font-size: 3em;
    margin: 0;
    font-weight: normal;
    font-size: 2em;
    background: $color_topo_bg;
    padding: 0 20px;
  }
  .input-icon {
    margin: 30px 10% 0;
    span.fa {
      position: absolute;
      padding: 0.45em 0.2em;
      opacity: 0.6;
    }
  }
  #login-form {
    background: white;
    overflow: hidden;
  }
  .row-recovery {
    margin: 0 10%;
    text-align: right;
  }
  input {
    height: 3em;
    font-size: 1.3em;
    border: 1px solid rgba($color_topo_bg, 0.7);

    padding: 1em 1em 1em 2.2em;
    background-color: rgba(255, 255, 255, 0.8);
    &:focus {
      background-color: white;
    }
    @include placeholder($color_topo_bg, 0.5, 1em, normal);


  }
  
  .btns-login {
    margin: 1em 0;
    .btn-login {
      border: 0px solid $color_topo_bg;
      background-color: $color_topo_bg;
      cursor: pointer;
      display: inline-block;
      line-height: 3rem;
      padding: 0 10px;
      font-size: 1.2rem;
      //position: relative;
      width: 100%;
      //letter-spacing: 0px;
      text-align: center;

      //line-height: 1.9rem;

      color: white;
      text-decoration: none;

      i {
        margin-right: 10px;
        //line-height: 1.8rem;
        //border-radius: 2px;
        vertical-align: middle;
        font-size: 2.4rem;
      }
      
      
      &[name="facebook"]  {
        background-color:  #4267B2;
      }
      &[name="google-oauth2"] {
        background-color: #e55;
        i { 
          font-size: 2rem;
        }
      }
      &:hover {
        background: black $url_bg_png;
      }
    }
    &.box-entry {
      margin: $grid-gutter-width 0 0 0;
      padding: 1em 2em;
      border: 1px solid #ddd;
    }
    
  } 

}

.container-login-inner {
  .container-login {
    //margin: 30px 15%;
  }
}

// #### ImpressoEnderecamentoRenderer #####################

.ier {
  background: darken($color_main_bg, 10%) $url_bg_png;
  height: 100px;
  margin: 0 $grid-gutter-width / 2 $grid-gutter-width $grid-gutter-width / 2;
  overflow: hidden;
  position: relative;
  .etiqueta {
    position: absolute;
    background: white;
  }
}



@media screen and (max-width: 1199px) {
  .container-login {
    margin: 0 10% $grid-gutter-width/2;
    .btns-login {
      .col-lg-6 {
        padding: 0;
      }
      .btn-login {
        margin-top: 10px;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .container-login {
    //margin: 0 10% $grid-gutter-width/2;
    .inner {
      //padding: $grid-gutter-width/2;
    }
  }
  .container-login-inner {
    .container-login {
      margin: 0;
    }
  }
}

@media screen and (max-width: 767px) {
  .container-login {
    margin: $grid-gutter-width / 2 0;
    .inner {
      padding: $grid-gutter-width / 2;
    }
    .input-icon {
      margin: $grid-gutter-width / 2;
    }
    .btns-login {
      .btn-login {
        //margin-top: 10px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .container-login {
    input {
      height: 2.5em;
      font-size: 1.2em;
      padding: 0.5em 0.7em 0.5em 2.2em;
    }
    .btns-login {
      .btn-login {
        letter-spacing: 1px;
      }
    }
    .input-icon {
      span.fa {
        padding: 0.15em 0.2em;
      }
    }
  }
  .container-login-inner {
    .container-login {
      //margin: 10px 1%;
    }
    .inner-ouvidoria {
      //padding: 0px;
    }
  }
}
@media screen and (max-width: 480px) {
  .container-login {
    //margin: 10px 0;
    .input-icon {
      margin: 15px 0 0;
    }
    .row-recovery {
      margin: 0 10px;
    }

    .btns-login {
      &.box-entry {
        margin: 0;
        padding: 15px;
      }
    }
    
  }
  .container-login-inner {
    .container-login {
      //margin: 10px 0;
    }

    .inner-ouvidoria {
      //padding: 30px;
    }
  }
}