
.container-cert-pub {
  border: 1px solid black;
  display: inline-block;
  //margin-top: 1cm;
  //justify-content: center;
  //display: block;
  //flex-direction: column;
  //text-align: justify;

  .title {
    //display: flex;
    //justify-content: space-between;
    //font-variant: small-caps;
    //font-size: 1.2em;
    //font-weight: bold;
  } 
}

@page {
  size: A4;
  margin: 4cm;
}
@media print {

  .container-cert-pub {
    width: 300pt;
    .inner {
    }
  }



}
