
.canais-absolute, .canais-relative, .canais-columns {
  & > div {
    padding-left: 0px;
    padding-right: 0px;
  }
  .icon {
    position: absolute;
    top: 0;
    right: 5px;
    z-index: 0;
    font-size: 60px;
    color: rgba(0, 0, 0, 0.15);
    transition: all 0.4s ease;
    width: 100%;
    height: 100%;
    text-align: right;
    background-position: right;
    background-repeat: no-repeat;
    opacity: 0.15;
    
    &.icon-atividade-legislativa {
      background-image: url(~@/assets/img/icon_materia_legislativa.png);
    }
    &.icon-diario-oficial {
      background-image: url(~@/assets/img/icon_diario_oficial.png);
    }
    &.icon-sessao-plenaria {
      background-image: url(~@/assets/img/icon_plenarias.png);
    }
    &.icon-norma-juridica {
      background-image: url(~@/assets/img/icon_normas_juridicas.png);
    }
    &.icon-licitacao {
      background-image: url(~@/assets/img/icon_licitacao.png);
    }
    &.icon-transparencia {
      background-image: url(~@/assets/img/icon_transparencia.png);
    }
  }
  .box {
    position: relative;
    border: 0px solid #fff;
    border-radius: 0px;
    height: 16.666%;
    width: 100%;
    opacity: 0.55;
    transition: opacity 0.2s ease-in-out;
    overflow: hidden;
    &:hover {
      opacity: 1;
      transition: opacity 0.4s ease-in-out;
      .icon {
        transform: scale(1.15);
        right: 10px;
      }
    }
  }
  .inner {
    position: relative;
    z-index: 1;
    font-size: 1.9em;
    font-variant: small-caps;
    line-height: 0.9em;
    height: 100%;
    a {
      position: relative;
      display: block;
      color: inherit;
      padding: 8px 5px 5px 50px;
      text-indent: -30px;
      height: 100%;
      text-decoration: none;
      &:hover {
        background-color: $hover_background_20p;
      }
    }
  }
}

.canais-absolute {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  .inner {
  }
}

.canais-relative {
  margin: 0 -10px;
}

.canais-columns {
  padding: 0;
  height: 70px;
  .box {
    width: 16.6666%;
    float: left;
    height: 100%;
    &:hover {
      .icon {
        right: 0px;
      }
    }
  }
}

#wrapper {
  transition: all 0.5s ease;
  z-index: 2500;
  padding-left: 10px;
  aside {
    width: 10px;
    transition: all 0.5s ease;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: $color_main_bg $url_bg_png;
    z-index: 2500;
  }
  #menu-toggle {
    text-decoration: none;
    position: absolute;
    left: 100%;
    top: 22px;
    margin-left: -23px;
    color: rgba(black, 0.8);
    z-index: 1;
    line-height: 0;
    padding: 5px;
    &:hover, &:active {
      color: white;
    }
    .fa-chevron-circle-left {
      display: none;
    }
    .fa-chevron-circle-right {
      display: inline;
    }
  }

  &.toggled {
    transition: all 0.5s ease;
    padding-left: $width-wrapper-lg;
    aside {
        transition: all 0.5s ease;
        width: $width-wrapper-lg;
    }
    .path-previous {
        left: $width-wrapper-lg - 43px;
    }

    #menu-toggle {
      color: rgba(white, 0.4);
      top: 0px;
      &:hover  {
        color: white;
      }
      &:active  {
        color: rgba(white, 0.4);
      }
      .fa-chevron-circle-right {
        display: none;
      }
      .fa-chevron-circle-left {
        display: inline;
      }
    }
  }
  &:not(.toggled) {
    .canais-absolute {
      .inner {
        font-size: 0;
        margin-right: 10px;
        a {
          padding: 0;
        }
      }
      .icon {
        width: 0;
      }
    }
  }
}


@media screen and (max-width: 1199px) {
  .canais-columns {
    height: 65px;
    .inner {
      font-size: 1.6em;
      a {
        padding: 8px 5px 5px 27px;
        text-indent: -18px;
      }
    }
  }
}


@media screen and (max-width: 991px) {
  #wrapper {
    &.toggled {
      padding-left: $width-wrapper-sm;
      aside {
          width: $width-wrapper-sm;
      }
      .path-previous {
          left: $width-wrapper-sm - 43px;
      }
      .container-gallery {
        .path-previous {
            left: -38px;
        }
      }
    }
  }
  .canais-absolute {
    .icon {
      position: absolute;
      top: 20%;
      right: 0;
      left: 0;
      bottom: 0px;
      width: 100%;
      display: block;
      background-size: 40%;
      background-position: top;
      opacity: 0.6;
    }
    .inner {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: auto;
      font-size: 1.3em;
      text-align: center;
      a {
        position: relative;
        padding: 100% 0px 10% 0px;
        text-indent: 0;
      }
    }
  }
  .canais-columns {
    height: 58px;
    .inner {
      font-size: 1.3em;
      a {
        padding: 9px 5px 5px 20px;
        text-indent: -10px;
      }
    }
  }
}


@media screen and (max-width: 767px) {
  
  .canais-columns {
    .inner {
      font-size: 1.2em;
    }
  }
}

@media screen and (max-width: 600px) {
  .canais-columns {
    .icon {
      background-size: 32%;
      background-position: center center;
      height: 60%;
      opacity: 0.3;
      right: 0;
    }
    .inner {
      font-size: 0.9em;
      text-align: center;
      a {
        padding: 30px 0 0;
        text-indent: 0;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .canais-columns {
    .icon {
      background-size: 47%;
      background-position: center center;
      height: 55%;
      opacity: 0.6;
    }
    .inner {
      font-size: 0.6rem;
      a {
        padding: 35px 0 0 0;
      }
    }
  }
}
