@keyframes toggledin {
  from {
    width: $width-wrapper-closed;
    overflow: hidden;
  }
  99% {
    width: $width-wrapper-lg - 1;
    overflow: hidden;
  }
  100% {
    width: $width-wrapper-lg;
    overflow: unset;
  }
}

@keyframes toggledin_lg {
  from {
    width: $width-wrapper-closed * 1.5;
    overflow: hidden;
  }
  99% {
    width: $width-wrapper-lg * 1.5 - 1;
    overflow: hidden;
  }
  100% {
    width: $width-wrapper-lg * 1.5;
    overflow: unset;
  }
}

#wrapper {
  padding-left: $width-wrapper-closed;
  
  .path-previous {
    left: $width-wrapper-closed - 41px;
  }
  
  aside {
    width: $width-wrapper-closed;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #212a2d $url_bg_png;
    z-index: 2500;

    font-size: 1rem;

    background: -moz-linear-gradient(left, rgba(9, 20, 38, 0.99) 0%, #000000 100%);
    background: -webkit-linear-gradient(left, rgba(9, 20, 38, 0.99) 0%, #000000 100%);
    background: linear-gradient(to right, rgba(9, 20, 38, 0.99) 0%, #000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#091426', endColorstr='#000000',GradientType=1 );
    
    .container-aside {
      position: absolute;
      display: flex;
      flex-direction: column;
      
      opacity: 0.6;

      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    
    ul {
      display: none;
      position: absolute;
      list-style: none;
      padding: 0;
      margin: 0;
      z-index: 1;
      left: 90%;
      top: 10px;
      border-radius: 4px;
      box-shadow: 0 5px 15px #2d3f2f;
      background-color: transparent;
      &::before {
        background-color: #00a65a;
        content: '';
        position: absolute;
        visibility: inherit;
        top: 10px;
        left: -5px;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        z-index: -1;
      }

      li {
        line-height: 1;
        &:not(:last-child) {
          border-bottom: 1px solid #0001;
        }
      }
      a {
        display: block;
        text-decoration: none;
        font-size: 1rem;
        line-height: 1.5;
        white-space: nowrap;
        padding: 0 10px;
        &:hover {
          background-color: #0003;
        }
      }
    }

    .box {
      position: relative;
      display: flex;
      flex: 1 1 100%;
      &:not(:last-child) {
        border-bottom: 1px solid #555;

      }
      &.box-search:hover {
        background: #fff3 !important;
      }
      &.box-parlamentares:hover {
        background: #004c40 !important;
      }
      &.box-documento-administrativo:hover {
        background: #00c0eeaa !important;
      }
      &.box-norma:hover{
        background: #00a65aaa  !important;
        ul {
          background: #00a65a;
        }
      }
      &.box-norma-destaque:hover{
        background: #b0b300 !important;
        ul {
          background: #3d9970;
          top: -140px;
          &::before {
            background-color: #3d9970;
            top: 150px;
          }
        }
      }
      &.box-sessao:hover{
        background: #f39c12aa !important;
      }
      &.box-materia:hover{
        background: #f56954aa !important;
      }
      &.box-diario-oficial:hover {
        background: #85144baa !important;
      }
      &.box-comissao:hover {
        background: #f012beaa !important;
      }
      &.box-transparencia:hover {
        background: #932ab6aa !important;
      }

      & > .inner {
        display: none;
        align-self: center;
        flex: 1 1 100%;
  
        & > a {
          color: #aaa;
          font-size: 1.2em;
          //font-variant: small-caps;
          text-decoration: none;
          white-space: nowrap;
        }
      }
    }
    
    .icon {
      width: 100%;
      height: 100%;
      
      flex: 0 0 $width-wrapper-closed;
      align-self: center;

      background-size: 60% auto;
      background-repeat: no-repeat;
      background-position: center center;

      opacity: 0.7;

      &.icon-busca-textual {
        background-image: url(~@/assets/img/search_box_icon36.png);
      }
      &.icon-parlamentares {
        background-image: url(~@/assets/img/icon_parlamentares.png);
      }
      &.icon-atividade-legislativa {
        background-image: url(~@/assets/img/icon_materia_legislativa.png);
      }
      &.icon-diario-oficial {
        background-image: url(~@/assets/img/icon_diario_oficial.png);
      }
      &.icon-sessao-plenaria {
        background-image: url(~@/assets/img/icon_plenarias.png);
      }
      &.icon-norma-juridica {
        background-image: url(~@/assets/img/icon_normas_juridicas.png);
      }
      &.icon-norma-juridica-destaque {
        background-image: url(~@/assets/img/icon_normas_juridicas_destaque.png);
      }
      &.icon-licitacao {
        background-image: url(~@/assets/img/icon_licitacao.png);
      }
      &.icon-transparencia {
        background-image: url(~@/assets/img/icon_transparencia.png);
      }
      &.icon-comissoes {
        background-image: url(~@/assets/img/icon_comissoes.png);
      }
    }

    .box {
      &:hover {
        ul {
          display: block;
        }
      }
    }

    &:hover {
      box-shadow: 0 20px 20px #2d3f2f;

      .container-aside {
        opacity: 1;
      }

      .box:hover {
        .icon {
          opacity: 1;
        }
        a {
          color: white;
        }
      }
      .inner {
        display: flex;
      }
    }
  }
}

@media screen and (max-width: 991.98px) {

  #wrapper {
    padding-left: 0;
    .path-previous {
      left: -33px;
    }
    aside {
      width: 100%;
      position: relative;
      //height: 64px;

      .container-aside {
        position: relative;
        display: flex;
        flex-direction: row;
        opacity: 0.8;
      }

      .box {
        flex-direction: column;

        &:not(:last-child)  {
          border-bottom-width: 0;
        }

        & > .inner {
          text-align: center;
          display: inline-flex;
          padding-bottom: 5px;
          & > a {
            font-size: 0.8em;
            white-space: unset;
            line-height: 1.2;
            font-variant: normal;
          }
        }
      }
      .icon {
        background-size: auto 70%;
      }

      &:hover {
        width: 100%;
        box-shadow: 0 0 0 #031d06;
      }
    }
  }
}

@media screen and (max-width: 767.98px) {

  #wrapper {
    aside {
      .container-aside {
        opacity: 0.8;
      }
      .box {
        & > .inner {
          & > a {
            font-size: 0.6em;
          }
        }
      }
      .icon {
        background-size: auto 60%;
      }
    }
  }
}

@media screen and (max-width: 575.98px) {

  #wrapper {
    aside {
      .container-aside {
        opacity: 0.8;
      }
      .box {
        & > .inner {
          & > a {
            //display: none;
            padding: 0 3px;
          }
        }
      }
      .box-comissao, .box-search, .box-diario-oficial, .box-parlamentares {
        display:none;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  #wrapper {
    aside {
      &:hover {
        width: $width-wrapper-lg;
        animation-delay: 0s;
        animation-duration: 0.7s;
        animation-name: toggledin; 
      
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  #wrapper {
    padding-left: $width-wrapper-closed * 1.5;
    .path-previous {
      left: $width-wrapper-closed * 1.5 - 41px;
    }
    aside {
      width:  $width-wrapper-closed * 1.5;

      .icon {
        flex: 0 0 $width-wrapper-closed * 1.5;
      }
      &:hover {
        width: $width-wrapper-lg * 1.5;
        animation-delay: 0s;
        animation-duration: 0.7s;
        animation-name: toggledin_lg; 
        
        .box {
          & > .inner {
            & > a {
              font-size: 1.5em;
            }
          }
        }
      }
    }
  }
}

@media print {
  aside {
    display: none !important;
  }
}
