{% load static common_cmj_tags common_tags %}
{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}
<!DOCTYPE html>
<html lang="pt-br">
<meta charset="utf-8"></meta>
<head>
  <title>LOA </title>
  <style>
    {% include "css/base2024.css" %}
    {% include "css/emendaloa-preview.css" %}
    @page {}

    html {
      line-height: {{lineHeight}};
    }
  </style>
</head>
<body>

  <header>
    <img src="{% webpack_static 'img/pdf_cabec.jpg' %}">
  </header>

  {% define object.totais_contabeis as otc %}

  {% if object.fase < object.LIBERACAO_CONTABIL %}
    <section class="{% if otc.divergencia_emenda == 0 %}blue{%else%}red{% endif %}">
      EM EDIÇÃO
    </section>
  {% elif otc.divergencia_emenda != 0 %}
    <section class="red">
      DIVERGÊNCIA DE VALORES
    </section>
  {% endif %}

  <h3>EMENDA {% if object.tipo %}IMPOSITIVA{% else %}MODIFICATIVA{% endif %}, de
  {% if object.materia %}
    {{ object.materia.data_apresentacao|date:"d \d\e F \d\e Y" }}.
  {% else %}
    {% now "d \d\e F \d\e Y" %}.
  {% endif %}
  </h3>

  {% with object.loa.materia as mat_loa %}
    <small>
      Ao {{mat_loa.tipo|default:"PROJETO"}} nº {{mat_loa.numero}}, de {{ mat_loa.data_apresentacao|date:"d \d\e F \d\e Y" }},
      que {{mat_loa.ementa}}
    </small>
  {% endwith %}

  <h5>
    Autoria:
    {% for parl in object.parlamentares.all %}
      {% if forloop.first %}
          Vereador{% if object.parlamentares.isonly_sexo_feminino %}a{% if object.parlamentares.count > 1 %}s{% endif %}{% else %}{% if object.parlamentares.count > 1 %}s{% endif %}{% endif %}
      {% endif %}
      {{parl.nome_parlamentar}}{% if not forloop.last %},{% endif %}
    {% endfor %}
  </h5>

  <p class="ementa">
    Altera destinação de recursos orçamentários, indicando {{object.prefixo_indicacao}} {{object.indicacao|default:"XXXXXXX"}},
    para a recepção do valor de
    <strong> R$ {{ object.valor|valor_str }} ({{object.valor|valor_por_extenso}}),</strong>
    que será {{ object.prefixo_finalidade}} {{ object.finalidade|default:"XXXXXXX" }}.
  </p>

  <p class="preambulo">
    {% if object.parlamentares.isonly_sexo_feminino %}A{% else %}O{% endif %}{% if object.parlamentares.count > 1 %}s{% endif %}
    subscritor{% if object.parlamentares.isonly_sexo_feminino %}a{% else %}{% if object.parlamentares.count > 1 %}e{% endif %}{% endif %}{% if object.parlamentares.count > 1 %}s{% endif %}
    da presente Emenda {% if object.tipo %}Impositiva{% else %}Modificativa{% endif %}, propõem a seguinte modificação no Projeto de Lei Orçamentária Anual supracitado:
  </p>

  <p class="art">
    {% spaceless %}
    <span class="rotulo">Art {{ view.art }}º - </span>Deduz-se da
    {% for rc in object.registrocontabil_set.all_deducoes %}
        Unidade Orçamentária {{rc.despesa.unidade.especificacao}} /
        Código: {{rc.despesa.consulta.codigo}} - {{rc.despesa.consulta.especificacao}} /
        Natureza da Despesa: {{rc.despesa.consulta.cod_natureza}}{% if object.registrocontabil_set.all_deducoes.count > 1 %}
          - Valor: R$ {{rc.valor|valor_abs_str }}{% endif %}{% if not forloop.last %} // {% endif %}{% empty %}XXXXXXXXXX{% endfor %},
        o valor de <strong> R$ {{ object.valor|valor_str }} ({{object.valor|valor_por_extenso}})</strong>.
    {% endspaceless %}
  </p>

  <p class="art">
    <span class="rotulo">Art {{ view.art }}º - </span>O valor deduzido de
    <strong> R$ {{ object.valor|valor_str }} ({{object.valor|valor_por_extenso}}),</strong>
    será inserido na
    {% for rc in object.registrocontabil_set.all_insercoes %}
        Unidade Orçamentária {{rc.despesa.unidade.especificacao}} /
        Código: {{rc.despesa.consulta.codigo}} - {{rc.despesa.consulta.especificacao}} /
        Natureza da Despesa: {{rc.despesa.consulta.cod_natureza}}{% if object.registrocontabil_set.all_insercoes.count > 1 %}
          - Valor: R$ {{rc.valor|valor_str }}{% endif %}{% if not forloop.last %} // {% endif %}{% empty %}XXXXXXXXXX{% endfor %},
          {{object.prefixo_finalidade}} {{object.finalidade}}.
  </p>

  {% if object.parlamentares.count > 1 %}
    <p class="art">
      <span class="rotulo">Art {{ view.art }}º - </span>O valor de
      <strong> R$ {{ object.valor|valor_str }} ({{object.valor|valor_por_extenso}}),</strong>
      será divido entre
      {% if object.parlamentares.isonly_sexo_feminino %}as{% else %}os{% endif %}
      vereador{% if object.parlamentares.isonly_sexo_feminino %}as{% else %}es{% endif %}
      subscritor{% if object.parlamentares.isonly_sexo_feminino %}as{% else %}es{% endif %},
      sendo utilizado:
        {% for elp in object.emendaloaparlamentar_set.all %}
          <strong> R$ {{ elp.valor|valor_str }} ({{elp.valor|valor_por_extenso}}),</strong>

          d{% if elp.parlamentar.sexo == 'F' %}a{% else %}o{% endif %}
          Vereador{% if elp.parlamentar.sexo == 'F' %}a{% endif %}
          {{elp.parlamentar.nome_parlamentar}}{% if not forloop.last %};{% else %}.{% endif %}
        {% endfor %}
    </p>
  {% endif %}

  <p class="art">
    <span class="rotulo">Art {{ view.art }}º - </span>Os demais artigos e dispositivos da matéria acima
    permanecem inalterados.
  </p>


  <p class="art">
    <span class="rotulo">Art {{ view.art }}º - </span>A presente emenda fará parte integrante do Projeto
    de Lei em referência.
  </p>
<br>
<p class="data">
  Câmara Municipal de Jataí, em
  {% if object.materia %}
    {{ object.materia.data_apresentacao|date:"d \d\e F \d\e Y" }}.
  {% else %}
    {% now "d \d\e F \d\e Y" %}.
  {% endif %}
</p>


{% for parl in object.parlamentares.all %}
  {% if forloop.first %}
    <div class="assinaturas">
  {% endif %}


  {% if forloop.counter0|divisibleby:3 %}
    </div>
    <div class="assinaturas">
  {% endif %}

    <div class="assinatura">
      {{parl.nome_parlamentar}}
      <small>
        Vereador{% if parl.sexo == 'F' %}a{% endif %}
      </small>
    </div>

  {% if forloop.last %}
    </div>
  {% endif %}
{% endfor %}

  <footer>
    <img src="{% webpack_static 'img/pdf_rodape.jpg' %}">
  </footer>
</body>
</html>