{% load i18n %}
{% load compilacao_filters %}
{% load common_cmj_tags common_tags%}

<strong>
  <a class="text-epigrafe text-{{ cert.content_object|meta_model_value:'model_name' }}"
      href="{{ n.urlize }}">
    {% if n.is_signed %}
      <i class="fas fa-1x fa-certificate" title="Documento possui versão com Assinatura Digital, entre nos detalhes do documento para abrir o Arquivo Original"></i>
    {% endif %}
    {{ n }}
  </a>
</strong>
<br>
<div class="text-ementa">
  {{n.ementa}}
</div>

{% if perms.norma.change_normajuridica %}
  <div class="bg-white d-flex flex-column mt-2">
    {% if n.certidao %}
      <small>
      <a class="text-danger" href="{% url 'cmj.core:certidaopublicacao_detail' n.certidao.id %}">Certidão de Publicação nº {{n.certidao.id|stringformat:"06d" }} de {{n.certidao.created}}</a>
      </small>
    {% endif %}
    {% if n.diariooficial %}
      <small>
        <a class="text-green" href="{% url 'cmj.diarios:diariooficial_detail' n.diariooficial.id %}">{{n.diariooficial}}</a>
      </small>
    {% endif %}
  </div>
{% endif %}

