{% load i18n %}
{% load compilacao_filters %}
{% load common_tags common_cmj_tags %}
{% load static %}

{% if n.get_normas_relacionadas.1|length > 0 or n.get_normas_relacionadas.1|length > 0 or n.get_anexos_norma_juridica|length > 0 %}
  <div class="page-break"></div>
{% endif %}

<div class="row">
  <div class="col-sm-12">

    <hr />
    <div class="d-flex justify-content-center">
      {% with False as render_ementa %}
        {% with n as object.content_object %}
          {% include 'norma/normajuridica_widget_file.html' %}
        {% endwith %}
      {% endwith %}
    </div>

    <hr />
    {% if n.get_anexos_norma_juridica|length > 0 %}
      <p class="control-label">Anexos da Norma Jurídica</p>
        <ul class="form-control-static mb-3">
          {% for p in n.get_anexos_norma_juridica %}
            <li>
              <a href="/media/{{p.anexo_arquivo}}">
              {{p.assunto_anexo}}</a>
            </li>
          {% endfor %}
        </ul>
    {% endif %}

      {% if n.diariosoficiais.exists %}
        <p class="control-label">Diário Oficial</p>
        <div class="form-control-static mb-3">
          {% for d in n.diariosoficiais.all %}
            <a href="{% url 'cmj.diarios:diariooficial_detail' d.diario.pk %}">
              {{d.diario}}
            </a><i>&nbsp;({{d.diario.data}})</i><br>
          {% endfor %}
        </div>
      {% endif %}

      {% if n.get_normas_relacionadas.0|length > 0 or n.get_normas_relacionadas.1|length > 0%}
        <p class="control-label">Normas Relacionadas</p>
      {% endif %}

      {% if n.get_normas_relacionadas.0|length > 0 %}
        {% for p in n.get_normas_relacionadas.0 %}
          <div class="form-control-static mb-3">
            <b>{{ p.tipo_vinculo.descricao_ativa }}</b>&nbsp;
            <a href="{% url 'sapl.norma:normajuridica_detail' p.norma_relacionada.pk %}">
              {{ p.norma_relacionada.epigrafe }}
            </a>
          </div>
        {% endfor %}
      {% endif %}

      {% if n.get_normas_relacionadas.1|length > 0 %}
        {% for r in n.get_normas_relacionadas.1 %}
          <div class="form-control-static mb-3">
            <b>{{ r.tipo_vinculo.descricao_passiva }}</b>&nbsp;
            <a href="{% url 'sapl.norma:normajuridica_detail' r.norma_principal.pk %}">
            {{ r.norma_principal.epigrafe }}
            </a>
          </div>
        {% endfor %}
      {% endif %}

      {% if n.materia %}
        <hr>
        <p class="control-label">Matéria Legislativa</p>
        <div class="form-control-static mb-3">
          <a href="{% url 'sapl.materia:materialegislativa_detail' n.materia.pk %}">
          {{n.materia}}
          </a>
          {% for a in n.materia.autores.all %}
            {% if forloop.first %}
              <br>
              <b>Autoria:</b>&nbsp;
            {% endif %}
              {{a}}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </div>
        {% for anex in n.materia.anexadas.materias_anexadas_ordem_crescente %}
          {% if forloop.first %}
            <div class="bg-white">
              <p class="control-label p-3">Matérias Anexadas</p>
              <div class="row px-3">
          {% endif %}
              <div class="col-lg-4 py-2" style="border-bottom: 1px solid #ccc;">
                <small>
                  <a href="{% url 'sapl.materia:materialegislativa_detail' anex.pk %}">
                    {{anex}}
                  </a><br>
                  <em>{{anex.ementa}}</em><br>
                </small>
              </div>
          {% if forloop.last %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
        {% if n.materia.documentoadministrativo_set.exists %}
          <p class="pt-3 control-label">Documentos Administrativos Vinculados a Matéria</p>
          <div class="bg-white p-3">
              {% with n.materia.documentoadministrativo_set.all as doc_list %}
                {% include 'protocoloadm/documentoadministrativo_widget_materia.html' %}
              {% endwith %}
          </div>
        {% endif %}

        {% if n.mostrar_deliberacao and n.materia.registrovotacao_set.exists %}
        <br>
          {% with n.materia as materia %}
            {% include "materia/materialegislativa_detail_deliberacao_plenario.html" %}
          {% endwith %}
        {% endif %}

      {% endif %}
  </div>
</div>