{% load i18n %}
{% load compilacao_filters %}
{% load common_cmj_tags common_tags%}
{% load static %}
{% load webpack_static from webpack_loader %}

<div class="d-flex justify-content-between pt-3 d-print-none">
  <a href="{% url 'cmj.search:norma_haystack_search' %}" class="btn btn-outline-primary">
    {% trans 'Fazer nova pesquisa' %}
  </a>
  <a class="link-texto" href="javascript:window.print()" title="Imprimir Texto Compilado. Para gerar PDF do texto, utilize a opção &#34;Salvar como PDF&#34; do seu navegador.">
    <i class="fas fa-print"></i>
  </a>
  <a class="btn btn-outline-primary" href="{% url object|urldetail_content_type:object.content_object object.content_object.pk %}?display" title="Dados Complementares">
    Dados Complementares
  </a>
</div>

<div class="cp-header">
  <div class="row1">
    <div class="cp-header-brazao">
      <img
        height="100"
        src="{% if logotipo %}{{ MEDIA_URL }}{{ logotipo }}{% else %}{% webpack_static '/img/logo.png' %}{% endif %}"
        alt="Logotipo">
    </div>

    <div class="cp-header-name">
      <span class="header-name">
        {% if nome %}
          {{ nome }}
        {% else %}
          {% trans 'Sem Nome Cadastrado' %}
        {% endif %}
      </span>
      <span>
        Poder Legislativo
      </span>
    </div>
  </div>
  <div class="row2">
    <h1 class="page-header">
        {{object.content_object}}
    </h1>
  </div>


</div>

<div class="row bg-gray py-2">
  {% if n.get_normas_relacionadas.1|length > 0 %}
    {% for r in n.get_normas_relacionadas.1 %}
      {% if r.tipo_vinculo.sigla == "R" %}
        <div class="col-12">
          <div class="text-red">
            <b>{{ r.tipo_vinculo.descricao_passiva }}</b>&nbsp;
            <a href="{{ r.norma_principal.urlize }}">
              {{ r.norma_principal.epigrafe }}
            </a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if n.get_normas_relacionadas.0|length > 0 %}
    {% for p in n.get_normas_relacionadas.0 %}
    {% if p.tipo_vinculo.sigla != "Z" %}
        <div class="col-{% if n.get_normas_relacionadas.10|length > 6 %}6{%else%}12{%endif%}  small text-blue">
          <b>{{ p.tipo_vinculo.descricao_ativa }}</b>&nbsp;
          <a href="{{ p.norma_relacionada.urlize }}">
            {{ p.norma_relacionada.epigrafe }}
          </a>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if n.get_normas_relacionadas.1|length > 0 %}
    {% for r in n.get_normas_relacionadas.1 %}
      {% if r.tipo_vinculo.sigla != "R" %}
        <div class="col-{% if n.get_normas_relacionadas.1|length > 6 %}6{%else%}12{%endif%} small text-blue">
          <b>{{ r.tipo_vinculo.descricao_passiva }}</b>&nbsp;
          <a href="{{ r.norma_principal.urlize }}">
            {{ r.norma_principal.epigrafe }}
          </a>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>


<div class="d-print-none my-3">
  {% if object.texto_integral  %}
  {% with object.content_object as n %}
      {% include 'norma/normajuridica_widget_file.html' %}
        {% comment %}
            <div class="row">
              <div class="col-sm-12">
                {% if n.get_anexos_norma_juridica|length > 0 %}
                  <hr />
                  <p class="control-label">Anexos Norma Jurídica</p>
                  {% for p in n.get_anexos_norma_juridica %}
                    <div class="form-control-static">
                      <a href="/media/{{p.anexo_arquivo}}">
                      {{ p.anexo_arquivo | to_str | split:"/" | get_last_item_from_list:-1 }}
                      </a>
                    </div>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
        {% endcomment %}
  {% endwith %}
  {% endif %}
</div>