{% extends "compilacao/text_list.html" %}

{% block body_class %}body-print{% endblock  %}
{% block canais_diretos %}{% endblock %}
{% block base_header_block %}{% endblock %}
{% block navigation %}{% endblock %}
{% block sections_nav %}{% endblock %}
{% block extra_sections_nav %}{% endblock %}
{% block actions %}{% endblock %}
{% block dsp_actions %}{% endblock %}

{% block detail_content %}{% endblock %}
{% block footer_container %}{% endblock %}


{% block base_content %}
<div class="cp-print">
  {{ block.super }}
</div>
{% endblock %}
