{% extends "compilacao/textoarticulado_detail.html" %}
{% load i18n %}
{% load compilacao_filters %}
{% load common_tags common_cmj_tags %}
{% block head_title %}{{object}}{% endblock head_title %}
{% block meta_description%}{% if object.content_object %}{{object.content_object.ementa}}{% else %}{{object}}{% endif %}{% endblock meta_description %}

{% block base_container_header %}
  {% if object.content_object and object.content_object|meta_model_value:'label' == 'norma.NormaJuridica' and not object.content_object|has_perm_change_instance:perms  %}
    {% with object.content_object as n %}
      {% include 'compilacao/normajuridica_widget_top.html' %}
    {% endwith %}
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock base_container_header %}

{% block base_content %}
  {{ block.super }}
  {% if embedded_cache %}
    {{ embedded_cache|safe }}
  {% else %}
    {% include 'compilacao/text_list__embedded.html'%}
  {% endif %}


  {% if object.content_object and object.content_object|meta_model_value:'label' == 'norma.NormaJuridica'%}
    {% with object.content_object as n %}
      {% include 'compilacao/normajuridica_widget_bottom.html' %}
    {% endwith %}
  {% endif %}

  <div class="page-break"></div>

  {{object.tipo_ta.rodape_global|dont_break_out}}

{% endblock base_content %}

