header.main {
  background: $bg_color_portal_cmj; // $url_bg_png;
  transition: all 0.3s ease;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  line-height: 1;
  & * {
    transition: all 0.3s ease;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url(~@/assets/img/header_bg_linha.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: -18px -10px;
  }

  #header-accessibility {
    position: absolute;
    #accessactions {
      opacity: 0.7;
      .btn-link {
        color: white;
        padding: 0 $min_padding;
        font-size: 0.8rem;
        line-height: 1;
        .badge {
          margin-left: 0.3rem;
          padding-top: 2px;
          padding-bottom: 2px;
          line-height: 1;
          background-color: #777;
        }
      }
      &:hover {
        opacity: 1;
      }
    }
  }

  #rowlogo {
    padding-top: 1rem;
    align-items: center;
    flex-wrap: nowrap;
  }

  #portalbtnmenu {
    padding: 0;
    .navbar-toggler {
      padding: 5px 15px;
      border: 0px;
      z-index: 1;
      .icon-bar {
        background: white;
        display: block;
        height: 2px;
        width: 24px;
        margin: 7px 0;
      }
      &.toggle-access {
        .icon-bar {
          width: 4px;
          height: 4px;
          margin: 5px 0;
          border-radius: 50%;
        }
      }
    }
    &:hover {
      .icon-bar {
        box-shadow: 1px 1px 5px white;
      }
    }
  }

  &.header-top {
    #rowlogo {
      flex-wrap: wrap;
    }
  }

}


main {
  background-color: white;
  color: blue
}

@import './portallogo';
@import './portalsearch';
@import './portalactions';

@media screen and (max-width:991.98px) {
}

@media screen and (max-width:767.98px) {
  #header-accessibility {
    display: none;
  }
  header.main {
    #rowlogo {
      padding: 0;
      flex-wrap: wrap;
    }
  }
}