header.main {
  //background-color: $bg_color_portal_cmj;
  background: linear-gradient(to top, $bg_color_portal_cmj 0%, darken($bg_color_portal_cmj, 5) 100%);

  transition: all 0.3s ease;
  position: sticky;
  z-index: $zindex-header-main;
  left: 0;
  right: 0;
  top: 0;

  line-height: 1;

  & * {
    transition: all 0.3s ease;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url(~@/assets/img/header_bg_linha.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: -18px -10px;
    z-index: -1;
  }

  &::after {
    background-image: url(~@/assets/img/fundo_topo.jpg);
    background-position: 0 30%;
    background-size: 100% auto;
    opacity: 0.05;
    filter: grayscale(60%);

    top: 0;
    right: 0;

  }

  #rowlogo {
    align-items: center;
    //flex-wrap: nowrap;
  }

  &.header-top {
    background: linear-gradient(to top, $bg_color_portal_cmj 0%, darken($bg_color_portal_cmj, 20) 100%);

    &::after {
      opacity: 0.15;
    }

    #rowlogo {
      //flex-wrap: wrap;
      //height: 0;
    }

  }

  &.header-mini {
    opacity: 0.95;

    &:hover {
      opacity: 1;
    }
  }

  &:hover {

    &::after {
      transition: all 0.3s ease;

      opacity: 0.2;

    }
  }

}


@import './portallogo';
@import './portalsearch';
@import './portalactions';
@import './portalmenu';

@import './portalnavtop';


@media screen and (max-width:991.98px) {}

@media screen and (max-width:767.98px) {
  #header-accessibility {
    display: none;
  }

  header.main__old {
    #rowlogo {
      padding: 0;
      flex-wrap: wrap;
    }
  }
}



@media screen and (min-width: 992px) {
  header.main {

    //height: 15vh;
    &.header-top__old {
      position: absolute;
      background-color: transparent;
      background-image: none;

      .teste {
        #rowlogo {
          flex-wrap: nowrap;
        }

        #portallogo {
          flex: 0 0 0;
          order: 1;
        }

        #portalactions {
          order: 2;
          width: auto;
          flex: 1 1 0%;
        }

        #portalsearch {
          order: 3;
        }

      }

      &::after {
        background-image: none;
        background-color: transparent;
      }

    }

    &.header-mini {
      //height: auto;
    }
  }
}