header.main {
  .nav-user-container {
    z-index: 1;
    &, & ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    a {
      line-height: 2rem;
      padding: 0 $min_padding * 2;
      white-space: nowrap;
      display: block;
      width: 100%;
      text-decoration: none;
    }
    ul {
      display: none;
      position: absolute;
      background: lighten($bg_color_portal_cmj, 10); // $url_bg_png;
      top: 90%;
      right: $min_padding;
      min-width: 7rem;
      text-align: right;
      border-radius: $min_padding;
      border: 1px solid lighten($bg_color_portal_cmj, 30);

      &:before {
        content: " ";
        background: transparent;
        position: absolute;
        top: -20px;
        bottom: -70px;
        left: -20px;
        right: -$min_padding * 2;
        z-index: -1;
    }
    }
    li {
      position: relative;
      .divider {

      }
      &:hover {
        background-color: $hover_background_20pw;
        & > ul {
          display: inline-block;


        }
      }
    }

  }
}

