header.main {
  #portalsearch {
    flex: 0 0 auto;
    &.d-searching {
      flex: 1 1 auto;
      input {
        width: 100% !important;
      }
    }

    .form-search {
      .inner {
        display: flex;
        position: relative;
        .item-form {
          &:first-child {
            flex: 1 1 100%;
          }
          &:last-child {
            position: absolute;
            top: 0px;
            right: 0px;
            height: 100%;
          }
        }
        input {
          border: 0px;
          background-color: white;
          border-radius: 5px;
          font-size: 1.3rem;
          padding-right: 60px;
          width: 20rem;
        }
        button {
          background-color: transparent;
          border: 0;
          width: 50px;
          height: 100%;
          border-left: 1px solid gray;
        }
      }
    }
  }
}


@media screen and (max-width:991.98px) {
}


@media screen and (max-width:767.98px) {
}

@media screen and (max-width:575.98px) {
}
