header.main {

  #portalsearch {

    padding-top: $min_padding * 6;
    height: 8rem;
    flex: 0 0 auto;
    &.d-searching {
      flex: 1 1 auto;
      padding-right: $min_padding * 6;
      input {
        width: 100% !important;
      }
    }

    .form-search {
      .inner {
        display: flex;
        position: relative;

        .item-form {
          &:first-child {
            flex: 1 1 100%;
          }
          &:last-child {
            position: absolute;
            top: 0px;
            right: 0px;
            height: 100%;
          }
        }
        input {
          border: 0px;
          background-color: white;
          border-radius: 5px;
          font-size: 1.3rem;
          padding-right: 60px;
          width: 20rem;
        }
        button {
          background-color: transparent;
          border: 0;
          width: 50px;
          height: 100%;
          border-left: 1px solid gray;

        }
      }
    }
  }
  &.header-top {
    #portalsearch {
      padding-top: $min_padding * 8;
      &.d-searching {
        flex: 1 1 auto;
        input {
          width: 100%;

        }
      }
    }
  }
}


@media screen and (max-width:767.98px) {
  header.main {
    #portalsearch {
      height: auto;
      padding: $min_padding * 4;
      padding-left: $min_padding;
      flex: 1 1 auto;

      &.d-searching {
        padding-right: $min_padding * 4;
      }
      .form-search {
        .inner {
          input {
            font-size: 1rem;
            padding-right: 60px;
            width: 100%;
          }
        }
      }
    }
    &.header-top {
      #portalsearch {
        padding-left: $min_padding * 4;
        &.d-searching {
          padding-right: $min_padding * 4;
          padding-bottom: $min_padding * 8;
        }
      }
    }
  }
}

@media screen and (max-width:575.98px) {

  header.main {
    #portalsearch {
      padding: $min_padding;
      padding-right: $min_padding * 4;

      &.d-searching {
      }

      .form-search {
        .inner {
          input {
            padding-right: 30px;

          }
          button {
            width: 30px;
          }
        }
      }
    }
    &.header-top {
      #portalsearch {
        padding: 0 $min_padding * 4;
      }
    }
  }
}
