header.main {
  #portalactions {
    padding: 0;
    .btns-main {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      .btn-main {
        flex: 1 1 20%;
        a {
          display: flex;
          flex-direction: column;
          color: white;
          font-weight: bold;
          text-align: center;
          text-decoration: none;
          font-size: 100%;
          &:hover {
            text-shadow: 1px 1px 10px  lighten($bg_color_portal_cmj, 20%);
          }
          .icon {
            height: 72px;
          }
          .label {
            display: flex;
            font-size: 77%;
            line-height: 1.2;
            align-items: center;
            justify-content: center;
            min-height: 38px;
          }
        }
      }
    }

    &.d-searching {
      transition: all 0.3s ease;
      width: 0;
      overflow: hidden;
      opacity: 0;
      flex: 0 0 0;
      height: 0;
      .row {
        margin-left: -10rem;
        width: 0;
        a {
          .img {
            height: 0;
          }
          .label {
            font-size: 0;
          }
        }

      }
    }
  }

  &.header-top-old {
    #portalactions {
      order: 3;
      width: 100%;
      flex: 0 0 100%;
      //padding: 1rem 0 0;
      .col-1 {
        display: block;
      }
      .col-2 {
        flex: 0 0 16.6666%;
        max-width: 16.666%;
      }

      &.d-searching {
        height: 0;
        width: 0;
        .row {
          margin-top: -5rem;
          margin-left: 5rem;
        }

      }

      a {
        .img {
          height: 108px;
          }
        .label {
          //height: 4rem;
          min-height: 50px;
          font-size: 110%;
        }
      }
    }
  }
}

@media screen and (max-width:991.98px) {
  header.main {
    #portalactions {
      .btns-main {
        .btn-main {
          a {
            .icon {
              height: 64px;
              .fas {
                font-size: 1em;
              }
            }
            .label {
              font-size: 65%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width:828.98px) {
  header.main {
    #portalactions {
      .btns-main {
        .btn-main {
          a {
            .icon {
              height: 48px;
              .fas {
                font-size: 0.7em;
              }
              .fa-2x {
                font-size: 1em;
              }
            }
            .label {
              font-size: 50%;
              min-height: 24px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width:767.98px) {
  header.main {
    #portalactions {
      order: 4;
      width: 100%;
      flex: 0 0 100%;
      padding-bottom: $min_padding;
      .btns-main {
        .btn-main {
          a {
            .icon {
              height: 80px;
              .fas {
                font-size: 1em;
              }
              .fa-2x {
                font-size: 1.4em;
              }
            }
            .label {
              font-size: 75%;
              min-height: 36px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width:575.98px) {
  header.main {
    #portalactions {
      .btns-main {
        .btn-main {
          a {
            .icon {
              height: 64px;
              .fas {
                font-size: 1em;
              }
              .fa-2x {
                font-size: 1.4em;
              }
            }
            .label {
              font-size: 70%;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width:419.98px) {
  header.main {
    #portalactions {
      .btns-main {
        .btn-main {
          a {
            .icon {
              height: 64px;
              .fas {
                font-size: 1em;
              }
              .fa-2x {
                font-size: 1.4em;
              }
            }
            .label {
              font-size: 60%;
            }
          }
        }
      }
    }
  }
}