header.main {
  #portalsearch {
    flex: 0 0 auto;
    //padding: 0;
    padding: 0 $min_padding * 2;

    &.d-searching {
      flex: 1 1 auto;

      input {
        width: 100% !important;
      }
    }

    .form-search {
      opacity: 0.7;

      &:hover,
      &:focus-within,
      &:focus {
        opacity: 1;
      }

      .inner {
        display: flex;
        position: relative;
        justify-content: flex-end;
        text-align: right;
        background-color: white;
        border-radius: 5px;

        .item-form {
          &:first-child {
            flex: 1 1 100%;
          }

          &:last-child {
            position: absolute;
            top: 0px;
            right: 0px;
            height: 100%;
          }
        }

        input {
          border: 0px;
          background-color: transparent;
          font-size: 1.3rem;
          padding-right: 60px;
          width: 14rem;
        }

        button {
          background-color: white;
          border-radius: 0 5px 5px 0;
          border: 0;
          width: 50px;
          height: 100%;
          border-left: 1px solid gray;
        }
      }
    }
  }

  &.header-mini {
    #portalsearch {
      .form-search {
        .inner {
          input {
            line-height: 1.5rem;
            font-size: 0.7rem;
            padding: 0px 50px 0 10px;
            height: auto;
          }

          button {
            width: 36px;
          }
        }
      }
    }
  }
}


@media screen and (max-width:991.98px) {
  header.main {
    #portalsearch {
      .form-search {
        .inner {
          input {
            line-height: 1.5rem;
            font-size: 0.8rem;
            padding: 0px 2.2rem 0 $min_padding;
            height: auto;
          }
          button {
            width: 36px;
          }
        }
      }
    }
  }
}


@media screen and (max-width:767.98px) {
  header.main {
    #portalsearch {
      .form-search {
        .inner {
          input {
            font-size: 0.6rem;
            width: 8rem;
            padding: 0px 2.2rem 0 $min_padding;
          }
        }
      }
    }

  &.header-mini {
    #portalsearch {
      .form-search {
        .inner {
          input {
            font-size: 0.6rem;
            width: 8rem;
            padding: 0px 2.2rem 0 $min_padding;
          }

        }
      }
    }
  }
  }
}


@media screen and (max-width:419.98px) {
  header.main {
    #portalsearch {
      flex: 1 1 0;

      .form-search {
        .inner {
          input {
            width: 100%;
            font-size: 0.8rem;
            padding: $min_padding;
            padding-right: 42px;
            line-height: 1;
          }

          button {
            width: 36px;
          }
        }
      }

      &.d-searching {
        flex: 1 1 0;

        input {
          width: 100% !important;
        }
      }
    }
  }
}

@media screen and (min-width:1200px) {
  header.main {
    #portalsearch {
      .form-search {
        .inner {
          input {
            width: auto;
          }
        }
      }
    }
  }
}