header.main {
  #portallogo {
    .navbar {
      padding: $min_padding * 4 0;
      &:hover {
        text-shadow: 1px 1px 15px  lighten($bg_color_portal_cmj, 20%);
      }
    }
    .navbar-brand {
      display: flex;
      padding: 0;
      margin: 0;
      align-items: center;
      img {
        height: 64px;
      }
      .brand-name {
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        color: white;
        line-height: 1;
        font-family: Arial;
        justify-content: center;
        font-size: 0.9rem;
      }
      .brand-cidade {
        font-weight: bold;
        font-size: 380%;
        border-bottom: 1px solid rgba(white, 0.5);
        line-height: 0.9;
        text-transform: uppercase;
      }
      .brand-estado {
        text-align: center;
        //display: none;
        padding-top: 0.3rem;
      }
    }
  }
  &.header-top-old {
    #portallogo {
      padding-top: 0.5rem;
      flex: 1 1 auto;
      &.d-searching {
        flex: 0 0 auto;
      }
      .navbar-brand {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        img {
          height: 96px;
        }

        .brand-name {
          padding-left: 1rem;
          font-size: 1.3rem;
        }
      }
    }
  }
}

@media screen and (max-width:991.98px) {


}

@media screen and (max-width:767.98px) {

}

@media screen and (max-width:575.98px) {

}

@media screen and (max-width:419.98px) {

}
