header.main {
  #portalactions {
    padding: 0;
    //position: static;
    .btns-main {
      display: flex;
      flex-wrap: nowrap;
      //position: static;
      .btn-main {
        flex: 1 1 20%;
        position: relative;
        a.inner {
          display: flex;
          flex-direction: column;
          color: white;
          font-weight: bold;
          text-align: center;
          text-decoration: none;
          font-size: 95%;
          &:hover {
            text-shadow: 1px 1px 10px  lighten($bg_color_portal_cmj, 20%);
          }
          .icon {
            height: 56px;
          }
          .label {
            display: flex;
            font-size: 77%;
            line-height: 1.2;
            align-items: center;
            justify-content: center;
            min-height: 38px;
          }
          .fas {
            font-size: 0.7em;
          }
          .fa-2x {
            font-size: 1.5em;
          }
        }
        ul {
          display: none;
          flex-direction: column;
          margin: 0;// -$min_padding * 7 $min_padding * 2;
          padding: 0;
          list-style: none;
          border: 1px solid lighten($color: $bg_color_portal_cmj, $amount: 50);
          &.subaction {
            position: absolute;
            background-color: white;
            border: 1px solid lighten($color: $bg_color_portal_cmj, $amount: 50);
            border-radius: 5px;
          }
          a {
            text-decoration: none;
            color: $bg_color_portal_cmj;
            padding: $min_padding*1.2 $min_padding*3 ;
            white-space: nowrap;
            display: block;

            font-size: 80%;
          }

          li:not(.dropdown-header):hover {
            background-color: rgba($bg_color_portal_cmj, 0.2);
          }
          .divider{
            border-top: 1px solid lighten($color: $bg_color_portal_cmj, $amount: 50);
          }
          .dropdown-header {
            font-size: 0.7rem;
            padding: 2px $min_padding;
            font-variant: small-caps;
          }
          span {
            display: inline-block;
          }

        }

        &:hover {
          & > ul {
            display: inline-flex;
            &.subaction {
              box-shadow: 1px 1px 10px  lighten($bg_color_portal_cmj, 20%);
            }
          }
          li:hover {
            & > ul {
              display: flex;
              left: 100%;
              top: $min_padding;
              margin-left: -$min_padding;
            }
          }
          .icon {
            opacity: 1;
          }
        }
      }
    }

    &.d-searching {
      transition: all 0.3s ease;
      width: 0;
      overflow: hidden;
      opacity: 0;
      flex: 0 0 0;
      height: 0;
      .btns-main {
        margin-left: -20rem;
        width: 0;
        a.inner {
          .icon {
            height: 0;
          }
          .label {
            font-size: 0;
          }
        }

      }
    }
  }

  &.header-top {
    #portalactions {
      order: 4;
      width: 100%;
      flex: 0 0 100%;
      padding-bottom: $min_padding * 2;
      .btns-main {
        .btn-main {
          a.inner {
            .fas {
              font-size: 1.5em;
            }
            .fa-2x {
              font-size: 2em;
            }
            .icon {
              height: 108px;
            }
            .label {
              font-size: 110%;
              min-height: 56px;
            }
          }
        }
      }
      &.d-searching {
        .btns-main {
          margin-top: -5rem;
          margin-left: 0rem;
        }
      }
    }
  }
  &.header-mini {
    #portalactions {
      .btns-main {
        .btn-main {
          a.inner {
            flex-direction: row;
            justify-content: center;
            .fas {
              font-size: 0.5em;
            }
            .fa-tv, .fa-broadcast-tower {
              width: 12px;

            }
            .fa-2x {
              font-size: 1em;
            }
            .icon {
              height: 36px;
              width: 38px;
            }
            .label {
              //display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width:991.98px) {
  header.main {
    #portalactions {
      .btns-main {
        .btn-main {
          a.inner {
            .icon {
              height: 64px;
              .fas {
                font-size: 1em;
              }
            }
            .label {
              font-size: 65%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width:828.98px) {
  header.main {
    #portalactions {
      .btns-main {
        .btn-main {
          a.inner {
            .icon {
              height: 48px;
              .fas {
                font-size: 0.7em;
              }
              .fa-2x {
                font-size: 1em;
              }
            }
            .label {
              font-size: 50%;
              min-height: 24px;
            }
          }
        }
      }
    }

    &.header-top {

      #portalactions {
        .btns-main {
          .btn-main {
            a.inner {
              .icon {
                height: 80px;
              }
              .label {
                font-size: 85%;
                min-height: 48px;
              }
            }
          }
        }
      }
    }

    &.header-mini {
      #portalactions {
        .btns-main {
          .btn-main {
            a.inner {
              flex-direction: column;
              align-items: center;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width:767.98px) {
  header.main {
    #portalactions {
      order: 4;
      width: 100%;
      flex: 0 0 100%;
      padding-bottom: $min_padding;
      .btns-main {
        .btn-main {
          a.inner {
            .icon {
              height: 80px;
              .fas {
                font-size: 1em;
              }
              .fa-2x {
                font-size: 1.4em;
              }
            }
            .label {
              font-size: 75%;
              min-height: 36px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width:575.98px) {
  header.main {
    #portalactions {
      .btns-main {
        .btn-main {
          a.inner {
            .icon {
              height: 64px;
              .fas {
                font-size: 1em;
              }
              .fa-2x {
                font-size: 1.4em;
              }
            }
            .label {
              font-size: 70%;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width:419.98px) {
  header.main {
    #portalactions {
      .btns-main {
        .btn-main {
          a.inner {
            .icon {
              height: 64px;
              .fas {
                font-size: 1em;
              }
              .fa-2x {
                font-size: 1.4em;
              }
            }
            .label {
              font-size: 60%;
            }
          }
          .subaction {
            flex-direction: column;
          }
        }
      }
    }
    &.header-top {
      #portalactions {
        .btns-main {
          .btn-main {
            a.inner {
              .icon {
                height: 64px;
              }
              .label {
                font-size: 60%;
                min-height: 36px;
              }
            }
          }
        }
      }
    }

    &.header-mini {
      #portalactions {
        .btns-main {
          .btn-main {
            a.inner {
              .label {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .subaction ul:before {
      content: " ";
      background: transparent;
      position: absolute;
      top: -20px;
      bottom: -70px;
      left: -20px;
      right: -70px;
      z-index: -1;
  }
}
