header.main {
  #portalactions {
    padding: $min_padding * 2 0;
    font-size: 1rem;
    height: auto;
    flex-wrap: nowrap;
    .row {
      margin-top: 0;
      margin-left: 0;
      width: 100%;
      flex-wrap: nowrap;
    }

    &.d-searching {
      //display: none;
      transition: all 0.3s ease;
      width: 0;
      overflow: hidden;
      opacity: 0;
      flex: 0 0 0;
      height: 0;
      .row {
        margin-left: -10rem;
        width: 0;
        a {
          .img {
            height: 0;
          }
        }

      }
    }

    .col-1 {
      display: none;
    }
    .col-2 {
      flex: 1 1 20%;
      max-width: 20%;
      //flex: 1 1 auto;
      //max-width: none;
      //width: auto;
      padding-left: $min_padding;
      padding-right: $min_padding;
    }

    a {
      display: flex;
      flex-direction: column;
      color: white;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      font-size: 100%;
      &:hover {
        text-shadow: 1px 1px 10px  lighten($bg_color_portal_cmj, 20%);
      }
      .img {
        background-image: url(../oficial/assets/icon_prancheta_sombra.svg);
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center center;
        height: 72px;
        opacity: 0.95;
        &:hover {
          opacity: 1;
        }

      }
      .label {
        display: flex;
        font-size: 80%;
        line-height: 1.2;
        align-items: center;
        justify-content: center;
        min-height: 38px;
      }
    }

    .row {
      .btn-main:nth-child(2n -1){
        .img {
          background-size: auto 80%;
          background-position: center bottom;
          background-image: url(../oficial/assets/icon_prancheta.svg);
        }
      }
    }
  }

  &.header-top {
    #portalactions {
      order: 3;
      width: 100%;
      flex: 0 0 100%;
      //padding: 1rem 0 0;
      .col-1 {
        display: block;
      }
      .col-2 {
        flex: 0 0 16.6666%;
        max-width: 16.666%;
      }

      &.d-searching {
        height: 0;
        width: 0;
        .row {
          margin-top: -5rem;
          margin-left: 5rem;
        }

      }

      a {
        .img {
          height: 108px;
          }
        .label {
          //height: 4rem;
          min-height: 50px;
          font-size: 110%;
        }
      }
    }
  }
}

@media screen and (max-width:991.98px) {
  header.main {
    #portalactions {
      padding: 0;
      a {
        .img {
          height: 48px;
        }
        .label {
          font-size: 50%;
        }
      }
    }
    &.header-top {
      #portalactions {

        a {
          .img {
            //height: 80px;
          }
          .label {
            font-size: 80%;
          }
        }
      }
    }
  }
}

@media screen and (max-width:767.98px) {
  header.main {
    #portalactions {
      order: 3;
      width: 100%;
      flex: 0 0 100%;
      height: auto;
      //padding-bottom: $min_padding * 3;

      &.d-searching {
        transition: all 0.3s ease;
        width: auto;
        overflow: inherit;
        opacity: 1;
        flex: 0 0 100%;
        .row {
          margin-left: 0;
          width: 100%;
        }
      }
      a {
        .img {
          height: 56px;
        }
        .label {
          font-size: 75%;
        }
      }
    }
    &.header-top {
      #portalactions {
        height: auto;
        padding-bottom: $min_padding * 3;
        a {
          .img {
            height: 56px;
          }
        }

        &.d-searching {
          width: 0;
          overflow: hidden;
          opacity: 0;
          flex: 0 0 0;
          .row {
            margin-left: 0;
            width: 0;
          }
        }
        .col-1 {
          display: none;
        }
        .col-2 {
          flex: 0 0 20%;
          max-width: 20%;
        }
      }

    }
  }
}

@media screen and (max-width:575.98px) {

  header.main {
    #portalactions {
      padding: $min_padding 0;
      .col-2 {
        padding: 0 0px;
      }
      a {
        .img {
          height: 68px;
        }
        .label {
          font-size: 65%;
        }
      }
    }
    &.header-top {
      #portalactions {
        a {
          .img {
            height: 68px;
          }
          .label {
            font-size: 65%;
            height: auto;
            min-height: 2.5rem;
          }
        }
      }
    }
  }
}