{% extends "crud/detail.html" %}
{% load i18n common_cmj_tags %}

{% block title %}
  {% include "arq/arqclasse_title.html" %}
{% endblock %}

{% block extra_actions %}
  <div class="actions btn-group-sm" role="group">
    <a  class="btn btn-outline-primary {% if view_format == 'tree' %}active{% endif %}" href="{% url 'cmj.arq:arqclasse_list' %}?view=tree">ArqClasses Abertas</a>
    <a  class="btn btn-outline-primary {% if not view_format or view_format == 'table' %}active{% endif %}" href="{{request.path}}?view=table">Listagem Completa</a>
    {% if not object %}
      <a  class="btn btn-outline-primary {% if view_format == 'tree2' %}active{% endif %}" href="{{request.path}}?view=tree2">Mapa do Arquivo</a>
    {% else %}
      <a  class="btn btn-outline-primary" href="/arq/{{object.id}}/{{object.id}}">ArqView</a>
    {% endif %}
  </div>
  <div class="actions btn-group-sm" role="group">
    {% if object and object.parent%}
    <a  class="btn btn-outline-primary" href="{% url 'cmj.arq:subarqclasse_list' object.parent.pk %}?view={{request.GET.view|default:view_format}}">{% trans "Voltar para" %} {{ object.parent.titulo }}</a>
    {% elif object and not object.parent%}
      <a  class="btn btn-outline-primary" href="{% url 'cmj.arq:arqclasse_list' %}?view={{request.GET.view|default:view_format}}">{% trans "Ver a Raiz" %}</a>
    {% endif %}
  </div>
{% endblock extra_actions %}

{% block detail_content %}

<i>{{object.descricao|linebreaksbr}}</i>

{% if object and object_list or not object and object_list%}
    <ul class="container-arqclasse-{{request.GET.view|default:view_format}}">
      {% for arqclasse in object_list %}
        {% if arqclasse.parent or arqclasse.render_tree2 %}
          <li class="li-nivel0">
            <span class="inner">
              <div class="d-flex justify-content-between">
                <a href="{% url 'cmj.arq:subarqclasse_list' arqclasse.pk %}">
                  {% if arqclasse.checkcheck %}
                    <i class="fas fa-xs fa-lock text-light-blue" title="SubArqClasse Arquivada."></i>
                  {% endif %}
                  {{ arqclasse.conta }} - {{ arqclasse.titulo }}
                </a>
              </div>
              <small class="text-info">
                <small>
                  <i>
                    {{arqclasse.parent.titulo}}
                  </i> -
                  <i>
                    {{arqclasse.parent.parent.titulo}}
                  </i> -
                  <i>
                    {{arqclasse.parent.parent.parent.titulo}}
                  </i>
                </small>
              </small>
              <small>
                <i class="text-secondary">
                  {{arqclasse.descricao|linebreaksbr}}
                </i>
              </small>
            </span>
            {% with arqclasse as object %}
              {% include 'arq/arqclasse_subtree.html' %}
            {% endwith %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
  {% if object and object.can_arqdoc or object and object.perfil == 200 %}
    {% include "arq/arqdoc_widget_list.html" %}
  {% endif %}
{% endblock %}
