{% extends "crud/form.html" %}
{% load i18n common_cmj_tags %}

{% block extra_js %}{{block.super}}

<script language="JavaScript">
  function checkAll(elem){
      let checkboxes = document.getElementsByName('draftmidia');
      for(let i=0; i < checkboxes.length; i++){
          if(checkboxes[i].type == 'checkbox')
              checkboxes[i].checked = elem.checked
      }
  }
  $(document).ready(function () {
    const link_open_draftmidia = document.getElementById('link_open_draftmidia')
    const img_preview_arqdoc_create = document.getElementById('img_preview_arqdoc_create')


    const draftmidias = $('input[name="draftmidia"]').closest('div')

    draftmidias.on('mouseover', function (event) {
      let id_dm = null
      if (event.target.tagName.toLowerCase() === 'label') {
        const forlabel = event.target.getAttribute('for')
        const input = document.getElementById(forlabel)
        id_dm = input.value
      } else if (event.target.tagName.toLowerCase() === 'input') {
        id_dm = event.target.value
      } else if (event.target.tagName.toLowerCase() === 'div') {
        id_dm = event.target.querySelector('input').value
      }

      img_preview_arqdoc_create.src = `/api/arq/draftmidia/${id_dm}/arquivo/?page=1&dpi=300&t=${Date.now()}`
      link_open_draftmidia.href = `/api/arq/draftmidia/${id_dm}/arquivo/?t=${Date.now()}`
    })
  })
</script>
{% endblock extra_js %}