{% if materia_expediente %}
    <strong>| MATÉRIAS DO EXPEDIENTE: </strong>
    {% for m in materia_expediente %}
        <b style="font-size: 150%; line-height: 0">&bull;</b>
        <b>{{m.titulo}}</b>: {{m.ementa|safe}}
        Autor{{ m.autor|length|pluralize:"es" }}: {{ m.autor|join:', ' }},
        {% if m.numero_protocolo %}
            Número de Protocolo: {{ m.numero_protocolo }},
        {% endif %}
        {% if m.numero_processo %}
            Processo: {{ m.numero_processo }},
        {% endif %}
        {% if m.turno %}
            Turno: {{m.turno}},
        {% endif %}
        {% if m.tipo_votacao %}
            Tipo: {{m.tipo_votacao}},
            Sim: {{ m.voto_sim }},
            Não: {{ m.voto_nao }},
            Abstenções: {{m.voto_abstencoes}},
        {% endif %}
        Resultado: {{m.resultado}}
        {% if m.resultado_observacao %} - {{m.resultado_observacao}} {% endif %}
        {% if m.voto_nominal%}
            Votos Nominais:
            {% for voto in m.voto_nominal %}
                {{voto.0}} - {{voto.1}}
                {% if not forloop.last %} ; {% endif %}
            {% endfor %}
        {% endif %}
        {% if m.ocorrencias_exp %}
            {% for titulo, conteudo in m.ocorrencias_exp %}
                {% if titulo %}<b>{{titulo}}</b> - {% endif %}{{conteudo}}{% if not forloop.last %}; {% endif %}
            {% endfor %}
        {% endif %}{% if check %}</br></br>{% endif %}
    {% endfor %}
{% endif %}