{% if materias_ordem %}
    <strong>| MATÉRIAS DA ORDEM DO DIA: </strong>
    {% for m in materias_ordem %}
        <b style="font-size: 150%; line-height: 0;">&bull;</b>
        <b>{{m.titulo}}</b>,
        {{m.ementa|safe}}
        Autor{{ m.autor|length|pluralize:"es" }}: {{ m.autor|join:', ' }},
        {% if m.numero_protocolo %}
            Número de Protocolo: {{ m.numero_protocolo }},
        {% endif %}
        {% if m.numero_processo %}
            Processo: {{ m.numero_processo }},
        {% endif %}
        {% if m.turno %}
            Turno: {{m.turno}},
        {% endif %}
        {% if m.tipo_votacao %}
            Tipo: {{m.tipo_votacao}},
            Sim: {{ m.voto_sim }},
            Não: {{ m.voto_nao }},
            Abstenções: {{m.voto_abstencoes}},
        {% endif %}
        <b>Resultado:</b> {{m.resultado}}.
            {% if m.resultado_observacao %} - {{m.resultado_observacao}} {% endif %}
        {% if m.voto_nominal%}
        <b>Votos Nominais :</b>
            {% for voto in m.voto_nominal %}
                {{voto.0}} - {{voto.1}}
                {% if not forloop.last %} ; {% endif %}
            {% endfor %}
        {% endif %}
        {% if m.ocorrencias_ordem %}
            {% for titulo, conteudo in m.ocorrencias_ordem %}
                {% if titulo %}<b>{{titulo}}</b> - {% endif %}{{conteudo}}{% if not forloop.last %}; {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}