{% load i18n %}
{% if menu %}

    {% for item in menu %}
      {% if item.children %}
        <li class="dropdown">
          <a href="{% if item.url %}{{item.url}}{%else%}#fakeLink{%endif%}"  title="item.title|striptags" role="button" aria-haspopup="true" aria-expanded="false" {% if not item.url %}data-toggle="dropdown"{%endif%}>
            {{ item.title|safe }}
          <span class="caret"></span>
          </a>
          <ul class="dropdown-menu menu-left" role="menu">
            {% with item.children as menu %}
                {% include "menus/nav.html" %}
            {% endwith %}
          </ul>
        </li>
      {% else %}
        {% if item.url %}
          <li><a href="{{ item.url }}" title="item.title|striptags">{% trans item.title|safe %}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
{% endif %}
