// customize variáveis do bootstrap e/ou novas variáveis comuns a qualquer tema

$url_bg_png: url(~@/assets/img/bg.png);

$icon-font-path: "../bootstrap/fonts/" !default;

$zindex-dropdown:                   1000 !default;
$zindex-sticky:                     1020 !default;
$zindex-fixed:                      1030 !default;
$zindex-modal-backdrop:             1040 !default;
$zindex-modal:                      1050 !default;
$zindex-popover:                    1060 !default;
$zindex-tooltip:                    1070 !default;

$zindex-notify:                     1500 !default;
$zindex-footer:                     2100 !default;

$zindex-navbar-menu:                2150 !default;
$zindex-accessibility:              2160 !default;
$zindex-navbar-topo:                2170 !default;

$zindex-pagination:                 2300 !default;

$zindex-sidebar:                    2500 !default;

$zindex-social-links:               3000 !default;

$zindex-apps:                       4000 !default;

$zindex-header-main:                4500 !default;
$zindex-path-direction:             4400 !default;

$zindex-galeria:                    5000 !default;
$zindex-galeria-fixed:              9000 !default;
$zindex-message:                    10000 !default;

$zindex-popup:                      99999 !default;
