<strong>Contatos pelos Telefones:&nbsp;</strong><br />
(64) 3636-0815<br />
(64) 9643-2922<br />
(64) 8435-5012<br />
(64) 9623-7555<br />
<br />

<strong>Fun&ccedil;&otilde;es como vereador:</strong> <br />

<strong>1994</strong> - 2&ordm;
Secret&aacute;rio <br />
<strong>1995</strong> - 1&ordm; Secret&aacute;rio <br />
<strong>1996</strong> - 2&ordm;
Secret&aacute;rio <br />
<strong>1997</strong> - 2&ordm; Secret&aacute;rio <br />
<strong>1998</strong> - 1&ordm; Vice.
Presidente <br />
<strong>2000</strong> - 1&ordm; Vice. Presidente <br />
<strong>2001</strong> - 2&ordm;
Secret&aacute;rio <br />
<strong>2002</strong> - 2&ordm; Secret&aacute;rio <br />
<strong>2003</strong> - Presidente da
C&acirc;mara Municipal de Jata&iacute; <br />
<strong>2004</strong> - 2&ordm; secret&aacute;rio
<br />
<strong>2007</strong> - 2&ordm; Secret&aacute;rio <br />
<strong>2008</strong> - Vice-Presidente da C&acirc;mara
Municipal de Jata&iacute; <br />
<strong>2009</strong> <br />
<strong>2010</strong> <br />
<strong>2011</strong>
<br />
<strong>2012</strong> - Lider da Bacada do PMDB <br />
<strong>2013/2014</strong> - Presidente da C&acirc;mara
Municipal de Jata&iacute;<br />
<strong>2015/2016</strong> - Secret&aacute;rio da Mesa Diretora
<br />
<strong>2017/2018</strong> - Presidente da C&acirc;mara Municipal de Jata&iacute;<br />
<br />
<strong>2018</strong>
- Prefeito em Exerc&iacute;cio da Cidade de Jata&iacute; com mandato no per&iacute;odo de 2 a 12 de julho de 2018
<br />
<br />
<strong>Nas Comiss&otilde;es</strong> <br />
<strong>1993</strong> - Relator da Comiss&atilde;o de Obras
Servi&ccedil;os P&uacute;blicos e Urbanismo. <strong><br />
1994</strong> - Presidente da Comiss&atilde;o de Obras Serv.
P&uacute;blicos e Urbanismo. <strong><br />
1995</strong> - Relator da Comiss&atilde;o de Educa&ccedil;&atilde;o, Cultura
e Ass. Social. <strong><br />
1996</strong> - Relato da Comiss&atilde;o de Finan&ccedil;as, or&ccedil;amento e Economia.
<strong><br />
1997</strong> - Relator da Comiss&atilde;o de Finan&ccedil;as, or&ccedil;amento e Economia.
<strong><br />
1998</strong> - Presidente da Comiss&atilde;o de Educa&ccedil;&atilde;o, Cultura e Ass. Social.
<strong><br />
1999</strong> - Membro da Comiss&atilde;o de Constitui&ccedil;&atilde;o, Justi&ccedil;a e
Reda&ccedil;&atilde;o. <strong><br />
2000</strong> - Presidente da Comiss&atilde;o de Meio Ambiente.
<strong><br />
2001</strong> - Presidente Comiss&atilde;o de Meio Ambiente. <br />
<strong>2002</strong> - Pres.
Comiss&atilde;o de Meio Ambiente e Relator Obras Servi&ccedil;os P&uacute;blicos e Urbanismo, Relator da Comiss&atilde;o
de&nbsp;&nbsp; Educa&ccedil;&atilde;o, Cultura e Assist&ecirc;ncia Social. <strong><br />
2003</strong> - Membro da
Comiss&atilde;o de Meio Ambiente. <strong><br />
2004</strong> - Relator da Comiss&atilde;o de Finan&ccedil;as,
Or&ccedil;amento e Economia e Membro da&nbsp; Comiss&atilde;o de Direitos humanos. <strong><br />
2005</strong> -
Presidente da Comiss&atilde;o de Obras, Servi&ccedil;os P&uacute;blicos e urbanismo. <strong><br />
2006</strong> -
Presidente da Comiss&atilde;o de Obras Servi&ccedil;os P&uacute;blicos e Urbanismo. <br />
<strong>2007</strong> - Pres.
Obras, Servi&ccedil;os P&uacute;blicos e Urbanismo; Membro Comiss&atilde;o de Lazer, Esporte, Meio Ambiente e Turismo.
<br />
<strong>2007</strong> - Membro da Comiss&atilde;o de Agricultura e Pecu&aacute;ria e Membro Comiss&atilde;o de
Habita&ccedil;&atilde;o. <br />
<strong>2008</strong> - Presidente da comiss&atilde;o de obras, servi&ccedil;os
p&uacute;blicos e urbanismo. <br />
<strong>2008</strong> - Relator nas comiss&otilde;es de Agricultura, Pecu&aacute;ria
e de Habita&ccedil;&atilde;o. <br />
<strong>2008</strong> - Membro da comiss&atilde;o de Lazer, Esporte e Meio Ambiente.
<br />
<strong>2009/2010 </strong> - Presidente da Comiss&atilde;o de Obras, Servi&ccedil;os P&uacute;blicos e urbanismo.
<br />
<strong>2009/2010</strong> - Relator da comiss&atilde;o de Sa&uacute;de e Assist&ecirc;ncia Social.
<br />
<strong>2009/2010 </strong> - Membro da Comiss&atilde;o de Habita&ccedil;&atilde;o. <br />
<strong>2011/2012
</strong> - Presidente da Comiss&atilde;o de Obras e Servi&ccedil;os P&uacute;blicos e Urbanismo.
<br />
<strong>2011/2012 </strong> - Membro da Comiss&atilde;o de Sa&uacute;de e Assist&ecirc;ncia Social.
<br />
<strong>2011/2012 </strong> - Membro da Comiss&atilde;o de Habita&ccedil;&atilde;o. <br />
<strong>2015/2016
</strong> - Presidente da Comiss&atilde;o de Educa&ccedil;&atilde;o, Cultura e Ci&ecirc;ncia e Tecnologia
<br />
<strong><br />
Fun&ccedil;&otilde;es anteriores: </strong> Comerciante no ramo de Joalheria
<br />
<br />
<strong>Fun&ccedil;&otilde;es Atuais</strong> <br />

<ul>
	<li>Eleito Vereador pela 1&ordf; vez em 1992 - 1993 a 1996 - pelo PFL;</li>
	<li>Reeleito pela 2&ordf; vez em 1996 - 1997 a 2000 - pelo PMDB;</li>
	<li>Reeleito pela 3&ordf; vez em 2000 - 2001 a 2004 - pelo PMDB;</li>
	<li>Reeleito pela 4&ordf; vez em 2004 - 2005 a 2008 - pelo PMDB;</li>
	<li>Reeleito pela 5&ordf; vez em 2008 - 2009 a 2012 - pelo PMDB;</li>
	<li>Reeleito pela 6&ordf; vez em 2012 - 2013 a 2016 - pelo PMDB.</li>
	<li>Reeleito pela 7&ordf; vez em 2016 - 2017 a 2020 - pelo PMDB.</li>
</ul>
<p style="text-align: justify;"><strong>Fam&iacute;lia:</strong> Filho de Abel de Carvalho e Din&aacute;h Gouveia de
	Carvalho.</p>