<table border="1" cellpadding="1" cellspacing="1" width="100%">
	<tbody>
		<tr>
			<td>
			CARGOS
			</td>
			<td>
			QUANTITATIVO
			</td>
			<td>
			GRUPO OCUPACIONAL
			</td>
		</tr>
		<tr>
			<td>
			AUXILIAR DE CONTABILIDADE
			</td>
			<td>
			2
			</td>
			<td>
			TÉCNICO
			</td>
		</tr>
		<tr>
			<td>
			ADMINISTRADOR
			</td>
			<td>
			2
			</td>
			<td>
			TÉCNICO
			</td>
		</tr>
		<tr>
			<td>
			PROCURADOR JURÍDICO
			</td>
			<td>
			3
			</td>
			<td>
			ADMINISTRATIVO
			</td>
		</tr>
		<tr>
			<td>
			AUXILIAR ADMINISTRATIVO
			</td>
			<td>
			7
			</td>
			<td>
			ADMINISTRATIVO
			</td>
		</tr>
		<tr>
			<td>
			AUXILIAR DE TESOURARIA
			</td>
			<td>
			1
			</td>
			<td>
			ADMINISTRATIVO
			</td>
		</tr>
		<tr>
			<td>
			ASSISTENTE LEGISLATIVO
			</td>
			<td>
			4
			</td>
			<td>
			ADMINISTRATIVO
			</td>
		</tr>
		<tr>
			<td>
			SECRETÁRIA
			</td>
			<td>
			1
			</td>
			<td>
			ADMINISTRATIVO
			</td>
		</tr>
		<tr>
			<td>
			TELEFONISTA
			</td>
			<td>
			2
			</td>
			<td>
			OPERACIONAL
			</td>
		</tr>
		<tr>
			<td>
			OPERADOR DE SOM
			</td>
			<td>
			1
			</td>
			<td>
			OPERACIONAL
			</td>
		</tr>
		<tr>
			<td>
			AUXILIAR DE INFORMÁTICA
			</td>
			<td>
			2
			</td>
			<td>
			OPERACIONAL
			</td>
		</tr>
		<tr>
			<td>
			AGENTE DE SERVIÇOS GERAIS I
			</td>
			<td>
			1
			</td>
			<td>
			MANUTENÇÃO
			</td>
		</tr>
		<tr>
			<td>
			AGENTE DE SERVIÇOS GERAIS II
			</td>
			<td>
			1
			</td>
			<td>
			MANUTENÇÃO
			</td>
		</tr>
		<tr>
			<td>
			MOTORISTA
			</td>
			<td>
			4
			</td>
			<td>
			MANUTENÇÃO
			</td>
		</tr>
		<tr>
			<td>
			COPEIRA
			</td>
			<td>
			3
			</td>
			<td>
			MANUTENÇÃO
			</td>
		</tr>
		<tr>
			<td>
			ZELADOR
			</td>
			<td>
			7
			</td>
			<td>
			MANUTENÇÃO
			</td>
		</tr>
		<tr>
			<td>
			VIGILANTE
			</td>
			<td>
			3
			</td>
			<td>
			MANUTENÇÃO
			</td>
		</tr>
		<tr>
			<td>
			ALMOXARIFE
			</td>
			<td>
			2
			</td>
			<td>
			MANUTENÇÃO
			</td>
		</tr>
		<tr>
			<td>
			OUVIDOR
			</td>
			<td>
			1
			</td>
			<td>			
			</td>
		</tr>
		<tr>
			<td>
			HISTORIADOR
			</td>
			<td>
			1
			</td>
			<td>			
			</td>
		</tr>
		<tr>
			<td>
			FOTÓGRAFO
			</td>
			<td>
			1
			</td>
			<td>			
			</td>
		</tr>
		<tr>
			<td>
			INTÉRPRETE DE LIBRAS
			</td>
			<td>
			1
			</td>
			<td>			
			</td>
		</tr>
		<tr>
			<td>
			TOTAL GERAL
			</td>
			<td>
			50
			</td>
			<td>
			 
			</td>
		</tr>
	</tbody>
</table>