<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th class="text-center" colspan="3"><strong>Gabinetes</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Adilson Carvalho</td>
			<td>3636-0815</td>
			<td>adilsoncarvalho@jatai.go.leg.br</td>
		</tr>
		<tr>
			<td>Carlos Miranda</td>
			<td>3636-0811</td>
			<td>carlosmiranda@jatai.go.leg.br</td>
		</tr>
		<tr>
			<td>Carvalhinho</td>
			<td>3636-0814</td>
			<td>carvalhinho@jatai.go.leg.br</td>
		</tr>
		<tr>
			<td>Katia Carvalho</td>
			<td>3636-0803</td>
			<td>katiacarvalho@jatai.go.leg.br</td>
		</tr>
		<tr>
			<td>Major David Pires</td>
			<td>3636-0812</td>
			<td>majordavidpires@jatai.go.leg.br</td>
		</tr>
		<tr>
			<td>Marcos Ant&ocirc;nio</td>
			<td>3636-0813</td>
			<td>marcosantonio@jatai.go.leg.br</td>
		</tr>
		<tr>
			<td>Maria Aparecida (CIDA)<br></td>
			<td>3636-0802<br></td>
			<td>cida@jatai.go.leg.br<br></td>
		</tr>
		<tr>
			<td>Mauro Bento Filho</td>
			<td>3636-0804</td>
			<td>maurobentofilho@jatai.go.leg.br</td>
		</tr>
		<tr>
			<td>Pr. Luiz Carlos</td>
			<td>3636-0805</td>
			<td>prluizcarlos@jatai.go.leg.br</td>
		</tr>
		<tr>
			<td>Thiago Maggioni</td>
			<td>3636-0801</td>
			<td>thiagomaggioni@jatai.go.leg.br</td>
		</tr>
	</tbody>
</table>