{% extends "crud/detail.html" %}
{% load i18n common_tags %}
{% load render_bundle from webpack_loader %}

{% block base_content %}
   {{ block.super }}

  <div class="row">
    <div class="col-sm-12">
      <div id="div_id_normas" class="form-group">
        <p class="control-label">Normas Publicadas no Diário</p>
        <div class="controls">
            <div class="form-control-static">
              {% for norma in object.normas.all %}
                {% if forloop.first %}
                  <ul>
                {% endif %}
                  <li>
                    <a href="{% url 'sapl.norma:normajuridica_detail' norma.id %}">{{norma}}</a>
                  </li>
                {% if forloop.last %}
                  </ul>
                {% endif %}


                {% if forloop.firs %}
                
                {% else %}
                {% endif %}
              {% endfor %}
            </div>
        </div>
      </div>
    </div>
  </div>

{% endblock base_content %}