{% extends "crud/list.html" %}
{% load i18n %}
{% block main_container_class %}container container-box{% endblock %}


{% block base_workspace %}
  {% if view.is_contained %}
    <div class="box-area-trabalho">
          <a>
          Autor de Documentos e Proposições: <strong>{{user.autor_set.all.0}}</strong></a>
    </div>
  {% endif %}
{% endblock base_workspace %}


{% block actions %}
  <div>
  {% for tipo, materias in view.tipos_autores_materias.items %}
    {% if forloop.first %}
      <strong>Matérias em tramitação:</strong><br>
    {% endif %}
    <a href="{% url 'sapl.materia:pesquisar_materia' %}?tipo={{tipo.id}}&em_tramitacao=1&autoria__autor={{user.autor_set.all.0.id}}">{{tipo}} <strong>({{materias|length}})</strong></a><br>
  {% endfor %}
  </div>
  {{ block.super }}
{% endblock %}