{% extends "crud/detail.html" %}
{% load i18n %}
{% load crispy_forms_tags common_tags %}

{% block actions %}
  <div class="actions btn-group" role="group">
  {% block more_buttons %}
    <a href="{% url 'sapl.base:haystack_search' %}?q=&models=sessao.sessaoplenaria" class="btn btn-outline-primary">
       Mudar para Pesquisa Textual
    </a>
    <button type="button"
        class="btn btn-warning"
        data-trigger="focus"
        data-container="body"
        data-toggle="popover"
        data-placement="top"
        title="Sobre a Pesquisa Textual"
        data-content="Pesquisa Textual é diferente desta pesquisa em que escolhemos filtros específicos, uma pesquisa parametrizada. Na Pesquisa Textual é buscado conteúdo dentro dos documentos através de uma ferramenta sofisticada que leva em consideração as técnicas de escrita da lingua portuguesa. Experimente! No entanto, se você está buscando um conteúdo específico, como por exemplo uma Sessão Especial de Eleição da Mesa Diretora, então a pesquisa parametrizada pode ser o ideal.">
      ?
    </button >
  {% endblock more_buttons %}
  </div>
  <div class="actions btn-group btn-group-lg" role="group">
    {% if perms.sessao %}
      <a href="{% url 'sapl.sessao:sessaoplenaria_create' %}" class="btn btn-outline-primary">
        {% blocktrans with verbose_name=view.verbose_name %} Adicionar Sessão Plenária {% endblocktrans %}
    {% endif %}
    </a>
  </div>
{% endblock %}

{% block table_content %}
  {% crispy filter.form %}

  {% if show_results %}
    <div class="container">
      <div class="result-count">Total de Sessões: <strong>{{paginator.count}}</strong></div>
        {% for s in page_obj %}
          {% if forloop.counter0|divisibleby:3 %}
            {% if forloop.counter0 != 0%}
              </div>
            {% endif %}
            <div class="row align-items-stretch">
          {% endif %}
            <div class="col-4 d-flex">
              <div class="card my-3 overflow-hidden">
                {% if s.url_video %}
                  <div class="car-img-top">
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe id="ytplayer" type="text/html" allowfullscreen
                      src="https://www.youtube.com/embed/{{ s.url_video|youtube_id }}"
                      frameborder="0"></iframe>
                    </div>
                  </div>
                {% endif %}
                <div class="card-body">
                  <div class="card-title">
                    <a href="{% url 'sapl.sessao:sessaoplenaria_detail' s.id %}">{{s}}</a>
                  </div>
                  <div class="card-text">
                    <strong>Abertura:</strong> {{s.data_inicio}}</br>
                    <strong>Legislatura:</strong> {{s.legislatura}}</br>
                    <strong>Sessão Legislativa:</strong> {{s.sessao_legislativa}}</br>
                    <strong>Tipo:</strong> {{s.tipo}}</br>
                  </div>
                  {% if s.upload_ata %}
                    <a class="btn btn-primary" href="{{s.upload_ata.url}}">Ata da Sessão</a>
                  {% endif %}
                </div>
              </div>
            </div>
          {% if forloop.last %}
            </div>
          {% endif %}
        {% empty  %}
          <h3>Nenhuma Sessão Plenária encontrada com essas especificações</h3>
        {% endfor %}
      </div>
      {% include "paginacao.html" %}
    </div>
  {% endif %}
{% endblock table_content %}


{% block extra_js %}

<script type="text/javascript">
  var querystring = "{{filter_url|safe}}"

  // Esse IF garante que já existe uma querystring, ou seja, algo já foi pesquisado
  if(querystring.length != 0){
    $('#id_data_inicio__year').on({
      change: function(){
        window.location.search = $.query.set("data_inicio__year", $('#id_data_inicio__year').val());
      }
    })

    $('#id_data_inicio__month').on({
      change: function(){
        window.location.search = $.query.set("data_inicio__month", $('#id_data_inicio__month').val());
      }
    })

    $('#id_data_inicio__day').on({
      change: function(){
        window.location.search = $.query.set("data_inicio__day", $('#id_data_inicio__day').val());
      }
    })

    $('#id_tipo').on({
      change: function(){
        window.location.search = $.query.set("tipo", $('#id_tipo').val());
      }
    })
  }


</script>

{% endblock %}
