.container-loa {
  &.loa-list {
    th {
      font-size: 85%;
    }
    td {
      text-align: center;
      font-weight: bold;
      font-size: 130%;
      em {
        display: block;
        font-weight: normal;
        font-size: 70%;
      }
      &:nth-child(2) {
        font-size: 170%;
      }
    }
  }

  &.loa-detail .container-detail{
    .container-table {
      margin: 0;
    }
    div[class^=col] {
      &:not(:first-child) {
        padding-left: 7px;
      }
      &:not(:last-child) {
        padding-right: 7px;
      }
    }
    #div_id_receita_corrente_liquida {
      .form-control-static {
        font-size: 170%;
        padding: 14px 0;
        em {
          font-size: 50%;
        }
      }
    }
    .form-control-static {
      text-align: center;
      font-size: 110%;
      line-height: 1;
      padding: 0.7rem;
      font-weight: bold;
    }
    table {
      display: table;
      font-size: 0.9rem;
      td {
        font-size: 110%;
      }
    }
    em {
      display: block;
      font-size: 70%;
      font-weight: normal;
    }
    .container-chart {
      canvas {
        height: 80vh;
      }
    }
  }

  &.emendaloa-list {
    .context-actions {
      margin: 1.3rem 0;
    }
    .btn-outline-primary {
      text-wrap: nowrap;
    }
    table {
      tr {
        td:nth-child(1) {
          width: 50%;
        }
        td:last-child {
          padding: 0;
        }
        td:nth-child(3) {
          text-align: center;
          font-size: 80%;
        }
        td:nth-child(4) {
          width: 20%;
          font-size: 85%;
        }
      }
      table {
        border: 0;
        td {
          border: 0;
          padding: 1px 5px !important;
        }
      }
    }
    form {
      $mp: 0.5em;
      background-color: white;
      margin: 0;
      padding: $mp;
      border-radius: 5px;

      .custom-control-input, input[name=salvar] {
        display: none;
      }
      legend {
        font-size: 110%;
        font-weight: bold;
        color: lighten(#114d81, 20%);
      }
      [class^=row] {
        margin-left: -$mp;
        margin-right: -$mp;
      }
      [class^=col] {
        padding-left: $mp;
        padding-right: $mp;
      }
      .form-group {
        margin: 0;
        label {
          margin: 0;
        }
      }
      .relatorio-select {
        border-left: 5px solid #025d2b;
        padding-left: $mp;
        height: 100%;
      }
      #div_id_fase, #div_id_tipo, #div_id_finalidade {
        margin-top: 0.7rem;
        border-top: 1px solid #ddd;
        & > div {
          // display: flex;
          gap: 1rem;
          padding: 0px 0px 3px;
          font-size: 75%;
        }
      }
      #div_id_tipo {
        .custom-control {
          display: inline-flex;
          padding-right: 0.5em;
        }
      }
    }
    .container-avatar {
      align-items: center;
      .custom-control:first-of-type {
        .avatar {
          margin: 0
        }
      }
      .avatar {
        position: relative;
        opacity: 0.5;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
        &.active {
          opacity: 1;
          width: 80px;
        }
      }
      .custom-control {
        padding: 0;
      }
      .custom-control-input {
        width: 0;
        height: 0;
      }
      label {
        &::before {
          display: none;
          //left: auto;
          //right: -0.4rem;
          //top:  -0.4rem;
        }
        &::after {
          display: none;
          //left: auto;
          //right: -0.4rem;
          //top:  -0.4rem;
        }
        // opacity: 0 !important;
      }
    }
    .btn-close {
      position: absolute;
      top: -5px;
      right: 0;
      color: green;
    }
    .text-muted {
      display: block;
      font-size: 70%;
      text-align: center;
      margin-top: 0.5rem;
      font-style: italic;
    }
  }
  &.emendaloa-update, &.emendaloa-create {
    #div_id_entidade {
      li a {
        margin: 0;
        padding: 0;
      }
      li .text {
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold ;
        font-size: 110%;
        background-color: #0000000a;
        padding: 6px;
        color: #333;
      }
      li:nth-child(odd) .text {
        background-color: #00000000;
      }
    }
  }
  &.emendaloa-update, &.agrupamento-update {
    .fieldset-busca-registrocontabil {
      .col-1 {
        text-align: center;
      }
    }
    .busca-render-emendaloa, .emendaloa-selecteds {
      background-color: #0001;
      min-height: 30vh;
      margin-bottom: 2em;
      .inner {
        // padding: 1px;
      }
      .inner-item {
        display: flex;
        gap: 1px;
        margin-bottom: 7px;
        flex: 1 1 100%;
        justify-content: stretch;
        .fase {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0px;
          padding-right: 2px;
          text-align: right;
          font-size: 80%;
          line-height: 1;
        }
      }
      .item-emendaloa {
        position: relative;
        background-color: #fff;
        padding: 0.5em 0.5em 1em;
        width: 100%;
        &:hover {
          background-color: #ddf5;
        }
      }
      .inner-actions {
        background-color: #fff;
        display: flex;
        align-items: center;
      }
      .inner-item {
        &:hover {
          .inner-actions {
            background-color: #dff9;
          }
          .item-emendaloa {
            background-color: #dff9;
          }
        }
      }
    }
    .emendaloa-selecteds {
      background-color: transparent;
    }
    form {
      $mp: 5px;
      .row {
        margin-left: $mp * -1;
        margin-right: $mp * -1;

        [class^=col] {
          padding-left: $mp;
          padding-right: $mp;
        }
      }
      #div_id_busca_despesa {
        background-color: #0001;
        padding: 8px 10px 10px;
        margin: 0px 0px -7px 0px;
        border-radius: 5px;
        line-height: 1.3;
        label {
          margin-bottom: 0;
        }
        input {
          height: 2em;
        }
      }
    }
    .container-preview {
      margin: 10px 0;
      width: 100%;
      img {
        width: 100%;
        &.loading {
          opacity: 0.3;
        }
      }
      .inner-preview {
        background-color: white;
      }
    }
    .busca-render {
      margin-bottom: 15px;
      .item {
        font-family: 'Courier New', Courier, monospace;
        background-color: white;
        margin-bottom: 2px;
        padding: 5px;
        cursor: pointer;
        &:hover {
          background-color: #f5f5ff;
        }
      }
    }
    .registro-render {
      margin-bottom: 15px;
      font-family: 'Courier New', Courier, monospace;
      font-size: 70%;

      &.btn-delete-d-none {
        .btn-delete {
          display: none;
        }
      }
      .item-rc {
        margin-bottom: 2px;
        background-color: white;
        display: flex;
        .texto {
          flex: 1 1 auto;
          border-right: 2px solid #0001;
          padding: 10px 5px 7px;
          display: inline-block;
          line-height: 1;
        }
        &:hover {
          background-color: #fff5f5;
        }
      }
      .footer {
        margin-top: 15px;
        opacity: 0.6;
        &:hover {
          opacity: 1;
        }
        .totais {
          font-weight: bold;
          background-color: white;
          line-height: 1;
          padding: 7px 5px 5px;
        }
        .row {
          gap: 3px;
          margin: 0;
        }
        .col {
          display: flex;
          flex-direction: column;
          gap: 3px;
          padding: 0;
          .key {
            text-align: center;
            font-weight: bold;
            background-color: white;
          }
          .value {
            text-align: right;
            background-color: white;
            padding: 7px 5px 5px;
            font-weight: bold;
            font-size: 140%;
          }
        }
      }
    }
  }
  &.emendaloa-detail {
    #div_id_valor {
      .form-control-static {
        font-size: 130%;
        text-align: center;
        font-weight: bold;
      }
    }
    #div_id_registrocontabil_set {
      ul {
        font-family: 'Courier New', Courier, monospace;
        padding-left: 10px;
        font-size: 10pt;
        line-height: 1.5;
      }
    }
  }
  &.oficioajusteloa-detail {
    .table {
      tr {
        td:nth-child(n + 2) {
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 991.98px) {
  .container-loa {
    .container-table {
      overflow: hidden;
      overflow-x: auto;
      .table {
        display: table;
        overflow:auto;
        min-width: 880px;
        th, td {
          //width: 25%;
        }
        tbody {
          th {
            width: 200px;
          }
          td {
            width: 170px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 599.98px) {
  .container-loa {
    &.loa-detail {
    }
    &.emendaloa-list {
      .container-avatar {
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
        grid-template-rows: auto;
        grid-template-areas:
          "div div div div div"
          "div div div div div";
        .custom-control {
          text-align: center;
        }
        .avatar {
          margin-left: 0px;
        }
        .avatar6 {
          width: auto;
          padding: 1em;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .container-loa {
    &.emendaloa-list {
      .container-avatar {
        .avatar6 {
          padding: 0.3em;
        }
      }
    }
  }
}