.container-loa {
  &.loa-list {
    th {
      font-size: 85%;
    }
    td {
      text-align: center;
      font-weight: bold;
      font-size: 130%;
      i{
        display: block;
        font-weight: normal;
        font-size: 70%;
      }
      &:nth-child(2) {
        font-size: 170%;
      }
    }
  }
  &.loa-detail {
    .form-control-static {
      text-align: center;
      font-size: 140%;
      line-height: 1;
      padding: 0.7rem;
      font-weight: bold;
    }
    table {
      font-size: 0.9rem;
      td {
        font-size: 110%;
      }
    }
    i {
      display: block;
      font-size: 70%;
      font-weight: normal;
    }
  }
  &.emendaloa-list {
    table {
      tr {
        td:last-child {
          padding: 0;
        }
        td:nth-child(3) {
          text-align: center;
        }
        td:nth-child(4) {
          width: 40%;
        }
      }
      table {
        border: 0;
        td {
          border: 0;
          padding: 1px 5px !important;
        }
      }
    }
    .container-avatar {
      align-items: center;
      .avatar {
        position: relative;
        opacity: 0.4;
        &:hover {
          opacity: 1;
        }
        &.active {
          opacity: 1;
          width: 100px;
        }
      }
    }
    .btn-close {
      position: absolute;
      top: -5px;
      right: 0;
      color: green;
    }
  }
  &.emendaloa-update {
    form {
      $mp: 8px;
      .row {
        margin-left: $mp * -1;
        margin-right: $mp * -1;;

        [class^=col] {
          padding-left: $mp;
          padding-right: $mp;
        }
      }
    }
    .container-preview {
      margin: 10px 0;
      width: 100%;
      img {
        width: 100%;
        &.loading {
          opacity: 0.3;
        }
      }
      .inner-preview {
        background-color: white;
      }
    }
    .busca-render {
      .item {
        padding: 5px;
        cursor: pointer;
      }
    }
    #div_id_registrocontabil_set {
      font-family: 'Courier New', Courier, monospace;
      font-size: 70%;
    }
  }
  &.oficioajusteloa-detail {
    .table {
      tr {
        td:nth-child(n + 2) {
          text-align: center;
        }
      }
    }
  }
}