{% extends "base.html" %}
{% load i18n crispy_forms_tags common_tags %}

{% block base_content %}

<div class="context-actions clearfix">
  {% block actions %}{{block.super}}
    <div class="actions btn-group btn-group-sm float-right" role="group">
      {% if object.texto_articulado.exists %}


        <a class="btn btn-outline-primary" href="{% url 'sapl.compilacao:ta_text' object.texto_articulado.first.pk%}?back_type=history">{% trans "Texto Eletrônico da Proposição" %}</a>
      {% endif %}
      {% if object.texto_original %}
        <a target="_blank" class="btn btn-outline-primary" href="{{ object.texto_original.url }}">{% trans "Texto Original da Proposição" %}</a>
      {% endif %}
    </div>
  {% endblock actions%}
</div>

  {% for f in form %}
    {% crispy f %}
  {% endfor %}

{% endblock %}

{% block extra_js %}
  <script type="text/javascript">

    $(document).ready(function(){
      $("select[name=tipo_materia], input[name=numero_materia], input[name=ano_materia]").change(function(event) {
        var url = '{% url 'sapl.api:materia_materialegislativa-list'%}'

        var formData = {
              'tipo'   : $("select[name=tipo_materia]").val(),
              'ano'    : $("input[name=ano_materia]").val(),
              'numero' : $("input[name=numero_materia]").val(),
              'o': '-id',
        }
        if (formData.tipo == '' || formData.ano == '' || formData.numero == '') {
          $("#vinculo_proposicao").removeClass('hidden');
          $(".ementa_materia").html('').addClass('hidden');
          $("input[name=vinculo_ano]").val('')
          $("input[name=vinculo_numero]").val('')
          return;
        }
        $("#vinculo_proposicao").addClass('hidden');

        $.get(url, formData).done(function(data) {
          // if (data.pagination.total_entries == 1)
            $(".ementa_materia").html(
              `<a target="_blank" href="{% url 'sapl.materia:materialegislativa_list' %}/${data.results[0].id}">
                  <strong>${data.results[0].__str__}</strong>
                  </a>
                  <br>${data.results[0].ementa}`
              ).removeClass('hidden');
          // else
          //   $(".ementa_materia").html('<strong>Atenção!!!</strong> Matéria Legislativa não localizada!').removeClass('hidden');
        });
  		});

      $("select[name=tipo_materia]").trigger('change');

    });
	</script>
{% endblock %}
