{% load i18n %}
{% load compilacao_filters %}
{% load common_cmj_tags common_tags%}
{% load static %}
{% load webpack_static from webpack_loader %}

{% if m.texto_original %}
  <div class="row item-listas align-items-center justify-content-between">
    <div class="col-12 col-md-auto flex-column">
      {% if m.metadata.signs and m.metadata.signs.texto_original.signs %}
        <a class="link-texto" href="{{m.texto_original.url}}" title="Documento Eletrônico">
          <i class="fas fa-2x fa-certificate"></i>
          <br>
          <strong>Documento
              Eletrônico
              <small>
                <br>com Assinatura Digital
              </small>
          </strong>
        </a>
      {% elif m.texto_original and '.pdf' in m.texto_original.path %}
          <a class="link-texto" href="{{m.texto_original.url}}" title="Documento Digitalizado">
            <i class="far fa-2x fa-file-pdf"></i>
            <br>
            <strong>
                Documento<br>Digitalizado
            </strong>
          </a>
      {% else %}
        <a class="link-texto" href="{{m.texto_original.url}}" title="Documento Eletrônico">
          <i class="far fa-2x fa-file-archive"></i>
          <br>
          <strong>Documento<br>Eletrônico</strong>
        </a>
      {% endif %}
      {% with m.metadata.signs.texto_original.signs as signs %}
        {% include 'core/sign_widget.html' %}
      {% endwith %}
    </div>
    {% if render_ementa %}
      <div class="col">
        <div class="text-ementa">
          {{m.ementa|safe}}
        </div>
      </div>
    {% endif %}
  </div>
{% endif %}