{% load i18n cache tz %}
{% load common_tags %}

{% for tipo, autores in tipos_autores_materias %}
  <div>
    <a class="text-black-50" href="{% url 'cmj.search:materia_haystack_search'%}?tipo_i={{tipo.id}}&em_tramitacao_b=1">
      {{tipo}}
    </a>
  </div>

  {% for autor, formatos in autores.items %}

    <a class="d-flex justify-content-between hover_background_05p" href="{% url 'cmj.search:materia_haystack_search' %}?tipo_i={{tipo.id}}&em_tramitacao_b=1&autoria_is={{autor.id}}">

      {% if tipo.limite_minimo_coletivo %}
        <span>
          {% if autor.autor_related %}
          {{autor.autor_related}}
          {% else %}
          {{autor.nome}}
          {% endif %}
        </span>
        <em class="text-light-blue">
          <small>
            <small title="A contagem individual é feita de acordo com o que rege o R.I.">

              Individuais: <strong>({{formatos.individual|length|stringformat:"02d" }})</strong> - Coletivos: <strong>({{formatos.coletivo|length}})</strong>
            </small>
          </small>
        </em>
      {% else %}
          <span>
          {% if autor.autor_related %}
            {{autor.autor_related}} <strong>({{formatos.individual|length}})</strong>
          {% else %}
            {{autor.nome}} <strong>({{formatos.individual|length}})</strong>
          {% endif %}
          </span>
      {% endif %}
    </a>
{% endfor %}
<br>
{% endfor %}



{% comment %}
{% cache 300 cache_materias_em_tramitacao %}
{% endcache %}
 {% endcomment %}