{% extends "crud/list.html" %}
{% load i18n %}
{% block main_container_class %}container container-box{% endblock %}


{% block base_workspace %}
  {% if view.is_contained %}
    <div class="box-area-trabalho">
          <a>
          Autor de Documentos e Proposições: <strong>{{user.autor_set.all.first}}</strong></a>
    </div>
  {% endif %}
{% endblock base_workspace %}


{% block actions %}
  <div>
    {% if view.existe_emendaloa_sendo_gerada %}
      <div class="alert alert-info">Proposições estão sendo geradas vindas do módulo de Orçamento Impositivo. Quando o processo de geração estiver concluído, esta mensagem não aparecerá em sua tela.</div>
    {% endif %}
  {% for tipo, autores in view.tipos_autores_materias %}
    {% if forloop.first %}
      <strong>Matérias em tramitação:</strong><br>
    {% endif %}
    {% for autor, formatos in autores.items %}
      {% if user.autor_set.all.first == autor %}
        <a href="{% url 'cmj.search:materia_haystack_search' %}?tipo_i={{tipo.id}}&em_tramitacao_b=1&autoria_is={{autor.id}}">
          {% if tipo.limite_minimo_coletivo %}
          {{tipo}} -
          <em class="text-light-blue"><small title="A contagem individual é feita de acordo com o que rege o R.I.">Contagem Individual: <strong>({{formatos.individual|length}})</strong> - Contagem Coletiva: <strong>({{formatos.coletivo|length}})</strong></small></em>
          {% else %}
            {{tipo}} <strong>({{formatos.individual|length}})</strong>
          {% endif %}
        </a>
        <br>
      {% endif %}
    {% endfor %}
  {% endfor %}
  </div>

  {{ block.super }}
{% endblock %}
{% block extra_content %}
<div class="row small mt-n3">
  <div class="col-5">
    <em>
      <strong class="text-green">NOTA 1:</strong> Precisando do Papel Timbrado?<br>
      <a target=_blank href="{{ site_url }}/norma/10711/anexonormajuridica">Clique aqui para baixar o modelo atual de papel timbrado.</a>
    </em>
  </div>
  <div class="col-7">
    <em>
      <strong class="text-green">NOTA 2:</strong>
    Está em dúvida da escrita de uma proposição?<br>A Câmara de Belo Horizonte possui um
    Guia de Redação de excelente qualidade e você pode conferir inúmeros modelos de
    proposições <a target=_blank href="{{ site_url }}/media/files/guia_de_redacao_-_outubro_de_2024.pdf">clicando aqui.</a>
    </em>
  </div>
</div>
{% endblock %}