{% load i18n %}
{% load compilacao_filters %}
{% load common_cmj_tags common_tags%}
{% load static %}
{% load webpack_static from webpack_loader %}

{% if p.texto_original %}
  <div class="row item-listas align-items-center justify-content-between">
    <div class="col-auto justify-content-center">
      <a class="link-texto"  target="_blank" href="{{p.texto_original.url}}?original" title="Documento Eletrônico">
        {% if p.metadata.signs and p.metadata.signs.texto_original.signs %}
          <i class="fas fa-2x fa-certificate"></i>
        {% else %}
          <i class="far fa-2x fa-file-{% if '.pdf' in p.texto_original.path %}pdf{% else %}archive{% endif %}"></i>
        {% endif %}
        <br>
        <strong>Documento
          {% if p.metadata.signs and p.metadata.signs.texto_original.signs %}
            Eletrônico
            <small>
              <br>com Assinatura Digital
            </small>
          {% else %}
            {% if '.pdf' in p.texto_original.path %}
                <br>Digitalizado Original
            {% else %}
              <br>Eletrônico
            {% endif %}
          {% endif %}
        </strong>
      </a>
    </div>
    {% if p.tipo.exige_assinatura_digital %}
      {% if p.metadata.signs and p.metadata.signs.texto_original.running_extraction  %}
        <div class="col alert alert-danger running_extraction">
          <strong>Atenção!!!</strong><br>
          Assinaturas Eletrônicas em processo de extração. Aguarde a conclusão para posterior envio...
          <br><small>A página atualizará automaticamente em <i>[ 10 ]</i> segundos.</small>
        </div>
      {% elif p.metadata.signs and p.metadata.signs.texto_original.signs  %}
        &nbsp;
      {% else %}
        <div class="col alert alert-danger">
          <strong>Atenção!!!</strong><br>
          Arquivo não possui assinatura digital. Não é permitido o envio!!!
        </div>
      {% endif %}
    {% elif not p.metadata.signs.texto_original.signs and not p.data_envio%}
      <div class="col alert alert-info">
        <strong>Atenção!!!</strong><br>
        Assinaturas Eletrônicas em processo de extração. No entanto [{{p.tipo}}] não possui exigência de assinaturas e você já pode enviá-lo.
      </div>
    {% endif %}
    {% if p.metadata.signs and p.metadata.signs.texto_original.signs  %}
      {% with p.metadata.signs.texto_original.signs as signs %}
        {% include 'core/sign_widget.html' %}
      {% endwith %}
    {% endif %}
  </div>
{% endif %}