.relatorio-gestao {
  .capa-titulo {
    .capa {
      font-size: 40pt;
      text-align: center;
      font-weight: bold;
      line-height: 1.2em;
      .capa-ano {
        line-height: 1.7em;
        font-size: 200%;
        font-weight: bold;
      }
    }
  }
  a {
    text-decoration: none;
  }
  ul {
    margin: 0;
    padding-left: 0.7cm;
  }

  h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
    color: #045;
  }
  h1 {
    margin: 1cm 0 0.5cm 1cm;
  }
  h2 {
    margin: 1cm 0 0.5cm 0.5cm;
  }
  h3 {
    margin: 0.5cm 0 0.3cm 0.3cm;
  }
  h4 {
    margin: 0.3cm 0 0.3cm 0cm;
  }

  .columns2 {
    columns: 2;
    gap: 0;
    ul {
      page-break-inside: avoid;
      break-inside: avoid;
    }
  }

  &.relatorio-gestao-html {
    .capa-titulo {
      margin: 2cm 0;
    }
    div {
     background-color: white;
     margin: 1em 0;
    }
  }

  &.relatorio-gestao-pdf {
    .capa-titulo {
      background: #0003;
      .capa {
        font-size: 35pt;
        text-align: right;
        color: white;
        width: 203mm;
        top: 7mm;
      }
    }
    .capa-mesa, .capa-parlamentares {
      background: #fffc;
      padding: 0.5cm;
      top: 18cm;
      left: 0cm;
      right: 0cm;
      width: auto;
      height: auto;
      h1, h2, h3, h4 {
        margin: 0;
        padding: 0;
      }
    }
    .capa-mesa {
      right: 3cm;
    }
    .capa-parlamentares {
      top: 23cm;
      left: 3cm;
      ul {
        columns: 2;
        width: 14cm;
      }
    }
  }

}

.container-show-old {


  .capa-titulo {
    background: #0003;
    .capa {
      font-size: 40pt;
      text-align: center;
      font-weight: bold;
      line-height: 1.5em;
      .capa-ano {
        line-height: 1.5em;
        font-size: 80pt;
        font-weight: bold;
      }
    }
    .capa {
      color: #fff;
      top: 0.7cm;
      width: auto;
      right: 0.7cm;
      margin: 0;
      padding: 0;
      line-height: 1.1em;
      text-align: right;
      font-size: 35pt;
      .capa-ano {
        line-height: 1.5em;
        color: #fff;
        display: block;
        margin: 0.5cm 0;
        padding: 0;
      }
    }
  }
  .capa-mesa {
    top: 18cm;
    left: 0cm;
    right: 3cm;
    width: auto;
    height: auto;
    padding: 0.5cm;
    background: #fffc;
  }
  .capa-parlamentares {
    top: 23cm;
    left: 3cm;
    right: 0cm;
    width: auto;
    height: auto;
    padding: 0.5cm;
    background: #fffc;
    ul {
      columns: 2;
      width: 14cm;
    }
  }
}

.__old__ {
  .container-show{
    font-size: 14pt;
    text-align: left;
    z-index: 2;
    h1 {
      color: #045;
    }
    h2 {
      margin-top: 1em;
    }
    h3 {
      margin: 1cm 0 0 0;
    }
    h4 {
      margin: 0.7cm 0 0 0;
    }
    p {
      text-indent: 1cm;
      margin: 5px 0;
      color: #045;
    }
    ul {
      margin: 1rem 0 0 0;
      ul {
        margin: 0;
      }
    }
    li {
      color: #045;
      p {
        margin: 0;
        text-indent: 0cm;
      }
      li {
        font-style: italic;
        color: #049;
      }
    }

  }

  .page-break {
    page-break-before: always;
  }

  a {
    text-decoration: none;
  }
  .container-show {
    h1, h2, h3, h4 {
      padding: 0;
      margin: 0;
    }
    ul {
      margin: 0;
    }
    .container-docs1, .container-docs2 {
      h3, h4 {
        margin: 0.3cm 0 0 0;
      }
      ul {
        padding: 0 0.7cm;
      }
      li {
      }
    }
    .container-docs2 {
      ul {
        columns: 2;
        li {
          font-size: 13pt;
        }
      }
    }

    .columns2 {
      columns: 2;
      ul {
        page-break-inside: avoid;
        break-inside: avoid;
      }
      li {
        font-size: 11pt;
      }
    }
  }
}