{% load i18n staticfiles menus common_cmj_tags cropping %}
{% load webpack_static from webpack_loader %}

<ul class="nav-user-container">
  {% if user and not user.is_anonymous %}
    <li>
      <a id="user_connected" pk="{{user.pk}}" href="#">
        {% avatar_user user%}
      </a>

      {% notificacoes_unread %}

      <ul>
        <li><a href="{% url 'cmj.core:logout' %}">{% trans "Sair" %}</a></li>
        <li  class="divider"></li>
        <li><a href="{% url 'cmj.core:cmj_user_change' %}">{{ user.get_full_name|default:user.email }} <i class="fas fa-hand-point-left"></i> {% trans "Meu Perfil" %}</a></li>
        <li class="divider"></li>

        {% if perms.ouvidoria and not user.is_superuser %}
          <li><a href="{% url 'cmj.ouvidoria:solicitacao_manage_list' %}">{{user.areatrabalho_set.all.first.nome}} <i class="fas fa-hand-point-left"></i> {% trans "Ouvidoria" %}</a></li>
        {% endif %}

        {% if not user.is_superuser %}
          <li><a href="{% url 'cmj.ouvidoria:solicitacao_list' %}">{% trans "Minhas Solicitações" %}</a></li>
          <li class="divider"></li>
        {% endif %}

        <li>
          <a href="#linkMenu">{% trans "Intranet" %}<span class="caret"></span></a>
          <ul>
            <li><a href="https://mail.jatai.go.leg.br">{% trans "Webmail" %}</a></li>
            <li><a href="http://gestaopublica.camara.jatai.bsit-br.com.br">{% trans "Gestão Pública" %}</a></li>
          </ul>
        </li>
      </ul>
    </li>
  {% else %}
    <li>
      <a href="#linkMenu">{% trans "Acessar" %}<span class="caret"></span></a>
      <ul>
        <li>
          <a href="{% url 'cmj.core:login' %}">{% trans "Portal" %}</a>
        </li>
        <li>
          <a href="#linkMenu">{% trans "Intranet" %}<span class="caret"></span></a>
          <ul>
            <li><a href="https://mail.jatai.go.leg.br">{% trans "Webmail" %}</a></li>
            <li><a href="http://gestaopublica.camara.jatai.bsit-br.com.br">{% trans "Gestão Pública" %}</a></li>
          </ul>
        </li>
      </ul>
    </li>
  {% endif %}
</ul>