{% load i18n staticfiles menus common_cmj_tags cropping %}
{% load webpack_static from webpack_loader %}
<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="pt-br"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js {% block html_class %}{%endblock%}" lang="pt-br">
<!--<![endif]-->
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="reply-to" content="manager@jatai.go.leg.br">
  <meta name="theme-color" content="#114d81">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% if user|notificacoes_unread_count %}({{user|notificacoes_unread_count}}) {% endif %}{% block head_title %}{% trans 'Câmara Jataí' %}{% endblock %} - {% block head_title_sufix %}Portal da Câmara Municipal de Jataí - Estado de Goiás{% endblock head_title_sufix %}</title>
  <meta name="description" content="{% block meta_description %}Portal CMJ - Fonte de informações a respeito dos atos do poder legislativo do município de Jataí, na microrregião Sudoeste do Estado de Goiás.{% endblock meta_description %}">

  {% block meta_tags %}
    {% include "base_meta_tags.html" %}
  {% endblock %}

  {% block head_content %}
  {% endblock %}

  {% block webpack_loader_css %}
    {% render_chunk_vendors 'css' %}
    {% render_bundle  'app' 'css' %}
  {% endblock webpack_loader_css %}

  {% block widgets_form_css %}{% endblock widgets_form_css %}

</head>

<body class="{% block body_class %}{%endblock%}">
  {% block root_body %}
    <div id="app-vue">
      {% block global_container %}
        {% block navigation %}
          <!-- ========================================================== -->

            <header class="main {% if not user.is_authenticated and view.raiz %}header-top{% endif %}" v-on:click.passive="teste">

              <div :class="['container-fluid', portalmenu_opened ? 'opened': 'closed']" id="nav-top-container">
                <div class="container">
                  <div class="row">

                    <div id="accessactions">
                      <div class="btn-group" role="group">
                        <a href="#main_content" accesskey="1">Ir para Conteúdo<span class="badge badge-light">1</span></a>
                        <a href="#menu_content" accesskey="2">Ir para Menu<span class="badge badge-light">2</span></a>
                        <a href="#rodape_access" accesskey="3">Ir para Rodapé<span class="badge badge-light">3</span></a>
                      </div>
                    </div>

                    {% block social_links %}
                      <div class="navbar-social-links" id="socialactions">
                        {% include 'social_links_global.html' %}
                      </div>
                    {% endblock %}

                    <a href="#" id="altocontraste" accesskey="4" onclick="window.toggleContrast()" onkeydown="window.toggleContrast()"><i class="fas fa-adjust" aria-hidden="true"></i>Alto Contraste</a>

                    {% include 'base_header_user.html' %}

                  </div>

                </div>
              </div>

              <div class="container">
                <div class="row" id="rowlogo">
                  <div :class="['col-auto', searching ]" id="portallogo">
                    <div class="navbar">
                      <a class="navbar-brand" href="{{site_url}}/">
                        <img src="{% webpack_static 'brasao/brasao_256.png' %}">
                        <div class="brand-name">
                          <span>
                            Câmara Municipal de
                          </span>
                          <span class="brand-cidade">
                            Jataí
                          </span>
                          <span class="brand-estado">
                            Poder Legislativo
                          </span>
                        </div>
                      </a>
                    </div>
                  </div>

                  {% include 'base_header_portalactions.html' %}

                  <div id="portalsearch" :class="['col-auto', searching ]" >
                    <div class="form-search">
                      <form method="post" action="{% url 'cmj.core:haystack_search'%}">
                        {% csrf_token %}
                        <div class="inner">
                          <div class="item-form">
                            <input type="search" name="q" id="id_q"
                              placeholder="Busca Textual"
                              class="textinput textInput form-control"
                                autocomplete="off"
                                v-on:blur="handleBlurSearch"
                                v-on:focus="handleFocusSearch"
                                />
                          </div>
                          <div class="item-form">
                            <button  class="button" type="submit"value="">
                              <i class="fas fa-search"></i>
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>

                  <div id="portalbtnmenu"
                    :class="['col-auto', searching ]">
                    {% block button_toogle_main %}
                      <span type="button" class="navbar-toggler" v-on:click="handleClickPortalMenu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </span>
                    {% endblock %}
                  </div>
                </div>
              </div>
            </header>

        {% endblock navigation %}

      <!-- ========================================================== -->
      <main class="{% block main_container_class %}{% endblock %}">

        {% block second_header %}
          <div class="second_header {% block class_header %}{% endblock class_header%}" >
            <div class="container{{fluid}}">
              {% block base_functions %}{% endblock %}
              {% block base_container_header %}
                {% block base_header %}
                  {% block title %}
                    <h1>
                      {% block title_inner %}
                        {% if title %}
                          {{ title|safe|linebreaksbr }}
                        {% elif view.title %}
                          {{ view.title|safe|linebreaksbr }}
                        {% elif object %}
                          {{ object|safe|linebreaksbr }}
                        {% endif %}
                      {% endblock title_inner %}
                    </h1>
                  {% endblock title %}

                  {% block sub_title %}
                    {% if sub_title or view.sub_title %}
                      <h3>
                        {% block sub_title_inner %}
                          {% if sub_title %}
                            {{ sub_title|safe }}
                          {% elif view.sub_title %}
                            {{ view.sub_title|safe }}
                          {% endif %}
                        {% endblock %}
                      </h3>
                    {% endif %}
                  {% endblock %}

                {% endblock base_header %}
              {% endblock base_container_header %}
            </div>

            <div class="container{{fluid}}">
                {% block sections_nav %}{% subnav %}{% endblock sections_nav %}
            </div>
          </div>
        {% endblock second_header %}

        <router-view></router-view>

        {% block main_content %}
          <div class="container{{fluid}}">
            {% block base_content %}
            {% endblock %}
          </div>
        {% endblock %}

      </main>
      <!-- App.vue -->
      <app></app>
      {% endblock global_container %}
    </div>

    <!-- ========================================================== -->
    {% include 'base_footer.html' %}

  {% endblock root_body %}

  {% comment %}
    {% block %}
      {% comment  %}
      {% include "popups.html" %}

      <div class="page fadein" id="{% block id_wrapper %}wrapper{% endblock %}">

        <nav class="navbar navbar-topo navbar-expand-lg navbar-dark">
            <div class="container{{fluid}} justify-content-between container-notificacoes">

              {% notificacoes_unread %}

              <a class="navbar-brand" href="{{site_url}}/">
                  <i class="fa fa-home" aria-hidden="true"></i>C<small>âmara</small> M<small>unicipal de</small> J<small>ataí</small><span class="brand-estado"> - E<small>stado</small> <small>de</small> G<small>oiás</small></span>
              </a>

              <div class="navbar-collapse collapse" id="navbar-access">


              </div>
            </div>
        </nav>

        {% block  %}
          {% block  %}
            <nav class="navbar navbar-menu navbar-expand-lg navbar-dark">
              <div class="container{{fluid}}">
                <div class="navbar-collapse collapse" id="navbar-menu">
                  <ul class="navbar-nav" id="menu_content">

                    {% if user.is_superuser %}
                      {% navbar 'yaml/navbar/navbar_superuser.yaml' %}
                    {% elif perms.materia.add_proposicao %}
                      {% navbar 'yaml/navbar/navbar_autor.yaml' %}
                    {% elif areatrabalho%}
                      {% navbar 'yaml/navbar/navbar_areatrabalho.yaml' %}
                    {% else %}
                      {% navbar 'yaml/navbar/navbar_public.yaml' %}
                    {% endif %}
                  </ul>

                  {% include "base_menu_right.html" %}
                </div>
              </div>
            </nav>

          {% endblock  %}

          {% block canais_diretos %}
            {% include "base_sidebar.html" %}
          {% endblock canais_diretos%}


          <main id="content" class="content page__row screen-lg">
          {% block content_container %}
              <div class="{% block main_container_class %}container container{{fluid}}{{path}} container-box{% endblock %}">



                {% block base_workspace %}
                  {% if view.is_contained %}
                    <div class="box-area-trabalho">
                      {% for at in areatrabalho %}
                          <a>{{at.nome}}</a>
                      {% endfor %}
                    </div>
                  {% endif %}
                {% endblock base_workspace %}

                {# Feedback messages #}
                {% for message in messages %}
                  <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message|safe }}
                  </div>
                {% endfor %}

              </div>

              {% block cmj_extra_content %}{% endblock %}
          {% endblock content_container %}
            </main>
        {% endblock  %}
      </div>
    {% block login_container %}
    {% endblock%}

{% endcomment %}

    <div vw class="enabled">
      <div vw-access-button class="active"></div>
      <div vw-plugin-wrapper>
        <div class="vw-plugin-top-wrapper"></div>
      </div>
    </div>


    {% block foot_js %}
        {% block webpack_loader_js %}
          {% render_chunk_vendors 'js' %}
          {% render_bundle  'app' 'js' 'DEFAULT' 'theme="oficial"' %}
        {% endblock webpack_loader_js %}

      {% block extra_js %}{% endblock %}

    {% endblock foot_js %}

    {% block widgets_form_js %}{% endblock widgets_form_js %}

    {% if not DEBUG %}
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2431536-7"></script>
      <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
      <script>

        {% if not perms.materia %}
          new window.VLibras.Widget('https://vlibras.gov.br/app');
        {% endif %}

        window.fbAsyncInit = function () {
          FB.init({
            appId      : '{% settings_key_tag 'SOCIAL_AUTH_FACEBOOK_KEY' %}',
            cookie     : true,
            xfbml      : true,
            version    : 'v6.0'
          });

          FB.AppEvents.logPageView();

          FB.getLoginStatus(function(response) {
              //// console.log(response);
          });
        };

        (function (d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/pt_BR/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));

        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-2431536-7');
      </script>
    {% endif %}
  </div>
  </body>
</html>

