{% load i18n staticfiles menus common_cmj_tags cropping %}
{% load webpack_static from webpack_loader %}
<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="pt-br"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js {% block html_class %}{%endblock%}" lang="pt-br">
<!--<![endif]-->
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="reply-to" content="manager@jatai.go.leg.br">
    <meta name="theme-color" content="#006556">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% if user|notificacoes_unread_count %}({{user|notificacoes_unread_count}}) {% endif %}{% block head_title %}{% trans 'Câmara Jataí' %}{% endblock %} - {% block head_title_sufix %}Portal da Câmara Municipal de Jataí - Estado de Goiás{% endblock head_title_sufix %}</title>
    <meta name="description" content="{% block meta_description %}Portal CMJ - Fonte de informações a respeito dos atos do poder legislativo do município de Jataí, na microrregião Sudoeste do Estado de Goiás.{% endblock meta_description %}">

    {% block meta_tags %}
      {% include "base_meta_tags.html" %}
    {% endblock %}

    {% block head_content %}
    {% endblock %}

    {% block webpack_loader_css %}
      {% render_chunk_vendors 'css' %}
      {% render_bundle  'app' 'css' %}
    {% endblock webpack_loader_css %}

    {% block widgets_form_css %}{% endblock widgets_form_css %}
  </head>

  <body class="{% block body_class %}{%endblock%}">
    <div id="app-vue">

    </div>




<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    {% block root_body %}
      {% comment  %}
      {% include "popups.html" %}
      {% endcomment %}
      <div class="page fadein" id="{% block id_wrapper %}wrapper{% endblock %}">

        <div class="header-accessibility">
          <div class="container links-to-content justify-content-between">
            <div class="btn-group" role="group">
              <a class="btn btn-link " href="#main_content" accesskey="1">Ir para Conteúdo<span class="badge badge-dark">1</span></a>
              <a class="btn btn-link" href="#menu_content" accesskey="2">Ir para Menu<span class="badge badge-dark">2</span></a>
              <a class="btn btn-link" href="#rodape_access" accesskey="3">Ir para Rodapé<span class="badge badge-dark">3</span></a>
            </div>
            <div class="btn-group" role="group">
                <a class="btn btn-link" href="#" id="altocontraste" accesskey="4" onclick="window.toggleContrast()" onkeydown="window.toggleContrast()"><i class="fas fa-adjust" aria-hidden="true"> Alto Contraste</i></a>
            </div>
          </div>
        </div>

        <nav class="navbar navbar-topo navbar-expand-lg navbar-dark">
            <div class="container{{fluid}} justify-content-between container-notificacoes">

              {% notificacoes_unread %}

              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <a class="navbar-brand" href="{{site_url}}/">
                  <i class="fa fa-home" aria-hidden="true"></i>C<small>âmara</small> M<small>unicipal de</small> J<small>ataí</small><span class="brand-estado"> - E<small>stado</small> <small>de</small> G<small>oiás</small></span>
              </a>

              {% block button_toogle %}
                <button type="button" class="navbar-toggler toggle-access" data-toggle="collapse" data-target="#navbar-access" aria-controls="navbar-access" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              {% endblock %}

              <div class="navbar-collapse collapse" id="navbar-access">

                {% block social_links %}
                  <div class="navbar-social-links justify-content-center">
                    <a href="/online/" class="icon-sessoes-online" title="Sessão Plenária Online - Atualização em tempo real"><span>Sessões Online</span></a>

                    <a href="/estatisticas/"title="Estatisticas de Dados do Portal"><i class="far fa-chart-bar"></i></a>

                    <a href="https://soundcloud.com/camara-de-jatai"><i class="fab fa-soundcloud" aria-hidden="true"></i><span>SoundCloud</span></i></a>
                    <a class="facebook" href="https://www.facebook.com/cmjatai"><i class="fab fa-facebook-f" aria-hidden="true"><span>Facebook</span></i></a>
                    <a class="youtube" href="https://www.youtube.com/C%C3%A2maraMunicipalJata%C3%AD?sub_confirmation=1"><i class="fab fa-youtube" aria-hidden="true"><span>YouTube</span></i></a>
                    <a class="twitter" href="https://twitter.com/cmjatai"><i class="fab fa-twitter" aria-hidden="true"><span>Twitter</span></i></a>
                  </div>
                {% endblock %}

                <ul class="navbar-nav justify-content-end">
                  {% if user and not user.is_anonymous %}
                    <li class="dropdown nav-user">
                      <a href="#">
                        {% avatar_user user%}
                      </a>

                      {% notificacoes_unread %}

                      <ul class="dropdown-menu">
                        <li class=" text-right"><a href="{% url 'cmj.core:logout' %}">{% trans "Sair" %}</a></li>
                        <li  class="divider"></li>
                        <li class=" text-right"><a href="{% url 'cmj.core:cmj_user_change' %}">{{ user.get_full_name|default:user.email }} <i class="fa fa-hand-o-left" aria-hidden="true"></i> {% trans "Meu Perfil" %}</a></li>
                        <li  class="divider"></li>
                        {% if perms.ouvidoria and not user.is_superuser %}
                          <li class=" text-right"><a href="{% url 'cmj.ouvidoria:solicitacao_manage_list' %}">{{user.areatrabalho_set.all.first.nome}} <i class="fa fa-hand-o-left" aria-hidden="true"></i> {% trans "Ouvidoria" %}</a></li>
                        {% endif %}
                        {% if not user.is_superuser %}
                          <li class=" text-right"><a href="{% url 'cmj.ouvidoria:solicitacao_list' %}">{% trans "Minhas Solicitações" %}</a></li>
                          <li class="divider"></li>
                        {% endif %}


                          <li class=" text-right">
                            <a href="#linkMenu">{% trans "Intranet" %}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li><a href="https://correio.interlegis.leg.br">{% trans "Webmail" %}</a></li>
                              <li><a href="http://gestaopublica.camara.jatai.bsit-br.com.br">{% trans "Gestão Pública" %}</a></li>
                            </ul>
                          </li>
                      </ul>
                    </li>
                  {% else %}
                    <li>
                      <a href="#linkMenu" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Acessar" %}<span class="caret"></span></a>
                      <ul class="dropdown-menu">

                        <li><a href="{% url 'cmj.core:login' %}">{% trans "Portal" %}</a></li>

                        <li class=" text-right">
                          <a href="#linkMenu"  role="button" aria-haspopup="true" aria-expanded="false">{% trans "Intranet" %}<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li class="text-right"><a href="https://correio.interlegis.leg.br">{% trans "Webmail" %}</a></li>
                            <li class="text-right"><a href="http://gestaopublica.camara.jatai.bsit-br.com.br">{% trans "Gestão Pública" %}</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  {% endif %}
                </ul>
              </div>
            </div>
        </nav>

        {% block global_container %}
          {% block navigation %}
            <nav class="navbar navbar-menu navbar-expand-lg navbar-dark">
              <div class="container{{fluid}}">
                <div class="navbar-collapse collapse" id="navbar-menu">
                  <ul class="navbar-nav" id="menu_content">

                    {% if user.is_superuser %}
                      {% navbar 'navbar/navbar_superuser.yaml' %}
                    {% elif perms.materia.add_proposicao %}
                      {% navbar 'navbar/navbar_autor.yaml' %}
                    {% elif areatrabalho%}
                      {% navbar 'navbar/navbar_areatrabalho.yaml' %}
                    {% else %}
                      {% navbar 'navbar/navbar_public.yaml' %}
                    {% endif %}
                  </ul>

                  {% include "base_menu_right.html" %}
                </div>
              </div>
            </nav>

          {% endblock navigation %}

          {% block canais_diretos %}
            {% include "base_sidebar.html" %}
          {% endblock canais_diretos%}

          {# Header #}
          {% block main_header %}
            <header class="masthead">
              <div class="container{{fluid}}">
                  {% block sections_nav %}{% subnav %}{% endblock sections_nav %}
              </div>
            </header>
          {% endblock main_header %}
          <main id="content" class="content page__row screen-lg">
          {% block content_container %}
              <div class="{% block main_container_class %}container container{{fluid}}{{path}} container-box{% endblock %}">

                {% block base_functions %}{% endblock %}
                {% block base_container_header %}
                  {% block base_header %}
                    <div class="clearfix">
                      {% block title %}
                        <h1 class="page-header {{bg_title}}">
                          {% if title %}
                            {{ title|safe|linebreaksbr }}
                          {% elif view.title %}
                            {{ view.title|safe|linebreaksbr }}
                          {% elif object %}
                            {{ object|safe|linebreaksbr }}
                          {% endif %}
                        </h1>
                      {% endblock %}
                    </div>
                  {% endblock base_header %}
                {% endblock base_container_header %}

                {% block base_workspace %}
                  {% if view.is_contained %}
                    <div class="box-area-trabalho">
                      {% for at in areatrabalho %}
                          <a>{{at.nome}}</a>
                      {% endfor %}
                    </div>
                  {% endif %}
                {% endblock base_workspace %}

                {# Feedback messages #}
                {% for message in messages %}
                  <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message|safe }}
                  </div>
                {% endfor %}

                {% block base_content %}



                {% endblock %}
              </div>

              {% block cmj_extra_content %}{% endblock %}
          {% endblock content_container %}
            </main>
        {% endblock global_container %}
      </div>
    {% block login_container %}
    {% endblock%}


    <footer id="rodape_access">
      <div class="container-fluid">
        <div class="container">
          <ul>
            {% menu 'menu_footer.yaml'%}
          </ul>
        </div>
      </div>
      <div class="container-fluid">
        <div class="container">
          <ul>
            {% menu 'menu_footer_base.yaml'%}
          </ul>
          Departamento de Tecnologia de Informação e Comunicação
        </div>
      </div>

      <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
        </div>
      </div>
    </footer>

    {% endblock root_body %}

    {% block foot_js %}

        {% block webpack_loader_js %}
          {% render_chunk_vendors 'js' %}
          {% render_bundle  'app' 'js' %}
        {% endblock webpack_loader_js %}

      {% block extra_js %}{% endblock %}

    {% endblock foot_js %}

    {% block widgets_form_js %}{% endblock widgets_form_js %}

    {% if not DEBUG %}
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2431536-7"></script>
      <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
      <script>

        {% if not perms.materia %}
          new window.VLibras.Widget('https://vlibras.gov.br/app');
        {% endif %}

        window.fbAsyncInit = function () {
          FB.init({
            appId      : '{% settings_key_tag 'SOCIAL_AUTH_FACEBOOK_KEY' %}',
            cookie     : true,
            xfbml      : true,
            version    : 'v6.0'
          });

          FB.AppEvents.logPageView();

          FB.getLoginStatus(function(response) {
              //console.log(response);
          });
        };

        (function (d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/pt_BR/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));

        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-2431536-7');
      </script>
    {% endif %}
  </div>
  </body>
</html>

