{% load i18n staticfiles menus common_cmj_tags cropping %}
{% load webpack_static from webpack_loader %}

<header class="main {% if not user.is_authenticated or view.raiz %}header-top{% endif %}" v-on:click.passive="teste">

  <div :class="['container-fluid', portalmenu_opened ? 'opened': 'closed']" id="nav-top-container">
    <div class="container">
      <div class="row">

        <div id="accessactions">
          <div class="btn-group" role="group">
            <a href="#main_content" accesskey="1">Ir para Conteúdo<span class="badge badge-light">1</span></a>
            <a href="#menu_content" accesskey="2">Ir para Menu<span class="badge badge-light">2</span></a>
            <a href="#rodape_access" accesskey="3">Ir para Rodapé<span class="badge badge-light">3</span></a>
          </div>
        </div>

        {% block social_links %}
          <div class="navbar-social-links" id="socialactions">
            <a href="/online/" class="icon-sessoes-online" title="Sessão Plenária Online - Atualização em tempo real"><span>Sessões Online</span></a>
            <a href="/estatisticas/" title="Estatisticas de Dados do Portal"><i class="far fa-chart-bar"></i></a>
            <a href="https://soundcloud.com/camara-de-jatai"><i class="fab fa-soundcloud" aria-hidden="true"></i><span>SoundCloud</span></a>

            <a class="facebook" href="https://www.facebook.com/cmjatai"><span>Facebook</span></a>
            <a class="youtube" href="https://www.youtube.com/C%C3%A2maraMunicipalJata%C3%AD?sub_confirmation=1"><span>YouTube</span></a>
            <a class="twitter" href="https://twitter.com/cmjatai"><span>Twitter</span></a>
            <a class="instagram" href="http://instagram.com/cmjatai"><span>Instagram</span></a>
          </div>
        {% endblock %}

        <a href="#" id="altocontraste" accesskey="4" onclick="window.toggleContrast()" onkeydown="window.toggleContrast()"><i class="fas fa-adjust" aria-hidden="true"></i>Alto Contraste</a>

        {% include 'base_header_user.html' %}

      </div>

    </div>
  </div>

  <div class="container">
    <div class="row" id="rowlogo">
      <div :class="['col-auto', searching ]" id="portallogo">
        <div class="navbar">
          <a class="navbar-brand" href="{{site_url}}/">
            <img src="{% webpack_static 'brasao/brasao_256.png' %}">
            <div class="brand-name">
              <span>
                Câmara Municipal de
              </span>
              <span class="brand-cidade">
                Jataí
              </span>
              <span class="brand-estado">
                Poder Legislativo
              </span>
            </div>
          </a>
        </div>
      </div>

      {% include 'base_header_portalactions.html' %}

      <div id="portalsearch" :class="['col-auto', searching ]" >
        <div class="form-search">
          <form method="post" action="{% url 'cmj.core:haystack_search'%}">
            {% csrf_token %}
            <div class="inner">
              <div class="item-form">
                <input type="search" name="q" id="id_q"
                  placeholder="Busca Textual"
                  class="textinput textInput form-control"
                    autocomplete="off"
                    v-on:blur="handleBlurSearch"
                    v-on:focus="handleFocusSearch"
                    />
              </div>
              <div class="item-form">
                <button  class="button" type="submit"value="">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div id="portalbtnmenu"
        :class="['col-auto', searching ]">
        {% block button_toogle_main %}
          <span type="button" class="navbar-toggler" v-on:click="handleClickPortalMenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </span>
        {% endblock %}
      </div>
    </div>

  </div>
</header>
