{% load i18n %}
{% load compilacao_filters %}
{% load common_cmj_tags common_tags%}

<strong>
  <a class="text-epigrafe text-{{ cert.content_object|meta_model_value:'model_name' }}" href="{% url 'sapl.norma:normajuridica_detail' n.pk %}">
    {% if n.is_signed %}
      <i class="fas fa-1x fa-certificate" title="Documento possui versão com Assinatura Digital, entre nos detalhes do documento para abrir o Arquivo Original"></i>
    {% endif %}
    {{ n }}
  </a>
</strong>
<br>
<small>
  {{n.ementa}}
</small>