{% extends "crud/list.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block base_content %}
  {% if not show_results %}
    {% crispy filter.form %}
  {% endif %}

  {% if show_results %}
    <br>

    {% if 'legislatura_atual' not in request.GET %}
      <div class="actions btn-group float-right" role="group">
        <a href="{% url 'sapl.base:materia_por_autor' %}" class="btn btn-outline-primary">{% trans 'Fazer nova pesquisa' %}</a>
      </div>
      <br /><br />
      <b>PARÂMETROS DE PESQUISA:<br /></b>
      &emsp;Autor: <strong>{{ autor }}</strong><br />
      &emsp;Tipo de matéria: {{ tipo }}<br />
      &emsp;Data de apresentação: {{periodo}}<br /><br />
    {% endif %}


    <table class="table table-bordered table-hover">
      {% for qtd in qtdes %}
        {% if forloop.first %}
          <thead class="thead-default" >
            <tr class="active"><th colspan="3" class="text-center">QUADRO GERAL</th></tr>
            <tr class="active">
              <th>Quantidade</th>
              <th colspan="2">Tipo Matéria</th>
            </tr>
          </thead>
          <tbody>
        {% endif %}
        <tr>
          <td style="text-align: center;">{{qtd.total}}</td>
          <td colspan="2">
            <a href="{% url 'sapl.materia:pesquisar_materia' %}?tipo={{qtd.tipo__id}}&data_apresentacao_0={{REQUEST_GET.data_apresentacao_0}}&data_apresentacao_1={{REQUEST_GET.data_apresentacao_1}}&autoria__autor={{REQUEST_GET.autoria__autor}}">
              {{qtd.tipo__sigla}} - {{qtd.tipo__descricao}}
            </a>
          </td>
        </tr>
        {% if forloop.last %}
          <tr>
            <td colspan="3">Total: {{qtdes_total}}</td>
          </tr>
          </tbody>
        {% endif %}
      {% endfor %}
    </table>
    <br>
    {% if result_dict %}
      <table class="table table-bordered table-hover">
      {% for autor, anos in result_dict.items %}
        <tr style="border-left: hidden; border-right: hidden;"><th colspan="2"></th></tr>
        <tr><th colspan="2" class="text-center">Autor: {{ autor }}</th></tr>
        {% for ano, materias in anos.items %}
          <tr><th colspan="2" class="text-center">Ano: {{ ano }}</th></tr>
          {% for materia in materias %}
            {% if forloop.first %}
              <tr class="active">
                <th width="20%">Matéria</th>
                <th>Ementa</th>
              </tr>
            {% endif %}
            <tr>
              <td>
                <a href="{% url 'sapl.materia:materialegislativa_detail' materia.pk %}">
                  {{materia.tipo.sigla}} {{materia.numero}}/{{materia.ano}}
                </a>
              </td>
              <td>{% autoescape off %}{{materia.ementa}}<br>{{materia.observacao}}{% endautoescape %}</td>
            </tr>
          {% endfor %}
        {% empty%}
        <tr>
          <td colspan="2">
            <span>Não foram encontradas matérias com os parâmetros pesquisados.</span>
          </td>
        </tr>
        {% endfor %}
      {% endfor %}
      </table>
    {% else %}
      {% if not qtdes %}
        <h4>Não foram encontradas matérias com os parâmetros pesquisados.</h4>
      {% endif %}
    {% endif %}

  {% endif %}

{% endblock base_content %}
