{% extends "base.html" %}
{% load i18n cache common_cmj_tags %}
{% block body_class %}body-initial{% endblock body_class %}
{% block base_header %}{% endblock %}
{% block second_header %}{% endblock %}
{% block base_functions %}{% endblock %}
{% block main_container_class %}container-fluid p-0 container{{fluid}}{{path}}{% endblock %}
{% block content_container %}{{ block.super }}{% endblock %}
{% block base_content %}

{% if perms.sigad.change_documento %}
  {% include "path/pagina_inicial_parte1.html" %}
{% else %}
  {% cache 86400 portalcmj_pagina_inicial_parte1 %}
    {% include "path/pagina_inicial_parte1.html" %}
  {% endcache %}
{% endif %}

{% cache 60 portalcmj_pagina_inicial_parte2 %}
{% with ""|transmissao_ao_vivo as aovivo %}
{% if aovivo.exists %}
<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      {% include "path/pagina_inicial_video_aovivo.html" %}
    </div>
  </div>
</div>
{% endif %}
{% endwith %}
{% endcache %}

{% if perms.sigad.change_documento %}
  {% include "path/pagina_inicial_parte3.html" %}
{% else %}
  {% cache 86400 portalcmj_pagina_inicial_parte3 %}
    {% include "path/pagina_inicial_parte3.html" %}
  {% endcache %}
{% endif %}

{% endblock %}
{% comment %}
  {% include "path/pagina_inicial_links.html" %}
  {% include "path/pagina_inicial_ultimas_publicacoes.html" %}
  {% include "path/pagina_inicial_noticias_procuradoria.html" %}
{% endcomment %}