{% load i18n menus %}

<div class="container-fluid container-servicos">
  <div class="container">
    {% with 'servicos'|app_pntp_content:'' as pntp_data %}
      {% if pntp_data %}
        <div class="header-servicos">
          <h1 class="title-container ">Acesso Rápido aos Serviços CMJ</h1>
          <ol class="nav nav-pills justify-content-end" id="servicosTabs" role="tablist">
            {% for tab_id in pntp_data.root.childs %}
              {% with tab=pntp_data.items|get_item:tab_id %}
                {% if tab %}
                  <li class="nav-item d-flex">
                    <a class="nav-link {% if forloop.first %}active{% endif %}"
                      id="servicos-tab-{{ tab.id }}"
                      data-toggle="tab"
                      href="#servicos-pane-{{ tab.id }}"
                      role="tab"
                      aria-controls="servicos-pane-{{ tab.id }}"
                      aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                      {% if tab.icon_classe %}<i class="{{ tab.icon_classe }} mr-1"></i>{% endif %}
                      {{ tab.titulo }}
                    </a>
                    {% if user.is_superuser %}
                      <a class="btn-edit-classe" href="{% url "cmj.sigad:subclasse_list" tab.id %}"><i class="fas fa-edit"></i></a>
                    {% endif %}
                  </li>
                {% endif %}
              {% endwith %}
            {% endfor %}
          </ol>
        </div>
        <div class="tab-content servicos-tab-content" id="servicosTabContent">
          {% for tab_id in pntp_data.root.childs %}
            {% with tab=pntp_data.items|get_item:tab_id %}
              {% if tab %}
                <div class="tab-pane fade {% if forloop.first %}show active{% endif %}"
                    id="servicos-pane-{{ tab.id }}"
                    role="tabpanel"
                    aria-labelledby="servicos-tab-{{ tab.id }}">
                  <div class="row-servicos">
                    {% for item_id in tab.childs %}
                      {% with item=pntp_data.items|get_item:item_id %}
                        {% if item %}
                          <div class="col-servicos">
                            <div class="inner-servico">
                              <a href="/{{ item.slug }}" class="link-servico">
                                <div class="inner-link">
                                  {% if item.icon_classe %}
                                  <i class="{{ item.icon_classe }}"></i>
                                  {% endif %}
                                  <span class="font-weight-bold mb-auto">{{ item.titulo }}</span>

                                </div>
                              </a>
                            </div>
                            {% if user.is_superuser %}
                              <a class="btn-edit-classe" href="{% url "cmj.sigad:subclasse_list" item.id %}"><i class="fas fa-edit"></i></a>
                            {% endif %}
                          </div>
                        {% endif %}
                      {% endwith %}
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
            {% endwith %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endwith %}
</div>