{% extends "base_path.html" %}
{% load i18n sigad_filters menus common_cmj_tags%}
{% block historico_publicacao %}{% endblock %}
{% block main_container_class %}container{% endblock %}

{% block head_content %}
  {% with request.GET.categoria|default:"" as categoria %}
    {% with object|app_pntp_content:categoria as pntp_data %}
      {{ pntp_data|json_script:"pntp-data" }}
    {% endwith %}
  {% endwith %}
{% endblock %}

{% block title %}

{% endblock title %}
{% block controls_content %}
  {% if perms.sigad.change_classe %}
    <a class="btn btn-outline-primary" href="{% url 'cmj.sigad:subclasse_list' object.id %}">{% trans "Admin" %}</a>
  {% endif %}
  {% if perms.sigad.add_documento %}
    <a class="btn btn-outline-primary" href="{% url create_doc_url object.id %}">{% trans "Adicionar item a" %} {{object }}</a>
  {% endif %}
{% endblock %}
{% block appvue_content %}
  <div class="container-app-pntp">
    <div id="app">
      <app-pntp :classe_id="{{object.id}}">
      </app-pntp>
    </div>
  </div>
{% endblock appvue_content %}

{% block base_content %}

{% endblock %}

{% block cmj_extra_content %}
{% endblock %}
