.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
  background-image: url(../oficial/assets/icon.svg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
}

.icon_atividade_legislativa {
  background-image: url(../oficial/assets/icon_atividade_legislativa.svg);
}

.icon_ouvidoria {
  //background-image: url(../oficial/assets/icon_ouvidoria.svg);
}

.icon_doc_adm {
  background-image: url(../oficial/assets/icon_doc_adm.svg);
}

.icon_tv_radio_camara {
  //background-image: url(../oficial/assets/icon_prestacao_contas.svg);
}

.icon_prestacao_contas {
  background-image: url(../oficial/assets/icon_prestacao_contas.svg);
}
