
$circle_avatar: (1: 256, 2: 160, 3: 128, 4: 96, 5: 64, 6: 48, 7: 40, 8: 36, 9: 24);


@each $i, $size_avatar in $circle_avatar {
  .avatar#{$i} {
    width: #{$size_avatar}px;
    height: #{$size_avatar}px;
  }
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  opacity: 0.75;

  &:hover {
    opacity: 1;
  }

  img {
    height: 100%;
    width: 100%;
  }
}

.container-avatar {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .line-avatar {
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
  }
  small {
    text-align: center;
    border-top: 1px solid #ccc;
  }

  .subscricoes {
    display: inline-flex;
    flex-direction: column;
    .line-avatar {
      flex-direction: row;
      justify-content: flex-end;
    }
  }
  a {
    margin: 3px;
  }
}


@media screen and (max-width: 767.98px) {

  $circle_avatar: (1: 192, 2: 128, 3: 96, 4: 64, 5: 36, 6: 48, 7: 40, 8: 36, 9: 24);


  @each $i, $size_avatar in $circle_avatar {
    .avatar#{$i} {
      width: #{$size_avatar}px;
      height: #{$size_avatar}px;
    }
  }

  .container-avatar {
    flex-direction: row;
    align-items: flex-start;
    .line-avatar {
      flex-direction: column;
    }
  }
}