
.container-videos {
  margin-top: -20px;
  .carousel {
    margin-bottom: 0px;
  }
  .carousel-caption {
    font-size: 100%;
  }
  .navbar-social-links {
    padding-top: 10px;
    i {
      color: rgba(white, 0.6);
    }
  }

  .btn-play {
    text-align: center;
    height: auto;
    line-height: 400px;
    font-size: 1.7em;
    color: rgba(white,0.3);
    .fa-play {
      border: .15em solid rgba(white,0.3);
      border-radius: 50%;
      padding: 0.5em 0 0 0.2em;
      width: 2.3em;
      height: 2.3em;
    }
    .titulo {
      font-size: 90%;
    }
    p {
      font-size: 70%;
    }
    &:hover {
      color: rgba(white,0.9);
      .fa-play {
        border-color: rgba(white,0.9);
      }
    }

  }
  .video-list {
    display: table;
    font-size: 0px;
    .item {
      display: inline-block;
      width: calc(33.33%);
      vertical-align: top;
      padding: 20px 10px 0;
      font-size: 2.5rem;
    }
    .inner {
      position: relative;
      color: white;
    }

    .inner-text {
      line-height: 1em;
      position: absolute;
      bottom: 0px;
      font-size: 65%;
      padding: 0px 10px 10px;
      color: white;
      width: 100%;
      transition: all 0.5s ease;

      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 1) 100%);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 1) 100%);
      span {
        display: block;
        width: 100%;
      }
      .titulo {
        padding-top: 10%;
      }
      .descricao {
        height: 0;
        overflow: hidden;
        font-size: 95%;
      }
    }
    .btn-play {
      width: 100%;
      display: inline-block;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% center;
      line-height: 200px;
      font-size: 1em;
      .fa-play {
        color: transparent;
        border: .1em solid transparent;
        border-radius: 50%;
        padding: 0.44em 0 0 0.205em;
        width: 2em;
        height: 2em;
      }
      &:hover {
        box-shadow: 2px 2px 6px #bba;
        .fa-play {
          color: rgba(white,0.8);
          border-color: rgba(white,0.8);
        }
        .descricao {
          height: auto;
          position: absolute;
          top: 100%;
          margin-top: -5px;
          z-index: 1020;
          background: darken($color_topo_bg, 5%) $url_bg_png;
          box-shadow: 2px 2px 6px #444;
          padding: 10px;
          border: 1px solid rgba(white, 0.2);
        }
        .titulo {
          font-weight: bold;
          padding-top: 40%;
        }
      }
    }
  }
}