
.navbar-topo {
  a.navbar-brand {
    padding-left: 15px;
  }
  .container::before {
    content: " ";
    background: url(./img/outubro_rosa.png) no-repeat top left;
    background-size: 48px 48px;
    opacity: 1;
    top: 16px;
    left: 0px;
    width: 48px;
    height: 48px;
    position: absolute; 
    z-index: 1;
  }
}
.navbar-menu {
  z-index: 1;
}
.header-accessibility {
  .container {
    padding-left: 44px;
  }
}
@media screen and (max-width: 992px) {
  
  #pagina-inicial {
    .navbar-topo {
      .container::before {
        top: 104px;
      }
    }
  }
}