
$color_topo_bg: #006556;
$color_topo_border: #f0efe7;

$color_text_inverse: #4effa0;
$color_text: #006556;

$color_main_bg: #f0efe7;

$color_container_bg: rgba(255, 255, 255, 0.5);
$color_container_border: white;

$hover_background_05p: rgba(0,0,0,0.05);
$hover_background_10p: rgba(0,0,0,0.1);
$hover_background_20p: rgba(0,0,0,0.2);
$hover_background_50p: rgba(0,0,0,0.5);
$hover_background_10pw: rgba(205,255,200,0.1);
$hover_background_20pw: rgba(205,255,200,.2);


// variaveis bootstrap ########################################
$grid-gutter-width: 20px !default;

$menu-height: 40px !default;
$padding-menu-top: 5px !default;

$screen-md:                     1092px !default;
$container-desktop:            (1040px + $grid-gutter-width) !default;

$screen-lg:                    1400px !default;
$container-large-desktop:      (1340px + $grid-gutter-width) !default;

// variaveis bootstrap ########################################
@import "bootstrap/variables";
