
.navbar-brand {

  .brand-name {
    position: relative;
    &::before {
      content: " ";
      position: absolute;
      background-image: url(~@/__globals/2018/themes/abril_azul/img/abril_azul_laco.png);
      background-position: top left;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      left: 0%;
      bottom: -20px;
      margin-left: -10px;
      width: 50px;
      height: 70px;

      transition: all 1s ease-in-out;
    }
    &:hover {
      /*text-shadow: 0 0 1em  #fff,
      1em 0 1em #f00,
      0 1em 1em #ff0,
      -1em 0 1em #0f0,
      0 -1em 1em #0ff,
      -1em -1em 1em #00f,
      1em 1em 1em #f0f;*/
      cursor: default;
      &::before {
        transition: all 0.5s ease-in-out;
        width: 155%;
        height: 155%;
        margin-bottom: -7px;
        border-radius: 50%;
        background-image: url(~@/__globals/2018/themes/abril_azul/img/abril_azul.png);
        background-size: 100% 100%;
        box-shadow:
        //0 0 5em 1em #fff,
        0.6em 0 0.6em -0.3em #f00,
        0 0.6em 0.6em -0.3em #ff0,
        -0.6em 0 0.6em -0.3em #0f0,
        0 -0.4em 0.6em -0.3em #0ff,
        0em -0.6em 0.6em -0.3em #00f,



        ;

        /*
        0 0 0.5em  #fff,
        0.5em 0 0.5em #f00,
        0 0.5em 0.5em #ff0,
        -0.5em 0 0.5em #0f0,
        0 -0.5em 0.5em #0ff,
        -0.5em -0.5em 0.5em #00f,
        0.5em 0.5em 0.5em #f0f;

        box-shadow1: 0 0 0.5em  #fff,
        0.5em 0 0.5em #f00,
        0 0.5em 0.5em #ff0,
        -0.5em 0 0.5em #0f0,
        0 -0.5em 0.5em #0ff,
        -0.5em -0.5em 0.5em #00f,
        0.5em 0.5em 0.5em #f0f;*/
      }
    }
  }
}

#portallogo {
  .navbar-brand {
    .brand-estado {
      text-align: right;
    }
  }
}

@media screen and (max-width: 991.98px) {
  #portallogo {
    .navbar-brand {
      .brand-estado {
        text-align: center;
      }
    }
  }
  .navbar-brand {

    .brand-name {
      //position: relative;
      &::before {
        //content: " ";
        //position: absolute;
        background-image: url(~@/__globals/2018/themes/abril_azul/img/abril_azul_laco1.png);
        //background-position: top left;
        //background-repeat: no-repeat;
        //background-size: auto 100%;
        //background-position: top right;
        left: 100%;
        margin-left: -5px;
        bottom: -12px;
        width: 42px;
        height: 60px;
        transition: all 1s ease-in-out;
      }
      &:hover {
        &::before {
          left: 0%;
          bottom: -8px;
        }
      }
    }
  }
}