{% extends "base.html" %}
{% load i18n common_cmj_tags %}

{% block base_header %}{% endblock %}

{% block second_header %}
{% endblock %}
{% block base_functions %}{% endblock %}
{% block main_container_class %}container-fluid p-0 container{{fluid}}{{path}}{% endblock %}
{% block base_content %}

  <div class="container">
    {% if user.is_anonymous and ""|transmissao_ao_vivo %}
      <div class="row justify-content-center mt-4">
        <div class="col-12" id="aovivo_content">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/live_stream?channel=UCZXKjzKW2n1w4JQ3bYlrA-w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    {% endif %}
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 pr-lg-0 mt-lg-4 mt-3" id="main_content">
        {% include "path/pagina_inicial_noticias_principais.html" %}
      </div>
      <div class="col-lg-4 d-flex flex-column mt-lg-4 pl-lg-1">
        {% include "path/pagina_inicial_buttons.html" %}
        </div>
    </div>
  </div>

    {% include "path/pagina_inicial_ultimos_videos.html" %}

  <div class="container">
    <div class="row">

      <div class="col-lg-6">
        {% include "path/pagina_inicial_noticias_secudarias.html" %}
      </div>

      <div class="col-lg-6">
        {% include "path/pagina_inicial_links.html" %}

        {% with noticias_dos_parlamentares as object_list %}
          {% include "path/pagina_inicial_noticia_parlamentares.html" %}
        {% endwith %}
      </div>

      <div class="col-lg-12">
        {% include "path/pagina_inicial_ultimas_publicacoes.html" %}
        {% comment %}
          {% include "path/pagina_inicial_noticias_procuradoria.html" %}
        {% endcomment %}
      </div>
    </div>
  </div>
{% endblock %}
