{% load i18n sigad_filters social_utils common_cmj_tags%}
<div class="container-videos pagina-inicial">
  <h2 class="title-container-noticias">
    TV Câmara
  </h2>

  <div class="container p-0 m-0">
    <div class="row video-list">
      {% with "col-12 col-md-3 col-sm-6" as grid %}
        {% for doc in ultimos_videos%}
            {% include 'path/path_galeria_video_item.html' %}
        {% endfor %}
      {% endwith %}
    </div>
    <div class="text-right p-2">
      <small>
        <small>
          <a href="/galerias/videos">VEJA MAIS VÍDEOS ></a>
        </small>
      </small>
    </div>
  </div>
</div>
