{% extends "base_path.html" %}
{% load i18n sigad_filters menus common_cmj_tags%}
{% block historico_publicacao %}{% endblock %}
{% block main_container_class %}container container-path container-list{% endblock %}
{% block title %}

{% endblock title %}
{% block controls_content %}
  {% if perms.sigad.change_classe %}
    <a class="btn btn-outline-primary" href="{% url 'cmj.sigad:subclasse_list' object.id %}">{% trans "Admin" %}</a>
  {% endif %}
  {% if perms.sigad.add_documento %}
    <a class="btn btn-outline-primary" href="{% url create_doc_url object.id %}">{% trans "Adicionar item a" %} {{object }}</a>
  {% endif %}
{% endblock %}

{% block base_content %}

<div class="row container-mapa-site">
  {% if user.is_superuser %}
    <div class="col-6">
      {% sigad_menu 'list_in_mapa' %}
    </div>
    <div class="col-6">
      <h1>Futuro Menu Geral</h1>
      {% sigad_menu 'list_in_menu' %}
    </div>
  {% else %}
    <div class="col-12">
      {% sigad_menu 'list_in_mapa' %}
  {% endif %}
</div>
{% endblock %}

{% block cmj_extra_content %}
{% endblock %}
