{% extends "base_path.html" %}
{% load i18n common_tags sigad_filters social_utils cropping thumbnail menus %}
{% load webpack_static from webpack_loader %}

{% block main_container_class %}container container-path-parlamentar{% endblock main_container_class %}
{% block base_functions %}{% endblock %}
{% block second_header %}{% endblock %}


{% block base_container_header %}
<div class="container-topo-parlamentar">
  {% if perms.sigad.change_classe %}
      <div class="btn-edit-destaques">
        <a href="{% url 'cmj.sigad:classe_edit' object.id %}">
          <i class="fas fa-edit" aria-hidden="true"></i>
        </a>
      </div>
  {% endif %}

  <div class="path-capa {% if not object.parlamentar.capa  %}path-capa-semfoto{% endif %}">
    <img src="{% thumbnail object.parlamentar.capa 9000x9000 box=object.parlamentar.capa_cropping crop detail %}">
  </div>


  <div class="container-fluid path-header">
    <div class="">
      <div class="inner">
        <div class="row d-flex w-100 align-items-center">
          <div class="col-3 col-sm-2 d-flex align-items-center">
            <a class="avatar" href="/{{ object.absolute_slug }}">
              {% if object.parlamentar.fotografia %}
                  <img src="{% thumbnail object.parlamentar.fotografia 9000x9000 box=object.parlamentar.fotografia_cropping crop detail %}">
              {% else %}
                  <img src="{% webpack_static 'img/perfil.jpg' %}">
              {% endif %}
            </a>
          </div>
          <div class="col w-100 d-flex justify-content-between align-items-center">
            {% social_link_share object %}
            <span class="title">
              {{ object.parlamentar }}
            </span>
          </div>

        </div>
        <header class="masthead">
          {% block sections_nav %}
            {% subnav 'parlamentares/subnav.yaml' object.parlamentar.id%}
          {% endblock sections_nav %}
        </header>
      </div>
    </div>
  </div>
</div>
{% endblock base_container_header %}

{% block base_header %}
  {% block controls_content %}
    {% if perms.sigad.change_classe %}
      <a href="{% url 'cmj.sigad:classe_edit' object.id %}">{% trans "[Editar]" %}</a>
    {% endif %}
  {% endblock %}
{% endblock %}

{% block base_content %}
  <div class="container container-path">

    <div class="row">
        {% with slug as prefixo_slug %}
            <div class="col widget-parlamentar">
              <div class="row">
                <div class="col-md-8">
                  <div id="div_id_nome_parlamentar" class="form-group">
                    <p class="control-label">Nome Parlamentar</p>
                    <div class="controls">
                        <div class="form-control-static">{{ object.parlamentar.nome_parlamentar }}</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div id="div_id_ativo" class="form-group">
                    <p class="control-label">Ativo na Casa?</p>
                    <div class="controls">
                        <div class="form-control-static">{{ object.parlamentar.get_ativo_display }}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div id="div_id_nome_completo" class="form-group">
                    <p class="control-label">Nome Completo</p>
                    <div class="controls">
                        <div class="form-control-static">{{ object.parlamentar.nome_completo }}</div>
                    </div>
                  </div>
                </div>
              </div>
              {% if object.parlamentar.ativo %}
                <div class="row">
                  <div class="col-12 col-xxl-8">
                    <div id="div_id_email" class="form-group">
                      <p class="control-label">E-mail</p>
                      <div class="controls">
                          <div class="form-control-static">{{ object.parlamentar.email }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-xxl-4">
                    <div id="div_id_telefone" class="form-group">
                      <p class="control-label">Telefone</p>
                      <div class="controls">
                          <div class="form-control-static">{{ object.parlamentar.telefone }}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
              {% endif %}

              {{object.parlamentar.equipe|markdown|safe}}
              <hr>

              {% if object.parlamentar.composicaomesa_set.exists %}
                {% with object.parlamentar as parlamentar %}
                  {% include "parlamentares/parlamentar_composicaomesa_widget.html" %}
                {% endwith %}
                <hr>
              {% endif %}

              {% if object.parlamentar.participacao_set.exists %}
                {% with object.parlamentar as parlamentar %}
                  {% include "comissoes/parlamentar_participacao_widget.html" %}
                {% endwith %}
                <hr>
              {% endif %}

              {% if object.parlamentar.biografia %}
                <div class="container-biografia">
                  <h1>
                    <strong>
                      Biografia do Parlamentar
                    </strong>
                  </h1>
                  {{object.parlamentar.biografia|safe}}
                </div>
              {% endif %}
            </div>
            <div class="col-12 col-sm-6 col-lg-7 col-xl-8 order-last order-sm-first ">
              {% with 0 as split_row %}
                {% with 'path-item-list px-2' as css_class %}
                  {% include "path/path_list_docs.html" %}
                {% endwith %}
              {% endwith %}
            </div>
        {% endwith %}
      </div>
      {% include "paginacao.html" %}
  </div>
{% endblock %}
