{% extends "path/path_classe.html" %}
{% load i18n sigad_filters social_utils common_cmj_tags %}
{% block main_container_class %}container-fluid container-path container-videos{% endblock %}
{% block base_functions %}
  {% if not user.is_anonymous and perms.sigad.change_documento or perms.sigad.change_classe%}
    {{block.super}}
  {% endif %}
{% endblock %}

{% block base_content %}
  {% with 'video_destaque'|caixa_publicacao:object as video_destaque %}
    {% if video_destaque and video_destaque.docs|length  %}
      <div id="carousel-custom" class="carousel carousel-custom slide" data-ride="carousel" data-interval="7000">
        <ol class="carousel-indicators">
          {% for d in  video_destaque.docs%}
            <li data-target="#carousel-custom" data-slide-to="{{forloop.counter0}}" {% if forloop.first %}class="active"{% endif %}></li>
          {% endfor %}
        </ol>
        {% if perms.sigad.change_documento %}
          <div class="btn-edit-destaques">
            <a href="{% url video_destaque.url_edit video_destaque.cp.pk %}" title="{% trans "Editar Caixa de Publicação" %}">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
          </div>
        {% endif %}
        <div class="carousel-inner" role="listbox">
          {% for d in  video_destaque.docs%}
            <div class="carousel-item {% if forloop.first %}active{% endif %}" >

              {% social_link_share d.0 'absolute-center'%}

              {% with d.0.imagem_representativa as imagem %}
                <a class="imagem btn-play d-block w-100" href="/{{d.0.slug}}" style="background-image: url({% if imagem %}/{{imagem.absolute_slug}}.512{%elif doc.extra_data.snippet%}{{d.0.extra_data.snippet.thumbnails.high.url}}{% else %}{{d.0.extra_data.thumbnails.high.url}}{% endif %})">
                  <div class="carousel-caption">
                    <div class="container-fluid">
                      <p>{{d.0.descricao}}</p>
                      <span class="titulo">{{d.0.titulo}}</span>
                    </div>
                  </div>
                  <i class="fa fa-play" aria-hidden="true"></i>
                </a>
              {% endwith %}

            </div>
          {% endfor %}
        </div>

        <!-- Controls -->
        <a class="carousel-control-prev" href="#carousel-custom" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class=" carousel-control-next" href="#carousel-custom" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    {% endif %}
  {% endwith %}


  <div class="row video-list">
    {% for doc  in object_list %}
      {% with doc.imagem_representativa as imagem %}
        <div class="item col-12 col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-6 ">
          <div class="inner">


            <div class="inner-imagem">
              {% comment %}{% social_link_share doc 'absolute-center'%}{% endcomment %}
              <a class="imagem" href="/{{doc.slug}}" style="background-image: url({% if imagem %}/{{imagem.absolute_slug}}.512{%elif doc.extra_data.snippet %}{{doc.extra_data.snippet.thumbnails.high.url}}{% else %}{{doc.extra_data.thumbnails.high.url}}{% endif %})">
                  <i class="fa fa-play" aria-hidden="true"></i>
              </a>
              {% if doc.extra_data.contentDetails.duration %}
                <span class="duration">
                {{ doc|video_duration }}
                </span>
              {% endif %}
            </div>
            <span class="data-pub d-none">
              <i class="far fa-clock" aria-hidden="true"></i>
                {{doc.public_date|date:"d"}} {% trans "de" %} {{doc.public_date|date:"F"}} {% trans "de" %} {{doc.public_date|date:"Y"}}
            </span>
            <div class="inner-text">
                <a class="btn-play" href="/{{doc.slug}}" >
                    <span class="titulo">{{doc.titulo}}</span>
                </a>
                <br>
                {% if doc.extra_data.statistics %}
                  <span class="statistics">
                    &#8226;
                    {% if doc.extra_data.statistics.viewCount == '0' %}
                      Nenhuma Visualização
                    {% elif doc.extra_data.statistics.viewCount == '1' %}
                      1 Visualização
                    {% else %}
                      {{ doc.extra_data.statistics.viewCount }} Visualizações
                    {% endif %}


                    {% if doc.extra_data.statistics.likeCount != '0' %}
                      &#8226; {{ doc.extra_data.statistics.likeCount }} <i class="fas fa-thumbs-up"></i>
                    {% endif %}
                    {% if doc.extra_data.statistics.dislikeCount != '0' %}
                      &#8226; {{ doc.extra_data.statistics.dislikeCount }} <i class="fas fa-thumbs-down"></i>
                    {% endif %}
                    <br>&#8226; há {{ doc.public_date|age:0}}
                  </span>
                {% endif %}
            </div>
          </div>
        </div>
      {% endwith %}
    {% endfor %}
  </div>

  {% include "paginacao.html" %}
{% endblock %}
