{% extends "path/path_classe.html" %}
{% load i18n sigad_filters social_utils common_cmj_tags %}
{% block main_container_class %}container-fluid container-path container-videos{% endblock %}
{% block base_functions %}
  {% if not user.is_anonymous and perms.sigad.change_documento or perms.sigad.change_classe%}
    {{block.super}}
  {% endif %}
{% endblock %}

{% block base_content %}
  {% with 'video_destaque'|caixa_publicacao:object as video_destaque %}
    {% if video_destaque and video_destaque.docs|length  %}
      <div id="carousel-custom" class="carousel carousel-custom slide" data-ride="carousel" data-interval="7000">
        <ol class="carousel-indicators">
          {% for d in  video_destaque.docs%}
            <li data-target="#carousel-custom" data-slide-to="{{forloop.counter0}}" {% if forloop.first %}class="active"{% endif %}></li>
          {% endfor %}
        </ol>
        {% if perms.sigad.change_documento %}
          <div class="btn-edit-destaques">
            <a href="{% url video_destaque.url_edit video_destaque.cp.pk %}" title="{% trans "Editar Caixa de Publicação" %}">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
          </div>
        {% endif %}
        <div class="carousel-inner" role="listbox">
          {% for d in  video_destaque.docs%}
            <div class="carousel-item {% if forloop.first %}active{% endif %}" >

              {% social_link_share d.0 'absolute-center'%}

              {% with d.0.imagem_representativa as imagem %}
                <a class="imagem btn-play d-block w-100" href="/{{d.0.slug}}" style="background-image: url({% if imagem %}/{{imagem.absolute_slug}}.512{%elif doc.extra_data.snippet%}{{d.0.extra_data.snippet.thumbnails.high.url}}{% else %}{{d.0.extra_data.thumbnails.high.url}}{% endif %})">
                  <div class="carousel-caption">
                    <div class="container-fluid">
                      <p>{{d.0.descricao}}</p>
                      <span class="titulo">{{d.0.titulo}}</span>
                    </div>
                  </div>
                  <i class="fa fa-play" aria-hidden="true"></i>
                </a>
              {% endwith %}

            </div>
          {% endfor %}
        </div>

        <!-- Controls -->
        <a class="carousel-control-prev" href="#carousel-custom" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class=" carousel-control-next" href="#carousel-custom" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    {% endif %}
  {% endwith %}


  <div class="row video-list">
    {% for doc in object_list %}
      {% include 'path/path_galeria_video_item.html' %}
    {% endfor %}
  </div>

  {% include "paginacao.html" %}
{% endblock %}
