
.navbar-topo {
  .navbar-collapse.show + div {
    display: none;
  }
  a.navbar-brand {
    padding-left: 15px;
  }
  .container::before {
    content: " ";
    background: url(~@/__globals/2018/themes/maiolaranja/img/maiolaranja.png) no-repeat top left;
    background-size: 50px 70px;
    opacity: 1;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 70px;
    position: absolute;
    z-index: -1;
  }
}
@media screen and (max-width: 991px) {

  .navbar-menu {
    z-index: 1;
  }

  .navbar-topo {
    z-index: 1;
    .container::before {
      top: 0px;
    }
  }
  .navbar-topo {
    .container::before {
      top: 0px;
      left: 40px;
      //right: 2px;
    }
  }
}