{% extends "base.html" %}
{% load i18n crispy_forms_tags staticfiles sass_tags %}

{% block head_content %}{{block.super}}
  <link rel="stylesheet" href="{% sass_src 'styles/login.scss' %}{% if DEBUG %}?time={% now "jS F Y H:i:s" %}{% endif %}" type="text/css">
{% endblock %}

{% block id_wrapper %}pagina-inicial{% endblock %}
{% block canais_absolute %}{% endblock %}

{% block menu_canais_relative %}
  <div class="container-fluid canais-columns">
    {% include "base_sidebar.html" %}
  </div>
{% endblock %}
{% block main_container_class %}container container-ouvidoria container-box container-login-inner{% endblock %}">

{% block title %}
<h1 class="page-header bg-blue">
  {% trans "Ouvidoria da Câmara Municipal de Jataí" %}
</h1>
{% endblock title %}

{% block base_content %}
<div class="inner-ouvidoria">

  <h3 class="text-center">Neste espaço a Câmara Municipal de Jataí disponibiliza a você um ambiente de comunicação<br>
    com a Ouvidoria Institucional e/ou com os Gabinetes Parlamentares.</h3>

  {% if user.is_anonymous %}
      {% include "core/user/login_portlet.html" %}
  {% else %}

    <div class="row actions">
      <div class="col-md-1">
      </div>
      <div class="col-md-2">
        <a href="{% url 'cmj.ouvidoria:solicitacao_create' %}?tipo=900" class="action bg-red-danger">
          <i class="fa fa-bullhorn fa-3x" aria-hidden="true"></i>
          <span>Denúncia</span>
        </a>
      </div>
      <div class="col-md-2">
        <a href="{% url 'cmj.ouvidoria:solicitacao_create' %}?tipo=40" class="action bg-yellow">
          <i class="fa fa-thumbs-down fa-3x" aria-hidden="true"></i>
          <span>Reclamação</span>
        </a>
      </div>
      <div class="col-md-2">
        <a href="{% url 'cmj.ouvidoria:solicitacao_create' %}?tipo=10" class="action bg-green">
          <i class="fa fa-user-plus fa-3x" aria-hidden="true"></i>
          <span>Solicitação</span>
        </a>
      </div>
      <div class="col-md-2">
        <a href="{% url 'cmj.ouvidoria:solicitacao_create' %}?tipo=30" class="action bg-orange">
          <i class="fa fa-commenting-o fa-3x" aria-hidden="true"></i>
          <span>Sugestão</span>
        </a>
      </div>
      <div class="col-md-2">
        <a href="{% url 'cmj.ouvidoria:solicitacao_create' %}?tipo=20" class="action bg-blue">
          <i class="fa fa-thumbs-up fa-3x" aria-hidden="true"></i>
          <span>Elogio</span>
        </a>
      </div>
    </div>
  {% endif %}
Para enviar uma denúncia sem se identificar, <a href="/fale-conosco/ouvidoria/denuncia-anonima">clique aqui.</a>
</div>
{% endblock %}
