{% extends "base.html" %}
{% load i18n crispy_forms_tags staticfiles cropping %}
{% block title %}
<h1 class="page-header {{bg_title}} ">
  {% if solicitacao.owner == user %}
    {% trans "Minha Solicitação" %} <small>({{solicitacao.get_tipo_display}})</small>
  {% else %}
    {% trans "Solicitação da Sociedade" %} <small>({% trans "Encaminhada por:" %} {{solicitacao.owner}})</small>
  {% endif %}
</h1>
{% endblock title %}

{% block base_content %}
  <div class="container-detail clearfix">
    <h2 class="legend">Dados Enviados</h2>
    <div class="row-fluid">
      <div class="col-sm-6">
        <div id="div_id_titulo" class="form-group">
          <p class="control-label">Título</p>
          <div class="controls">
            <div class="form-control-static">{{solicitacao.titulo}}</div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div id="div_id_created" class="form-group">
          <p class="control-label">Tipo:</p>
            <div class="form-control-static">{{ solicitacao.get_tipo_display }}</div>
        </div>
      </div>
      <div class="col-sm-3">
        <div id="div_id_created" class="form-group">
          <p class="control-label">Encaminhada em:</p>
            <div class="form-control-static">{{ solicitacao.created }}</div>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="col-sm-12">
        <div id="div_id_descricao" class="form-group">
          <p class="control-label">Descrição</p>
          <div class="controls">
            <div class="form-control-static">
              {{solicitacao.descricao|safe}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container-mensagens">
  {% for msg in solicitacao.mensagemsolicitacao_set.all %}
    <div class="{% if msg.owner == user %}container-logged-user{% else %}container-member {%if not forloop.counter0|divisibleby:2  %}odd{%endif%}{% endif %}">
      <a href="#" name="item-{{msg.pk}}"></a>
      <div class="inner">
        <div class="avatar">
          {% if msg.owner.avatar %}
            <img src="{% cropped_thumbnail msg.owner "cropping" %}">
          {% else %}
            {% for us in msg.owner.social_auth.all %}
              {% if us.provider == 'facebook' %}
                <img src="https://graph.facebook.com/v2.6/{{us.uid}}/picture?height=60" />
              {% elif us.provider == 'google-oauth2' %}
                <img src="{% static 'img/perfil.jpg' %}">
              {% endif %}
            {% empty %}
              <img src="{% static 'img/perfil.jpg' %}">
            {% endfor %}
          {% endif %}
        </div>
        <div class="mensagem">
          {{msg.descricao|safe}}
            {{msg.descricao|safe}}
              {{msg.descricao|safe}}
        </div>
        <div class="time" title="{{msg.created|date:"DATETIME_FORMAT"}}">
        há {{msg.created|timesince}}
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  {% endfor %}
</div>

<div class="container-resposta">
  <h2 class="page-subheader bg-olive ">
    {% trans "Postar Mensagem/Resposta" %}
  </h2>

  <div class="form-resposta">
    {% crispy form %}
  </div>
</div>
{% endblock %}
