{% extends "base.html" %}
{% load i18n crispy_forms_tags staticfiles cropping common_cmj_tags%}
{% block title %}
<h1 class="page-header {{bg_title}} ">
  {% if solicitacao.owner == user %}
    {% trans "Minha Solicitação" %} <small class="text-white">({{solicitacao.get_tipo_display}})</small>
  {% elif user.is_anonymous or solicitacao.owner is None %}
    {% trans "Denúncia Anônima" %}
  {% else %}
    {% trans "Solicitação da Sociedade" %}<br>
    <small class="text-white">
      ({% trans "Encaminhada por:" %} {{solicitacao.owner}} - {{solicitacao.owner.email}})
    </small>
  {% endif %}
</h1>
{% endblock title %}

{% block base_content %}
  <div class="container-detail clearfix">
    {% if user.is_anonymous and not msg.owner %}
      <div class="alert alert-secondary">
        <strong>ATENÇÃO...</strong> Guarde o link abaixo!!!<br>
        Com ele você poderá voltar a sua <strong>denúncia anônima</strong> e acompanhar as ações e interagir com a ouvidoria.
        <div class="form-clickboard input-group input-group-lg">
          <input class="form-control" readonly="readonly" type="text" value="https://www.jatai.go.leg.br{% url 'cmj.ouvidoria:solicitacao_interact_hash' solicitacao.hash_code solicitacao.pk %}" id="input-copy-clipboard">
          <div class="input-group-append">
            <button onclick="copyInputClipboard()" class="btn btn-outline-primary" type="button">
              <i class="far fa-clipboard"></i> Copiar Link
            </button>
          </div>
        </div>
      </div>
    {% else %}
    <br>
    <br>
    {% endif %}
    <h2 class="legend">Dados Enviados</h2>
    <div class="row">
      <div class="col-sm-6">
        <div id="div_id_titulo" class="form-group">
          <p class="control-label">Título</p>
          <div class="controls">
            <div class="form-control-static">{{solicitacao.titulo}}</div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div id="div_id_created" class="form-group">
          <p class="control-label">Tipo:</p>
            <div class="form-control-static">{{ solicitacao.get_tipo_display }}</div>
        </div>
      </div>
      <div class="col-sm-4">
        <div id="div_id_created" class="form-group">
          <p class="control-label">Encaminhada em:</p>
            <div class="form-control-static">{{ solicitacao.created }}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div id="div_id_descricao" class="form-group">
          <p class="control-label">Descrição</p>
          <div class="controls">
            <div class="form-control-static">
              {{solicitacao.descricao|safe}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container-mensagens">
  {% for msg in solicitacao.mensagemsolicitacao_set.all %} 
    <div class="{% if msg.owner == user or user.is_anonymous and not msg.owner %}container-logged-user{% else %}container-member {%if not forloop.counter0|divisibleby:2  %}odd{%endif%}{% endif %}">
      <a href="#" name="item-{{msg.pk}}"></a>
      <div class="inner">
        <div class="avatar">
          {% avatar_user msg.owner%}
        </div>
        <div class="mensagem">
          {{msg.descricao|safe}}

          {% if msg.anexo %}
            <div class="msg-anexo">
              {% if msg.content_type|startswith:'image' %}
                {% if user.is_anonymous and solicitacao.owner is None %}
                  <img src="{% url 'cmj.ouvidoria:anexo_mensagem_view_hash' solicitacao.hash_code msg.id %}">
                {% else %}
                  <img src="{% url 'cmj.ouvidoria:anexo_mensagem_view' msg.id %}">
                {% endif %}
              {% else %}
                <div class="link">
                  {% if user.is_anonymous and solicitacao.owner is None %}
                    <a target="_blank" href="{% url 'cmj.ouvidoria:anexo_mensagem_view_hash' solicitacao.hash_code msg.id %}" title="Download Anexo">
                      <i class="fas fa-archive"></i> Anexo a mensagem.
                    </a>
                  {% else %}
                    <a target="_blank" href="{% url 'cmj.ouvidoria:anexo_mensagem_view' msg.id %}" title="Download Anexo">
                      <i class="fas fa-archive"></i> Anexo a mensagem.
                    </a>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          {% endif %}
        </div>
        <div class="time" title="{{msg.created|date:"DATETIME_FORMAT"}}">
        há {{msg.created|timesince}}
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  {% endfor %}
</div>

<div class="container-resposta">
  <h2 class="page-subheader bg-olive ">
    {% trans "Postar Mensagem/Resposta" %}
  </h2>

  <div class="form-resposta">
    {% crispy form %}
  </div>
</div>
{% endblock %}


{% block extra_js %}
		<script language="JavaScript">
			initTextRichEditor(null);
		</script>
{% endblock %}
