{% extends "base.html" %}
{% load i18n common_cmj_tags%}

{% block title %}
  <h1 class="page-header">
    {% trans "Minhas Solicitações" %}
  </h1>
{% endblock title %}

{% block base_content %}


    <div class="alert alert-info">
      <ul>
        <li>
          Para fazer uma solicitação e obter resposta, utilize a opção "Abrir Nova Solicitação"
        </li>
        <li>
          Caso opte por "Fazer uma Denúnica Anônima" você será desconectado e sua denúncia será encaminhada sem qualquer vínvulo com seu usuário mas desta forma não será possível obter qualquer resposta."
        </li>
      </ul>
    </div>
    <div class="context-actions clearfix">
      <div class="actions btn-group-lg pull-right" role="group">
    {% for url, css_class, text in view.extras_url %}
      <a href="{{url}}" class="btn {{css_class}}">
            {{text}}
          </a>
        {% endfor %}
      </div>
    </div>




  {% if not object_list %}
    <p>{{ NO_ENTRIES_MSG }}</p>
  {% else %}
    <div class="container-table">
      <div class="result-count">
        <strong>{{count}} {% if count > 1%}{% trans "Solicitações" %}{% else %}{% trans "Solicitação" %}{% endif %}
        </strong>
      </div>
      <table class="table table-striped table-hover table-link-ordering">
        <thead>
          <tr>
            <th>Título</th>
            <th>Encaminhado para:</th>
            <th>Encaminhamento</th>
            <th>Data de Leitura</th>
          </tr>
        </thead>
        <tbody>
        {% for solicitacao in object_list %}
          <tr class="{% if not solicitacao|objeto_lido:user %}row-unread{%endif%}">
            <td>
              <a href="{% url 'cmj.ouvidoria:solicitacao_interact' solicitacao.pk%}">
                {{solicitacao.titulo}}
              </a>
            </td>
            <td>
              {{solicitacao.areatrabalho|default:''}}
            </td>
            <td>
              {{ solicitacao.created }}
            </td>
            <td>
              {{ solicitacao|data_de_leitura:user|default:''}}
            </td>
          </tr>
        {% endfor %}
      </tbody>
      </table>
    </div>
  {% endif %}
  {% include "paginacao.html" %}
{% endblock %}
