{% extends 'crud/form.html' %}
{% load crispy_forms_tags  cropping thumbnail  %}
{% load common_cmj_tags highlight %}


{% block title %}
  <h1 class="page-header container-search" >
    Pesquisa Geral
        {% if request.GET.fix_model %}
          em {% model_verbose_name_plural request.GET.models %}
        {% endif %}
        {% if request.POST.fix_model %}
          em {% model_verbose_name_plural request.POST.models %}
        {% endif %}

      <a class="btn btn-warning btn-ajuda" data-toggle="collapse" href="#collapseAjudaBuscaTextual" role="button" aria-expanded="false" aria-controls="collapseAjudaBuscaTextual">
        ?
      </a>
  </h1>
{% endblock title %}

{% block base_content %}
<div class="container-search">
  <form method="post" action=".">
    {% include 'search/search_help_text.html' %}
    <div class="row">
      {% crispy form %}
    </div>
    {% if False and not request.GET.fix_model and not request.POST.fix_model %}
      <div class="row">
        <div class="col-md-5 ">
          <div class="checkbox" id="check_all">
            <input type="checkbox" id="id_check_all" onchange="checkAll(this)" />
            <label for="id_check_all">
              Marcar/Desmarcar Todos
            </label>
          </div>
        </div>
      </div>
    {% endif %}

      <div class="container-table">
        <div class="result-count">Foram encontrados {{ page.paginator.count }} registros </div>

        <table class="table table-striped table-bordered">

        {% comment %}
          <thead class="thead-default">
            <tr><td><h3>Resultados - Foram encontrados {{ page.paginator.count }} registros <br/>
              {% if page.paginator.count %}
              Registros {{ page.start_index }} a {{ page.end_index }} de {{ page.paginator.count }}
              {% endif %}
            </h3></td></tr>
          </thead>
        {% endcomment %}

        {% for result in page.object_list %}
          {% if result.object %}
            <tr>
              <td class="item-listas">

                <div class="item-raiz">

                <div class="verbose_name">
                  {% if not result.model_name == 'documento' %}{{result.verbose_name}}{%else%}{{result.object.classe}}{% endif %}
                </div>

                {% if user.is_superuser %}
                  <div class="parent-right">
                    {{ result.text|length }}
                  </div>
                {% endif %}

                {% if result.model_name == 'materialegislativa' %}
                  {% with result.object as m %}
                    <div class="links-texto">
                      {% if m.texto_original %}
                        <a class="link-texto" href="{{m.texto_original.url}}?u={% now "u"%}" title="Texto Original">
                          <i class="far fa-2x fa-file-{% if '.pdf' in m.texto_original.path %}pdf{% else %}archive{% endif %}"></i>
                        </a>
                      {% endif %}

                      {% comment %}
                        {% if m.texto_articulado.exists %}
                        <a class="link-texto" href="{% url 'sapl.materia:materia_ta' m.id%}">
                          Texto Articulado
                        </a>
                        {% endif %}
                      {% endcomment %}

                    </div>

                    <strong>
                      <a href="{% url 'sapl.materia:materialegislativa_detail' m.id %}">{{m.tipo.sigla}} {{m.numero}}/{{m.ano}} - {{m.tipo}}</a>
                    </strong><br>
                    {% if m.numero_protocolo %}
                        <strong>Protocolo: </strong>{{m.numero_protocolo}}/{{m.ano}} |
                    {% endif %}
                    <strong>Data de Apresentação:</strong> {{m.data_apresentacao}}
                    <br><strong>Autoria:</strong> {{ m.autores.all|join:", "}}
                    <div class="text-ementa">{{ m.ementa|safe }}</div>
                  {% endwith %}

                  <small>
                    {% for anexada in result.object.materia_principal_set.all %}
                      {% if forloop.first %}
                        <strong>Matérias Anexadas:</strong>
                        <ul>
                      {% endif %}
                      <li><a href="{% url 'sapl.materia:materialegislativa_detail' anexada.materia_anexada.pk %}">{{ anexada.materia_anexada }}</a></li>
                      {% if forloop.last %}
                        </ul>
                        {% endif %}
                    {% endfor %}
                    {% for principal in result.object.materia_anexada_set.all %}
                      {% if forloop.first %}
                        <strong>Matéria Principal:</strong>
                        <ul>
                      {% endif %}
                        <li><a href="{% url 'sapl.materia:materialegislativa_detail' principal.materia_principal.pk %}">{{ principal.materia_principal }}</a></li>
                      {% if forloop.last %}
                        </ul>
                      {% endif %}
                    {% endfor %}
                  </small>

                {% elif result.model_name == 'documentoacessorio' %}
                  <div class="links-texto">
                    {% if result.object.arquivo %}
                      <a class="link-texto" href="{{result.object.arquivo.url}}?u={% now "u"%}" title="Documento Acessório">
                        <i class="far fa-2x fa-file-{% if '.pdf' in result.object.arquivo.path %}pdf{% else %}archive{% endif %}"></i>
                      </a>
                    {% endif %}
                  </div>
                  <a href="{% url 'sapl.materia:documentoacessorio_detail' result.object.pk %}">{{ result.object }}</a>
                  <br><small>Matéria legislativa vinculada: <strong>{{result.object.materia}} </strong></small>
                  <br><strong>Data:</strong> {{result.object.data}}
                  <div class="text-ementa">{{ result.object.ementa }}</div>

                {% elif result.model_name == 'documentoadministrativo' %}

                    {% with result.object as doc_adm %}
                      {% include 'protocoloadm/documentoadministrativo_widget_list.html' %}
                    {% endwith %}


                {% elif result.model_name == 'diariooficial' %}
                    <div class="links-texto">
                      {% if result.object.arquivo %}
                        <a class="link-texto" href="{{result.object.arquivo.url}}?u={% now "u"%}" title="Arquivo do Diários Oficial">
                          <i class="far fa-2x fa-file-{% if '.pdf' in result.object.arquivo.path %}pdf{% else %}archive{% endif %}"></i>
                        </a>
                      {% endif %}
                    </div>

                    <a href="{% url 'cmj.diarios:diariooficial_detail' result.object.pk %}">{{ result.object }}</a>
                    <br><strong>Data:</strong> {{result.object.data}}

                {% elif result.model_name == 'normajuridica' %}

                    {% with result.object as n %}
                      {% include 'norma/normajuridica_widget_list.html' %}
                    {% endwith %}

                {% elif result.model_name == 'sessaoplenaria' %}
                    <strong>
                    <a href="{% url 'sapl.sessao:sessaoplenaria_detail' result.object.pk %}">{{ result.object }}</a>
                    </strong>

                    <br><strong>Data:</strong> {{result.object.data_inicio}}
                    {% if result.object.upload_ata %}
                      <br><strong>Ata da Sessão:</strong><a href="{{result.object.upload_ata.url}}?u={% now "u"%}">Clique aqui</a>
                    {% endif %}

                {% elif result.model_name == 'documento' %}
                    <div class="container">
                      <div class="data-pub">
                        <i class="far fa-clock" aria-hidden="true"></i>
                        {{result.object.public_date}}
                      </div>
                      <div class="row">
                        {% for p in result.object.parlamentares.all %}
                          {% if forloop.first %}
                            <div class="{% if result.object.parlamentares.count == 1 %}col-lg-1 col-md-1 col-sm-2 col-2{% else %}col-lg-2 col-md-2 col-sm-3 col-4{% endif %} ml-3 mt-3 d-flex">
                          {% endif %}

                          <div class="avatar ml-1">
                            <img src="{% cropped_thumbnail p "fotografia_cropping" %}" alt="{{p.nome_parlamentar}}">
                          </div>

                          {% if forloop.last %}
                            </div>
                          {% endif %}

                          {% endfor %}
                        <div class="col">
                          <strong>
                            <a href="/{{result.object.absolute_slug}}">{{ result.object }}</a>
                          </strong>
                          <div class="text-ementa p-0">
                            {{result.object.descricao}}
                          </div>
                        </div>
                      </div>
                    </div>
                {% endif %}

                {% if result.highlighted.text %}
                  <div class="highlight-search">
                    {% for hl in result.highlighted.text %}
                    {{ hl|safe }}
                    {% endfor %}
                  </div>
                {% endif %}

                </div>
              </td>
            </tr>
          {% endif %}

          {% empty %}
          <tr>
            <td>
              <h3>Nenhum texto encontrado!</h3>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
      {% if page.object_list  %}
        {% include "paginacao.html" %}
      {% endif %}

  </form>
</div>
{% endblock %}

{% block extra_js %}

  <script language="JavaScript">
		function checkAll(elem) {
      let checkboxes = document.getElementsByName('models');
      for (let i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i].type == 'checkbox')
            checkboxes[i].checked = elem.checked;
      }
    }
  </script>

{% endblock %}