{% extends "crud/form.html" %}
{% load i18n %}
{% block extra_js %}
<script language="Javascript">

  {% if not object %}
    function atualizar_numero_documento(){
      var tipo = $("#id_tipo").val()
      var ano = $("#id_ano").val()
      if (tipo){
        $.get(
          "{% url 'sapl.protocoloadm:atualizar_numero_documento' %}",
          {tipo: tipo, ano:ano},
          function(data, status) {
            $("#id_numero").val(data.numero);
            $("#id_ano").val(data.ano);
          });
      }
    }
    var fields = ["#id_tipo", "#id_ano"]
    for (i = 0; i < fields.length; i++) {
      $(fields[i]).change(atualizar_numero_documento);
    }
  {% endif %}

  $("select[name=tipo_materia], input[name=numero_materia], input[name=ano_materia], input[name=materia_numero_protocolo]").change(function(event) {
    var url = '{% url 'sapl.api:materia_materialegislativa-list'%}'

    var formData = {
      'tipo'   : $("select[name=tipo_materia]").val(),
      'ano'    : $("input[name=ano_materia]").val(),
      'numero' : $("input[name=numero_materia]").val(),
      't'      : Date.now(),
      'o'      : 'id'
    }

    var materia_numero_protocolo = $("input[name=materia_numero_protocolo]").val();
    if (materia_numero_protocolo){
      formData['numero_protocolo'] = materia_numero_protocolo;
    }

    if (formData.tipo == '' || formData.ano == '' || formData.numero == '')
      return;
    $.get(url, formData).done(function(data) {
      $(".ementa_materia").html('');
      if (data.pagination.total_entries > 0) {
        // cria um div para cada materia encontrada
        for (i=0; i < data.results.length; i++){
          var materia = data.results[i];
          var div = $("<div class='materia pt-2'></div>");
          div.append(`<strong>${materia.__str__} - Protocolo: ${materia.numero_protocolo}</strong>`);
          var data_apresentacao = new Date(materia.data_apresentacao);
          div.append(`<strong>- Data de Apresentação: ${data_apresentacao.toLocaleDateString()}</strong><br>`);
          div.append(`<span>${materia.ementa}</span>`);
          $(".ementa_materia").append(div);
        }
        $(".ementa_materia").removeClass('hidden').removeClass('alert-danger').addClass('alert-info');
      }
      else {
        $(".ementa_materia strong").html('Atenção!');
        $(".ementa_materia span").html('Matéria não localizada...');
        $(".ementa_materia").removeClass('hidden').removeClass('alert-info').addClass('alert-danger');
      }
    });
  });
  $("select[name=tipo_materia]").trigger('change');


  $("select[name=tipo_anexador], input[name=numero_anexador], input[name=ano_anexador]").change(function(event) {
    var url = '{% url 'sapl.api:protocoloadm_documentoadministrativo-list'%}'

    var formData = {
          'tipo'   : $("select[name=tipo_anexador]").val(),
          'ano'    : $("input[name=ano_anexador]").val(),
          'numero' : $("input[name=numero_anexador]").val(),
          't'      : Date.now()
    }
    if (formData.tipo == '' || formData.ano == '' || formData.numero == '')
      return;
    $.get(url, formData).done(function(data) {
      if (data.pagination.total_entries == 1) {
        $(".assunto_anexador strong").html(data.results[0].__str__);
        $(".assunto_anexador span").html(data.results[0].assunto);
        $(".assunto_anexador").removeClass('hidden').removeClass('alert-danger').addClass('alert-info');
      }
      else {
        $(".assunto_anexador strong").html('Atenção!');
        $(".assunto_anexador span").html('Documento não localizado...');
        $(".assunto_anexador").removeClass('hidden').removeClass('alert-info').addClass('alert-danger');
      }
    });
  });
  $("select[name=tipo_anexador]").trigger('change');



</script>
{% endblock %}
