
{% if not d.documento_anexado_set.exists and d.documento_principal_set.exists or d.documentoacessorioadministrativo_set.exists %}
  <div class="float-right d-inline-flex flex-wrap">
    {% with d.metadata.zipfile.keys|length as zip_count %}
      {% for zn in d.metadata.zipfile.keys %}
        <a class="text-black-50"
        title="{% if zip_count > 1 %}Foi necessário segmentar o download dos arquivos do processo. Baixar parte {{forloop.counter}} de {{zip_count}}{% else %}Baixar arquivo compactado contendo todos os arquivos do processo.{% endif %}"
        href="{% url 'sapl.protocoloadm:documentoadministrativo_detail' d.id %}?download={{zn}}">
          <i class="fas fa-2x fa-download">{% if zip_count > 1%}{{forloop.counter}}{% endif %}</i>
        </a>
      {% endfor %}
    {% endwith %}
  </div>
{% endif %}

