{% extends "base.html" %}
{% load i18n social_utils%}

{% block html_class %}html{{path}}{%endblock%}
{% block body_class %}body{{path}}{%endblock%}
{% block base_functions %}
  <div class="container">
    <div class="btn-toolbar">
      <div class="btn-group" role="group" aria-label="First group">
        {% block controls_content %}{% endblock %}
      </div>
    </div>
  </div>
{% endblock %}

{% block base_header %}
    <div style="position:relative;">
      <div class="path-title-classe">
        {% if object.classe %}
          <a href="/{{object.classe.slug}}">{{object.classe}}</a>
        {% else %}
        <a href="#">{{object}}</a>
        {% endif %}
      </div>
      <div class="path-data-pub">
        {% block historico_publicacao %}
          <div class="container-versions">
            <a href="#list-revisoes" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="list-revisoes">

              {% comment %}
                FIXME tratar histórico de revisão e publicação/privacidade
              {% endcomment %}
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              {% if object.public_date %}
                {% trans "Publicado em" %} {{object.public_date|date:"d"}} {% trans "de" %} {{object.public_date|date:"F"|lower}} {% trans "de" %} {{object.public_date|date:"Y"}}
              {% else %}
                {% trans "Criado em" %} {{object.created|date:"d"}} {% trans "de" %} {{object.created|date:"F"|lower}} {% trans "de" %} {{object.created|date:"Y"}}
              {% endif %}
            </a>
            <div class="collapse" id="list-revisoes">
              {% for rev in object.revisoes.all %}
                  <span class="">
                    {{rev.get_visibilidade_display}} - {{rev.data}} - {% trans "por:" %} {{rev.user.first_name|default:rev.user.email}}
                  </span>
              {% endfor %}

            </div>
          </div>
        {% endblock %}
      </div>

    </div>
  {% block title %}
    <span class="path-title">
        {% if object.titulo %}
          {{ object.titulo|safe|linebreaksbr }}
        {% else %}
          {{ object.parents.0.titulo|safe|linebreaksbr }}
        {% endif %}
    </span>
  {% endblock %}

  <span class="path-description">
    {% block descricao %}
      {% if object.descricao %}
        {{object.descricao|striptags|safe}}
      {% else %}
        {{ object.parents.0.descricao|striptags|safe }}
      {% endif %}
    {% endblock %}
    {% social_link_share object 'top-right block'%}
  </span>
{% endblock %}
