<ul class="nav">
  <li>
    <a href='http://168.228.184.68:8480/sapl/consultas/parlamentar'>
      <span class="icon-nav-left" title="Parlamentares">
        <img src="http://168.228.184.68:8480/sapl/imagens/icon_parlamentares.png">
      </span>
      <span>Parlamentares</span>
    </a>
  </li>
  
  <li class="border-materia">
    <a href="#">
      <span class="icon-nav-left">
        <img src="http://168.228.184.68:8480/sapl/imagens/icon_materia_legislativa.png">
      </span>
      <span>Matérias Legislativas</span>
    </a>
    <ul class="container-materia">
      <li>
        <a href="#">Todas as Matérias</a>
      </li>
    </ul>
  </li>
</ul>






<div class="d-none">

<div class="box bg-aqua">
  <div class="icon icon-licitacao">
  </div>
  <div class="inner">
    <a href="{% url 'sapl.protocoloadm:documentoadministrativo_list' %}?o=" class="">Documentos<br>Administrativos</a>
  </div>
</div>
<div class="box bg-green">
  <div class="icon icon-norma-juridica">
  </div>
  <div class="inner">
    <a href="{% url 'sapl.norma:norma_pesquisa' %}?o=" class="">Legislação<br>Municipal</a>
  </div>
</div>
<div class="box bg-yellow">
  <div class="icon icon-sessao-plenaria">
  </div>
  <div class="inner">
    <a href="{%url 'sapl.sessao:pesquisar_sessao' %}?data_inicio__year=2019" class="">Sessões<br>Plenárias</a>
  </div>
</div>
<div class="box bg-red">
  <div class="icon icon-atividade-legislativa">
  </div>
  <div class="inner">
    <a href="{% url 'sapl.materia:pesquisar_materia' %}?o=" class="">Matérias<br>Legislativas</a>
  </div>
</div>
<div class="box bg-maroon">
  <div class="icon icon-diario-oficial">
  </div>
  <div class="inner">
    <a href="{% url 'cmj.diarios:diariooficial_list' %}" class="">Diário<br>Oficial</a>
  </div>
</div>
<div class="box bg-purple">
  <div class="icon icon-transparencia">
  </div>
  <div class="inner">
    <a href="http://camaradejatai.sigepnet.com.br/?portal=1" class="">Prestação<br>de Contas</a>
  </div>
</div>

</div>