{% load i18n staticfiles menus common_cmj_tags cropping %}
{% load webpack_static from webpack_loader %}
<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="pt-br"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js {% block html_class %}{%endblock%}" lang="pt-br">
<!--<![endif]-->
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="reply-to" content="manager@jatai.go.leg.br">
    <meta name="theme-color" content="#006556">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% if user|notificacoes_unread_count %}({{user|notificacoes_unread_count}}) {% endif %}{% block head_title %}{% trans 'Câmara Jataí' %}{% endblock %} - Portal da Câmara Municipal de Jataí - Estado de Goiás</title>
    <meta name="description" content="Portal CMJ - Fonte de informações a respeito dos atos do poder legislativo do município de Jataí, na microrregião Sudoeste do Estado de Goiás.">

    {% block meta_tags %}
      {% include "base_meta_tags.html" %}
    {% endblock %}

    {% block head_content %}
    {% endblock %}

    {% block webpack_loader_css %}
      {% render_chunk_vendors 'css' %}
      {% render_bundle  'app' 'css' %}
    {% endblock webpack_loader_css %}

    {% block widgets_form_css %}{% endblock widgets_form_css %}
  </head>

  <body class="{% block body_class %}{%endblock%}">

  {% block root_body %}
  
    <div class="page fadein" id="{% block id_wrapper %}wrapper{% endblock %}">
      <div class="header-accessibility">
          <div class="container links-to-content justify-content-between">
            <div class="btn-group" role="group">
              <a class="btn btn-link " href="#main_content" accesskey="1">Ir para Conteúdo<span class="badge badge-dark">1</span></a>
              <a class="btn btn-link" href="#menu_content" accesskey="2">Ir para Menu<span class="badge badge-dark">2</span></a>
              <a class="btn btn-link" href="#rodape_access" accesskey="3">Ir para Rodapé<span class="badge badge-dark">3</span></a>
            </div>
            <div class="btn-group" role="group">
                <a class="btn btn-link" href="#" id="altocontraste" accesskey="4" onclick="window.toggleContrast()" onkeydown="window.toggleContrast()"><i class="fas fa-adjust" aria-hidden="true"> Alto Contraste</i></a>
            </div>
          </div>
        </div>
      {% block canais_absolute %}
        <aside>
          <div class="canais-absolute">
            <a href="#menu-toggle" id="menu-toggle">
              <i class="fa fa-2x fa-chevron-circle-left" aria-hidden="true"></i>
              <i class="fa fa-2x fa-chevron-circle-right" aria-hidden="true"></i>
            </a>
            {% include "base_sidebar.html" %}
          </div>
        </aside>
      {% endblock canais_absolute%}

      <nav class="navbar navbar-topo navbar-expand-lg navbar-dark">
          <div class="container{{fluid}} justify-content-between container-notificacoes">

            {% notificacoes_unread %}
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="{{site_url}}/">
                <i class="fa fa-home" aria-hidden="true"></i>C<small>âmara</small> M<small>unicipal de</small> J<small>ataí</small><span class="brand-estado"> - E<small>stado</small> <small>de</small> G<small>oiás</small></span>
            </a>

            {% block button_toogle %}
              <button type="button" class="navbar-toggler toggle-access" data-toggle="collapse" data-target="#navbar-access" aria-controls="navbar-access" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            {% endblock %}

            <div class="navbar-collapse collapse" id="navbar-access">
              
              {% block social_links %}
                <div class="navbar-social-links justify-content-center">
                  <a href="https://www.facebook.com/cmjatai"><i class="fab fa-facebook-f" aria-hidden="true"><span>Facebook</span></i></a>
                  <a href="https://www.youtube.com/C%C3%A2maraMunicipalJata%C3%AD?sub_confirmation=1"><i class="fab fa-youtube" aria-hidden="true"><span>YouTube</span></i></a>
                  <a href="https://twitter.com/cmjatai"><i class="fab fa-twitter" aria-hidden="true"><span>Twitter</span></i></a>
                </div>
              {% endblock %}
                
              <ul class="navbar-nav justify-content-end">
                {% if user and not user.is_anonymous %}
                  <li class="dropdown nav-user">
                    <a href="#">
                      {% avatar_user user%}
                    </a>

            {% notificacoes_unread %}
  

                    <ul class="dropdown-menu">
                      <li class=" text-right"><a href="{% url 'cmj.core:logout' %}">{% trans "Sair" %}</a></li>
                      <li  class="divider"></li>
                      <li class=" text-right"><a href="{% url 'cmj.core:cmj_user_change' %}">{{ user.get_full_name|default:user.email }} <i class="fa fa-hand-o-left" aria-hidden="true"></i> {% trans "Meu Perfil" %}</a></li>
                      <li  class="divider"></li>
                      {% if perms.ouvidoria %}
                        <li class=" text-right"><a href="{% url 'cmj.ouvidoria:solicitacao_manage_list' %}">{{user.areatrabalho_set.all.first.nome}} <i class="fa fa-hand-o-left" aria-hidden="true"></i> {% trans "Ouvidoria" %}</a></li>
                      {% endif %}
                        <li class=" text-right"><a href="{% url 'cmj.ouvidoria:solicitacao_list' %}">{% trans "Minhas Solicitações" %}</a></li>

                        <li class="divider"></li>

                        <li class=" text-right">
                          <a href="#linkMenu">{% trans "Intranet" %}<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="https://email.jatai.go.leg.br">{% trans "Webmail" %}</a></li>
                            <li><a href="http://gestaopublica.camara.jatai.bsit-br.com.br">{% trans "Gestão Pública" %}</a></li>
                          </ul>                       
                        </li>
                    </ul>
                  </li>
                {% else %}
                  <li>
                    <a href="#linkMenu" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Acessar" %}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    
                      <li><a href="https://www.jatai.go.leg.br{% url 'cmj.core:login' %}">{% trans "Portal" %}</a></li>
                      
                      <li class=" text-right">
                        <a href="#linkMenu"  role="button" aria-haspopup="true" aria-expanded="false">{% trans "Intranet" %}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li class="text-right"><a href="https://email.jatai.go.leg.br">{% trans "Webmail" %}</a></li>
                          <li class="text-right"><a href="http://gestaopublica.camara.jatai.bsit-br.com.br">{% trans "Gestão Pública" %}</a></li>
                        </ul>                       
                      </li>
                      

                    </ul>
                  </li>
                {% endif %}
              </ul>
                <div class="google-search">
                <div class="search">
                  <strong>
                    Busca Google no Portal CMJ
                  </strong>
                  <div class="gcse-searchbox"></div>
                  <small>
                    Utilize a busca do Google para pesquisar em nosso conteúdo.
                  </small>
                </div>
                <div class="result">
                  <div class="gcse-searchresults"></div>
                </div>
              </div>
            </div>
          </div>
      </nav>

      {% block global_container %}
        {% block navigation %}
          <nav class="navbar navbar-menu navbar-expand-lg navbar-dark">
            <div class="container{{fluid}}">
              <div class="navbar-collapse collapse" id="navbar-menu">
                <ul class="navbar-nav" id="menu_content">
                  
                  {% if areatrabalho %}
                    <li class="dropdown">
                      <a href="#linkMenu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {% trans "Portal" %}<span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu menu-left" role="menu">
                        {% navbar 'navbar_cmj.yaml' %}
                      </ul>
                    </li>
                    {% if perms.core.menu_contatos %}
                      <li><a href="{% url 'cmj.cerimonial:contato_list' %}">{% trans "Contatos" %}</a></li>
                    {% endif %}
                    {% if perms.core.menu_grupocontatos %}
                      <li><a href="{% url 'cmj.cerimonial:grupodecontatos_list' %}">{% trans "Grupos" %}</a></li>
                    {% endif %}
                    {% if perms.core.menu_processos %}
                      <li><a href="{% url 'cmj.cerimonial:processo_list' %}">{% trans "Processos" %}</a></li>
                    {% endif %}

                    {% if perms.core.menu_agenda %}
                      <li><a href="{% url 'cmj.agenda:evento_list' %}">{% trans "Agenda de Eventos" %}</a></li>
                    {% endif %}
                  {% else %}
                    {% navbar 'navbar_cmj.yaml' %}
                  {% endif %}
                  {% if user.is_superuser or True%}
                    <li class="dropdown">
                      <a href="#linkMenu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {% trans "SAPL" %}<span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu menu-left" role="menu">
                        {% navbar 'navbar.yaml' %}
                        <li><a href="/online/">{% trans "OnLine" %}</a></li>
                      </ul>
                    </li>
                  {% endif %}
                </ul>

                <ul class="navbar-nav justify-content-end">
                  
                  {% if perms.core.menu_relatorios%}
                    <li class="dropdown">
                      <a href="#"data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Relatórios" %}<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li class="dropdown-header">{% trans "Contatos" %}</li>
                        {% if perms.cerimonial.print_impressoenderecamento %}<li><a href="{% url 'cmj.cerimonial:print_impressoenderecamento' %}">{% trans "Etiquetas e Envelopes" %}</a></li>{% endif %}
                        <li class="dropdown-header">{% trans "Processos" %}</li>
                        {% if perms.cerimonial.print_rel_contato_agrupado_por_processo %}<li><a href="{% url 'cmj.cerimonial:print_rel_contato_agrupado_por_processo' %}">{% trans "Contatos Agrupados Por Processo" %}</a></li>{% endif %}
                        <li class="dropdown-header">{% trans "Grupos" %}</li>
                        {% if perms.cerimonial.print_rel_contato_agrupado_por_grupo %}<li><a href="{% url 'cmj.cerimonial:print_rel_contato_agrupado_por_grupo' %}">{% trans "Contatos Agrupados Por Grupos" %}</a></li>{% endif %}
                      </ul>
                    </li>
                  {% endif %}
                  {% if perms.core.menu_dados_auxiliares or perms.base.view_tabelas_auxiliares%}
                    <li class="dropdown">
                      <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Dados Auxiliares" %}<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        {% if not areatrabalho and perms.core.menu_agenda %}
                          <li class="dropdown-header">{% trans "Calendário" %}</li>
                          <li><a href="{% url 'cmj.agenda:evento_list' %}">{% trans "Agenda de Eventos" %}</a></li>
                        {% endif %}
                        <li class="dropdown-header">{% trans "Consultas" %}</li>
                        {% if perms.sigad.view_documento %}
                        <li>
                          <a href="#linkMenu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Banco de Imagens" %}<span class="caret"></span></a>
                          <ul class="dropdown-menu menu-right" role="menu">
                            <li><a href="/banco-de-imagens/2019">{% trans "2019" %}</a></li>
                            <li><a href="/banco-de-imagens/2018">{% trans "2018" %}</a></li>
                            <li><a href="/banco-de-imagens/2017">{% trans "2017" %}</a></li>
                            <li><a href="/banco-de-imagens/2016">{% trans "2016" %}</a></li>
                            <li><a href="/banco-de-imagens/2015">{% trans "2015" %}</a></li>
                            <li><a href="/banco-de-imagens/2014">{% trans "2014" %}</a></li>
                            <li><a href="/banco-de-imagens/2013">{% trans "2013" %}</a></li>
                          </ul>
                        </li>
                        {% endif %}
                        {% if perms.core.search_trecho %}<li><a href="{% url 'cmj.core:trecho_list' %}">{% trans "Consultar base de Cep's e Endereços" %}</a></li>{% endif %}

                        {% if perms.cerimonial.list_operadoratelefonia %}<li><a href="{% url 'cmj.cerimonial:operadoratelefonia_list' %}">{% model_verbose_name_plural "cmj.cerimonial.models.OperadoraTelefonia"%}</a></li>{% endif %}
                        {% if perms.cerimonial.list_nivelinstrucao %}<li><a href="{% url 'cmj.cerimonial:nivelinstrucao_list' %}">{% model_verbose_name_plural "cmj.cerimonial.models.NivelInstrucao"%}</a></li>{% endif %}
                        {% if perms.cerimonial.list_estadocivil %}<li><a href="{% url 'cmj.cerimonial:estadocivil_list' %}">{% model_verbose_name_plural "cmj.cerimonial.models.EstadoCivil"%}</a></li>{% endif %}
                        {% if perms.parlamentares.detail_partido %}<li><a href="{% url 'cmj.core:partido_list' %}">{% model_verbose_name_plural "sapl.parlamentares.models.Partido"%}</a></li>{% endif %}
                        {% if areatrabalho %}
                          <li role="separator" class="divider"></li>
                          <li class="dropdown-header">{% trans "Tabelas da Área de Trabalho" %}</li>
                          {% if perms.cerimonial.list_assuntoprocesso %}<li><a href="{% url 'cmj.cerimonial:assuntoprocesso_list' %}">{% model_verbose_name_plural "cmj.cerimonial.models.AssuntoProcesso"%}</a></li>{% endif %}
                        {% endif %}

                        {% if perms.core.menu_tabelas_auxiliares or perms.core.menu_area_trabalho or perms.core.menu_impresso_enderecamento or perms.base.view_tabelas_auxiliares%}
                          <li role="separator" class="divider"></li>
                          <li class="dropdown-header">{% trans "Tabelas do Sistema" %}</li>
                        {% endif %}
                        {% if perms.core.menu_tabelas_auxiliares  or perms.base.view_tabelas_auxiliares%}<li><a href="{% url 'cmj.core:tabelas_auxiliares' %}">{% trans "Tabelas Auxiliares" %}</a></li>{% endif %}
                        {% if perms.core.menu_area_trabalho %}<li><a href="{% url 'cmj.core:areatrabalho_list' %}">{% trans "Áreas de Trabalho" %}</a></li>{% endif %}
                        {% if perms.core.menu_impresso_enderecamento %}<li><a href="{% url 'cmj.core:impressoenderecamento_list' %}">{% trans "Impressos de Endereçamento" %}</a></li>{% endif %}

                      </ul>
                    </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </nav>
        {% endblock navigation %}


        {# Header #}
        {% block main_header %}
          {% block menu_canais_relative %}
            {% comment %}

            <div class="canais-relative">
              {% include "base_sidebar.html" %}
            </div>
            {% endcomment %}
          {% endblock %}
          <header class="masthead">
            <div class="container{{fluid}}">
                {% block sections_nav %}{% subnav %}{% endblock sections_nav %}
            </div>
          </header>


        {% endblock main_header %}

        <main id="content" class="content page__row screen-lg">
        {% block content_container %}
            <div class="{% block main_container_class %}container container{{fluid}}{{path}} container-box{% endblock %}">

              {% block base_functions %}{% endblock %}
              {% block base_container_header %}
                {% block base_header %}
                  <div class="clearfix">
                    {% block title %}
                      <h1 class="page-header {{bg_title}}">
                        {% if title %}
                          {{ title|safe|linebreaksbr }}
                        {% elif object %}
                          {{ object|safe|linebreaksbr }}
                        {% elif view.title %}
                          {{ view.title|safe|linebreaksbr }}
                        {% endif %}
                      </h1>
                    {% endblock %}
                  </div>
                {% endblock base_header %}
              {% endblock base_container_header %}

              {% block base_workspace %}
                {% if view.is_contained %}
                  <div class="box-area-trabalho">
                    {% for at in areatrabalho %}
                        <a>{{at.nome}}</a>
                    {% endfor %}
                  </div>
                {% endif %}
              {% endblock base_workspace %}

              {# Feedback messages #}
              {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  {{ message|safe }}
                </div>
              {% endfor %}

              <div id="app-frontend-base-content"></div>
              {% block base_content %}{% endblock %}
            </div>

            {% block cmj_extra_content %}{% endblock %}
        {% endblock content_container %}
          </main>
      {% endblock global_container %}
    </div>
  {% block login_container %}
  {% endblock%}


  <footer id="rodape_access">
    <div class="container-fluid">
      <div class="container">
        <ul>
          {% menu 'menu_footer.yaml'%}
        </ul>
      </div>
    </div>
    <div class="container-fluid">
      <div class="container">
        <ul>
          {% menu 'menu_footer_base.yaml'%}
        </ul>
        Departamento de Tecnologia de Informação e Comunicação
      </div>
    </div>
  </footer>



  {% endblock root_body %}
  
  {% block foot_js %}

      {% block webpack_loader_js %}    
        {% render_chunk_vendors 'js' %}
        {% render_bundle  'app' 'js' %}
      {% endblock webpack_loader_js %}
    
    {% block extra_js %}{% endblock %}
    
  {% endblock foot_js %}

  {% block widgets_form_js %}{% endblock widgets_form_js %}
  
  <script language="JavaScript" type="text/javascript" >
  
    $(function () {
      let toogleWrapper = function (event) {
          if (!$("#wrapper").hasClass('toogled')) {
            $(".canais-absolute .box").off('click')
          }
          else {
            $(".canais-absolute .box").click(toogleWrapper)
          }
        $("#wrapper").toggleClass("toggled");
        $(".container").toggleClass("toggled ");
        event.preventDefault();
      }

      $("#menu-toggle, .canais-absolute .box").click(function (event) {
        toogleWrapper(event)
      });
    });
  </script>

  {% if not DEBUG %}
    <script>
      window.fbAsyncInit = function () {
        FB.init({
          appId      : '{% settings_key 'SOCIAL_AUTH_FACEBOOK_KEY' %}', 
          cookie     : true,
          xfbml      : true,
          version    : 'v3.2'
        });

        FB.AppEvents.logPageView();

        FB.getLoginStatus(function(response) {
            // console.log(response);
        });
      };

      (function (d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "https://connect.facebook.net/pt_BR/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));



  </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2431536-7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-2431536-7');
    </script>

  {% endif %}
  <script>
    (function () {
      var cx = '015586130466685663092:bbp57zhgqek';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script>
  </body>
</html>

