{% load i18n staticfiles sass_tags menus common_tags%}
<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js {% block html_class %}{%endblock%}" lang="pt-br">
<!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#006556">
    <title>{% block head_title %}{% trans 'Câmara Municipal de Jataí - Goiás' %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_content %}
      <link rel="icon" href="{% static 'img/logo.png' %}"  type="image/png" >

      {% comment %} Importa bootstrap customizado {% endcomment %}
      <link rel="stylesheet" href="{% sass_src 'styles/header.scss' %}" type="text/css">

      {% comment %} aplica drunken {% endcomment %}
      <link rel="stylesheet" href="{% static 'drunken-parrot-flat-ui/css/drunken-parrot.css' %}">

      {% comment %} aplica font-awesome {% endcomment %}
      <link rel="stylesheet" href="{% static 'components-font-awesome/css/font-awesome.css' %}">


      <link rel="stylesheet" href="{% static 'jquery-ui/themes/cupertino/jquery-ui.min.css' %}">
      {% comment %} customizações de layout para área pública apartir de 2017 {% endcomment %}
      <link rel="stylesheet" href="{% sass_src 'styles/app_cmj.scss' %}" type="text/css">

    {% endblock %}

  </head>

  <body class="{% block body_class %}{%endblock%}">
    <div class="page fadein">
      <nav class="navbar">
        <div class="container{{fluid}}">
          <div class="navbar-header">
            {% block button_toogle %}
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            {% endblock %}
            <a class="navbar-brand" href="/">
                C<small>âmara</small> M<small>unicipal de</small> J<small>ataí</small>
            </a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right" id="autenticacao">
              {% if user and not user.is_anonymous %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    {{ user.get_full_name|default:user.email }}
                    <span class="caret"></span>
                    {% for us in user.social_auth.all %}
                      {% if us.provider == 'facebook' %}
                        <img class="avatar" src="http://graph.facebook.com/v2.6/{{us.uid}}/picture?height=46" />
                      {% endif %}
                    {% endfor %}
                  </a>
                  <ul class="dropdown-menu menu-right">
                    {% comment %}
                    <li><a href="{% url 'cmj.cerimonial:perfil_detail' %}">{% trans "Meu Perfil" %}</a></li>
                    {% endcomment %}
                    <li><a href="{% url 'cmj.core:logout' %}">{% trans "Sair" %}</a></li>
                  </ul>

                </li>
              {% else %}
              <li>
                <a href="{% url 'cmj.core:login' %}">
                  {% trans "Acessar" %}
                </a>
              </li>
               {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>

      {% block global_container %}
        {% block navigation %}
          <nav class="navbar navbar-menu">
            <div class="container{{fluid}}">

              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right nav-acessar" id="autenticacao">
                  {% if user and not user.is_anonymous %}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ user.get_full_name|default:user.email }}
                        <span class="caret"></span>
                        {% if user.social_auth.all.0.provider == 'facebook' %}
                          <img class="avatar" src="http://graph.facebook.com/v2.6/{{user.social_auth.all.0.uid}}/picture?height=46" />
                        {% endif %}
                      </a>
                      <ul class="dropdown-menu me menu-rightnu-right">
                        <li><a href="{% url 'cmj.cerimonial:perfil_detail' %}">{% trans "Meu Perfil" %}</a></li>
                        <li><a href="{% url 'cmj.core:logout' %}">{% trans "Sair" %}</a></li>
                      </ul>
                    </li>
                  {% else %}
                  <li>
                    <a href="{% url 'cmj.core:login' %}">
                      {% trans "Acessar" %}
                    </a>
                  </li>
                   {% endif %}
                </ul>

                <ul class="nav navbar-nav">
                  {% comment %}
                    {% block sections_navbar %} {% navbar 'navbar.yaml' %}{% endblock sections_navbar %}

                  {% if areatrabalho %}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "SAAP" %}<span class="caret"></span></a>
                      <ul class="dropdown-menu menu-left">
                      </ul>
                    </li>
                  {% endif %}
                  {% endcomment %}
                         <li class="nav__sub-item"><a class="dropdown-toggle" href="/noticias">{% trans "Notícias" %}</a></li>
                        {% if perms.core.menu_contatos %}
                          <li class="nav__sub-item"><a class="dropdown-toggle" href="{% url 'cmj.cerimonial:contato_list' %}">{% trans "Contatos" %}</a></li>
                        {% endif %}
                        {% if perms.core.menu_grupocontatos %}
                          <li class="nav__sub-item"><a class="dropdown-toggle" href="{% url 'cmj.cerimonial:grupodecontatos_list' %}">{% trans "Grupos" %}</a></li>
                        {% endif %}
                        {% if perms.core.menu_processos %}
                          <li class="nav__sub-item"><a class="dropdown-toggle" href="{% url 'cmj.cerimonial:processo_list' %}">{% trans "Processos" %}</a></li>
                        {% endif %}



                </ul>
                <ul class="nav navbar-nav navbar-right">
                        {% if perms.core.menu_relatorios %}
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Relatórios" %}<span class="caret"></span></a>
                            <ul class="dropdown-menu menu-left">
                              <li class="dropdown-header">{% trans "Contatos" %}</li>
                              {% if perms.cerimonial.print_impressoenderecamento %}<li class="nav__sub-item"><a href="{% url 'cmj.cerimonial:print_impressoenderecamento' %}">{% trans "Etiquetas e Envelopes" %}</a></li>{% endif %}
                              <li class="dropdown-header">{% trans "Processos" %}</li>
                              {% if perms.cerimonial.print_rel_contato_agrupado_por_processo %}<li class="nav__sub-item"><a href="{% url 'cmj.cerimonial:print_rel_contato_agrupado_por_processo' %}">{% trans "Contatos Agrupados Por Processo" %}</a></li>{% endif %}
                              <li class="dropdown-header">{% trans "Grupos" %}</li>
                              {% if perms.cerimonial.print_rel_contato_agrupado_por_grupo %}<li class="nav__sub-item"><a href="{% url 'cmj.cerimonial:print_rel_contato_agrupado_por_grupo' %}">{% trans "Contatos Agrupados Por Grupos" %}</a></li>{% endif %}
                            </ul>
                          </li>
                        {% endif %}
                  {% if perms.core.menu_dados_auxiliares or perms.base.view_tabelas_auxiliares%}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Dados Auxiliares" %}<span class="caret"></span></a>
                      <ul class="dropdown-menu menu-right">
                        <li class="dropdown-header">{% trans "Consultas" %}</li>
                        {% if perms.core.search_trecho %}<li class="nav__sub-item"><a href="{% url 'cmj.core:trecho_list' %}">{% trans "Consultar base de Cep's e Endereços" %}</a></li>{% endif %}

                        {% if perms.cerimonial.list_operadoratelefonia %}<li class="nav__sub-item"><a href="{% url 'cmj.cerimonial:operadoratelefonia_list' %}">{% model_verbose_name_plural "cmj.cerimonial.models.OperadoraTelefonia"%}</a></li>{% endif %}
                        {% if perms.cerimonial.list_nivelinstrucao %}<li class="nav__sub-item"><a href="{% url 'cmj.cerimonial:nivelinstrucao_list' %}">{% model_verbose_name_plural "cmj.cerimonial.models.NivelInstrucao"%}</a></li>{% endif %}
                        {% if perms.cerimonial.list_estadocivil %}<li class="nav__sub-item"><a href="{% url 'cmj.cerimonial:estadocivil_list' %}">{% model_verbose_name_plural "cmj.cerimonial.models.EstadoCivil"%}</a></li>{% endif %}
                        {% if perms.parlamentares.detail_partido %}<li class="nav__sub-item"><a href="{% url 'cmj.core:partido_list' %}">{% model_verbose_name_plural "sapl.parlamentares.models.Partido"%}</a></li>{% endif %}
                        {% if areatrabalho %}
                          <li role="separator" class="divider"></li>
                          <li class="dropdown-header">{% trans "Tabelas da Área de Trabalho" %}</li>
                          {% if perms.cerimonial.list_assuntoprocesso %}<li class="nav__sub-item"><a href="{% url 'cmj.cerimonial:assuntoprocesso_list' %}">{% model_verbose_name_plural "cmj.cerimonial.models.AssuntoProcesso"%}</a></li>{% endif %}
                        {% endif %}

                        {% if perms.core.menu_tabelas_auxiliares or perms.core.menu_area_trabalho or perms.core.menu_impresso_enderecamento or perms.base.view_tabelas_auxiliares%}
                          <li role="separator" class="divider"></li>
                          <li class="dropdown-header">{% trans "Tabelas do Sistema" %}</li>
                        {% endif %}
                        {% if perms.core.menu_tabelas_auxiliares  or perms.base.view_tabelas_auxiliares%}<li class="nav__sub-item"><a href="{% url 'cmj.core:tabelas_auxiliares' %}">{% trans "Tabelas Auxiliares" %}</a></li>{% endif %}
                        {% if perms.core.menu_area_trabalho %}<li class="nav__sub-item"><a href="{% url 'cmj.core:areatrabalho_list' %}">{% trans "Áreas de Trabalho" %}</a></li>{% endif %}
                        {% if perms.core.menu_impresso_enderecamento %}<li class="nav__sub-item"><a href="{% url 'cmj.core:impressoenderecamento_list' %}">{% trans "Impressos de Endereçamento" %}</a></li>{% endif %}

                      </ul>
                    </li>
                  {% endif %}

                </ul>


              </div><!--/.nav-collapse -->
            </div>
          </nav>



        {% endblock navigation %}

        {# Header #}
        {% block main_header %}
          <header class="masthead">
            <div class="container{{fluid}}">
              {% block header_content %}

              {% endblock %}

              {% block sections_nav %}{% subnav %}{% endblock sections_nav %}
            </div>
          </header>
        {% endblock main_header %}

        {# Main content #}
        {% block content_container %}
          <main id="content" class="content page__row">

            <div class="container container{{fluid}}{{path}}">


              {# Content header #}
              {% block base_header %}
                <div class="clearfix">

                  {% block title %}
                    <h1 class="page-header">
                      {% if title %}
                        {{ title|safe|linebreaksbr }}
                      {% elif object %}
                        {{ object|safe|linebreaksbr }}
                      {% elif view.title %}
                        {{ view.title|safe|linebreaksbr }}
                      {% endif %}
                    </h1>
                  {% endblock %}
                </div>
              {% endblock base_header %}

              {% block base_workspace %}
                {% if view.is_contained %}
                  <nav class="navbar navbar-area-trabalho">
                    {% for at in areatrabalho %}
                      {% if forloop.first %}
                        <ul class="nav navbar-nav" >
                      {% endif %}
                        <li><a>{{at.nome}}</a></li>
                      {% if forloop.last %}
                        </ul>
                      {% endif %}
                    {% endfor %}
                  </nav>
                {% endif %}
              {% endblock base_workspace %}

              {# Feedback messages #}
              {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade in" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
                  {{ message|safe }}
                </div>
              {% endfor %}

              {% block base_functions %}{% endblock %}

              {% block base_content %}{% endblock %}
            </div>

            {% block cmj_extra_content %}{% endblock %}
          </main>
        {% endblock content_container %}
      {% endblock global_container %}
    </div>
  {% block login_container %}
  {% endblock%}

  <footer id="footer" class="footer page__row">
    <div class="container">
      Departamento de Tecnologia de Informação e Comunicação
    </div>
  </footer>



    {% block foot_js %}
      <!-- Bootstrap core JavaScript ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'bootstrap-sass/assets/javascripts/bootstrap.min.js' %}"></script>

      <script type="text/javascript" src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'jquery-ui/ui/i18n/datepicker-pt-BR.js' %}"></script>

      <script type="text/javascript" src="{% static 'js/jquery.runner.js' %}"></script>

      <script type="text/javascript" src="{% static 'jquery-mask-plugin/dist/jquery.mask.js' %}"></script>
      <script type="text/javascript" src="{% static 'drunken-parrot-flat-ui/js/checkbox.js' %}"></script>
      <script type="text/javascript" src="{% static 'drunken-parrot-flat-ui/js/radio.js' %}"></script>

      <script src="{% static 'tinymce/tinymce.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'jsdiff/diff.min.js' %}"></script>

      <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/app_cmj.js' %}"></script>

      {% block extra_js %}{% endblock %}

    {% endblock foot_js %}

    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '150874375319738',
          xfbml      : true,
          version    : 'v2.6'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/pt_BR/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
  </body>
</html>
