{% load common_cmj_tags %}


<aside>
  <div class="container-aside">
    <div class="box box-search">
      <a onclick="return false;" class="d-none d-lg-block icon icon-busca-textual" href="{% url 'cmj.core:haystack_search'%}">
      </a>
      <a class="d-lg-none icon icon-busca-textual" href="{% url 'cmj.core:haystack_search'%}">
      </a>
      <div class="inner">
        <a href="{% url 'cmj.core:haystack_search'%}" class="">Busca Textual</a>
      </div>
    </div>

    <div class="box box-parlamentares">
      <a onclick="return false;" class="d-none d-lg-block icon icon-parlamentares" href="/parlamentar">
      </a>
      <a class="d-lg-none icon icon-parlamentares" href="/parlamentar">
      </a>
      <div class="inner">
        <a href="/parlamentar" class="">Parlamentares</a>
      </div>
    </div>

    {% comment %}
      <form class="box box-search" method="get" action="{% url 'cmj.core:haystack_search'%}">
        
        <a class="icon icon-busca-textual">
        </a>

        <div class="inner">
          <input type="search" name="q" placeholder="Busca Textual" class="textinput textInput form-control" id="id_q" autocomplete="off" />
        </div>
      </form>
    {% endcomment %}
    <div class="box box-documento-administrativo">
      <a onclick="return false;" class="d-none d-lg-block icon icon-licitacao" href="{% url 'sapl.protocoloadm:documentoadministrativo_list' %}?o" >
      </a>
      <a class="d-lg-none icon icon-licitacao" href="{% url 'sapl.protocoloadm:documentoadministrativo_list' %}?o" >
      </a>
      <div class="inner">
        <a href="{% url 'sapl.protocoloadm:documentoadministrativo_list' %}?o" class="">Documentos Administrativos</a>
      </div>
    </div>
    <div class="box box-materia">
      <a onclick="return false;" class="d-none d-lg-block icon icon-atividade-legislativa" href="{% url 'sapl.materia:pesquisar_materia' %}" >
      </a>
      <a class="d-lg-none icon icon-atividade-legislativa" href="{% url 'sapl.materia:pesquisar_materia' %}" >
      </a>
      <div class="inner">
        <a href="{% url 'sapl.materia:pesquisar_materia' %}" class="">Matérias Legislativas</a>

        {% comment %}
          <ul>
            {% for tipo in ""|sidebar_tipos_de_materias %}
              <li>
                <a href="{% url 'sapl.materia:pesquisar_materia' %}?tipo={{tipo.pk}}">{{tipo}}</a>
              </li>
            {% endfor %}
          </ul>
        {% endcomment %}

      </div>
    </div>
    <div class="box box-norma">
      <a onclick="return false;" class="d-none d-lg-block icon icon-norma-juridica" href="{% url 'sapl.norma:norma_pesquisa' %}" >
      </a>
      <a class="d-lg-none icon icon-norma-juridica" href="{% url 'sapl.norma:norma_pesquisa' %}" >
      </a>
      <div class="inner">
        <a href="{% url 'sapl.norma:norma_pesquisa' %}" class="">Legislação Municipal</a>

        {% comment %}
        <ul>
          {% for tipo in ""|sidebar_tipos_de_normas %}
            <li>
              <a href="{% url 'sapl.norma:norma_pesquisa' %}?tipo={{tipo.pk}}">{{tipo}}</a>
            </li>
          {% endfor %}
        </ul>
        {% endcomment %}


      </div>
    </div>
    <div class="box box-norma-destaque">
      <a onclick="return false;" class="d-none d-lg-block icon icon-norma-juridica-destaque" href="{% url 'sapl.norma:norma_de_destaque' %}" >
      </a>
      <a class="d-lg-none icon icon-norma-juridica-destaque" href="{% url 'sapl.norma:norma_de_destaque' %}" >
      </a>
      <div class="inner">
        <a href="{% url 'sapl.norma:norma_de_destaque' %}" class="">Normas de Destaque</a>

        {% comment %}
        <ul>
          {% for norma in ""|normas_de_destaque %}
            <li>
              <a href="{% url 'sapl.norma:normajuridica_detail' norma.id %}">{{norma.apelido}}</a>
            </li>
          {% endfor %}
        </ul>
        {% endcomment %}


      </div>
    </div>
    <div class="box box-sessao">
      <a onclick="return false;" class="d-none d-lg-block icon icon-sessao-plenaria" href="{%url 'sapl.sessao:pesquisar_sessao' %}?data_inicio__year=2019" >
      </a>
      <a class="d-lg-none icon icon-sessao-plenaria" href="{%url 'sapl.sessao:pesquisar_sessao' %}?data_inicio__year=2019" >
      </a>
      <div class="inner">
        <a href="{%url 'sapl.sessao:pesquisar_sessao' %}?data_inicio__year=2019" class="">Sessões Plenárias</a>
      </div>
    </div>
    <div class="box box-diario-oficial">
      <a onclick="return false;" class="d-none d-lg-block icon icon-diario-oficial" href="{% url 'cmj.diarios:diariooficial_list' %}" >
      </a>
      <a class="d-lg-none icon icon-diario-oficial" href="{% url 'cmj.diarios:diariooficial_list' %}" >
      </a>
      <div class="inner">
        <a href="{% url 'cmj.diarios:diariooficial_list' %}" class="">Diário Oficial</a>
      </div>
    </div>
    <div class="box box-comissao">
      <a onclick="return false;" class="d-none d-lg-block icon icon-comissoes" href="{% url 'sapl.comissoes:comissao_list' %}">
      </a>
      <a class="d-lg-none icon icon-comissoes" href="{% url 'sapl.comissoes:comissao_list' %}">
      </a>
      <div class="inner">
        <a href="{% url 'sapl.comissoes:comissao_list' %}" class="">Comissões</a>
      </div>
    </div>
    <div class="box box-transparencia">
      <a onclick="return false;" class="d-none d-lg-block icon icon-transparencia" href="http://camaradejatai.sigepnet.com.br/?portal=1" >
      </a>
      <a class="d-lg-none icon icon-transparencia" href="http://camaradejatai.sigepnet.com.br/?portal=1" >
      </a>
      <div class="inner">
        <a href="http://camaradejatai.sigepnet.com.br/?portal=1" class="">Prestação de Contas</a>
      </div>
    </div>
  </div>
</aside>
