{% extends "base.html" %}
{% load i18n %}

{% block html_class %}html{{path}}{%endblock%}
{% block body_class %}body{{path}}{%endblock%}

{% block header_content %}
    <div class="row row-canais">
      <div class="col-xs-2">
        <div class="box bg-aqua">
          <div class="icon icon-licitacao">
          </div>
          <div class="inner">
            <a href="http://sislegis.camarajatai.go.gov.br/publicacoes/" class="">Licitações e Contratos</a>
          </div>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="box bg-green">
          <div class="icon icon-norma-juridica">
          </div>
          <div class="inner">
            <a href="http://sapl.camarajatai.go.gov.br/sapl/qs?d=-&tc=tn" class="">Legislação<br>Municipal</a>
          </div>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="box bg-yellow">
          <div class="icon icon-sessao-plenaria">
          </div>
          <div class="inner">
            <a href="http://sapl.camarajatai.go.gov.br/sapl/consultas/sessao_plenaria" class="">Sessões<br>Plenárias</a>
          </div>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="box bg-red">
          <div class="icon icon-atividade-legislativa">
          </div>
          <div class="inner">
            <a href="http://sapl.camarajatai.go.gov.br/sapl/qs?d=-&tc=tm" class="">Atividade<br>Legislativa</a>
          </div>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="box bg-maroon">
          <div class="icon icon-diario-oficial">
          </div>
          <div class="inner">
            <a href="http://sapl.camarajatai.go.gov.br/sapl/qs?d=-&tc=td" class="">Diário<br>Oficial</a>
          </div>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="box bg-purple">
          <div class="icon icon-transparencia">
          </div>
          <div class="inner">
            <a href="http://camaradejatai.sigepnet.com.br/?portal=1" class="">Prestação<br>de Contas</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block base_header %}

  {% block title %}
    <span class="path-title">
        {{ object.titulo|safe|linebreaksbr }}
    </span>
  {% endblock %}
  <div class="path-data-pub">
    <span>
      {% comment %}
        FIXME tratar histórico de revisão e publicação/privacidade
      {% endcomment %}
      <i class="fa fa-clock-o" aria-hidden="true"></i>
      {% trans "Publicado em" %} {{object.public_date|date:"d"}} {% trans "de" %} {{object.public_date|date:"F"}} {% trans "de" %} {{object.public_date|date:"Y"}}
    </span>
  </div>

  <span class="path-description">
    {% block descricao %}
      {{object.descricao}}
    {% endblock %}
  </span>

{% endblock %}
