
/* Background colors */
.bg-red,
.bg-red-danger,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black {
  color: #f9f9f9 !important;
  small {
    color: rgba(white, 0.7);
  }
}
.bg-gray {
  background-color: #eaeaec !important;
}
.bg-black {
  background-color: #222222 !important;
}
.bg-red {
  background-color: #f56954 !important;
}
.bg-red-danger {
  background-color: #aa3333 !important;
}
.bg-yellow {
  background-color: #f39c12 !important;
}
.bg-aqua {
  background-color: #00c0ee !important;
}
.bg-blue {
  background-color: #0073b7 !important;
}
.bg-light-blue {
  background-color: #3c8dbc !important;
}
.bg-green {
  background-color: #00a65a !important;
}
.bg-navy {
  background-color: #001f3f !important;
}
.bg-teal {
  background-color: #39cccc !important;
}
.bg-olive {
  background-color: #3d9970 !important;
}
.bg-lime {
  background-color: #01ff70 !important;
}
.bg-orange {
  background-color: #ff851b !important;
}
.bg-fuchsia {
  background-color: #f012be !important;
}
.bg-purple {
  background-color: #932ab6 !important;
}
.bg-maroon {
  background-color: #85144b !important;
}
.bg-transparent {
  background-color: transparent !important;
}


/* Text colors */

.text-gray {
  color: #575757 !important;
}
.text-red {
  color: #f56954 !important;
}
.text-yellow {
  color: #f39c12 !important;
}
.text-aqua {
  color: #00c0ef !important;
}
.text-blue {
  color: #0073b7 !important;
}
.text-light-blue {
  color: #3c8dbc !important;
}
.text-green {
  color: #00a65a !important;
}
.text-navy {
  color: #001f3f !important;
}
.text-teal {
  color: #39cccc !important;
}
.text-olive {
  color: #3d9970 !important;
}
.text-lime {
  color: #01ff70 !important;
}
.text-orange {
  color: #ff851b !important;
}
.text-fuchsia {
  color: #f012be !important;
}
.text-purple {
  color: #932ab6 !important;
}
.text-maroon {
  color: #85144b !important;
}
.text-black-50 {
  &:hover {
    color: black !important;
  }
}


.text-documentoadministrativo, .text-documentosadministrativos  {
  color: $color_documentoadministrativo !important;
}
.text-parlamentar {
  color: $color_parlamentar !important;
}
.text-sessaoplenaria {
  color: $color_sessaoplenaria !important;
}
.text-materiaslegislativas, .text-materialegislativa {
  color: $color_materialegislativa !important;
}
.text-diariosoficiais {
  color: $color_diariooficial !important;
}
.text-comissao {
  color: $color_comissao !important;
}
.text-transparencia {
  color: $color_transparencia !important;
}
.text-normajuridica, .text-normasjuridicas {
  color: $color_normajuridica !important;
}
.text-documentosacessorios {
  color: $color_documentoacessorio !important;
}
.text-dispositivos {
  color: $color_dispositivo !important;
}
.text-noticias {
  color: $color_noticias !important;
}
.text-tramitacoes {
  color: $color_tramitacao !important;
}