@import '_variables.scss';

// HTML5 default tags
body, html {
  font-size: 1rem;
}

body {
  background-image: $url_bg_png;

  &.body-print {
    background: #fff;
    #wrapper {
      padding: 0;
    }
  }
}


// ajuste Fontwawesome ########################################
.fa,
.fas {
  span {
    font-size: 0;
  }
}


// ajuste bootstrap ########################################


// PortalCMJ 2025 ########################################
nav, aside, header, main, footer {
  display: none !important;
}

// Container de Acessibilidade
.header-accessibility {
  background: darken($color_primary,15) $url_bg_png;

  span, .links-to-content, .links-accessibility {
    display: none;
  }
  span {
    color: white;
  }

  .btn {
    color: white;
    font-size: 85%;
    padding: 0rem;
  }

  .btn-link {
    span {
      display: inline-block;
    }
    .badge {
      color:#000;
      margin-left: 3px;
      opacity: 0.7;
      padding: 3px 4px 2px;
      line-height: 1;
    }
  }
  .links-accessibility {
    flex-direction: column;
    align-self: center;
    min-width: 85%;
    padding-top: 0rem;
    & > span {
      display: none;
    }
    & > a, & > div {
      &:not(:first-child) {
        border-top: 1px solid #fff3;
      }
      text-align: left;
      width: 100%;
      padding-left: 1rem;
    }
  }
  .dropdown-accessibility {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    &:hover {
      .links-accessibility {
        display: flex;
        flex-direction: column;
      }
    }
  }
  .group-font {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    padding: 0.2rem 0;
    span {
      padding: 0.2rem 0.3rem;
      font-size: 85%;
      display: inline-block;
    }
    .btn-link {
      line-height: 1rem;
      text-decoration: none;
      margin: 0;
      padding: 0.2rem 0.3rem;
      background-color: #fff3;
    }
  }
  .d-min-480 {
    display: none;
  }
  .d-max-480 {
    display: inline-block;
  }
}

@media screen and (min-width : 320px) {
  body, html {
    font-size: 1rem;
  }
}

@media screen and (min-width : 480px) {
  html {
  }
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
  .header-accessibility {
    .btn-link {
      display: flex;
      align-items: center;
      white-space: nowrap;
    }
    .d-max-480 {
      display: none;
    }
    .links-accessibility {
      display: flex;
      flex-direction: row;
      min-width: auto;
      align-self: auto;
    }
    .btn-dropdown-accessibility {
      display: none;
    }
    .dropdown-accessibility {
      flex-direction: row;
      align-items: auto;
      justify-content: end;
      &:hover {
        .links-accessibility {
          display: flex;
          flex-direction: row;
        }
      }
    }
  }
  .header-accessibility___ {
    .container-fluid, .links-accessibility {
      flex-direction: row;
    }
    .btn-dropdown-accessibility {
      display: none;
    }

  }

}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

}
@media screen and (min-width: 1400px) {

}