{% load i18n %}
{% load compilacao_filters %}
{% load common_cmj_tags common_tags%}
{% load static %}
{% load webpack_static from webpack_loader %}

{% if doc.arquivo %}
  <div class="row item-listas align-items-center justify-content-between">
    <div class="col-12 col-md-auto justify-content-center  my-3" >
      {% if doc.arquivo and '.pdf' in doc.arquivo.path %}
        <a class="link-texto" target="_blank" href="{{doc.arquivo.url}}" title="Documento Digitalizado">
          <i class="far fa-2x fa-file-pdf"></i>
          <br>
          <strong>
              Documento Digitalizado
              <small>
                <br>Com OCR Otimizado para Download
              </small>
          </strong>
        </a>
      {% endif %}

      <a class="link-texto"  target="_blank" href="{{doc.arquivo.url}}?original" title="Documento Eletrônico">
        {% if doc.metadata.signs and doc.metadata.signs.arquivo %}
          <i class="fas fa-2x fa-certificate"></i>
        {% else %}
          <i class="far fa-2x fa-file-{% if '.pdf' in doc.arquivo.path %}pdf{% else %}archive{% endif %}"></i>
        {% endif %}
        <br>
        <strong>Documento 
          {% if doc.metadata.signs and doc.metadata.signs.arquivo %}
            Eletrônico
            <small>
              <br>com Assinatura Digital
            </small>
          {% else %}
            {% if '.pdf' in doc.arquivo.path %}
                <br>Digitalizado Original
            {% else %}
              <br>Eletrônico
            {% endif %}
          {% endif %}
        </strong>
      </a>
    </div>
    {% if render_ementa %}
      <div class="col">
        <div class="text-ementa">
          {{doc.ementa|safe}}
        </div>
      </div>
    {% endif %}
    {% with doc.metadata.signs.arquivo as signs %}
      {% include 'core/sign_widget.html' %}
    {% endwith %}
  </div>
{% endif %}