{% extends "crud/detail.html" %}
{% load i18n sigad_filters cropping %}
{% block sub_actions %}
    {{ block.super }}
    {% if object.em_tramitacao and mail_service_configured or user.is_superuser %}
      <div class="actions btn-group btn-group-sm" role="group">
        <a href="{% url 'sapl.materia:acompanhar_materia' object.id %}" class="btn btn-outline-primary"  data-toggle="tooltip" data-placement="top" title="Registre seu email para acompanhamento desta matéria. Você receberá um email sempre que está materia tramitar.">Acompanhar Matéria</a>
      </div>
    {% endif %}
{% endblock sub_actions %}

{% block detail_content %}
<div class="item-listas">  
  <div class="item-raiz">
    <div class="links-texto">
      {% if object.texto_original %}
        <a class="link-texto" target="_blank"  href="{{object.texto_original.url}}?u={% now "u"%}" title="Texto Original">
          <i class="far fa-2x fa-file-{% if '.pdf' in object.texto_original.path %}pdf{% else %}archive{% endif %}"></i>
          <br>
          Texto Original
        </a>
      {% endif %}
      {% if object.texto_articulado.exists %}
        <a class="link-texto" href="{% url 'sapl.materia:materia_ta' object.id%}">
          Texto Articulado
        </a>
      {% endif %}
    </div>
    
    {% with object.autores.all.count as count_parlamentares %}
      {% for autor in object.autores.all %}
        {% if forloop.counter0 > 0 and forloop.counter0|organize_direction_horizontal_avatars:count_parlamentares %}
          </div>
        {% endif %}

        {% if forloop.counter0|organize_direction_horizontal_avatars:count_parlamentares %}
          <div class="path-parlamentares mt-1">
        {% endif %}

          {% if autor.autor_related.fotografia %}
            <a class="avatar avatar{% if count_parlamentares >= 5 %}5{%else%}3{% endif %}" 
              href="{% url 'sapl.materia:pesquisar_materia'%}?autoria__autor={{autor.id}}" 
              title="{{parlamentar}}">
              <img src="{% cropped_thumbnail autor.autor_related "fotografia_cropping" %}" alt="{{autor.autor_related}}">
            </a>
          {% endif %}
        {% if not forloop.last %}
          <span class="linebreak"></span>
        {% else %}
          </div>
        {% endif %}
      {% endfor %}
    {% endwith %}

    <div class="text-ementa">{{ object.ementa }}</div>
    <small>
      {% with object.tramitacao_set.last as tram %}
        {% if tram.unidade_tramitacao_destino %}        
          <strong>Localização Atual:</strong> &nbsp;{{tram.unidade_tramitacao_destino}}</br>        
          <strong>Status:</strong> {{tram.status}}<br>
          <strong>Ultima Ação:</strong> {{tram.texto}}<br>
          <strong>Data da última Tramitação:</strong> {{tram.data_tramitacao}}<br>       
        {% endif %}
      {% endwith %}
      <br>      
    </small>
    {{ block.super }}

  </div>


    {% if object.audienciapublica_set.exists %}
      <p class="control-label">&emsp; Audiência(s) Pública(s)</p>
      <div class="actions btn-group btn-group-sm" role="group">
        {% for ap in object.audienciapublica_set.all %}
          &emsp;&emsp;<a href="{% url 'sapl.audiencia:audienciapublica_detail' ap.id %}">
              {{ ap.nome }}
          </a>
            {% if not forloop.last %} </br> {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    {% if user.is_superuser %}
      <div class="row">
        {% if materialegislativa.user %}
          <div class="col-sm-6">
            <div id="div_id_user" class="form-group">
              <p class="control-label">Usuário</p>
              <div class="controls">
                <div class="form-control-static">
                  <div class="dont-break-out">
                    <a href="{% url 'sapl.base:user_edit' materialegislativa.user.pk %}">{{materialegislativa.user}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        {% if materialegislativa.ip %}
          <div class="col-sm-6">
            <div id="div_ip_user" class="form-group">
              <p class="control-label">IP</p>
              <div class="controls">
                <div class="form-control-static">
                  <div class="dont-break-out">{{materialegislativa.ip}}</div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    {% endif %}


    {% if object.registrovotacao_set.exists %}
      <div class="pt-4">
        <table class="table">
          {% for rv in object.registrovotacao_set.all %}
            {% if forloop.first %}
              <tr>
              <th>Deliberações em Plenário</th>
              <th>Votação</th>
              </tr>
            {% endif %}
            <tr>
              <td>
                {% if rv.ordem %}
                  <a href="{% url 'sapl.sessao:ordemdia_list' rv.ordem.sessao_plenaria_id %}#id{{object.id}}">
                    {{rv.ordem.sessao_plenaria.str_short}}
                  </a>
                <br><strong>Data:</strong> {{ rv.ordem.sessao_plenaria.data_inicio}}
                {% elif rv.expediente %}
                  <a href="{% url 'sapl.sessao:expedientemateria_list' rv.expediente.sessao_plenaria_id %}#id{{object.id}}">
                    {{rv.expediente.sessao_plenaria.str_short}}
                  </a>
                <br><strong>Data:</strong> {{ rv.expediente.sessao_plenaria.data_inicio}}
                {% endif %}
                <br><strong>{{rv.tipo_resultado_votacao}}</strong>
                {% if rv.observacao %}
                 - {{rv.observacao}}
                {% endif %}
              </td>
              <td>
                {{ rv.tipo_votacao }}
                <strong>Sim: </strong>{{ rv.numero_votos_sim }}
                <br><strong>Não: </strong>{{ rv.numero_votos_nao }}
                {% if rv.numero_abstencoes %}
                  <br><strong>Abstenções: </strong>{{ rv.numero_abstencoes }}
                {% endif %}

                {% if rv.ordem.tipo_votacao == 2 %}
                  <br>-------------
                  {% for vp in rv.votoparlamentar_set.all %}
                    <br><strong>{{vp.voto}}</strong> - {{vp.parlamentar}}
                  {% endfor %}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>

    {% endif %}
{% endblock detail_content %}
