{% extends "crud/detail.html" %}
{% load i18n %}
{% load crispy_forms_tags common_tags sigad_filters cropping %}

  {% block actions %}

    <div class="actions btn-group" role="group">
      <a href="{% url 'sapl.base:haystack_search' %}?q=&models=materia.materialegislativa" class="btn btn-outline-primary">
               Mudar para Pesquisa Textual
    </a>
    <button type="button"
        class="btn btn-warning" 
        data-trigger="focus" 
        data-container="body"
        data-toggle="popover"
        data-placement="top" 
        title="Sobre a Pesquisa Textual" 
        data-content="Pesquisa Textual é diferente desta pesquisa em que escolhemos filtros específicos, uma pesquisa parametrizada. Na Pesquisa Textual é buscado conteúdo dentro dos documentos através de uma ferramenta sofisticada que leva em consideração as técnicas de escrita da lingua portuguesa. Experimente! No entanto, se você está buscando um conteúdo específico, como por exemplo uma Matéria em tramitação, então a pesquisa parametrizada pode ser o ideal.">
      ?
    </button >
      {% if show_results %}
          <a href="{% url 'sapl.materia:pesquisar_materia' %}" class="btn btn-outline-primary">{% trans 'Fazer nova Pesquisa Parametrizada' %}</a>
      {% endif %}
    </div>
    <div class="actions btn-group btn-group-lg" role="group">

      {% if perms.materia.add_materialegislativa %}
      <a href="{% url 'sapl.materia:materialegislativa_create' %}" class="btn btn-outline-primary">
          {% blocktrans with verbose_name=view.verbose_name %} Adicionar Matéria Legislativa {% endblocktrans %}
      </a>
      {% endif %}
    </div>
  {% endblock %}

{% block detail_content %}
  {% if not show_results %} {% crispy filter.form %} {% endif %}
{% endblock detail_content %}

{% block table_content %}

    {% if show_results %}
        <div class="container-table">
          <div class="result-count">Total de Matérias: <strong>{{paginator.count}}</strong></div>
          <table class="table table-striped table-hover table-link-ordering">
            {% if paginator.count %}
            {% for m in page_obj %}
              <tr>
                <td class="item-listas">  
                  <div class="item-raiz">
                    {% with m.autores.all.count as count_parlamentares %}
                      {% for autor in m.autores.all %}
                        {% if forloop.counter0 > 0 and forloop.counter0|organize_direction_horizontal_avatars:count_parlamentares %}
                          </div>
                        {% endif %}

                        {% if forloop.counter0|organize_direction_horizontal_avatars:count_parlamentares %}
                          <div class="path-parlamentares mt-1 mr-3">
                        {% endif %}

                          {% if autor.autor_related.fotografia %}
                            <a class="avatar avatar5" 
                              href="{% url 'sapl.materia:pesquisar_materia'%}?autoria__autor={{autor.id}}" 
                              title="{{autor.autor_related}}">
                              <img src="{% cropped_thumbnail autor.autor_related "fotografia_cropping" %}" alt="{{autor.autor_related}}">
                            </a>
                          {% endif %}
                        {% if not forloop.last %}
                          <span class="linebreak"></span>
                        {% else %}
                          </div>
                        {% endif %}
                      {% endfor %}
                    {% endwith %}






                    <div class="links-texto">
                      {% if m.texto_original %}
                        <a class="link-texto" target="_blank" href="{{m.texto_original.url}}?u={% now "u"%}" title="Texto Original">
                          <i class="far fa-2x fa-file-{% if '.pdf' in m.texto_original.path %}pdf{% else %}archive{% endif %}"></i>
                        </a>
                      {% endif %}
                    </div>
                    
                    <strong>
                      <a href="{% url 'sapl.materia:materialegislativa_detail' m.id %}">
                          {% if m.is_signed %}
                            <i class="fas fa-1x fa-certificate" title="Documento possui versão com Assinatura Digital, entre nos detalhes do documento para abrir o Arquivo Original"></i>
                          {% endif %}
                      {{m.tipo.sigla}} {{m.numero}}/{{m.ano}} - {{m.tipo}}</a>
                    </strong><br>
                    {% if m.numero_protocolo %}
                        <strong>Protocolo: </strong>{{m.numero_protocolo}}/{{m.ano}} | 
                    {% endif %}
                    <strong>Data de Apresentação:</strong> {{m.data_apresentacao}}

                    <br><strong>Autoria:</strong> {{ m.autores.all|join:", "}}

                    <div class="text-ementa">{{ m.ementa }}</div>
                    

                  {% if m.data_fim_prazo %}
                    <strong>Data Fim Prazo (Matéria): </strong>{{ m.data_fim_prazo|default_if_none:"" }}
                    </br>
                  {% endif %}
                  {% if m.numeracao_set.first %}
                    <strong>Processo: </strong>{{ m.numeracao_set.first.numero_materia }} / {{ m.numeracao_set.first.ano_materia }}
                    </br>
                  {% endif %}
                  
                  {% if not tipo_listagem or tipo_listagem == '1' %}
                    
                    {% if m.tramitacao_set.last.unidade_tramitacao_destino %}
                    <strong>Localização Atual:</strong> &nbsp;{{m.tramitacao_set.last.unidade_tramitacao_destino}}</br>
                    {% endif %}
                    {% if m.tramitacao_set.last.status %}
                      <strong>Status:</strong> &nbsp;{{m.tramitacao_set.last.status}}</br>
                    {% endif %}
                    {% if m.tramitacao_set.last.data_tramitacao %}
                    <strong>Ultima Ação:</strong> &nbsp; {{m.tramitacao_set.last.texto}}</br>
                    <strong>Data da última Tramitação:</strong> &nbsp;{{m.tramitacao_set.last.data_tramitacao}}</br>
                    {% endif %}
                    {% if m.tramitacao_set.last.data_fim_prazo %}
                      <strong>Data Fim Prazo (Tramitação):</strong>&nbsp;{{m.tramitacao_set.last.data_fim_prazo|default_if_none:""}}</br>
                    {% endif %}
                    {% if m.registrovotacao_set.exists %}
                        <strong>Foi a plenário em:</strong><br>
                        {% for rv in m.registrovotacao_set.all %}
                            {% if rv.ordem %}
                              <a href="{% url 'sapl.sessao:ordemdia_list' rv.ordem.sessao_plenaria_id %}#id{{m.id}}">
                                {{ rv.ordem.sessao_plenaria.data_inicio }} - {{ rv.tipo_resultado_votacao.nome}} - {{ rv.ordem.registrovotacao_set.first.observacao}}
                              </a>
                            {% elif rv.expediente %}
                              <a href="{% url 'sapl.sessao:expedientemateria_list' rv.expediente.sessao_plenaria_id %}#id{{m.id}}">
                                {{ rv.expediente.sessao_plenaria.data_inicio }}
                              </a>
                            {% endif %}
                            </br>
                        {% endfor %}
                    {% endif %}
                    
                    {% if m.anexo_de.exists %}
                      {% for a in m.materia_anexada_set.all %}
                      <strong>Matéria Anexadora: </strong>&nbsp;
                      <a href="{% url 'sapl.materia:materialegislativa_detail' a.materia_principal.id %}">
                          {{ a.materia_principal }}&nbsp;
                      </a>
                      <strong>Data Anexação:</strong> {{a.data_anexacao}}
                      </br>
                      {% endfor %}
                    {% endif %}
                    {% if m.anexadas.all.exists %}
                      {% for anexada in m.materia_principal_set.all %}
                      <strong>Matéria Anexada: </strong>&nbsp;
                      <a href="{% url 'sapl.materia:materialegislativa_detail' anexada.materia_anexada.id %}">
                          {{ anexada.materia_anexada }}&nbsp;
                      </a>
                      <strong>Data Anexação:</strong> {{anexada.data_anexacao}}
                      </br>
                      {% endfor %}
                    {% endif %}
                    {% if m.documentoacessorio_set.all.exists %}
                        <strong>Documentos Acessórios:</strong>
                        <a href="{% url 'sapl.materia:documentoacessorio_list' m.id %}">
                            {{ m.documentoacessorio_set.all.count }}
                        </a>
                        </br>
                    {% endif %}
                    {% if m.normajuridica_set.exists %}
                        {% for nr in m.normajuridica_set.all %}
                          {% if nr.tipo_id == 27 %}
                            <strong>Autrografo: </strong>
                          {% else %}
                            <strong>Norma Jurídica Vinculada: </strong>
                          {% endif %}
                          <a href="{% url 'sapl.norma:normajuridica_detail' nr.id %}">
                            {{ nr }}
                          </a>
                          </br>
                        {% endfor %}
                    {% endif %}
                    {% if m.audienciapublica_set.exists %}
                      <strong>Audiência(s) Pública(s): </strong>
                      {% for ap in m.audienciapublica_set.all %}
                        <a href="{% url 'sapl.audiencia:audienciapublica_detail' ap.id %}">
                            {{ ap.nome }}
                        </a>
                        {% if not forloop.last %},&nbsp;{% endif %}
                      {% endfor %}
                    {% endif %}
                    <p></p>
                    {% if m.em_tramitacao and mail_service_configured %}
                      <a class="btn btn-sm btn-outline-primary" href="{% url 'sapl.materia:acompanhar_materia' m.id %}" data-toggle="tooltip" data-placement="top" title="Registre seu email para acompanhamento desta matéria. Você receberá um email sempre que está materia tramitar.">Acompanhar Matéria</a>
                    {% endif %}
                  {% endif %}
                  </div>
                  </td>
              </tr>
            {% endfor %}
          {% else  %}
            <tr><td><h3>Nenhuma matéria encontrada com essas especificações</h3></tr>
          {% endif %}
          </table>
        </div>
      {% include "paginacao.html" %}
    {% endif %}
    {% endblock table_content %}
