{% load i18n %}
{% load compilacao_filters %}
{% load common_cmj_tags common_tags%}
{% load static %}
{% load webpack_static from webpack_loader %}

{% if m.texto_original %}
  <div class="row item-listas align-items-centerjustify-content-between">
    <div class="col-12 col-md-auto justify-content-center">
      {% if m.texto_original and '.pdf' in m.texto_original.path %}
        <a class="link-texto" target="_blank" href="{{m.texto_original.url}}" title="Documento Digitalizado">
          <i class="far fa-2x fa-file-pdf"></i>
          <br>
          <strong>
              Documento Digitalizado
              <small>
                <br>Com OCR Otimizado para Download
              </small>
          </strong>
        </a>
      {% endif %}
      <a class="link-texto"  target="_blank" href="{{m.texto_original.url}}?original" title="Documento Eletrônico">
        {% if m.metadata.signs and m.metadata.signs.texto_original %}
          <i class="fas fa-2x fa-certificate"></i>
        {% else %}
          <i class="far fa-2x fa-file-{% if '.pdf' in m.texto_original.path %}pdf{% else %}archive{% endif %}"></i>
        {% endif %}
        <br>
        <strong>Documento 
          {% if m.metadata.signs and m.metadata.signs.texto_original %}
            Eletrônico
            <small>
              <br>com Assinatura Digital
            </small>
          {% else %}
            {% if '.pdf' in m.texto_original.path %}
                <br>Digitalizado Original
            {% else %}
              <br>Eletrônico
            {% endif %}
          {% endif %}
        </strong>
      </a>
    </div>
    {% if render_ementa %}
      <div class="col">
        <div class="text-ementa">
          {{m.ementa|safe}}
        </div>
      </div>
    {% endif %}
    {% with m.metadata.signs.texto_original as signs %}
      {% include 'core/sign_widget.html' %}
    {% endwith %}
  </div>
{% endif %}