{% extends "crud/form.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block base_workspace %}
  {% if view.is_contained %}
    <div class="box-area-trabalho">
          <a>
          Autor de Documentos e Proposições: <strong>{{user.autor_set.all.0}}</strong></a>
    </div>
  {% endif %}
{% endblock base_workspace %}
{% block extra_js %}
   <script type="text/javascript">
      {% comment %}
        $("select[name=content_type]").change(function(event) {
          if (this.value == 'D' && this.checked)
            $("#div_id_texto_original").removeClass('hidden');
          else if (this.value == 'T' && this.checked)
            $("#div_id_texto_original").addClass('hidden');
        });

      $("select[name=tipo]").change(function(event) {

        if (this.selectedOptions[0] && this.selectedOptions[0].getAttribute('data-has-perfil') === "true") {
          $("input[name=tipo_texto]").closest('label').removeClass('disabled');
          $("input[name=tipo_texto]").closest('.form-group').parent().removeClass('hidden');
          $("input[name=tipo_texto]").prop('disabled', false);
        }
        else {
            $("input[name=tipo_texto]").closest('label').addClass('disabled');
            $("input[name=tipo_texto]").closest('.form-group').parent().addClass('hidden');
            $("input[name=tipo_texto]").prop('disabled', true);
        }
        if ($("input[name=tipo_texto]:checked").length == 0) {
          $("input[name=tipo_texto]").first().prop('checked', true);
          $("input[name=tipo_texto]").first().closest('label').addClass('checked');          
        }
      });
      {% endcomment %}

    $(document).ready(function(){

      $("select[name=tipo_materia], input[name=numero_materia], input[name=ano_materia]").change(function(event) {
        var url = '{% url 'sapl.api:materialegislativa-list'%}'

        var formData = {
              'tipo'   : $("select[name=tipo_materia]").val(),
              'ano'    : $("input[name=ano_materia]").val(),
              'numero' : $("input[name=numero_materia]").val(),
        }
        if (formData.tipo === '' || formData.ano === '' || formData.numero === '') {
          $("#vinculo_proposicao").removeClass('hidden');
          $(".ementa_materia").html('').addClass('hidden');
          return;
        }

        $.get(url, formData).done(function(data) {
          if (data.pagination.total_entries == 1)
            $(".ementa_materia").html(
              `<a target="_blank" href="{% url 'sapl.materia:materialegislativa_list' %}${data.results[0].id}">
                  <strong>${data.results[0].__str__}</strong>
                  </a>
                  <br>${data.results[0].ementa}`
              ).removeClass('hidden');
          else
            $(".ementa_materia").html('<strong>Atenção!!!</strong> Matéria Legislativa não localizada!').removeClass('hidden');
          $("#vinculo_proposicao").addClass('hidden');
        });
  		});
      
      $("input[name=vinculo_numero], input[name=vinculo_ano]").change(function(event) {
        var url = '{% url 'sapl.api:proposicao-list'%}'
        var proposicao_id = {% if object %}{{object.id}}{% else %}0{% endif %};

        var formData = {
              'ano'    : $("input[name=vinculo_ano]").val(),
              'numero_proposicao' : $("input[name=vinculo_numero]").val(),
        }
        if (formData.ano === '' || formData.numero_proposicao === '') {
          $("#vinculo_materia").removeClass('hidden');
          $(".ementa_proposicao").html('').addClass('hidden');
          return;
        }

        $.get(url, formData).done(function(data) {
          if (data.pagination !== undefined && data.pagination.total_entries == 1) {
            if (data.results[0].id === proposicao_id) {
              $(".ementa_proposicao").html('<strong>Atenção!!!</strong> Não é possível vincular uma proposição a ela mesma!').removeClass('hidden');
              return;
            }
            $(".ementa_proposicao").html(
              `<a target="_blank" href="{% url 'sapl.materia:proposicao_list' %}${data.results[0].id}">
                  <strong>${data.results[0].__str__}</strong>
                  </a>
                  <br>${data.results[0].descricao}`
              ).removeClass('hidden');
          }
          else
              $(".ementa_proposicao").html('<strong>Atenção!!!</strong>Proposição não localizada!').removeClass('hidden');
          $("#vinculo_materia").addClass('hidden');
        }).catch(function(data) {
              $(".ementa_proposicao").html('<strong>Atenção!!!</strong>Proposição não localizada!').removeClass('hidden');
          $("#vinculo_materia").addClass('hidden');
        });
  		});

      $("select[name=especie]").change(function(event) {
        $("#id_tipo option").remove()
        var url = '{% url 'sapl.api:tipoproposicao-tipos-do-autor-contectado'%}'
        var especie_persistida = '{% if object %}{{object.tipo.content_type_id}}{% else %}0{% endif %}'
        var tipo_persistido = '{% if object %}{{object.tipo_id}}{% else %}0{% endif %}'

        var formData = {
              content_type : $("select[name=especie]").val(),
              page: 1
        }
        if (formData.content_type === '')
          return;

        var get_pages_recursive = function() {
          $.get(url, formData).done(function(data) {

            if (data !== null) {
                $.each(data.results, function(idx, obj) {
                    $("#id_tipo")
                      .append($("<option></option>")
                      .attr("value", obj.id)
                      .attr("data-has-perfil", obj.perfis.length > 0 )
                      .text(obj.descricao));
                });
                if (data.pagination.next_page > 0) {
                  formData.page = data.pagination.next_page
                  get_pages_recursive()
                }
                else {
                  if (formData.content_type === especie_persistida) {
                    $("#id_tipo").val(tipo_persistido)
                  } else {
                    $("#id_tipo").prop("selectedIndex", 0)
                  }
                }
              }
              
          });
        }
        get_pages_recursive()
  		});

      $("select[name=tipo_materia], select[name=especie], input[name=vinculo_numero] ").trigger('change');

    });
	</script>
{% endblock %}
