{% extends "crud/form.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block base_workspace %}
  {% if view.is_contained %}
    <div class="box-area-trabalho">
          <a>
          Autor de Documentos e Proposições: <strong>{{user.autor_set.all.0}}</strong></a>
    </div>
  {% endif %}
{% endblock base_workspace %}
{% block extra_js %}
   <script type="text/javascript">

    $(document).ready(function(){

    	$("select[name=content_type]").change(function(event) {
        if (this.value == 'D' && this.checked)
          $("#div_id_texto_original").removeClass('hidden');
        else if (this.value == 'T' && this.checked)
          $("#div_id_texto_original").addClass('hidden');
      });


      $("select[name=tipo]").change(function(event) {

        if (this.selectedOptions[0] && this.selectedOptions[0].getAttribute('data-has-perfil') === "true") {
          $("input[name=tipo_texto]").closest('label').removeClass('disabled');
          $("input[name=tipo_texto]").closest('.form-group').parent().removeClass('hidden');
          $("input[name=tipo_texto]").prop('disabled', false);
        }
        else {
            $("input[name=tipo_texto]").closest('label').addClass('disabled');
            $("input[name=tipo_texto]").closest('.form-group').parent().addClass('hidden');
            $("input[name=tipo_texto]").prop('disabled', true);
        }
        if ($("input[name=tipo_texto]:checked").length == 0) {
          $("input[name=tipo_texto]").first().prop('checked', true);
          $("input[name=tipo_texto]").first().closest('label').addClass('checked');          
        }

      });

      $("select[name=tipo_materia], input[name=numero_materia], input[name=ano_materia]").change(function(event) {
        var url = '{% url 'sapl.api:materialegislativa-list'%}'

        var formData = {
              'tipo'   : $("select[name=tipo_materia]").val(),
              'ano'    : $("input[name=ano_materia]").val(),
              'numero' : $("input[name=numero_materia]").val(),
        }
        if (formData.tipo == '' || formData.ano == '' || formData.numero == '')
          return;
        $.get(url, formData).done(function(data) {
          if (data.pagination.total_entries == 1)
            $(".ementa_materia").html(data.results[0].ementa).removeClass('hidden');
          else
            $(".ementa_materia").html('').addClass('hidden');
        });
  		});

      $("select[name=content_type]").change(function(event) {
        $("#id_tipo option").remove()
        var url = '{% url 'sapl.api:tipoproposicao-tiposdoautor'%}'

        var formData = {
              content_type : $("select[name=content_type]").val(),
              page: 1
        }
        if (formData.content_type === '')
          return;

        var get_pages_recursive = function() {
          $.get(url, formData).done(function(data) {

            if (data !== null) {
                $.each(data.results, function(idx, obj) {
                    $("#id_tipo")
                      .append($("<option></option>")
                      .attr("value", obj.id)
                      .attr("data-has-perfil", obj.perfis.length > 0 )
                      .text(obj.descricao));
                });
                if (data.pagination.next_page > 0) {
                  formData.page = data.pagination.next_page
                  get_pages_recursive()
                }
                else {
                  $("#id_tipo").prop("selectedIndex", 0);

                }
              }
              
          });
        }
        get_pages_recursive()
  		});

      $("input[name=tipo_texto], select[name=tipo_materia], select[name=tipo], select[name=content_type]").trigger('change');

    });
	</script>
{% endblock %}
