{% load i18n static menus common_cmj_tags cropping %}
{% load webpack_static from webpack_loader %}

  <div class="header-accessibility">
    <div class="container-fluid dropdown-accessibility">
      <a class="btn btn-link btn-dropdown-accessibility"><i class="fas fa-wheelchair"></i> ACESSIBILIDADE</a>
      <div class="btn-group links-to-content" role="group">
        <a class="btn btn-link " href="#main_content" accesskey="1">Ir para Conteúdo<span class="badge badge-light">1</span></a>
        <a class="btn btn-link" href="/" accesskey="2"><i class="fas fa-home"></i>Página Inicial<span class="badge badge-light">2</span></a>
        <a class="btn btn-link" href="/pesquisar/" accesskey="3"><i class="fas fa-search"></i>Pesquisa Textual<span class="badge badge-light">3</span></a>
        <span>&#8226;</span>
        <a class="btn btn-link" href="/mapa-do-site" accesskey="4" id="mapasite"><i class="fas fa-sitemap"></i> MAPA DO SITE<span class="badge badge-light">4</span></a>
      </div>
      <div class="btn-group links-accessibility" role="group" >
        <a class="btn btn-link" onload="window.checkVLibras()" onclick="window.toogleVLibras()" accesskey="7">
          <i class="fas fa-sign-language"></i> VLibras<span class="badge badge-light">7</span></a>
        <span>&#8226;</span>
        <a class="btn btn-link" href="#" id="altocontraste" accesskey="8" onclick="window.toogleContrast()" onkeydown="window.toggleContrast()">
          <i class="fas fa-adjust"></i> ALTO CONTRASTE<span class="badge badge-light">8</span></a>
        <span>&#8226;</span>
        <a class="btn btn-link" href="/fale-conosco" accesskey="9" id="acess_fale_conosco">
          <i class="fas fa-phone"></i>Fale Conosco<span class="badge badge-light">9</span></a>
        <span>&#8226;</span>


        <a class="btn btn-link d-min-480" href="/acessibilidade" id="accessibility" accesskey="0">
          <i class="fas fa-wheelchair"></i> ACESSIBILIDADE<span class="badge badge-light">0</span></a>
        <span>&#8226;</span>
        {% comment %}
        {% endcomment %}
        <a class="btn btn-link d-max-480" href="/acessibilidade" id="accessibility" accesskey="0"><i class="fas fa-wheelchair"></i> SOBRE A ACESSIBILIDADE</a>
        <div class="group-font">
          <span>FONTE:</span>
          <a class="btn btn-link" id="font_up" accesskey="5" onclick="window.execFontSizeZoom('up')">A+</a>
          <a class="btn btn-link" id="font_default" accesskey="6" onclick="window.execFontSizeZoom('default')">A</a>
          <a class="btn btn-link" id="font_down" accesskey="7" onclick="window.execFontSizeZoom('down')">A-</a>
        </div>
      </div>
    </div>
  </div>
