{% extends "base.html" %}
{% load i18n %}

{% block second_header %}{% endblock second_header %}

{% block content_container %}
  <div class="container bi-app">

    <div class="container-bi-global">
      <h2 class="legend-global">
            Portal CMJ em Números
      </h2>
      <div class="row justify-content-between">
        {% for key, value in global %}
          <div class="col-3 col-sm-2 col-lg-1">
            <div class="inner">
              <div class="value text-{{value.color}}">
              {{value.count}}
              </div>
              <div class="key">
                {{key}}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="container-bi bi-graph bi-graph-barra-horizontal">
          <h3 class="legend">
                Atividades Anuais
          </h3>
          <div class="inner">
            <div class="ly">
              {% for ano, value in producao_anual %}
                <span class="ly-item p-row">
                {{ano}}
                </span>
              {% endfor %}
            </div>

            <div class="ly2">
              {% for ano, value in producao_anual %}
                <span class="ly-item p-row">
                {{ano}}
                </span>
              {% endfor %}
            </div>

            <div class="ly3">
              {% for ano, value in producao_anual %}
                <span class="ly-item p-row">
                {{ano}}
                </span>
              {% endfor %}
            </div>

            <div class="graph">
              {% for ano, value in producao_anual %}
                <div class="group-row">
                  <div class="g-row">
                    <span class="d-inline-block bg-green" style="width: {{value.largura.documentos|stringformat:'f'}}%;">
                      {% if value.largura.documentos >= 18 %}
                        <span>{{value.documentos}}
                        </span>
                      {% else %}
                        &nbsp;
                      {% endif %}
                    </span>
                    {% if value.largura.documentos < 18 %}
                      {{value.documentos}}
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="graph2">
              {% for ano, value in producao_anual %}
                <div class="group-row">
                  <div class="g-row">
                    <span class="d-inline-block bg-yellow" style="width: {{value.largura.paginas|stringformat:'f'}}%;">
                      {% if value.largura.paginas >= 18 %}
                        <span>{{value.paginas}}
                        </span>
                      {% else %}
                        &nbsp;
                      {% endif %}
                    </span>
                    {% if value.largura.paginas < 18 %}
                      {{value.paginas}}
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="graph3">
              {% for ano, value in producao_anual %}
                <div class="group-row">
                  <div class="g-row">
                    <span class="d-inline-block bg-fuchsia" style="width: {{value.largura.tramitacao|stringformat:'f'}}%;">
                      {% if value.largura.tramitacao >= 18 %}
                        <span>{{value.tramitacao}}
                        </span>
                      {% else %}
                        &nbsp;
                      {% endif %}
                    </span>
                    {% if value.largura.tramitacao < 18 %}
                      {{value.tramitacao}}
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="lx">
                <span class="lx-titulo">Documentos Cadastrados</span>
                <span class="lx-item"></span>
            </div>
            <div class="lx2">
                <span class="lx-titulo">Páginas Digitalizadas</span>
                <span class="lx-item"></span>
            </div>
            <div class="lx3">
                <span class="lx-titulo">Tramitações</span>
                <span class="lx-item"></span>
            </div>
          </div>
        <div class="bi-footer">
          <i>
            Os dados acima podem divergir dos dados abaixo por não contar com as inserções do dia de hoje,
            vez que são consolidados na madrugada, uma vez ao dia.<br>
            Já os dados abaixo são calculados em tempo real.
          </i>
        </div>
        </div>
      </div>
    </div>
  {{numeros|safe}}
  </div>
{% endblock %}