{% load i18n staticfiles cropping common_cmj_tags%}
{% if notificacoes %}
  <div class="popup-notificacoes">
    <div class="inner">
      <div class="popup-titulo">
        {% trans "Notificações" %}
        {{ perms.popup_notificacao}}
      </div>
      {% if notificacoes_anonimas.count %}
        <div class="inner-list">
          <div class="popup-subtitulo">
            {% trans "Denúncias Anônimas" %}
          </div>
          {% for item in notificacoes_anonimas %}
            <a class="item" href="{% url 'cmj.core:notificacao_redirect' item.pk %}">
              {% avatar_user item.user_origin %}
              <div class="texto">
                <div class="titulo">
                  {{item.content_object|safe|truncatechars:110}}
                </div>
                <div class="time">
                há {{item.created|timesince}}
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
      {% endif %}
      {% if notificacoes_usuarios.count %}
        <div class="inner-list">
          <div class="popup-subtitulo">
            {% trans "Notificações de Usuários" %}
          </div>
          {% for item in notificacoes_usuarios %}
            <a class="item" href="{% url 'cmj.core:notificacao_redirect' item.pk %}">
              <div >
                {% avatar_user item.user_origin %}
              </div>
              <div class="texto">
                <div class="titulo">
                  {{item.content_object|safe|truncatechars:110}}
                </div>
                <div class="time">
                há {{item.created|timesince}}
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <a href="#" class="btn-unread">{{notificacoes}}</a>
  </div>
{% endif %}
