{% load common_cmj_tags common_tags%}

{% for nome, data in signs %}
  {% if forloop.first %}
    <div class="col d-flex align-items-center">
      <div class="box-assinatura-eletronica my-2">
        <span class="title"> Assinatura Digital </span>
        <div class="sigs">
  {% endif %}
        <div class="sig">
          <span class="sig-nome">
            {{nome}}
          </span>
          <small class="sig-data">
            Assinado em: {{data|parse_datetime|date:"DATETIME_FORMAT" }}
          </small>
        </div>
  {% if forloop.last %}
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
