{% load common_cmj_tags common_tags%}

{% for nome, data in signs %}
  {% if forloop.first %}
    <div class="col d-flex align-items-center">
      <div class="box-assinatura-eletronica my-3 ">
          {% if signs|length == 1 %}
            Assinatura Digital
          {% else %}
            Assinaturas Digitais
          {% endif %}
          <div class="sigs">
  {% endif %}
          <div class="sig">
            <span class="sig-nome">
              {{nome}}
            </span>
            <small class="sig-data">
              {% if data|islist %}
                Assinado em: {{data.0|parse_datetime|date:"DATETIME_FORMAT" }}
                <br><small>{{data.1}}</small>
              {% else %}
                Assinado em: {{data|parse_datetime|date:"DATETIME_FORMAT" }}
              {% endif %}
            </small>

          </div>
  {% if forloop.last %}
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}

{% if False %}
  {% for nome, data in signs %}
    {% if forloop.first %}
      <div class="col d-flex align-items-center">
        <div class="box-assinatura-eletronica my-2">
          <span class="title"> Assinatura Digital </span>
          <div class="sigs">
    {% endif %}
          <div class="sig col-3">
            <span class="sig-nome">
              {{nome}}
            </span>
            <small class="sig-data">
              {% if data|islist %}
                Assinado em: {{data.0|parse_datetime|date:"DATETIME_FORMAT" }}
                <br><small>{{data.1}}</small>
              {% else %}
                Assinado em: {{data|parse_datetime|date:"DATETIME_FORMAT" }}
              {% endif %}
            </small>
          </div>
    {% if forloop.last %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}