@import '../oficial/_variables.scss';
/*
$color_primary: #eb3c7d;

$color_text_brand_hover: #691131;

$color_text_menu: #fff;
$color_border_menu_hover: rgba(243, 148, 243, 0.5);
*/

.navbar-brand {
  &:hover {
    text-shadow: 0px 0px 10px #01d8e7;
  }
}

.brand-name {
  position: relative;
  &::before {
    content: " ";
    background: url(~@/__globals/2018/themes/novembroazul/img/novembro_azul.png) no-repeat top left;
    background-size: auto 100%;
    opacity: 1;
    bottom: 0px;
    left: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }
}

@media screen and (min-width: 992px) {

  .brand-name {
    &::before {
      width: 60%;
      height: 60%;
      bottom: 5px;
      left: 0%;
      margin-left: -7%;
      transform: rotate(-15deg);
    }
  }
}