
header.main {
  background: $bg_color_portal_cmj; // $url_bg_png;
  transition: all 0.3s ease;
  position: fixed;
  width: 100%;

  & * {
    transition: all 0.3s ease;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-image: url(~@/assets/img/header_bg_linha.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: -18px -10px;
  }

  #header-accessibility {
    background-color: transparent;
    position: absolute;
  }


  #accessactions {
    opacity: 0.7;
    .btn-link {
      color: white;
      padding: 0 0.4rem;
      font-size: 0.8rem;
      .badge {
        margin-left: 0.3rem;
        padding-top: 2px;
        padding-bottom: 2px;
        line-height: 1;
        background-color: #777;
      }
    }
    &:hover {
      opacity: 1;
    }
  }

  #rowlogo {
    align-items: center;
    padding-top: 1.8rem;
  }

  .navbar {
    padding-left: 0;
    &:hover {
      text-shadow: 1px 1px 15px  lighten($bg_color_portal_cmj, 20%);
    }
  }

  .navbar-brand {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;

    img {
      height: 64px;
    }

    .brand-name {
      padding-left: 1rem;
      display: flex;
      flex-direction: column;
      color: white;
      line-height: 1;
      font-family: Arial;
      justify-content: center;
      font-size: 0.7rem;
    }
    .brand-cidade {
      font-weight: bold;
      font-size: 380%;
      border-bottom: 1px solid white;
      line-height: 0.9;
      text-transform: uppercase;
    }
    .brand-estado {
      text-align: center;
      padding-top: 0.3rem;
    }
  }

  .form-search {
    //padding: 0.2rem;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }

    .inner {
      display: flex;
      position: relative;

      .item-form {
        &:first-child {
          flex: 1 1 100%;
        }
        &:last-child {
          position: absolute;
          top: 0px;
          right: 0px;
          height: 100%;
        }
      }
      input {
        border: 0px;
        background-color: white;
        border-radius: 5px;
        font-size: 1.3rem;
        padding-right: 60px;
      }
      button {
        background-color: transparent;
        border: 0;
        width: 50px;
        height: 100%;
        border-left: 1px solid gray;

      }
    }
  }

  #portalactions {
    padding: 1rem 0;
    .col-1 {
      display: none;
    }
    .col-2 {
      flex: 0 0 20%;
      max-width: 20%;
    }
    a {
      display: flex;
      flex-direction: column;
      color: white;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      .img {
        background-image: url(../oficial/assets/icon_cmj_512.png);
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center center;
        height: 48px;
        }
      .label {
        display: flex;
        font-size: 0.8rem;
        line-height: auto;
        align-items: center;
        justify-content: center;
      }
    }
  }

  #header-menu {
    //height: 48px;
  }


  &.header-top {
    position: relative;

    #rowlogo {
      padding-top: 1rem;
    }

    .navbar-brand {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      img {
        height: 96px;
      }

      .brand-name {
        padding-left: 1rem;
        font-size: 1.3rem;
      }
    }

    #portallogo {
      flex: 1 1 auto;
    }
    #portalactions {
      order: 3;
      width: 100%;
      flex: 0 0 100%;
      a {
        color: white;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        .img {
          background-image: url(../oficial/assets/icon_cmj_512.png);
          background-size: auto 100%;
          background-repeat: no-repeat;
          background-position: center center;
          height: 96px;
          }
        .label {
          display: flex;
          height: 5rem;
          min-height: 50px;
          font-size: 1.1rem;
        }
      }
    }
  }
}

