@import './variables';
@import '../__/imports';
@import '../__/mixins';
@import './layouts/bootstrap/_btn';
@import './layouts/bootstrap/_carousel_custom';

@import './layouts/avatar';
@import './layouts/icons';

@import './layouts/social_links';

@import './layouts/header/header';
@import './layouts/main/main';
@import './layouts/footer/footer';

@import './apps/app_sigad';
@import './apps/app_materia';


.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
