header.main {
  #portallogo {
    padding: 0 $min_padding * 2;

    .navbar {
      padding: 0;

      &:hover {
        text-shadow: 1px 1px 15px lighten($bg_color_portal_cmj, 20%);
      }
    }

    .navbar-brand {
      display: flex;
      padding: 0;
      margin: 0;
      align-items: center;

      img {
        height: 3.5rem;
        padding: 1.44rem $min_padding * 2;
        padding-left: 0;
        box-sizing: content-box;
      }

      .brand-name {
        display: flex;
        flex-direction: column;
        color: white;
        line-height: 1;
        font-family: Arial;
        justify-content: center;
        font-size: 0.6rem;
      }

      .brand-cidade {
        font-weight: bold;
        font-size: 380%;
        border-bottom: 1px solid rgba(white, 0.5);
        line-height: 0.9;
        text-transform: uppercase;
      }

      .brand-estado {
        text-align: center;
        //display: none;
        padding-top: $min_padding;
      }
    }
  }

  &.header-top {
    #portallogo {
      .navbar-brand {
        img {
          padding: $min_padding * 2;
          padding-left: 0;
        }
      }
    }
  }

  &.header-mini {
    #portallogo {
      .navbar-brand {
        img {
          height: 3rem;
          padding: $min_padding * 2;
          padding-left: 0;
        }

        .brand-name {
          font-size: 0.4rem;
        }
      }
    }
  }
}

@media screen and (max-width: 991.98px) {
  header.main {
    #portallogo {
      flex: 0 0 auto;

      .navbar-brand {
        img {
          height: 2.5rem;
          padding: $min_padding * 2.2;
          padding-left: 0;
        }

        .brand-name {
          font-size: 0.4rem;
        }
      }
    }

    &.header-top {
      #portallogo {
        .navbar-brand {
          img {
            height: 2.5rem;
            padding: $min_padding * 4.3;
            padding-left: 0;
          }

          .brand-name {
            font-size: 0.4rem;
          }
        }
      }
    }

    &.header-mini {
      #portallogo {
        .navbar-brand {
          img {
            height: 2rem;
            padding: $min_padding * 2.6;
            padding-left: 0;
          }

          .brand-name {
            font-size: 0.37rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767.98px) {
  header.main {
    #portallogo {
      padding: 0 $min_padding;

      .navbar-brand {
        img {
          height: 2rem;
          padding: $min_padding * 1.4;
          padding-left: 0;
        }

        .brand-name {
          font-size: 0.35rem;
        }
      }
    }

    &.header-top {
      #portallogo {
        .navbar-brand {
          img {
            height: 2.5rem;
            padding: $min_padding * 1.4;
            padding-left: 0;
          }

          .brand-name {
            font-size: 0.4rem;
          }
        }
      }
    }

    &.header-mini {
      #portallogo {
        .navbar-brand {
          img {
            height: 2rem;
            padding: $min_padding * 1.4;
            padding-left: 0;
          }

          .brand-name {
            font-size: 0.35rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 575.98px) {
  header.main {
    #portallogo {
      flex: 1 1 0%;

      .navbar-brand {
        img {
          height: 1.7rem;
          padding: $min_padding * 3 $min_padding;
          padding-left: 0;
        }
      }
    }

    &.header-top {
      #portallogo {
        flex: 1 1 0%;

        &.d-searching {
          flex: 0 0 auto;
        }

        .navbar-brand {
          img {
            height: 1.7rem;
            padding: $min_padding * 3 $min_padding;
            padding-left: 0;
          }
        }
      }
    }

    &.header-mini {
      #portallogo {
        flex: 1 1 0%;

        .navbar-brand {
          img {
            height: 1.7rem;
            padding: $min_padding* 2 $min_padding;
            padding-left: 0;
          }
        }
      }
    }
  }
}



@media screen and (min-width: 992px) {
  header.main {
    &.header-top {
      #portallogo {
        flex: 1 1 0%;

        &.d-searching {
          flex: 0 0 auto;
        }
      }
    }
  }
}


@media screen and (min-width: 1281px) {
  header.main {
    #portallogo {
      .navbar-brand {
        img {
          height: 4rem;
          padding: $min_padding * 4.5;
          padding-left: 0;
        }

        .brand-name {
          font-size: 0.9rem;
        }
      }
    }

    &.header-top {
      #portallogo {
        .navbar-brand {
          img {
            height: 5rem;
            padding: $min_padding * 5;
            padding-left: 0;
          }

          .brand-name {
            font-size: 1.2rem;
          }
        }
      }
    }

    &.header-mini {
      #portallogo {
        .navbar-brand {
          img {
            height: 3rem;
            padding: $min_padding * 2;
            padding-left: 0;
          }

          .brand-name {
            font-size: 0.6rem;
          }
        }
      }
    }
  }
}