{% extends "base.html" %}
{% load i18n common_cmj_tags%}

{% block base_content %}

  <div class="context-actions clearfix">
    {% block actions %}

      {% block sub_actions %}

        <div class="actions btn-group btn-group-sm" role="group">
          {% if view.list_url %}
            <a href="{{ view.list_url }}" class="btn btn-outline-primary">{% trans 'Listar' %} {{view.verbose_name_plural}}</a>
          {% endif %}
          {% if view.search_url %}
            <a href="{{ view.search_url }}" class="btn btn-outline-primary">{% trans 'Fazer nova pesquisa' %}</a>
          {% endif %}
          {% if view.create_url %}
            <a href="{{ view.create_url }}" class="btn btn-outline-primary">
              {% blocktrans with verbose_name=view.verbose_name %} Adicionar {{ verbose_name }} {% endblocktrans %}
            </a>
          {% endif %}
        </div>
          {% if view.extras_url %}
            <div class="actions btn-group btn-group-sm" role="group">
          {% for url, css_class, text in view.extras_url %}
            <a href="{{url}}" class="btn btn-outline-primary {{css_class}}">
                  {{text}}
                </a>
              {% endfor %}
            </div>
          {% endif %}
      {% endblock sub_actions %}

      <div class="editons pull-right">
        {% block editions %}
          {% if view.update_url or view.delete_url %}
            <div class="actions btn-group" role="group">
              {% if view.update_url %}
                <a href="{{ view.update_url }}" class="btn btn-outline-primary">{% trans 'Editar' %}</a>
              {% endif %}
              {% if view.delete_url %}
                <a href="{{ view.delete_url }}" class="btn btn-outline-primary btn-excluir">{% trans 'Excluir' %}</a>
              {% endif %}
            </div>
          {% endif %}
        {% endblock %}
      </div>

    {% endblock actions %}
  </div>

  <div class="container-detail clearfix">
    {% block detail_content %}
    {% endblock detail_content %}
  </div>

  {% block table_content %}
    {% include "paginacao.html" %}
  {% endblock table_content %}
{% endblock base_content %}
