{% extends "base.html" %}
{% load sigad_filters %}
{% load common_cmj_tags %}
{% load i18n %}

{% block base_content %}


  {% block detail_content %}

    <h1>{{ object.titulo|default:'' }}</h1>



{% if object.descricao %}
	<fieldset>
	    <legend>{% verbose_name object 'descricao'%}</legend>
	    <div class="row">
	        <div class="columns large-12">
	            <div id="div_id_descricao" class="holder">
	                <p>{{ object.descricao|safe }}</p>
	            </div>
	        </div>
	    </div>
	</fieldset>
{% endif %}

{% if object.texto %}
	<fieldset>
	    <legend>{% verbose_name object 'texto'%}</legend>
	    <div class="row">
	        <div class="columns large-12">
	            <div id="div_id_texto" class="holder">
	                <p>{{ object.texto|safe }}</p>
	            </div>
	        </div>
	    </div>
	</fieldset>
{% endif %}


{% endblock detail_content %}

{% endblock base_content %}
