@import "variables";

.container-calendar {
  margin-bottom: 10px;
  position: relative;
  .btn-calendar {
    position: absolute;
    top: 20px;
    z-index: 1;
    font-size: 400%;
    a {
      color: rgba($color_topo_bg, 0.3);
      &:hover {
          color: rgba($color_topo_bg, 0.9);
      }
    }
  }
  .btn-next {
    right: 0px;
  }
  .btn-previous {
    left: 0px;
  }
  .semana {
    display: table;
    width: 100%;
    font-size: 0px;
    .dia {
      display: inline-block;
      width: calc(14.2857%);
      vertical-align: top;
      padding: 1px;
      font-size: 1.5rem;
      &:last-child {
        padding-right: 0;
      }
      &:first-child {
        padding-left: 0;
      }
    }
    .numero {
      font-size: 400%;
      font-weight: bold;
      color: rgba($color_topo_bg, 0.1);
      position: absolute;
      right: 10px;
      line-height: 1;
      padding: 5px;
      bottom: 0px;
    }
    .dia-out {
      .numero {
        font-size:200%;
        color: #ccc;
      }
    }
    .dia-now {
      .numero {
        color: darken(yellow,5);
      }
    }
    .dia-destaque {
      background-color: rgba($color_topo_bg, 0.2);
      .numero {
        color: rgba(red,0.5);
      }
    }
    .inner {
      position: relative;
      background: $color_main_bg url(/static/img/bg.png);
      padding: 2px;
      height: 140px;
      overflow: hidden;
      &:hover {
        height: auto;
        min-height: 140px;
        overflow: inherit;
      }
    }
    .evento {

      font-size: 90%;
      border-bottom: 1px solid #ccc;
      line-height: 1.2;
      color: #343;
      position: relative;
      .hover {
        display: none;
        position: absolute;
        background: white;
        z-index: 1;
        min-width: 110%;
        padding: 5px;
        border: 1px solid #cdc;
        left: 10%;
        top: 100%;
        box-shadow: 0px 0px 3px #bbb;
      }
      &:hover {
        background: url(/static/img/bg.png);
        .hover {
          display: inline-block;
        }
      }
    }
    .evento-feriado {
      color: rgba(red,0.5);
      border-bottom: 1px solid rgba(red,0.2);
      a {
        color: rgba(red,0.5);
      }
    }
  }

  .nomes {
    background: rgba($color_topo_bg,0.5);
    color: white;
    font-weight: bold;
    text-align: center;

    .dia {
      font-size: 1.5rem;
    }
  }
  .mes {
    color: $color_topo_bg;
    background:white;
    font-size: 130%;
    display: inline-block;

  }
}

.panel-agenda {
  background: white;
  border-radius: 5px;
  height: 321px;
  overflow: hidden;
  position: relative;
  .heading {
    border-radius: 5px 5px 0 0;
    padding: 10px 10px 6px 10px;
    line-height: 1;
    font-weight: bold;
    font-variant: small-caps;
    background: rgba(#b7aa73, 0.4) $url_bg_png;
  }

  .ag-comp {
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .item-agenda:nth-child(odd)  {
    background: rgba(#b7aa73, 0.15) $url_bg_png;
  }
  .item-agenda:nth-child(even)  {
    background: rgba(#b7aa73, 0.25) $url_bg_png;
  }
  .item-agenda {
    position: relative;
    padding: 7px;
    line-height: 1.4;

    font-size: 80%;
    .data, .titulo {
      display: block;
    }
    .data {

    }
    .titulo {
      font-weight: bold;
      color: #675a43;
      &:hover {
        color: #444;
      }
    }
    .descricao {
      display: none;
      position: absolute;
      background: #b79a73;
      border: #e7cab3 1px solid;
      right: 10px;
      left: 10%;
      padding: 10px;
      color: white;
      line-height: 1.2;
      z-index: 1;
      text-align: right;
          box-shadow: 2px 2px 6px #99a;
    }
    &:hover {
      background: rgba(#b7aa73, 0.7) $url_bg_png;
      .descricao {
        display: block;
      }
    }
  }
  &:hover {
    height: auto;
    overflow: inherit;
    position: absolute;
    z-index: 1;
    right: 15px;
    left: 15px;
  }
}


