


.container-thumbnails {
  .content-image {
    float: left;
    width: auto;
    &:hover {
      border-color: black;
    }
    .image {
      padding: 5px;
      display: inline-block;
      width: 100%;
      height: 150px;
      cursor: pointer;
    }
    img {
      height: auto;
      width: auto;
      max-height: 100%;
      max-width: 100%;

      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }

    .anotacoes {
      display: none;
    }
    &.show-image {
      float: none;
      position: relative;
      background: #002900;
      opacity: 1;
      margin-top: 10px;
      margin-bottom: 10px;
      &::before {
        content: '';
        position: absolute;
        visibility: inherit;
        border-bottom: 15px dashed #002900;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        top: -15px;
      }

      &.wait {
        opacity: 0.5;
      }
      .inner {
        height:  100%;
      }
      .image {
        height:  100%;
        padding: 30px;
        width: auto;
        max-width: 66.666%;
      }
      .anotacoes {
        display: inline-block;
      }
      img {
        /*height: auto;
        width: 100%;*/
        opacity: 1;
        box-shadow: 0 5px 35px rgba(0,0,0,.65);
      }
    }
  }
}

.container-gallery {
  margin: 0 $grid-gutter-width / -2 ;
  position: relative;
  z-index: 2001;

  .navbar-social-links a i {
    color: #bbb;
  }

  .gallery-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: #222422;
    overflow: hidden;
  }
  .gallery-show {
    position: absolute;
    display: inline-block;
    top: 0px;
    bottom: 128px;
    .show-texto {
      display: inline-block;
      vertical-align: middle;
      color: white;
    }
  }

  .show-image {
    width: 65%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    position: relative;
    .image {
      height: 100%;
      width: 100%;
      padding: 20px;
      display: inline-block;
    }
    .progress {
      position: absolute;
      width: 100%;
      height: 7px;
      opacity: 0.8;
    }
    img {
      height: 100%;
      width: auto;
      max-width: 100%;
      max-height: 100%;
      box-shadow: 0 5px 35px rgba(0,0,0,.65);
    }
  }

  .show-contexto {
    width: 33%;
    display: inline-block;
    height: 100%;
    .show-sep {
      display: inline-block;
      vertical-align: middle;
      width: 1px;
      height: 90%;
      box-shadow: 1px 0 #2a2a2a;
      background: #121212;
    }
    .show-texto {
      width: 95%;
      overflow-y: auto;
      height: 100%;
      padding: $grid-gutter-width * 2 $grid-gutter-width / 4 $grid-gutter-width / 4 $grid-gutter-width;
    }
    .show-descricao {
      font-size: 75%;
      color: #bbb;
      line-height: 1.1em;
    }
    .show-autor {
      font-size: 60%;
      position: absolute;
      top: 0;
      left: 0;
    }
    .show-titulo {
      line-height: 1.2em;
      padding-bottom: 0.8em;
    }

  }

  .gallery-thumbnails {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 128px;
    overflow-y:hidden;
    overflow-x:scroll;
    overflow-scrolling:touch;
    .thumb-scroll {
      /*background-color: yellow;*/
      height: 100%;
      overflow:hidden;
    }
    .show-texto {
      display: none;
    }
    .gallery-item {
      float: left;
      height: 128px;
      padding-right: 2px;
      display: inline-block;
      cursor: pointer;
      opacity: 0.5;
      transition: opacity 0.3s ease;
      &.active {
        transition: opacity 1s ease;
        opacity: 1;
        img {
          padding: 10px;
        }
      }
      &:last-child {
        padding-right: 0px;
      }
      img {
        height: 100%;
      }
    }
  }
  .path-direction {
    position: absolute;
    &:hover {
      min-width: auto;
    }
    a {
      color: white;
      border-radius: 0px;
      background-color: transparent;
      background-image: none;
      opacity: 0.5;
      font-size: 1.5em;
      &:hover {
        background-color: transparent;
        opacity: 1;
      }
    }
    &.path-next a {
      padding-left: 0.25em;
    }
    &.path-previous a {
      padding-right: 0.25em;
    }
  }
}
.container-albuns {
  margin-top: 10px;
  .row > div {
    padding: 0 10px 20px 10px;

    &:nth-child(1) {
      width: 66.666%;
      .album-item-list {
        .show-image {
          height: 520px;
        }
      }
    }
    &:nth-child(4) {
      .album-item-list {
        .show-image {
          height: 520px;
        }
      }
    }
    &:nth-child(5) {
      width: 66.666%;
    }
  }
  .album-item-list {
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 4px #c8cac8;
    .show-image {
      height: 250px;
    }
    .image {
      transition: all 0.4s ease;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% center;
      opacity: 0.7;
    }
    .show-descricao{
      display: none;
    }
    .show-texto {
      position: absolute;
      padding: $grid-gutter-width * 0.75;
      bottom: 0px;
      color: white;
      text-shadow: 0 1px 1px #000;
      line-height: 1.2;
      font-size: 90%;
      font-weight: bold;
      small {
        display: block;
      }
    }
    .show-contexto {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0px, transparent 40%, transparent);
      transition: top 0.15s ease-in-out;
      .btn-actions {
        height: 0px;
        overflow: hidden;
        transition: height 0.15s ease-in-out;
        text-align: right;
        position: absolute;
        bottom: $grid-gutter-width;
        right: $grid-gutter-width;
        background: transparent;
        left: 0;
        a {
          display: inline-block;
          left: auto;
          color: rgba(#fff, 0.7);
          &:hover {
            color: white;
          }
        }
      }
      a {
        display: inline-block;
      }
      &:hover {
        transition: top 0.15s ease-in-out;
        top: -30%;
        .show-texto {
          line-height: 1.5;
          bottom: 10px;
          transition: all 0.15s ease-in-out;
        }
        .btn-actions {
          height: 28px;
          transition: height 0.15s ease-in-out;
        }
      }
    }

    &:hover {
      .image {
        transition: all 0.4s ease;
        opacity: 1;
        transform: scale(1.15);
      }
    }
  }
  .albuns-show-gallery {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    .container-gallery {
      margin: 0;
    }
    .btn-close {
      color: rgba(#fff, 0.7);
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
      display: inline-block;
      cursor: pointer;
      line-height: 1em;
      padding: 10px;
      &:hover {
        color: #fff;
      }

    }
  }
}

@media screen and (max-width: 1199px) {

  .container-gallery {
    .show-image {
      width: 59%;
    }
    .show-contexto {
      width: 40%;
      .show-titulo {
        padding-bottom: 0.4em;
      }
      .show-texto {
        padding-top: 20px;
      }
      .show-autor {
        font-size: 50%
      }
    }
  }

}

@media screen and (max-width: 991px) {

  .container-gallery {
    .gallery-show {
      bottom: 96px;
    }
    .show-image {
      width: 57%;
      .progress {
        height: 5px;
      }
    }

    .show-contexto {
      width: 42%;
    }

    .gallery-thumbnails {
      height: 96px;
      .gallery-item {
        height: 96px;
        &.active {
          img {
            padding: 3px;
          }
        }
      }
    }
  }
  .container-albuns {
    .row > div {
      &:nth-child(1) {
        width: 100%;
        .album-item-list {
          .show-image {
            height: 250px;
          }
        }
      }
      &:nth-child(4) {
        .album-item-list {
          .show-image {
            height: 520px;
          }
        }
      }
      &:nth-child(5) {
        width: 50%;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .container-gallery {
    line-height: 1.2;
    .show-contexto {
      .show-titulo {
        padding: 0px;
      }
    }
  }

}
@media screen and (max-width: 800px) and (orientation: landscape) {
  .container-gallery {
    .show-contexto {
      .show-texto {
        padding: 3px;
        font-size: 70%;
      }
    }
  }
}
@media screen and (max-width: 800px) and (orientation: portrait) {
  .container-gallery {
    .show-image {
      width: 100%;
      .image {
        padding: 0px;
      }
    }
    .show-contexto {
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: auto;
      left: 0px;
      background: rgba(#222422, 0.7);
      .show-texto {
        padding: 5px;
        font-size: 53%;
      }
    }
  }
}

@media screen and (min-width: 1281px) {
  .container-gallery {
    .gallery-thumbnails {
      height: 128px;
      .gallery-item {
        height: 113px;
      }
    }
  }
}
