
@mixin placeholder($color, $opacity, $fontsize, $fontweight) {
    &::-webkit-input-placeholder {
      color: $color !important;
      opacity: $opacity;
      font-size: $fontsize;
      font-weight: $fontweight;
    }
    &::-moz-placeholder {
      color: $color !important;
      opacity: $opacity;
      font-size: $fontsize;
      font-weight: $fontweight;
    }
    &::-moz-placeholder {
      color: $color !important;
      opacity: $opacity;
      font-size: $fontsize;
      font-weight: $fontweight;
    }
    &:-ms-input-placeholder {
      color: $color !important;
      opacity: $opacity;
      font-size: $fontsize;
      font-weight: $fontweight;
    }
  }