$color_topo_bg: #006556;
$color_topo_border: #f0efe7;

$color_text_inverse: #4effa0;
$color_text: #006556;

$color_main_bg: #fff; //(255, 255, 255, 0.5); //#fff; //

$color_container_bg: #f0efe7;
$color_container_border: darken(#f0efe7, 5);

$color_text_title: #a97905;

$url_bg_png: url(../img/bg.png);

$hover_background_05p: rgba(0,0,0,0.05);
$hover_background_10p: rgba(0,0,0,0.1);
$hover_background_20p: rgba(0,0,0,0.2);
$hover_background_50p: rgba(0,0,0,0.5);
$hover_background_10pw: rgba(205,255,200,0.1);
$hover_background_20pw: rgba(205,255,200,.2);

// variaveis wrapper ########################################
$width-wrapper-lg: 270px !default;
$width-wrapper-sm: 135px !default;
$width-wrapper-xs: 80px !default;

// variaveis bootstrap ########################################
//$grid-gutter-width: 20px !default;

$menu-height: 40px !default;
$padding-menu-top: 5px !default;

$icon-font-path: "../bootstrap/fonts/" !default;


// variaveis bootstrap ########################################
$font-size-base: 1rem !default;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
