@import 'header';

@import '_app_sigad';
@import '_app_agenda';
@import '_app_ouvidoria';
@import '_carousel_custom';
@import '_layout_noticias_secundarias';
@import '_layout_noticias_parlamentares';
@import '_social_links';
@import '_google_search';



.teste {
  font-size: $h1-font-size;
  small {
    color: rgba(white, 0.7);
  }
}

body, html {
  background: $color_main_bg;
}
