
@import 'header';


body, html {
  background: $color_main_bg $url_bg_png;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}



// drunken-parrot flat ui ########################################


.btn-link:hover, .btn-link:focus {
    color: #23527c;
    text-decoration: underline;
    background-color: transparent;
}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
    color: #a94442;
    strong {
      font-weight: normal;
    }
}


// ajuste bootstrap ########################################

.row-fluid:before, .row-fluid:after {
    content: " ";
    display: table;
}
.row-fluid:after {
    clear: both;
}

.caret {
  /* Por padrão caret aponta para baixo*/
  &.top {
    transform: rotate(180deg);
  }
}

.avatar {
  padding: 0 0 0 0;
  display: inline-block;
  opacity: 0.75;
  img {
    border: 0px solid transparent;
    border-radius: 50%;
    width: 100%;
  }
  &:hover {
    opacity: 1;
  }
}



.nav-acessar {
  display: none;
}



a {
  color: $color_topo_bg;
}
a:focus,
a:hover {
  color: darken($color_topo_bg, 20%);
}



/* 
                                                          .btn-ouvidoria {
                                                            margin-bottom: 20px;
                                                            display: inline-block;
                                                            width: 100%;
                                                            text-align: center;
                                                            border-radius: 5px;
                                                            color: white !important;
                                                            background: rgba(#0073b7, 0.8) url(/static/img/bg.png);

                                                            &:hover {
                                                              background-color: rgba(#0073b7, 0.9);
                                                            }
                                                            span {
                                                              display: inline-block;
                                                              width: 100%;
                                                              line-height: 1.4em;
                                                              font-variant: small-caps;
                                                              font-size: 100%;
                                                              background-color: $hover_background_10p;
                                                              font-weight: bold;
                                                            }
                                                            i {
                                                                line-height: 120%;
                                                            }
                                                          } */



.bg-back-image {
  background: $color_main_bg url(../img/bg.png);

}

.container-fluid {
  margin: 0;
}
// colore de forma diferente
// os containers que não são da app sigad

.control-label {
  color: $color_text;
  font-weight: normal;
}


.container-table {
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;
  overflow: hidden;
}
.result-count {
  position: absolute;
  color: darken($color_main_bg, 40%);
  margin-left: 0.5 * $grid-gutter-width;
  margin-top: -0.55 * $grid-gutter-width;
  line-height: $grid-gutter-width * 0.75;
  padding: 4px 0.5 * $grid-gutter-width 2px;
  border: 1px solid  darken($color_main_bg, 5%);
  background-color: white;

}

.table {
  border: 1px solid darken($color_main_bg, 5%);
  margin-top: 20px;
  td {
    ul {
        margin-bottom: 0px;
    }
  }

}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  border-top-color: darken($color_main_bg, 5%);
  border-bottom-width: 0;
  font-weight: normal;
  vertical-align: middle;
}

.table-link-ordering > thead > tr > th, .table-link-ordering > tbody > tr > th, .table-link-ordering > tfoot > tr > th {
    padding: 0;
    a {
      display: block;
      padding: $grid-gutter-width 0.35 * $grid-gutter-width;
      &:hover {
        background-color: $hover_background_05p;
      }
    }
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: lighten($color_container_bg, 3);
}
.table-striped > tbody > tr:hover {
    background-color: darken($color_container_bg, 10);
}



.table {
  .row-unread {
    td {
      background-color:#e3d4b5;
    }

  }
}


.context-actions{
  margin: 0 0 $grid-gutter-width;
  .actions {
    margin: $grid-gutter-width $grid-gutter-width/2 0;
    .form-group {
      margin-bottom: 0;
    }
  }
}

.alert {
  margin: $grid-gutter-width $grid-gutter-width/2 $grid-gutter-width;
}

// #### CRUD DETAIL ########################################
p.control-label {
  font-weight: bold;
  margin-bottom: 0;
}


// #### CRUD UPDATE ########################################

.avatar-parlamentar {
  height: 42px;
  width: 42px;
}

.cts {  // container trecho search
  position: fixed;
  background-color: white;
  z-index: 1;
  border: 1px solid #dcdac8;
  border-radius: 4px;
  margin-top: -0.4em;
  visibility: hidden;
  overflow: hidden;

  .its {  // item trecho search
    padding: 0.3em 0.7em;
    cursor: pointer;
    &:nth-child(even) {
      background-color: #f9f9f9;
    }
    &:hover {
      background-color: #f0f0f0;
    }
  }
}


// ADJUST DRUNKEN PARROT STYLES ########################################
.panel-primary {
  border-color: $color_topo_bg;
  .panel-heading {
    background-color: $color_topo_bg;
    color: lighten($color_topo_bg, 20%);
  }
  .panel-footer {
    padding: 0;
    background-color: $color_topo_bg;
    border-width: 0;
    small {
      color: lighten($color_topo_bg, 20%);
      text-align: center;
      display: block;
    }
  }
  .panel-body {
    padding: 0;
    .panel-empty {
      padding: 1em;
    }
  }
}


.h1,
h1 {
  font-size: 35px;
}
.h2,
h2 {
  font-size: 24px;
}
.h3,
h3 {
  font-size: 20px;
}
.h4,
h4 {
  font-size: 16px;
}
.h5,
h5 {
  font-size: 14px;
}
.h6,
h6 {
  font-size: 12px;
}
.input-lg, .btn-lg {
  height: 50px;
}

.embed-audio {
  padding-bottom: 18%;
}


.panel-nota-site-antigo {
  margin-left: 10px;
  margin-bottom: 15px;
  font-size: 60%;
  .panel-heading {
    border: 0px;
    text-align: center;
    padding: 5px;
    line-height: 1.2em;
  }
  .panel-body {
    padding: 5px;
  }
}

// #### pagination ########################################
.pagination {
  padding-top: 25px;
}

// #### IMPLEMENTAÇÃO 2018 #####################

.tags {
  display: inline-block;
  position: relative;
  color: #a97905;
  font-weight: bold;
  font-size: 0.8em;
  line-height: 2.1;
  &:hover {
    text-decoration: underline;
    color: darken(#a97905, 5);
  }
}


@import 'layouts/layout';
@import 'apps/app';

@import '_social_links';
@import '_carousel_custom';
@import '_google_search';


// #### tags ########################################

/* 


.btn-actions {
  position: absolute;
  z-index: 1;
  padding: 3px 6px 0px 8px;
  background: rgba(black, 0.6);
  line-height: 1.1;
  a {
    color: rgba(255, 255, 255, 0.6);
    &:hover {
      color: white;
    }
  }
}

@media screen and (max-width: 1185px + $width-wrapper-lg ) {
  #wrapper.toggled {
    .container {
      &.toggled {
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  #wrapper {
    &.toggled {
      padding-left: $width-wrapper-sm;
      aside {
          width: $width-wrapper-sm;
      }
      .path-previous {
          left: $width-wrapper-sm - 43px;
      }
      .container-gallery {
        .path-previous {
            left: -38px;
        }
      }
    }
  }

  .embed-audio {
    padding-bottom: 20%;
  }
  .canais-absolute {
    .icon {
      position: absolute;
      top: 10%;
      right: 0;
      left: 0;
      bottom: 0px;
      width: 100%;
      display: block;
      background-size: 40%;
      background-position: top;
      opacity: 0.6;
    }
    .inner {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: auto;
      font-size: 1.5em;
      text-align: center;
      a {
        position: relative;
        padding: 100% 0px 10% 0px;
        text-indent: 0;
      }
    }
  }
  #pagina-inicial {
    .path-item-list {
      .avatar {
        margin-left: 0;
      }
    }
    .container-box-parlamentares {
      .navbar-social-links {
        a {
          width: 1.5em;
          height: 1.5em;
          line-height: 1.6em;
        }
      }
    }
  }

  .path-parlamentares {
    .avatar1 {
      width: 200px;
    }
  }

  .container-path-parlamentar {
    .path-capa {
      height: 300px;
    }
  }

  .container-videos {
    .video-list {
      .item {
        width: calc(50%);
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .col-right {
    padding-left: 10px;
  }
  .btn-ouvidoria {
    margin-left: 0px;
  }
  .embed-audio {
    padding-bottom: 23%;
  }

  .container-path {
    font-size: 1.3em;
    .path-data-pub {
      text-align: left;
      span {
        margin-left: 20px;

      }
    }
    .path-title {
      font-size: 120%;
    }
    .path-description {
      margin-left: 5%;
      margin-right: 0%;
    }
  }

  .path-parlamentares {
    margin-top: 10px;
    &:first-child {
      margin-top: 50px;
    }
    .avatar {
      margin-left: 5px;
    }
    .avatar1 {
      width: 150px;
    }
    .avatar2 {
      width: 120px;
    }
    .avatar3 {
      width: 100px;
    }
  }


  #pagina-inicial {
    .path-item-list {
      .avatar {
        float: none;
        width: 90px;
      }
      .path-parlamentares {
        text-align: center;
        margin: 20px 0 0;
      }
      .data-pub {
        position: absolute;
      }
      .inner {
      }
    }
    .container-noticias-secundarias {
      .path-item-list {
        width: calc(50%);
      }
    }
    .container-box-parlamentares {
        margin-left: 0;
        .row {
          & > div:first-child {
            width: auto;
            padding: 0 5px 0 25px;
          }
        }
    }
  }

  .navbar-social-links {
    a {
      line-height: 2.4em;
      i {
        font-size: 130%;
      }
      &.whatsapp {
        line-height: 2.2em;
      }
    }
  }

  .container-path-parlamentar {
    .row:first-child {
      .path-item-list:first-child {
        width: 100%;
        .titulo {
          font-size: 180%;
        }
        .descricao {
          font-size: 140%;
        }
      }
    }
  }
  .container-legislaturas {
    .inner-legis {
      border-width: 0 0 1px 0;
    }
    .inner-mesa {
      text-align: center;
    }
  }
  .panel-nota-site-antigo {
    margin-left: 0;
  }

}

@media screen and (max-width: 800px) {
  main {
    .canais-columns {
      height: 42px;
    }
  }
  .path-parlamentares {
    .avatar1 {
      width: 120px;
    }
  }
  .path-direction {
    .path-parlamentares {
      .avatar {
        width: 50px;
      }
    }
  }
  .canais-absolute {
    .icon {
      position: absolute;
      top: 10%;
      right: 0;
      left: 0;
      bottom: 0px;
      width: 100%;
      display: block;
      background-size: 45%;
      background-position: top;
      opacity: 0.6;
    }
    .inner {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: auto;
      font-size: 1.5em;
      text-align: center;
      a {
        position: relative;
        padding: 100% 0px 10% 0px;
        text-indent: 0;
      }
    }
  }
  .canais-columns {
    .icon {
      top: -5px;
      background-size: 30%;
      background-position: 101% bottom;
    }
    .inner {
      top: 0;
      font-size: 1.1em;
      text-align: left;
      a {
        padding: 6px 3px 3px 10px;
        text-indent: -5px;
      }
    }
  }

  .container-path-parlamentar {
    .container-topo-parlamentar {
      margin-bottom: $grid-gutter-width;
    }
    .path-parlamentares {
      margin-left: 5px;
      bottom: -40%;
      .avatar {
        img {
          box-shadow: 3px 1px 20px 0 rgba(255, 255, 255, 0.6);
          padding: 4px;
        }
      }
    }
    .path-title {
      line-height: 1.9em;
    }
  }

}

@media screen and (max-width: 800px) and (orientation: landscape) {

  .path-direction {
    bottom: 25%;
  }

  .canais-absolute {
    .icon {
      top: -5px;
      background-size: 22%;
      background-position: 96% bottom;
    }
    .inner {
      top: 0;
      font-size: 1.1em;
      text-align: left;
      a {
        padding: 7px 5px 5px 30px;
        text-indent: -20px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .embed-audio {
    padding-bottom: 26%;
  }
  .page-header {
    margin: 0 -5px;
  }
  .navbar {
    .nav-flex {
      display: block;
    }
    .navbar-nav {
      & > li {
        & > .dropdown-menu {
          border: 0px
        }
      }
      li {
        a {
        }
        & > .dropdown-menu {
          border: 0px solid rgba(255, 255, 255, 0.3);
          .menu-left {
            margin-left: 5px;
          }
          .menu-right {
            margin-right: 5px;
          }
        }
      }
    }
  }

  .nav-acessar {
    display: block;
  }

  .container, .container-fluid {
    padding: 0 $grid-gutter-width * 0.25;
  }
  .container-simples {
      padding: 0 $grid-gutter-width * 0.75;
  }
  .container-box {
    margin-left: 10px;
    margin-right: 10px;
  }
  .row {
    margin:  0 $grid-gutter-width * -0.25;
  }
  main {
    .container-path {
      margin-top: 1px;
      font-size: 1.28em;
      .path-imagem {
        padding: 0.2em;
      }
    }
    .container-videos {
      margin-top:-20px;
    }

  }
  .canais-columns {
    padding: 0px;
  }
  .context-actions{
    margin: 0.5em;
    .actions {
      margin: 0.5em 0;
    }
  }

  .masthead {
    margin-top: 1px;
  }
  .path-next {
    right: -1.6em;
    a {
      padding: 1.2em 1.7em 1.0em 0.5em;
    }
    &:hover {
      left: 1.6em;
      .inner {
        right: 2.2em;
        .titulo {
          white-space: normal;
        }

      }
    }
  }
  .path-previous {
    left: -23px;
    a {
      padding: 1.2em 0.5em 1.0em 1.7em;
    }
    &:hover {
      right: 1.6em;
      .inner {
        left: 2.2em;
        .titulo {
          white-space: normal;
        }
      }
    }
  }

  #wrapper {
    #menu-toggle {
      top: 26px;
      margin-left: -19px;
      font-size: 70%;
    }
    &.toggled {
      .path-previous {
        left: $width-wrapper-sm - 33px;
      }
    }
  }

  .path-parlamentares {
    margin-right: 5px;
    .avatar1 {
      width: 120px;
    }
    .avatar3 {
      width: 120px;
    }
  }
  .path-item-list {
    .path-parlamentares {
      margin: 0px 5px 5px 0px;
    }
    .inner {
      font-size: 90%;
    }
    .path-imagem {
      width: 45%;
    }
  }

  .container-gallery {
    margin: 0 $grid-gutter-width * -0.25;
    .show-image {
      width: 100%;
      .image {
        padding: 0px;
      }
    }
    .gallery-thumbnails {
      height: 48px;
      .gallery-item {
        height: 48px;
      }
    }
    .show-contexto {
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: auto;
      left: 0px;
      background: rgba(#222422, 0.7);
      .show-sep {
        display: none;
      }
      .show-texto {
        padding: 0px 5px;
        font-size: 53%;
        width: auto;
      }
      .show-autor {
        position: relative;
        text-align: right;
      }
    }
  }

  .container-albuns {
    .row > div {
      padding: 0 5px 10px 5px;
      &:nth-child(4) {
        .album-item-list {
          .show-image {
            height: 510px;
          }
        }
      }
    }
  }

  .container-first {
    margin-top: 0px;
  }

  #pagina-inicial {

    .path-item-list {
      .path-parlamentares {
        margin-top: 5px;
      }
    }


  }
  .container-legislaturas {
    padding: 0px;
    .row {
      margin: 0 -10px;
    }
    .inner-mesa {
      border-width: 1px 0 0 0;
    }
  }

  .carousel {
    margin-bottom: 30px;
    .imagem {
      height: 320px;
    }
  }
  .container-videos {
    .btn-play {
      height: auto;
      line-height: 320px;
    }

    .video-list {
      .navbar-social-links {
        padding-top: 5px;
      }
      .item {
        padding: 30px 25px 0;
        &:nth-child(even) {
          padding-left: 15px;
        }
        &:nth-child(odd) {
          padding-right: 15px;
        }
      }
      .inner-text {
        padding: 0px 5px 5px;
      }
      .btn-play {
        line-height: 135px;
        &:hover {
          .descricao {
            padding: 5px;
          }
        }
      }
    }
  }

}

@media screen and (max-width: 600px) {

  .embed-audio {
    padding-bottom: 30%;
  }

  .carousel {
    .imagem {
      height: 260px;
    }

  }
  .container-videos {
    .btn-play {
      height: auto;
      line-height: 240px;
      padding-bottom: 20px;
    }
    .video-list {
      .item {
        width: calc(100%);
        &:nth-child(even), &:nth-child(odd) {
          padding: 30px 25px 0;
        }
      }
    }
  }

  .container-thumbnails {
    .content-image {
      &.show-image {
        &::before {
          border-bottom-width: 10px;
          border-right-width: 10px;
          border-left-width: 10px ;
          top: -10px;
        }
        .image {
          max-width: none;
          padding: 0px;
        }
      }
      .image {
        padding: 2px;
        height: 100px;
      }
      img {

      }
    }
  }

  .masthead {
    margin-top: 1px;
  }
  .container-path {
    margin-bottom: 50px;
    .path-title {
      font-size: 115%;
    }
    .path-description {
      margin-left: 5%;
      margin-right: 5%;
    }
  }

  .path-parlamentares {
    &:first-child {
      margin-top: 35px;
    }
    .avatar1 {
      width: 100px;
    }
    .avatar2 {
      width: 95px;
    }
    .avatar3 {
      width: 85px;
    }
    .avatar4 {
      width: 75px;
    }
    .avatar5 {
      width: 65px;
    }
  }

  .path-item-list {
    .inner {
      .titulo {
        line-height: 1.2;
        padding: 0 $grid-gutter-width * 0.3 $grid-gutter-width * 0.3 ;
      }
      .descricao {
        padding: 0 $grid-gutter-width * 0.3 $grid-gutter-width * 0.3 ;
      }
      .data-pub {
        position: static;
        text-align: right;
        padding: 3px 3px 0;
        line-height: 0;
      }
    }
    .path-imagem {
      width: 100%;
      line-height: 0;
      .imagem {
        height: 200px;
      }
      &.alinhamento-left {
        margin: 0px;
        padding: 0 1px;
        float: none;
      }
      &.alinhamento-right {
        margin: 0px;
        padding: 0 1px;
        float: none;
      }
    }

  }

  .path-direction {
    .path-parlamentares {
      .avatar {
        width: 45px;
      }
    }
  }

  .container-albuns {
    .row > div {
      .album-item-list {
        .show-image {
          height: 200px;
        }
      }

      &:nth-child(1) {
        .album-item-list {
          .show-image {
            height: 200px;
          }
        }
      }
      &:nth-child(4) {
        .album-item-list {
          .show-image {
            height: 410px;
          }
        }
      }
    }
  }

  #wrapper {
    .path-previous {
        left: -24px;
    }
    &.toggled {
      padding-left: $width-wrapper-xs;
      aside {
          width: $width-wrapper-xs;
      }
      .path-previous {
          left: $width-wrapper-xs - 28px;
      }
    }
  }
  .canais-columns {
    .icon {
      position: absolute;
      top: 2px;
      right: 0;
      background-size: 27%;
      background-position: top;
      opacity: 0.6;
    }
    .inner {
      position: absolute;
      width: 100%;
      font-size: 1em;
      text-align: center;
      a {
        padding: 25px 0px 3px 0px;
        text-indent: 0;
      }
    }
  }
  .canais-absolute {
    .icon {
      background-size: 50%;
    }
    .inner {
      font-size: 1em;
      a {
        padding: 100% 0px 20% 0px;
      }
    }
  }
  .tags {
    padding: 0px 10px 5px;
  }

  #pagina-inicial {
    .path-item-list {
      .avatar {
        width: 80px;
      }
      .path-parlamentares {
        text-align: center;
      }
    }
    .container-noticias-secundarias {
      .path-item-list {
        width: calc(100%);
        .inner {
          padding: 0 20px;
        }
      }
    }
    .container-box-parlamentares {
      margin-left: -5px;
      margin-right: -5px;
      .inner {
        padding-left: 0;
        padding-right: 0;

      }
      .titulo {
        padding: 0px 5px 0;
      }
      .descricao {
        padding: 5px 10px 20px;
      }
      .data-pub {
        position: absolute;
      }
      .path-item-list {
        width: 100%;
      }
    }

  }

  .container-legislaturas {
    .avatar {
      margin: 0.3em;
    }
    .avatar2 {
      width: 150px;
    }
    .inner-sessoes {
      .active {
        margin-left: 7em;
        margin-right: 7em;
      }
    }
  }

  footer {
    & > div:nth-child(1) {
      .container {
        & > ul {
          & > li {
            width: calc(33.33%);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .embed-audio {
    padding-bottom: 35%;
  }
  main {
    .container-path {
      font-size: 1.15em;
    }
    .canais-columns {
      height: 48px;
    }
  }
  .nav-acessar {
    display: block;
    ul {
      margin: 0 !important;
    }
    a {
      font-size: 1em !important;
    }
  }

  .page-header {
      padding: 0.4em 0.3em 0.3em;
      font-size: 1.15em;
  }
  .inner-ouvidoria {
      padding: 0;
    h3 {
      font-size: 18px;
    }
  }

  .path-parlamentares {
    .avatar3, .avatar4 {
      width: 65px;
    }
     .avatar5 {
      width: 55px;
    }
  }

  .path-direction {
    .path-parlamentares {
      .avatar {
        width: 36px;
      }
    }
  }

  .container-footer {
    .path-item-list {
      padding: 0 5px;
      .data-pub {
        font-size: 0.7em;
      }
      .inner {
        padding: 0;
      }
    }
  }
  .canais-columns {
    .icon {
      background-size: 40%;
    }
    .inner {
      font-size: 0.8em;
      a {
        padding: 28px 0px 3px 0px;
      }
    }
  }

  .container-legislaturas {
    .avatar {
      margin: 0.3em;
      font-size: 70%;
    }
    .avatar2 {
      width: 100px;
    }
    .avatar3 {
      width: 85px;
    }
    .inner-titulo {
      font-size: 100%;
    }
    .inner-sessoes {
      .active {
        margin-left: 3em;
        margin-right: 3em;
      }
    }
    .inner-mesa {
      .inner-parla {
        margin: 0px;
      }
    }
  }

  .carousel {
    .imagem {
      height: 220px;
    }
    .titulo {
      font-size: 110%;
    }
  }
  .container-videos {
    .btn-play {
      height: auto;
      line-height: 195px;
      padding-bottom: 5px;
      .fa-play {
        border-width: .13em;
        padding: 0.3em 0 0 0.2em;
        width: 1.8em;
        height: 1.8em;
      }
    }
  }
  footer {
    & > div:nth-child(1) {
      .container {
        & > ul {
          & > li {
            width: calc(50%);
          }
        }
      }
    }
  }
}


@media screen and (min-width: 768px) {
  .canais-relative {
    display: none;
  }
  .context-actions {
    .search {
      max-width: 60%;
    }
  }
}


@media screen and (min-width: 1200px) {
  .container-legislaturas {
    .avatar2 {
        width: 200px;
    }
    .avatar3 {
        width: 140px;
    }
  }
}


@media screen and (min-width: 1400px) {
  .container-legislaturas {
    .avatar2 {
        width: 250px;
    }
    .avatar3 {
        width: 190px;
    }
  }
}
 */
@media print {
  .screen-lg {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding: 0px;
  }
  .masthead, .btn-group, .canais-absolute {
    display: none;
  }
  a[href]:after {
    content: none !important;
  }
  footer {
    display: none;
  }

  .container-box, .container-box-fluid {
    border: 0px;
  }
}
