{% load common_tags %}
{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <meta charset="utf-8">
  </meta>

  <style>
    @page {
      margin-top: 0.5cm;
    }
    </style>

<head>
  <link rel="stylesheet" href="{% static 'sapl/css/header-relatorio.css'%}">
</head>

<body>
  <section id="informations">
    <dl>
      <dt class="image-header"> 
        <img src="{% if logotipo %}{{ MEDIA_URL }}{{ logotipo }}{% else %}{% webpack_static 'img/logo.png' %}{% endif %}">
      </dt>
      <dd class="title-header">
        <h2>{{casa.nome}}</h2>
        <h3>Sistema de Apoio ao Processo Legislativo</h3>
        {% if info %}
          <h5>{{info}}</h5>
        {% endif %}
      </dd>
    </dl>
  </section>
</body> 

</html>