{% extends "loa/loa_form.html" %}


{% block extra_js %}
  {{ block.super }}

<script language="javascript">
  const loadPreview = function() {
    $('.container-preview').html(`
    <a class="w-100" target="_blank" href="{% url "sapl.api:emendaloa-preview" object.pk %}">
    <img src="{% url "sapl.api:emendaloa-preview" object.pk %}?page=1&u=${Date.now()}"/>
    </a>
    `)
  }

  $(function () {
    $('#id_tipo').closest('form').change(function(event) {
      loadPreview()
      console.log('event change')
    })
    loadPreview()
  })
</script>

{% endblock %}
