{% extends "loa/loa_form.html" %}


{% block extra_js %}
  {{ block.super }}

<script language="javascript">
  $(function () {
    const urlImgPreview = '{% url "sapl.api:emendaloa-preview" object.pk %}?page=1'
    const loadPreview = function() {
      $('.container-preview').html(`
      <div class="actions">
      </div>
      <div class="inner-preview">
        <a class="w-100" target="_blank" href="{% url "sapl.api:emendaloa-preview" object.pk %}">
          <img src="{% url "sapl.api:emendaloa-preview" object.pk %}?page=1&u=${Date.now()}"/>
        </a>
      </div>
      `)
    }
    const changeForm = function() {
      let img = $('.container-preview .inner-preview img')[0]
      img.src = `${urlImgPreview}&u=${Date.now()}`

    }
    $('#id_tipo').closest('form').change(function(event) {
      changeForm()
      console.log('event change')
      console.log(axios)
    })
    loadPreview()
  })
</script>

{% endblock %}
