{% extends "crud/detail.html" %}
{% block appvue_content %}{% endblock appvue_content %}

{% block table_content %}
<h2 class="legend">Resumo Gráfico das Despesas da LOA</h2>
<div id="app"></div>
* OBS: Os dados foram extraídos dos anexos em PDF que acompanham o Projeto da LOA.
Os valores percentuais são calculados com base no total das despesas do filtro aplicado.
Percentuais legais, como da educação e saúde,
são definidos e devem ser cumpridos com base em
receitas específicas definidas pela Constituição Federal
e não com base no total das despesas, portanto,
o visualizado aqui não implica estar abaixo dos limites normativos.
Acompanhe esta seção do PortalCMJ,
novas funcionaliades e gráficos estão em desenvolvimento e, em breve,
estarão disponíveis para consulta.
{% endblock table_content %}
