{% extends "crud/detail.html" %}
{% block appvue_content %}{% endblock appvue_content %}
{% block table_content %}
<div class="bg-white mb-5 p-2">

  {% if object.materia and not object.materia.normajuridica %}
    Obs: O <a href="{% url 'sapl.materia:materialegislativa_detail' object.materia.id %}">
      {{object.materia.epigrafe_short}}</a>
      encontra-se em tramitação na Câmara Municipal de Jataí.
      A produção das Emendas Impositivas que darão destinação aos valores
      acima inicia-se em meados de novembro de {{object.ano}},
      momento em que estarão disponíveis nesta página,
      à medida que forem sendo produzidas,
      e na aba <a href="/loa/{{object.id}}/emendaloa">Emendas Impositivas</a>,
      as destinações e seus valores.
  {% endif %}

</div>
<h2 class="legend">Resumo Gráfico das Despesas da LOA</h2>
<div id="app"></div>
{% endblock table_content %}
