{% load i18n %}
<table class="table table-form table-bordered table-hover w-100">
  {% for lp in resumo_emendas_impositivas %}
    {% if forloop.first %}
      <tbody>
        <tr>
          <th rowspan=2>PARLAMENTARES</th>
          <th colspan=3>EMENDAS DESTINADAS À SAÚDE</th>
          <th colspan=3>EMENDAS COM DESTINAÇÃO GERAL</th>
        </tr>
        <tr>
          <th class="text-blue">Valores<br>Já Destinados</th>
          <th class="text-red">Impedimentos<br>Técnicos</th>
          <th class="text-orange">Sem Destinação</th>

          <th class="text-blue">Valores<br>Já Destinados</th>
          <th class="text-red">Impedimentos<br>Técnicos</th>
          <th class="text-orange">Sem Destinação</th>
        </tr>
      </tbody>
    {% endif %}
    <tr>
      <th class="text-left font-weight-bold">{{lp.loaparlamentar.parlamentar}}</th>
      <td class="text-right text-blue">{{lp.10.ja_destinado}}</td>
      <td class="text-right text-red">{{lp.10.impedimento_tecnico}}</td>
      <td class="text-right text-orange">{{lp.10.sem_destinacao}}</td>

      <td class="text-right text-blue">{{lp.99.ja_destinado}}</td>
      <td class="text-right text-red">{{lp.99.impedimento_tecnico}}</td>
      <td class="text-right text-orange">{{lp.99.sem_destinacao}}</td>
    </tr>
  {% endfor %}
</table>