{% load i18n common_cmj_tags %}
<div class="container-table">
  <table class="table table-form table-bordered table-hover">
    {% for lp in resumo_emendas_impositivas %}
    {% if forloop.first %}
      <thead>
        <tr>
          <th rowspan=2>PARLAMENTARES</th>
          <th colspan={{columns.saude.num_columns}}>EMENDAS DESTINADAS À SAÚDE<br>
            <i>(por Parlamentar R$ {{lp.loaparlamentar.disp_saude|decimal2str}})</i></th>
          <th colspan={{columns.diversos.num_columns}}>EMENDAS COM DESTINAÇÃO GERAL<br>
            <i>(por Parlamentar R$ {{lp.loaparlamentar.disp_diversos|decimal2str}})</i></th>
        </tr>
        <tr>
          {% if columns.saude.ja_destinado %}<th class="text-blue">{{columns.saude.ja_destinado|safe}}</th>{% endif %}
          {% if columns.saude.impedimento_tecnico %}<th class="text-red">{{columns.saude.impedimento_tecnico|safe}}</th>{% endif %}
          {% if columns.saude.sem_destinacao %}<th class="text-orange">{{columns.saude.sem_destinacao|safe}}</th>{% endif %}

          {% if columns.diversos.ja_destinado %}<th class="text-blue">{{columns.diversos.ja_destinado|safe}}</th>{% endif %}
          {% if columns.diversos.impedimento_tecnico %}<th class="text-red">{{columns.diversos.impedimento_tecnico|safe}}</th>{% endif %}
          {% if columns.diversos.sem_destinacao %}<th class="text-orange">{{columns.diversos.sem_destinacao|safe}}</th>{% endif %}
        </tr>
      </thead>
    {% endif %}
    <tr>
      <th class="text-left font-weight-bold">
        <div class="d-flex justify-content-between">
          <a href="{% url 'cmj.loa:emendaloa_list' lp.loaparlamentar.loa.id %}?parlamentares={{ lp.loaparlamentar.parlamentar.id }}">
            {{lp.loaparlamentar.parlamentar}} {% if lp.loaparlamentar.parlamentar.ativo %}<span class="ml-2 badge badge-success">Ativo</span>{% else %}<span class="ml-2 badge badge-danger">Inativo</span>{% endif %}</span>
          </a>
          <small title="Disponibidade Total = Saúde + Diversos">{{lp.loaparlamentar.disp_total|decimal2str}}</small>
        </div>
      </th>

      {% if columns.saude.ja_destinado %}<td class="text-right {% if lp.loaparlamentar.parlamentar.ativo %}text-blue{% else %}text-gray{% endif %}">{{lp.10.ja_destinado|decimal2str}}</td>{% endif %}
      {% if columns.saude.impedimento_tecnico %}<td class="text-right {% if lp.loaparlamentar.parlamentar.ativo %}text-red{% else %}text-gray{% endif %}">{{lp.10.impedimento_tecnico|decimal2str}}</td>{% endif %}
      {% if columns.saude.sem_destinacao %}<td class="text-right {% if lp.loaparlamentar.parlamentar.ativo %}text-orange{% else %}text-gray{% endif %}">{{lp.10.sem_destinacao|decimal2str}}</td>{% endif %}

      {% if columns.diversos.ja_destinado %}<td class="text-right {% if lp.loaparlamentar.parlamentar.ativo %}text-blue{% else %}text-gray{% endif %}">{{lp.99.ja_destinado|decimal2str}}</td>{% endif %}
      {% if columns.diversos.impedimento_tecnico %}<td class="text-right {% if lp.loaparlamentar.parlamentar.ativo %}text-red{% else %}text-gray{% endif %}">{{lp.99.impedimento_tecnico|decimal2str}}</td>{% endif %}
      {% if columns.diversos.sem_destinacao %}<td class="text-right {% if lp.loaparlamentar.parlamentar.ativo %}text-orange{% else %}text-gray{% endif %}">{{lp.99.sem_destinacao|decimal2str}}</td>{% endif %}
    </tr>
    {% endfor %}
  </table>
</div>