{% load i18n common_cmj_tags %}
<table class="table table-form table-bordered table-hover w-100">
  {% for lp in resumo_emendas_impositivas %}
    {% if forloop.first %}
      <tbody>
        <tr>
          <th rowspan=2>PARLAMENTARES</th>
          <th colspan={{columns.saude.num_columns}}>EMENDAS DESTINADAS À SAÚDE<br>
            <i>(por Parlamentar R$ {{lp.loaparlamentar.disp_saude|decimal2str}})</i></th>
          <th colspan={{columns.diversos.num_columns}}>EMENDAS COM DESTINAÇÃO GERAL<br>
            <i>(por Parlamentar R$ {{lp.loaparlamentar.disp_diversos|decimal2str}})</i></th>
        </tr>
        <tr>
          {% if columns.saude.ja_destinado %}<th class="text-blue">{{columns.saude.ja_destinado|safe}}</th>{% endif %}
          {% if columns.saude.impedimento_tecnico %}<th class="text-red">{{columns.saude.impedimento_tecnico|safe}}</th>{% endif %}
          {% if columns.saude.sem_destinacao %}<th class="text-orange">{{columns.saude.sem_destinacao|safe}}</th>{% endif %}

          {% if columns.diversos.ja_destinado %}<th class="text-blue">{{columns.diversos.ja_destinado|safe}}</th>{% endif %}
          {% if columns.diversos.impedimento_tecnico %}<th class="text-red">{{columns.diversos.impedimento_tecnico|safe}}</th>{% endif %}
          {% if columns.diversos.sem_destinacao %}<th class="text-orange">{{columns.diversos.sem_destinacao|safe}}</th>{% endif %}
        </tr>
      </tbody>
    {% endif %}
    <tr>
      <th class="text-left font-weight-bold">
      <a href="{% url 'cmj.loa:emendaloa_list' lp.loaparlamentar.loa.id %}?parlamentar={{ lp.loaparlamentar.parlamentar.id }}">
        {{lp.loaparlamentar.parlamentar}}
      </a>
      </th>


      {% if columns.saude.ja_destinado %}<td class="text-right text-blue">{{lp.10.ja_destinado|decimal2str}}</td>{% endif %}
      {% if columns.saude.impedimento_tecnico %}<td class="text-right text-red">{{lp.10.impedimento_tecnico|decimal2str}}</td>{% endif %}
      {% if columns.saude.sem_destinacao %}<td class="text-right text-orange">{{lp.10.sem_destinacao|decimal2str}}</td>{% endif %}


      {% if columns.diversos.ja_destinado %}<td class="text-right text-blue">{{lp.99.ja_destinado|decimal2str}}</td>{% endif %}
      {% if columns.diversos.impedimento_tecnico %}<td class="text-right text-red">{{lp.99.impedimento_tecnico|decimal2str}}</td>{% endif %}
      {% if columns.diversos.sem_destinacao %}<td class="text-right text-orange">{{lp.99.sem_destinacao|decimal2str}}</td>{% endif %}


    </tr>
  {% endfor %}
</table>


{% if user.is_superuser %}
TODO: Implementar https://github.com/kurkle/chartjs-chart-sankey

{% endif %}