
.carousel .carousel-inner .item img {
    width: 100%;
}
.carousel .carousel-indicators li {
    border-color: rgba(255, 255, 255, 0.0);
    background: rgba(255, 255, 255, 0.2);
}
.carousel .carousel-indicators li:hover {
    border-color: rgba(255, 255, 255, 0);
    background: darken(#a97905, 15%);
}
.carousel .carousel-indicators li.active {
    border-color: rgba(255, 255, 255, 0);
    background:  rgba(#a97905, 1);
}
.carousel-indicators {
    display: table;
    table-layout: fixed;
    width: calc(100%);
    left: 0px;
    right: 0px;
    margin: 0;
    border-spacing: 0px 0;
}
.carousel-indicators li {
    width: auto;
    height: 5px;
    margin: 0;
    display: table-cell;
    border-radius: 0;
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    transition: height 0.5s ease;
}
.carousel:hover .carousel-indicators li {
    height: 14px;
}
.carousel-indicators li.active {
    width: auto;
    height: auto;
    margin: auto;
}
.carousel-indicators {
    bottom: 0;
}
.carousel .carousel-caption {
    color: rgba(255, 255, 255, 1);
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    display: block;
    z-index: 0;
}
.carousel .carousel-caption {
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 1) 100%);
}
.carousel .carousel-caption {
    right: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
}
a.carousel-control {
    opacity: 1;
    color: rgba(255, 255, 255, 0.3);
}
a.carousel-control:hover,
a.carousel-control:focus,
a.carousel-control:active {
    opacity: 1;
    color: rgba(255, 255, 255, 0.95);
}
.carousel-control.left {
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.15) 0, rgba(0, 0, 0, 0.0001) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.15) 0, rgba(0, 0, 0, 0.0001) 100%);
}
.carousel-control.right {
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.15) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.15) 100%);
}
.carousel-control.left:hover,
.carousel-control.left:focus,
.carousel-control.left:active {
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.0001) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.0001) 100%);
}
.carousel-control.right:hover,
.carousel-control.right:focus,
.carousel-control.right:active {
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.4) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.4) 100%);
}
.carousel .carousel-control span {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}
.carousel .carousel-control.left span {
    margin-left: -10px;
    left: 50%;
}
.carousel .carousel-control.right span {
    margin-right: -10px;
    right: 50%;
}

.carousel-caption{
  .titulo, p {
    color: white;
    font-size: 110%;
    line-height: 1.2em;
    display: block;
    padding: 0 20px 5px;
  }
  .titulo {
    font-size: 150%;
    font-weight: bold;
    &:hover {
      color: white;
    }
  }

}

.carousel {
  margin-bottom: 20px;
  .imagem {
    width: 100%;
    height: 450px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% center;
  }

  .navbar-social-links i {
     color: rgba(255, 255, 255, 0.6);
  }
  .autor {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0 5px;
    font-size: 0.6em;
    color: white;
    &:hover {
      background: rgba(black, 0.6);
    }
  }
}

@media screen and (max-width: 768px) {
  .carousel p{
    display: none;
  }
}
