
@import "variables";

@mixin placeholder($color, $opacity, $fontsize, $fontweight) {
  &::-webkit-input-placeholder {
    color: $color !important;
    opacity: $opacity;
    font-size: $fontsize;
    font-weight: $fontweight;
  }
  &::-moz-placeholder {
    color: $color !important;
    opacity: $opacity;
    font-size: $fontsize;
    font-weight: $fontweight;
  }
  &::-moz-placeholder {
    color: $color !important;
    opacity: $opacity;
    font-size: $fontsize;
    font-weight: $fontweight;
  }
  &:-ms-input-placeholder {
    color: $color !important;
    opacity: $opacity;
    font-size: $fontsize;
    font-weight: $fontweight;
  }
}

body, html {
  background: $color_main_bg url(/static/img/bg.png);
}

// drunken-parrot flat ui ########################################


.btn-link:hover, .btn-link:focus {
    color: #23527c;
    text-decoration: underline;
    background-color: transparent;
}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
    color: #a94442;
    strong {
      font-weight: normal;
    }
}
.input-icon {
  [class*="fa-"] {
      transform: translateY(-50%);
      margin-top: 0px;
  }
  .form-control {
    text-indent: 40px;
  }
}

.radio, .checkbox, .radio-inline, .checkbox-inline {
  margin-top: 0px;
  margin-bottom: $grid-gutter-width / 2;
  padding-left:  $grid-gutter-width * 1.2;
}

// #### conserta radios e checkboxes escondidas pelo drunken parrot ############
// FIXME ajustar após solução definitiva
//.checkbox input, .radio input {
//    display: initial;
//}



// ajuste bootstrap ########################################

.row-fluid:before, .row-fluid:after {
    content: " ";
    display: table;
}
.row-fluid:after {
    clear: both;
}

.caret {
  /* Por padrão caret aponta para baixo*/
  &.top {
    transform: rotate(180deg);
  }
}

// ADJUST NAVBAR ########################################
.navbar {
  background: $color_topo_bg url(/static/img/bg.png);
  border-radius: 0;
  border-width: 0;
  margin: 0;
  min-height: 0;
  .avatar {
    border-radius: 50%;
    height: $menu-height;
    margin-left: 0.5em;
  }
  .navbar-toggle {
    &:hover {
      background-color: $hover_background_10p;
    }
  }
  .icon-bar {
    background-color: $color_text_inverse;
  }
  a.navbar-brand {
    font-size: 25px;
    line-height: 40px;
    color: $color_text_inverse;
    font-family: "Graduate";
    padding: 0 0 0 30px;
    display: block;
    position: relative;
    margin: 0 !important;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: $menu-height + 2 * $padding-menu-top;
      opacity: 0.35;
      background: transparent url("/static/img/bg_cmj_topo_menu_box_left.png") no-repeat scroll left top;
      background-size: auto $navbar-height;
    }
  }
  .navbar-nav {
    li { /* Para todo item e subitem*/
      position: relative;
      a { /* Para todo link*/
        color: $color_text_inverse;
        line-height: $menu-height;
        padding-top: 0;
        padding-bottom: 0;
        font-family: "Lato";
        font-weight: 300;
        letter-spacing: 0.5px;
        font-size: 1em;
        margin: 0px;
        &:hover, &:focus {
          background: $hover_background_10pw;
        }
      }
      &.divider {
        margin: 3px 0;
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }
  &.navbar-area-trabalho {
    background:none;
    ul {
      position: relative;
      float: right;
      margin: $grid-gutter-width * -0.6 $grid-gutter-width / 2 0 0;
      background: darken($color_main_bg, 15%) url(/static/img/bg.png);
      border-radius: 0;
      border: 1px solid white;

      li {
        border: 0;
        a {
          padding: 0 $grid-gutter-width * 0.5 - 1 0 $grid-gutter-width * 0.5;
          font-size: 1em;
          line-height: 1.25;
          color: darken($color_main_bg, 60%)
        }
      }
    }
  }
}
.nav-acessar {
  display: none;
}
// ADJUST topo ########################################
.masthead {
  margin-top: $grid-gutter-width;
  z-index: 10;
  .slogan {
    color: $color_topo_bg;
    float: right;
  }
  .nav-tabs {
    border-bottom: 0px;
    margin-right: $grid-gutter-width;
    li {
      a {
        border-bottom: 0px;
        padding: 7px 10px 4px;
        &:hover {
          border-bottom: 0px;
          background: darken($color_main_bg, 4%) url(/static/img/bg.png);
        }
      }
      &.active {
        a {
          background: darken($color_main_bg, 4%) url(/static/img/bg.png);
          border-color: $color_container_border;
          border-bottom: 1px;
        }
      }
    }
  }
}
.page-header {
  padding: $grid-gutter-width $grid-gutter-width $grid-gutter-width * 0.75 $grid-gutter-width * 1.5;
  margin: 0em $grid-gutter-width * -0.5 0 $grid-gutter-width * -0.5 ;
  color: transparentize($color_topo_bg, 0.3);
  background: darken($color_main_bg, 3%) url(/static/img/bg.png);
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid $color_container_border;
  font-weight: normal;
  font-size: 2em;
}
a {
  color: $color_topo_bg;
}
a:focus,
a:hover {
  color: darken($color_topo_bg, 20%);
}
// ADJUST lateral direita ########################################


// ADJUST interno ########################################

main {
  .container, .container-fluid {
    background-color: $color_container_bg;
    border: 1px solid $color_container_border;
    border-radius: 5px;
  }
  .container-fluid {
    margin: 0 $grid-gutter-width;
  }


  .item-action-or-input {
    border-color: darken($color_main_bg, 10%);
    &:hover {
      border-color: darken($color_main_bg, 20%);
      box-shadow: 0 0 30px  lighten($color_main_bg, 3%);
    }
    &:focus, &:active {
      border-color: darken($color_main_bg, 40%);
      box-shadow: 0 0 30px  lighten($color_main_bg, 3%);
        background-color:  darken($color_container_bg, 10%);
    }
  }
  .form-control, .btn-default {
    @extend .item-action-or-input;
  }
  .btn-default {
    color: darken($color_main_bg, 60%);
    &:hover {
      color: darken($color_main_bg, 70%);
      background-color: $color_main_bg;
    }
    &.btn-excluir {
      color: $btn-danger-bg;
      &:hover {
        color: $btn-danger-color;
        border-color: lighten($btn-danger-bg, 5%);
        background-color: lighten($btn-danger-bg, 5%);
      }
    }
  }
}

.control-label {
  color: $color_text;
  font-weight: normal;
}


.container-table {
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;
  overflow: hidden;
}
.result-count {
  position: absolute;
  color: darken($color_main_bg, 40%);
  margin-left: 0.5 * $grid-gutter-width;
  margin-top: -0.55 * $grid-gutter-width;
  line-height: $grid-gutter-width * 0.75;
  padding: 4px 0.5 * $grid-gutter-width 2px;
  border: 1px solid  darken($color_main_bg, 5%);
  background-color: white;

}

.table {
  border: 1px solid darken($color_main_bg, 5%);
  td {
    ul {
        margin-bottom: 0px;
    }
  }
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  border-top-color: darken($color_main_bg, 5%);
  border-bottom-width: 0;
  font-weight: normal;
  vertical-align: middle;
}
.table-link-ordering > thead > tr > th, .table-link-ordering > tbody > tr > th, .table-link-ordering > tfoot > tr > th {
    padding: 0;
    a {
      display: block;
      padding: $grid-gutter-width 0.35 * $grid-gutter-width;
      &:hover {
        background-color: $hover_background_05p;
      }
    }

}

.context-actions{
  margin: 0 0 $grid-gutter-width;
  .actions {
    margin: $grid-gutter-width $grid-gutter-width/2 0;
    .form-group {
      margin-bottom: 0;
    }
  }
}

.alert {
  margin: $grid-gutter-width $grid-gutter-width/2 $grid-gutter-width;
}

// #### CRUD DETAIL ########################################
p.control-label {
  font-weight: bold;
  margin-bottom: 0;
}

.form-control-static {
  font-size: 1.2em;
  border-bottom: 1px solid darken($color_main_bg, 5%);
  line-height: 1.5em;
  padding-bottom: 3px;
  min-height: 2em;
  background: transparentize($color_main_bg, 0.4);
  ul {
    padding-left: $grid-gutter-width * 1.2;
  }
}
fieldset {
  margin: $grid-gutter-width 0 $grid-gutter-width/2;

}
.legend, legend { // tag legend para crud updates
  clear:both;
  display: block;
  width: 100%;
  padding: 0;
  font-size: ($font-size-base * 1.5);
  line-height: inherit;
  color: $legend-color;
  border: 0;
  border-bottom: 1px solid $legend-border-color;
  font-weight: normal;
  font-family: "SourceSansProSemiBold", Helvetica, Arial, sans-serif;

}

// #### CRUD UPDATE ########################################

.cts {  // container trecho search
  position: fixed;
  background-color: white;
  z-index: 1;
  border: 1px solid #dcdac8;
  border-radius: 4px;
  margin-top: -0.4em;
  visibility: hidden;
  overflow: hidden;

  .its {  // item trecho search
    padding: 0.3em 0.7em;
    cursor: pointer;
    &:nth-child(even) {
      background-color: #f9f9f9;
    }
    &:hover {
      background-color: #f0f0f0;
    }
  }
}
.form-group {
  margin-bottom: $grid-gutter-width;
  &.disabled {
    opacity: 0.4;
  }
}

.controls-radio, .controls-checkbox {
  padding:0;
  background-color: white;
  border: 1px solid #dcdac8;
  border-radius: 4px;
  min-height: $grid-gutter-width * 2 - 2;
  overflow: hidden;
  label.checkbox, label.radio{
    margin: 0;
    padding: 0;
    padding-right: ceil($grid-gutter-width / 3);
    padding-left: $grid-gutter-width * 2;
    line-height: $grid-gutter-width * 2 - 2;
    min-height: $grid-gutter-width * 2 - 2;
    .icons {
      top:  ceil($grid-gutter-width / 2) - 1;
      left: $grid-gutter-width / 2;
    }
    &:hover {
      background-color: $color_main_bg;
    }
  }
  .help-block {
    margin: $grid-gutter-width / 2;
    padding: $grid-gutter-width / 2;
    border: 2px dashed darken($color_main_bg, 5%);
  }
}

.form-group-contatos-search {
  .controls-radio, .controls-checkbox {
    overflow: none;
    &:last-child {
      padding: 0;
      background-color: white;
      border: 1px solid #dcdac8;
      border-radius: 4px;
      min-height: 30px;
    }
    label {

      min-height: 0;
      margin: 0;
      padding: 5px;
      line-height: inherit;
      background-color: white;
      &:not(:last-child) {
        border-bottom: 1px solid #dcdac8;
      }
      span {
        display: none;
      }
    }
  }
}
// ADJUST DRUNKEN PARROT STYLES ########################################
.panel-primary {
  border-color: $color_topo_bg;
  .panel-heading {
    background-color: $color_topo_bg;
    color: lighten($color_topo_bg, 20%);
  }
  .panel-footer {
    padding: 0;
    background-color: $color_topo_bg;
    border-width: 0;
    small {
      color: lighten($color_topo_bg, 20%);
      text-align: center;
      display: block;
    }
  }
  .panel-body {
    padding: 0;
    .panel-empty {
      padding: 1em;
    }
  }
}
.h1,
h1 {
  font-size: 35px;
}
.h2,
h2 {
  font-size: 24px;
}
.h3,
h3 {
  font-size: 20px;
}
.h4,
h4 {
  font-size: 16px;
}
.h5,
h5 {
  font-size: 14px;
}
.h6,
h6 {
  font-size: 12px;
}
.input-lg, .btn-lg {
  height: 50px;
}


// #### footer ###########################################
// based on http://getbootstrap.com/examples/sticky-footer
$footer-height: 30px;
html {
  position: relative;
  min-height: 100%;
}
body {

  margin-bottom: $footer-height + 20px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
  background: $color_topo_bg none repeat scroll 0 0;
  color: lighten($color_topo_bg, 20%);
  text-align: center;
  font-size: 1em;
}
// ADJUST tela de login ########################################
.html-login, {
  background-color: $color_topo_bg;
  background-image: none;
  a.navbar-brand {
    font-size: 50px;
  }
  body, .navbar {
    background-color: $color_topo_bg;
    background-image: none;


  }
}
.container-login {
  background-color: $color_topo_bg;
  color: $color_text_inverse;
  min-height: 100%;
  position: relative;
  margin: 0;
  .logo-cmj {
    position: absolute;
    opacity: 0.35;
    right: 1em;
    margin-left: 1em;
    max-width: 100%;
  }
  .label0,
  .label1,
  .label2,
  .label3,
  .label4 {
    margin: 10% 0 1em 5%;
    color: white;
    font-weight: normal;
    font-size: 3em;
  }
  .label2 {
    margin-top: 4%;
    margin-bottom: 0.5em;
  }
  .label3, .label4 {
    margin-top: 4%;
    margin-bottom: 0.5em;
  }
  input {
    border-radius: 0;
    border: 0;
    border-top: 1px solid transparentize($color_topo_bg, 0.8);
    padding: 1em;
    font-size: 1.7em;
    height: 3.5em;
    background-color: rgba(255, 255, 255, 0.8);
    &:focus {
      background-color: white;
    }
    @include placeholder($color_topo_bg, 0.5, 1em, normal);

  }
  .btns-login {
    margin: 4em auto 0;
    display: block;
    max-width: 767px;
    .btn-login {
      color: rgba(255, 255, 255, 0.8);
      display: inline-block;
      background-color: rgba(255, 255, 255, 0.1);
      width: 100%;
      letter-spacing: 4px;
      border: 1px solid rgba(255, 255, 255, 0.8);
      margin-top: 1em;
      line-height: 50px;
      text-align: center;
      font-family: "Graduate";
      &:hover {
        border: 1px solid #fff;
        color: #fff;
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
  .btns-login-3 {
    margin-top: 1em;
  }
  .alert-danger {
    color:white;
    background-color: #aa0000;
    border-radius: 0;
    margin: 20px;

  }
}
// #### pagination ########################################
.pagination {
  padding-top: 25px;
}
.container,
.container-fluid {
  transition: all 1s ease;
}


// #### ImpressoEnderecamentoRenderer #####################

.ier {
  background: darken($color_main_bg, 10%) url(/static/img/bg.png);
  height: 100px;
  margin: 0 $grid-gutter-width / 2 $grid-gutter-width $grid-gutter-width / 2;
  overflow: hidden;
  position: relative;
  .etiqueta {
    position: absolute;
    background: white;
  }
}




@media screen and (max-width: 1280px) {
  .html-login {
    a.navbar-brand {
      font-size: 45px;
    }
  }
  .container-login {

    .label0 {
      margin-top: 4%;
    }
    ,
    .label1 {
      margin-top: 2%;
      margin-bottom: 0.5em;
    }
    ,
    .label2 {
      margin-top: 2%;
      margin-bottom: 0.2em;
    }
    ,
    .label3 {
      margin-top: 0;
      margin-bottom: 0;
    }
    .btns-login {
      margin-top: 1em;
    }
    .btns-login-3 {
      margin-top: 0;
    }
  }
}
@media screen and (max-width: 800px) {
  .container {
    width: auto;
  }
  .container-login {
    .logo-cmj {
      opacity: 0.16;
      right: auto;
      max-width: 80%;
      left: 50%;
      top: -2em;
      transform: translateX(-50%);
    }
    .btns-login {
      margin-top: 0.5em;
      .btn-login {
        letter-spacing: 2px;
      }
    }
  }
}
@media screen and (max-width: 800px) and (orientation: portrait) {
  .html-login {
    a.navbar-brand {
      font-size: 35px;
    }
  }
  .container-login {

    .label0 {
      margin-top: 30%;
    }

    .label1 {
      margin-top: 25%;
    }

    .label2 {
      margin-top: 25%;
      margin-bottom: 1em;
    }

    .label3 {
      margin-top: 20%;
      margin-bottom: 1em;
    }
    input {}
    .btns-login {
      max-width: 600px;
      margin-top: 4em;
    }
  }
}
@media screen and (max-width: 800px) and (orientation: landscape) {
  .html-login {
    a.navbar-brand {
      font-size: 25px;
    }
  }
  .container-login {
    .label0,
    .label1,
    .label2,
    .label3,
    .label4 {
      margin: 0 0 0.2em 5%;
      font-size: 1.5em;
    }
    .label1,
    .label2,
    .label3,
    .label4 {
      margin: 0 0 0 5%;
      font-size: 1.2em;
    }
    input {
      font-size: 1.3em;
      padding: 0 1em;
      height: 2em;
    }
    .btns-login {
      margin-top: 0;
    }
  }
}
@media screen and (max-width: 767px) {
  $footer-height: 25px;
  body {
    margin-bottom: $footer-height + 20px;
  }
  .footer {
    font-size: 0.8em;
    height: $footer-height;
  }
  .navbar {
    a.navbar-brand {
      line-height: 49px;
    }
    .nav-flex {
      display: block;
    }
    .navbar-nav {
      & > li {
        & > .dropdown-menu {
          border: 0px
        }
      }
      li {
        a {
        }
        & > .dropdown-menu {
          border: 0px solid rgba(255, 255, 255, 0.3);
          .menu-left {
            margin-left: 5px;
          }
          .menu-right {
            margin-right: 5px;
          }
        }
      }
    }

  }

  .nav-acessar {
    display: block;
  }
  main {
    .container, .container-fluid {
      margin: 0 $grid-gutter-width * 0.25;
    }
  }

  .context-actions{
    margin: 0.5em;
    .actions {
      margin: 0.5em 0;
    }
  }

}
@media screen and (max-width: 480px) and (orientation: portrait) {
  .container-login {
    .label0,
    .label1,
    .label2,
    .label3,
    .label4 {
      margin: 20% 0 0.4em 5%;
      font-size: 1.8em;
    }
    .label1 {
      margin-top: 15%;
    }
    .label2,
    .label3,
    .label4 {
      margin-top: 5%;
    }

    input {
      font-size: 1.2em;
      padding: 0 1em;
      height: 3em;
    }
    .btns-login {
      margin-top: 2em;
      max-width: 500px;
    }
    .btns-login-2,  {
      margin-top: 1em;
    }
    .btns-login-3, {
      margin-top: 0em;
      .btn-login {
        line-height: 42px;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .navbar {
    a.navbar-brand {
      padding: 0 0 0 10px;
      font-size: 21px;
    }
    &.navbar-area-trabalho {
      ul {
        margin: $grid-gutter-width * -0.5 $grid-gutter-width * -0.5 - 1 0 0;
        li {
          a {
            font-size: 0.8em !important;
            padding-top: 2px;
          }
        }
      }
    }
  }

  .nav-acessar {
    display: block;
    ul {
      margin: 0 !important;
    }
    a {
      font-size: 1em !important;
    }
  }

  .page-header {
      padding: 0.4em 0.3em 0.3em;
      font-size: 1.5em;
  }

}

@media screen and (min-width: 768px) {
  .navbar {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
    .navbar-collapse {
      padding: 0px;
    }
    .navbar-right {
      margin: 0px;
    }
    .navbar-nav {
      li { /* Para todo item e subitem*/
        a { /* Para todo link*/
          font-size: 1.3em;
          &:hover, &:focus {
            background: $hover_background_10pw;
          }
        }
        & > .dropdown-menu { /* para todo submenu */
          background-color: $color_topo_bg;
          border: 1px solid rgba(255, 255, 255, 0.3);
          color: $color_text_inverse;
          min-width: 250px;
          margin: 0;
          padding: 0;
          & > li {
            & > a {
              padding: 0 1em;
              line-height: 2.1em;
            }
          }
          .menu-left {
            top: 0.5em;
            left: 100%;
            margin-left: -1em;
          }
          .menu-right {
            top:0;
            right: 100%;
            margin-right: -5px;
          }
        }
        &:hover {  /* Hover Para todo item e subitem*/
          & > a,
          & > a:focus,
          & > a:hover {
            background: $hover_background_10pw;
            color: #fff;
          }
          & > .dropdown-menu{
            display:block;
          }
          & > .menu-classes {
            right: 0;
            left: 0;
            position: fixed;
            top: 126px;
            bottom: auto;
          }
        }
      }
      & > li { /* Para os itens raiz de uma navbar*/
          border: 1px solid transparent;
          border-bottom-width: 0px;
        & > .menu-left {
          left: 0.5em;
          right: auto;
        }
        & > .menu-right {
          right: 0.5em;
          left: auto;
        }
        & > .dropdown-menu {
          top: 100%;
          margin-top: -0.6em;
          border-radius: 4px;
        }
        &:hover {
          border-color: rgba(#f0efe7, 0.3);
          border-bottom-color: #f0efe7;
        }
      }
    }
    &.navbar-menu {  /* para a navbar principal - que se diferencia das demais*/
      border-color: transparentize($color_topo_bg, 0.2);
      border-top-width: 1px;
      .container {
        padding: 0;
      }
      .navbar-nav {
        & > li {
          margin-top: 1em;
          a {
            line-height: 2em;
          }
        }
      }
    }
  }
  .context-actions {
    .search {
      max-width: 60%;
    }
  }
}

@media screen and (max-width: 800px) {
  .navbar {
    .nav.navbar-nav {
      li { /* Para todo item e subitem*/
        a { /* Para todo link*/
          font-size: 1.02em;
          padding-left: $grid-gutter-width/3;
          padding-right: $grid-gutter-width/3;
        }
      }
      & > li { /* Para os itens raiz de uma navbar*/
        & > .menu-left {
          left: 0.3em;
        }
        & > .menu-right {
          right: 0.3em;
        }
        & > .dropdown-menu {
          margin-top: -0.4em;
        }
      }
    }
  }
}


@media screen and (min-width: 1281px) {
  .navbar a.navbar-brand {
    font-size: 40px;
    padding: 0 0 0 30px;
  }
  .html-login {
    a.navbar-brand {
      font-size: 50px;
    }
  }
  .container-login {

    .label0 {
      margin-top: 7%;
    }
    ,
    .label1 {
      margin-top: 5%;
      margin-bottom: 0.5em;
    }
    ,
    .label2 {
      margin-top: 7%;
      margin-bottom: 0.2em;
    }
    ,
    .label3 {
      margin-top: 0;
      margin-bottom: 0;
    }
    .btns-login {
      margin-top: 1em;
    }
    .btns-login-3 {
      margin-top: 0;
    }
  }
}



@media print {
  .masthead, .btn-group {
    display: none;
  }
  a[href]:after {
    content: none !important;
  }
}
