
@import "variables";

@mixin placeholder($color, $opacity, $fontsize, $fontweight) {
  &::-webkit-input-placeholder {
    color: $color !important;
    opacity: $opacity;
    font-size: $fontsize;
    font-weight: $fontweight;
  }
  &::-moz-placeholder {
    color: $color !important;
    opacity: $opacity;
    font-size: $fontsize;
    font-weight: $fontweight;
  }
  &::-moz-placeholder {
    color: $color !important;
    opacity: $opacity;
    font-size: $fontsize;
    font-weight: $fontweight;
  }
  &:-ms-input-placeholder {
    color: $color !important;
    opacity: $opacity;
    font-size: $fontsize;
    font-weight: $fontweight;
  }
}

// ADJUST tela de login ########################################
.html-login, {
  background-color: $color_topo_bg;
  background-image: none;
  a.navbar-brand {
    font-size: 50px;
    margin-left: -10px !important;
  }
  body, .navbar {
    background-color: $color_topo_bg;
    background-image: none;
  }
}
.login-page {
  footer {
    border-width: 1px;
    margin-top: 100px;
    bottom: 0px;
  }
  footer > div:first-child {
    display: none;
  }

}

.container-login {
  background-color: $color_topo_bg;
  color: $color_text_inverse;
  min-height: 100%;
  position: relative;
  margin: 0;
  .logo-cmj {
    position: absolute;
    opacity: 0.35;
    right: 1em;
    margin-left: 1em;
    max-width: 100%;
  }
  .label0,
  .label1,
  .label2,
  .label3,
  .label4 {
    margin: 10% 0 1em 5%;
    color: white;
    font-weight: normal;
    font-size: 3em;
  }
  .label2 {
    margin-top: 4%;
    margin-bottom: 0.5em;
  }
  .label3, .label4 {
    margin-top: 4%;
    margin-bottom: 0.5em;
  }
  input {
    border-radius: 0;
    border: 0;
    border-top: 1px solid transparentize($color_topo_bg, 0.8);
    padding: 1em;
    font-size: 1.7em;
    height: 3.5em;
    background-color: rgba(255, 255, 255, 0.8);
    &:focus {
      background-color: white;
    }
    @include placeholder($color_topo_bg, 0.5, 1em, normal);

  }
  .btns-login {
    margin: 4em auto 0;
    display: block;
    max-width: 767px;
    .btn-login {
      color: rgba(255, 255, 255, 0.8);
      display: inline-block;
      background-color: rgba(255, 255, 255, 0.1);
      width: 100%;
      letter-spacing: 4px;
      border: 1px solid rgba(255, 255, 255, 0.8);
      margin-top: 1em;
      line-height: 50px;
      text-align: center;
      font-family: "Graduate";
      &:hover {
        border: 1px solid #fff;
        color: #fff;
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
  .btn-recovery {
    color: #aaa;
  }
  .btns-login-3 {
    margin-top: 1em;
  }
  .alert-danger {
    color:white;
    background-color: #aa0000;
    border-radius: 0;
    margin: 20px;

  }
}


@media screen and (max-width: 1280px) {
  .html-login {
    a.navbar-brand {
      font-size: 45px;
    }
  }
  .container-login {
    .label0 {
      margin-top: 4%;
    }
    ,
    .label1 {
      margin-top: 2%;
      margin-bottom: 0.5em;
    }
    ,
    .label2 {
      margin-top: 2%;
      margin-bottom: 0.2em;
    }
    ,
    .label3 {
      margin-top: 0;
      margin-bottom: 0;
    }
    .btns-login {
      margin-top: 1em;
    }
    .btns-login-3 {
      margin-top: 0;
    }
  }
}


@media screen and (max-width: 991px) {
  .html-login {
    a.navbar-brand {
      margin-left: 0px !important;
    }
  }
}
@media screen and (max-width: 800px) {
  .container-login {
    form .row {
        margin: 0 -10px;
    }
    form {
        margin: 0 0 0 5px;
    }
    .logo-cmj {
      opacity: 0.16;
      right: auto;
      max-width: 80%;
      left: 50%;
      top: -2em;
      transform: translateX(-50%);
    }
    .btns-login {
      margin-top: 0.5em;
      .btn-login {
        letter-spacing: 2px;
      }
    }
  }
}
@media screen and (max-width: 800px) and (orientation: portrait) {
  .html-login {
    a.navbar-brand {
      font-size: 35px;
    }
  }
  .container-login {

    .label0 {
      margin-top: 30%;
    }

    .label1 {
      margin-top: 25%;
    }

    .label2 {
      margin-top: 25%;
      margin-bottom: 1em;
    }

    .label3 {
      margin-top: 20%;
      margin-bottom: 1em;
    }
    input {}
    .btns-login {
      max-width: 600px;
      margin-top: 4em;
    }
  }
}
@media screen and (max-width: 800px) and (orientation: landscape) {
  .html-login {
    a.navbar-brand {
      font-size: 25px;
    }
  }
  .container-login {
    .label0,
    .label1,
    .label2,
    .label3,
    .label4 {
      margin: 0 0 0.2em 5%;
      font-size: 1.5em;
    }
    .label1,
    .label2,
    .label3,
    .label4 {
      margin: 0 0 0 5%;
      font-size: 1.2em;
    }
    input {
      font-size: 1.3em;
      padding: 0 1em;
      height: 2em;
    }
    .btns-login {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .html-login {
    a.navbar-brand {
      font-size: 30px;
    }
    .navbar-social-links a {
      width: 1.7em;
      height: 1.7em;
      i {
        font-size: 1.2em;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .html-login {
    a.navbar-brand {
      font-size: 22.5px;
      padding-left: 10px;
      .fa-home {
        padding-left: 0;
      }
    }
    .navbar-social-links a {
      width: 1.7em;
      height: 1.7em;
      i {
        font-size: 1.2em;
      }
    }
  }
}

@media screen and (max-width: 480px) and (orientation: portrait) {

  .container-login {
    .label0,
    .label1,
    .label2,
    .label3,
    .label4 {
      margin: 20% 0 0.4em 5%;
      font-size: 1.8em;
    }
    .label1 {
      margin-top: 15%;
    }
    .label2,
    .label3,
    .label4 {
      margin-top: 5%;
    }

    input {
      font-size: 1.2em;
      padding: 0 1em;
      height: 3em;
    }
    .btns-login {
      margin-top: 2em;
      max-width: 500px;
    }
    .btns-login-2,  {
      margin-top: 1em;
    }
    .btns-login-3, {
      margin-top: 0em;
      .btn-login {
        line-height: 42px;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .login-page {
    footer {
      position: absolute;
      width: 100%;
    }
  }
}

@media screen and (min-width: 1281px) {
  .html-login {
    a.navbar-brand {
      font-size: 50px;
      line-height: 1em;
    }
  }
  .container-login {

    .label0 {
      margin-top: 7%;
    }
    ,
    .label1 {
      margin-top: 5%;
      margin-bottom: 0.5em;
    }
    ,
    .label2 {
      margin-top: 7%;
      margin-bottom: 0.2em;
    }
    ,
    .label3 {
      margin-top: 0;
      margin-bottom: 0;
    }
    .btns-login {
      margin-top: 1em;
    }
    .btns-login-3 {
      margin-top: 0;
    }
  }
}
