{% load i18n sigad_filters social_utils%}
{% with 'noticias_secundarias'|caixa_publicacao:None as noticias_secundarias %}

  <div class="container-scroll-x bg-light-blue">
    <div class="inner-container">
      <div class="title-container">
        <div class="icon bg-light-blue"></div>
        <label class="text-white">Notícias Institucionais</label>
      </div>
      <div class="scroll-container" v-on:touchstart="handleTouch" v-on:touchend="handleTouch">
        <div class="btn-action-left" v-on:click="handleClickContainerScrollX">&lt;</div>
        <div class="btn-action-right" v-on:click="handleClickContainerScrollX">&gt;</div>
        <div class="inner-scroll">
          {% for d in noticias_secundarias.docs%}
            <div class="item-scroll item-scroll-lg-3">
              <div class="item-head">
              </div>
              <a class="bg-image" style="background-image: url(/{{d.1.absolute_slug}}.512)"
                 tabindex="{{view.tabindex}}" href="{% url 'cmj.sigad:path_view' d.0.absolute_slug %}">
                <div class="bg-autor">{{d.1.autor|default:''}}</div>
              </a>

              <a class="item-titulo text-white" tabindex="{{view.tabindex}}" href="{% url 'cmj.sigad:path_view' d.0.absolute_slug %}">
                {{d.0.titulo}}
              </a>

              <div class="item-body">
                {{d.0.descricao|safe|urlize}}
              </div>
              <div class="item-footer">
                {% social_link_share d.0 'float-right'%}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endwith %}
