{% load i18n sigad_filters social_utils%}

{% with 'noticias_destaque'|caixa_publicacao:None as noticias_destaque %}
  <div id="carousel-custom" class="carousel carousel-fade carousel-custom slide" data-ride="carousel" data-interval="70000">
    <ol class="carousel-indicators">
      {% for d in  noticias_destaque.docs%}
        <li data-target="#carousel-custom" data-slide-to="{{forloop.counter0}}" {% if forloop.first %}class="active"{% endif %}></li>
      {% endfor %}
    </ol>
    {% if perms.sigad.change_documento %}
      <div class="btn-edit-destaques">
        <a href="{% url 'cmj.sigad:caixapublicacao_update' noticias_destaque.cp.pk %}" title="{% trans "Editar Caixa de Publicação" %}">
          <i class="fas fa-edit" aria-hidden="true"></i>
        </a>
      </div>
    {% endif %}

    <!-- Controls -->
    <a class="carousel-control-prev" href="#carousel-custom" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class=" carousel-control-next" href="#carousel-custom" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <div class="carousel-inner" role="listbox">

      {% for d in  noticias_destaque.docs%}

        <div class="carousel-item {% if forloop.first %}active{% endif %}">

          <div class="autor">{{d.1.autor|default:''}}</div>

          {% social_link_share d.0 'absolute-bottom-right' %}

          <div class="d-block w-100 imagem" id="image{{d.0.id}}" style="background-image: url(/{{d.1.absolute_slug}}.768);">
            {% comment %}
            <img src="/{{d.1.absolute_slug}}" alt="{% if d.1.titulo %}{{d.0.titulo}}{% else %}{{d.0.titulo}}{% endif %}">
            {% endcomment %}
            <div class="carousel-caption">
              <a tabindex="{{view.tabindex}}" href="/{{d.0.slug}}" title="{{d.0.descricao}}">
                <h1 class="titulo">
                  {{d.0.titulo}}
                </h1>
              </a>
              <p>{{d.0.descricao}}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
{% endwith %}
