{% extends "base.html" %}
{% load i18n crispy_forms_tags static %}

{% block main_container_class %}container container-ouvidoria container-box container-login-inner{% endblock %}">

{% block title %}
<h1 class="page-header bg-blue">
  {% trans "Ouvidoria Parlamentar" %}
</h1>
{% endblock title %}

{% block base_content %}
<div class="inner-ouvidoria">

  <p style="line-height: 1;">
    <br />
    <span style="color: var(--color-text); font-weight: bold;">Eula Alves Costa</span>
    <br />
    <span style="font-size: 14pt;">
      <small>Ouvidora Parlamentar / Respons&aacute;vel pelo SIC / Encarregada de Dados</small>
    </span>
    <small>
      Fone: (64) 3636-0833 - Ouvidoria<br>
      Email: ouvidoria@jatai.go.leg.br<br>
      Endereço: Praça da Bandeira, 96 - Centro - Jataí - GO

    <br><br>
    <strong>FUNCIONAMENTO:</strong><br>
                Os trabalhos da Ouvidoria Parlamentar na Câmara Municipal de Jataí compreende os períodos de 1º de fevereiro a 30 de junho e de 1º de agosto a 20 de dezembro.<br>
                Semanalmente de segunda a sexta-feira das 8 às 11h e das 13h às 17h.

    </small>
    </p>

  {% include "ouvidoria/actions_nova_solicitacao.html" %}
  <h3 class="text-center">Neste espaço a Câmara Municipal de Jataí disponibiliza a você<br>
    um ambiente de comunicação com a Ouvidoria Parlamentar.<br>
    <small class="text-blue">
      <i>
        Para utilizar as opções acima, você precisa estar autenticado no PortalCMJ.
        <br>Por questões tecnológicas, atualmente seu login só é possível através de uma autenticação pelo Google.
        <br>
      </i>
    </small>
    <small>
      <i>
        Para enviar uma denúncia sem se identificar,
        <a href="/fale-conosco/ouvidoria/denuncia-anonima">clique aqui.</a>
        Neste caso, você receberá um link anônimo para acompanhar o andamento.
      </i>
    </small>
  </h3>

  {% if user.is_anonymous %}
      {% include "core/user/login_portlet.html" %}
  {% endif %}
</div>
{% endblock %}
