.container-escola {

  border: 2px solid #00723A;
  padding: 10px;
  border-radius: 10px;
  opacity: 0.7;

  .link-escola {
    color: transparent !important;
    background: url(~@/assets/brasao/escola_1024.png);
    height: 120px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
      color: transparent;
    }
  }
  &:hover {
    opacity: 1;
  }
}