.container-acesso-rapido {
  background: darken($bg_color_thematic, 10%) $url_bg_png;
  padding: 20px 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 50vh;

  h1 {
    color: #fff;
    padding: 0 0 5px 0;
    margin: 0;
    font-weight: 600;
    font-family: Graduate;
  }

  .container {
    justify-content: center;
    display: flex;
  }

  .row {
    align-items: center;
    margin: 0;
    width: 80%;
    justify-content: center;
  }

  .col {
    display: flex;
    gap: 0;
    flex-direction: column;
    align-items: center;
    //background: black;
    padding: 0px;
    margin: 0 -0.7rem;
  }
  .colmeia {
    //margin-bottom: 2em;
  }

  .favo {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: radial-gradient(#00000015 1%, transparent 60%);

    &::before {
      content: "";
      background: url(~@/assets/v2018/img/icon_favo.svg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.6;
    }
    &[id^=favo] {
      &::before {
        animation: 10s ease-in-out infinite keyframe_opacity;
      }
    }
    &#favo01 {
      &::before {
        animation-delay: 0s;
      }
    }
    &#favo02 {
      &::before {
        animation-delay: 0.1s;
      }
    }
    &#favo03 {
      &::before {
        animation-delay: 0.2s;
      }
    }
    &#favo04 {
      &::before {
        animation-delay: 0.3s;
      }
    }
    &#favo05 {
      &::before {
        animation-delay: 0.4s;
      }
    }
    &#favo06 {
      &::before {
        animation-delay: 0.5s;
      }
    }
    &#favo07 {
      &::before {
        animation-delay: 0.6s;
      }
    }
    &#favo08 {
      &::before {
        animation-delay: 0.7s;
      }
    }
    &#favo09 {
      &::before {
        animation-delay: 0.8s;
      }
    }
    &#favo10 {
      &::before {
        animation-delay: 0.9s;
      }
    }

    .action-acesso-rapido {
      position: absolute;
      width: 100%;
      height: 100%;
      color: #fff;

      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.9;
      .inner {
        text-align: center;
        line-height: 1.4rem;
        font-size: 1.2rem;
        //font-weight: bold;
        //font-variant-caps: all-petite-caps;
        text-transform: uppercase;
        //font-variant-caps: small-caps;
        font-family: "Fira Sans", sans-serif;

      }
      &:hover {
        opacity: 1;
        color: #fff;
        text-decoration: none;
        .inner {
          font-weight: 900;
        }
      }
    }
    &:hover {
      background: radial-gradient(darken($bg_color_thematic, 10%) 1%, transparent 60%);
      &::before {
        opacity: 1;
      }
    }
  }
  &:hover {
    .favo {
      &::before {
        animation: none;
      }
    }
  }
}

@media screen and (max-width: 1199.98px) {
  .container-acesso-rapido {
    min-height: auto;
    .favo {
      .action-acesso-rapido {
        .inner {
          font-size: 1rem;
        }
      }
    }
    .colmeia {
      margin-bottom: 0em;
    }
  }
}

@media screen and (max-width: 991.98px) {
  .container-acesso-rapido {
    h1 {
      font-size: 1.7rem;
    }
    .favo {
      &::before {
        opacity: 0.5;
      }
      .action-acesso-rapido {
        .inner {
          line-height: 1rem;
          font-size: 0.87rem;
        }
      }
    }
  }
}

@media screen and (max-width: 767.98px) {
  .container-acesso-rapido {
    h1 {
      font-size: 1.3rem;
    }
    .row {
      width: 100%;
    }
    .col {
      margin: 0 -0.7rem;
    }
    .favo {
      margin: -0.2rem 0;
      .action-acesso-rapido {
        .inner {
          line-height: 1rem;
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media screen and (max-width: 599.98px) {
  .container-acesso-rapido {
    .col {
      margin: 0 -0.6rem;
    }
    .favo {
      margin: -0.2rem 0;
      .action-acesso-rapido {
        .inner {
          line-height: 0.8rem;
          font-size: 0.65rem;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .container-acesso-rapido {
    h1 {
      font-size: 1rem;
    }
    .col {
      margin: 0 -0.5rem;
    }
    .favo {
      margin: -0.15rem 0;
      .action-acesso-rapido {
        .inner {
          line-height: 0.7rem;
          font-size: 0.55rem;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .container-acesso-rapido {
    h1 {
      font-size: 0.75rem;
    }
    .col {
      margin: 0 -0.35rem;
    }
    .favo {
      margin: -0.1rem 0;
      .action-acesso-rapido {
        .inner {
          line-height: 0.55rem;
          font-size: 0.5rem;
        }
      }
    }
  }
}

@media print {
  .container-acesso-rapido {
    display: none !important;
  }
}
