.container-servicos {
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 2em;
  background: darken($color_main_bg, 5%) $url_bg_png;
  min-height: 65vh;

  .title-container {
    float: left;
  }

  .nav {
    margin-right: 0em;
    flex-wrap: nowrap;
    li {
      background-color: #fff;
      padding: 5px;
      transition: all 0.3s ease;
      &:first-child {
        border-radius: 20px 0 0 20px;
      }
      &:last-child {
        border-radius: 0 20px 20px 0;
      }
      &:active, &:link, &:visited, &:hover {
        color: #fff;
      }
    }
    li .active {
      transition: all 0.3s ease;
      border-radius: 15px;
      box-shadow: 2px 2px 5px 0.5px rgba(0, 0, 0, 0.3);
      &:hover {
        color: #fff;
      }
    }
  }

  .servicos-tab-content {
    padding-top: 1rem;
    margin-top: 1rem;
  }

  .row-servicos {
    overflow: hidden;
    font-family: "Roboto Condensed", Helvetica, sans-serif;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    .btn-edit-classe {
      position: absolute;
      top:0;
      right: 0;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }

    .inner-servico {
      width: 100%;
      min-height: 6em;
      background: #fff;
      margin: 1px;
      display: flex;
      justify-content: center;
      align-items: stretch;
    }
    .link-servico {
      width: 100%;
      padding: 1em 0.5rem;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .inner-link {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      line-height: 1.2em;
      font-size: 0.8em;
      gap: 0.7em;
      i {
        font-size: 1.8em;
      }

      span {
        color: #777;
      }
    }

    .inner-servico {
      &:hover {
        background: darken($color_primary, 7%) $url_bg_png;
        // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        span, i {
          color: #fff;
        }
      }
    }
  }
  .col-servicos {
    padding: 0;
    display: flex;
    position: relative;
    width: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .container-servicos {
    .title-container {
      float: none;
    }
    .row-servicos {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
@media screen and (max-width: 767px) {
  .container-servicos {
    .row-servicos {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}