{% load i18n %}
{% load compilacao_filters %}
{% load common_cmj_tags common_tags%}
{% load static %}
{% load webpack_static from webpack_loader %}

<div class="d-flex justify-content-between">
  <div class="item-listas row align-items-center  justify-content-between">
      <div class="col-sm-auto mb-3 text-center">
      {% if n.texto_integral and '.pdf' in n.texto_integral.path %}
        <a class="link-texto m-0" target="_blank" href="{{n.texto_integral.url}}" title="Documento Digitalizado">
          <i class="far fa-2x fa-file-pdf"></i>
          <br>
          <strong style="white-space: nowrap">
              Documento Digitalizado
              <small>
                <br>Com OCR Otimizado para Download
              </small>
          </strong>
        </a>
      {% endif %}
    </div>
    <div class="col-sm-auto mb-3">
      <a class="link-texto m-0"  target="_blank" href="{{n.texto_integral.url}}?original" title="Documento Eletrônico">
        {% if n.metadata.signs and n.metadata.signs.texto_integral %}
          <i class="fas fa-2x fa-certificate"></i>
        {% else %}
          <i class="far fa-2x fa-file-{% if '.pdf' in n.texto_integral.path %}pdf{% else %}archive{% endif %}"></i>
        {% endif %}
        <br>
        <strong style="white-space: nowrap">Documento 
          {% if n.metadata.signs and n.metadata.signs.texto_integral %}
            Eletrônico
            <small>
              <br>com Assinatura Digital
            </small>
          {% else %}
            {% if '.pdf' in n.texto_integral.path %}
                Digitalizado<br>Original
            {% else %}
              <br>Eletrônico
            {% endif %}
          {% endif %}
        </strong>
      </a>
    </div>
    {% for nome, data in n.metadata.signs.texto_integral %}
      {% if forloop.first %}
        <div class="col mb-3">
          <div class="box-assinatura-eletronica">
            <span class="title">
              Assinatura Digital
            </span>
            <div class="sigs">
      {% endif %}
            <div class="sig w-100">
              <span class="sig-nome">
                {{nome}}
              </span>
              <small class="sig-data">
                Assinado em: {{data|parse_datetime|date:"DATETIME_FORMAT" }}
              </small>
            </div>
      {% if forloop.last %}
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>