{% extends "crud/detail.html" %}
{% load i18n common_tags %}
{% load render_bundle from webpack_loader %}
{% comment %}
{% block webpack_loader_css %}
  {{ block.super }}
  {% if object.texto_articulado.exists and object.texto_articulado.first.has_view_permission  %}
    {% render_bundle 'compilacao' 'css' %}
  {% endif %}
{% endblock %}
{% endcomment %}

{% block detail_content %}
<div class="item-listas">
  <div class="links-texto">
    {% if object.texto_integral %}
      <a class="link-texto" href="{{object.texto_integral.url}}" title="Arquivo Digitalizado da Norma ">
        <i class="far fa-3x fa-file-{% if '.pdf' in object.texto_integral.path %}pdf{% else %}archive{% endif %}"></i>
      </a>
    {% endif %}

    {% if object.texto_articulado.exists %}
      <a class="link-texto" href="{% url 'sapl.norma:norma_ta' object.pk%}">
        Texto Articulado
      </a>
    {% endif %}
  </div>

  <div class="text-ementa">
    {{object.ementa}}
  </div>
</div>

{{ block.super }}



<div class="row">
  <div class="col-sm-12">


      {% if object.get_normas_relacionadas.0|length > 0 %}
        <hr />
        <p class="control-label">Normas Relacionadas</p>
        {% for p in object.get_normas_relacionadas.0 %}
          <div class="form-control-static">
            <b>{{ p.tipo_vinculo.descricao_ativa }}</b>&nbsp;
            <a href="{% url 'sapl.norma:normajuridica_detail' p.norma_relacionada.pk %}">
              {{ p.norma_relacionada.epigrafe }}
            </a>
          </div>
        {% endfor %}
      {% endif %}

      {% if object.get_normas_relacionadas.1|length > 0 %}
        {% for r in object.get_normas_relacionadas.1 %}
          <div class="form-control-static">
            <b>{{ r.tipo_vinculo.descricao_passiva }}</b>&nbsp;
            <a href="{% url 'sapl.norma:normajuridica_detail' r.norma_principal.pk %}">
            {{ r.norma_principal.epigrafe }}
            </a>
          </div>
        {% endfor %}
      {% endif %}

  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    {% if object.get_anexos_norma_juridica|length > 0 %}
      <hr />
      <p class="control-label">Anexos Norma Jurídica</p>
      {% for p in object.get_anexos_norma_juridica %}
        <div class="form-control-static">
          <a href="/media/{{p.anexo_arquivo}}">
          {{ p.anexo_arquivo | to_str | split:"/" | get_last_item_from_list:-1 }}
          </a>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>


  {% if user.is_superuser %}
    <br><br>
    <div class="row">
      {% if object.user %}
        <div class="col-sm-6">
          <div id="div_id_user" class="form-group">
            <p class="control-label">Usuário</p>
            <div class="controls">
              <div class="form-control-static">
                <div class="dont-break-out">
                  <a href="{% url 'sapl.base:user_edit' object.user.pk %}">{{object.user}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      {% if object.ip %}
        <div class="col-sm-6">
          <div id="div_ip_user" class="form-group">
            <p class="control-label">IP</p>
            <div class="controls">
              <div class="form-control-static">
                <div class="dont-break-out">{{object.ip}}</div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      </div>
    {% endif %}


  {% comment %}
  {% if object.texto_articulado.exists and object.texto_articulado.first.has_view_permission %}
    <hr />
    <div class="row">
      <div class="col-sm-12">
        <br>
        <p class="control-label">{%trans 'Texto Multivigente' %}</p>
        <div id="textomultivigente"></div>
      </div>
    </div>
  {% endif %}
  {% endcomment %}
{% endblock detail_content %}

{% comment %}
{% block webpack_loader_js %}
    {{ block.super }}
    {% if object.texto_articulado.exists and object.texto_articulado.first.has_view_permission  %}
      {% render_bundle 'compilacao' 'js' %}
    {% endif %}
{% endblock %}


{% block extra_js %}
{% if object.texto_articulado.exists and object.texto_articulado.first.has_view_permission  %}
  <script language="Javascript">
    window.onload = function () {
      $.get("{% url 'sapl.compilacao:ta_text' object.texto_articulado.first.id %}?embedded",
      function(data, status) {
        $('#textomultivigente').html(data)
        $('cp a[data-toggle="dropdown"]').dropdown()
        $('.dne').remove()
        $('.dnli ul').remove()
      });
    }
  </script>
{% endif %}
{% endblock extra_js %}

{% endcomment %}