{% extends "crud/detail.html" %}
{% load i18n sigad_filters cropping common_cmj_tags menus %}

{% block head_title %}{{object}}{% endblock head_title %}
{% block meta_description%}{{object.ementa}}{% endblock meta_description %}
{% block head_title_sufix %}PortalCMJ{% endblock head_title_sufix %}
{% block title %}
<h3 class="page-header {{bg_title}} d-flex justify-content-between">
  <div>
    <a href="#collapseSigns" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseSigns">
        {% if object.is_signed %}
          <i class="fas fa-1x fa-certificate" title="Documento com Assinatura Digital"></i>
        {% endif %}
    </a>
    {{object.tipo.sigla}} {{object.numero}}/{{object.ano}} - {{object.tipo}}
  </div>

  <div>
    {% if user.is_superuser %}
      <a href="{% url 'sapl.materia:materialegislativa_detail' object.id %}?homologar=&compression=False&x=193&y=50&original2copia=True" title="Cabeçalho do Autógrafo.">H</a>
    {% endif %}

    {% if not object.anexo_de.exists and perms.materia.add_materialegislativa %}
      <a href="{% url 'sapl.materia:materialegislativa_detail' object.id %}?cabec_autografo" title="Cabeçalho do Autógrafo.">
        <i class="fas fa-sticky-note"></i>
      </a>
    {% endif %}

    <a href="{% url 'sapl.api:materia_materialegislativa-detail' object.id %}" target="_blank" rel="noopener noreferrer" title="Dados Abertos">
      <i class="far fa-file-code"></i>
    </a>

    {% if not object.anexo_de.exists %}
      <a href="{% url 'sapl.materia:materialegislativa_detail' object.id %}?download" title="Baixar todos os arquivos deste Processo Legislativo">
        <i class="fas fa-download"></i>
      </a>
    {% endif %}
  </div>
</h3>

  <div class="collapse" id="collapseSigns">
  {% with object.metadata.signs.texto_original.signs as signs %}
    {% include 'core/sign_widget.html' %}
  {% endwith %}
  </div>
  {{ breadcrumb_subtitle|safe }}

{% endblock title %}

{% block container_actions %}
  {% if not user.is_anonymous %}
    {{ block.super }}
  {% else %}
    <div class="pt-2 ">
      {% block actions %}
        {{ block.super }}
      {% endblock actions %}
      {% block extra_actions %}
        {{ block.super }}
      {% endblock extra_actions %}
    </div>
  {% endif %}


{% endblock container_actions %}

{% block sub_actions %}
    {{ block.super }}
    {% if object.em_tramitacao and mail_service_configured %}
      <div class="actions btn-group btn-group-sm" role="group">
        <a href="{% url 'sapl.materia:acompanhar_materia' object.id %}" class="btn btn-outline-primary"  data-toggle="tooltip" data-placement="top" title="Registre seu email para acompanhamento desta matéria. Você receberá um email sempre que está materia tramitar.">Acompanhar Matéria</a>
      </div>
    {% endif %}

{% endblock sub_actions %}

{% block detail_content %}

<div class="item-listas container-table">
  <div class="item-raiz px-4">
    {% with object.autores.all.count as count_parlamentares %}
      {% for autor in object.autores_coautores %}
        {% if forloop.counter0 > 0 and forloop.counter0|organize_direction_horizontal_avatars:count_parlamentares %}
          </div>
        {% endif %}

        {% if forloop.counter0|organize_direction_horizontal_avatars:count_parlamentares %}
          <div class="path-parlamentares mt-1">
        {% endif %}

          {% if autor.autor_related.fotografia %}
            <a class="avatar avatar{% if count_parlamentares >= 5 %}5{%else%}3{% endif %}"
              href="{% url 'cmj.search:materia_haystack_search'%}?autoria_is={{autor.id}}"
              title="{{parlamentar}}">
              <img src="{% cropped_thumbnail autor.autor_related "fotografia_cropping" %}" alt="{{autor.autor_related}}">
            </a>
          {% endif %}
        {% if not forloop.last %}
          <span class="linebreak"></span>
        {% else %}
          </div>
        {% endif %}
      {% endfor %}
    {% endwith %}

    <div class="links-texto">
      {% if object.texto_original %}
        <a class="link-texto page-preview" href="{{object.texto_original.url}}?u={% now "u"%}" title="Texto Original">
          <i class="far fa-2x fa-file-{% if '.pdf' in object.texto_original.path %}pdf{% else %}archive{% endif %}"></i>
          <div class="preview">
            <span class="p-5">
              Carregando imagem da primeira página da matéria...
            </span>
            <img loading="lazy" src="{{object.texto_original.url}}?page=1&dpi=190&u={% now "u"%}" title="" alt="Preview da Primeira Página do Documento... Clique para abrir o PDF completo" class="img-fluid">
          </div>
        </a>
      {% endif %}
    </div>

    <div class="text-ementa">{{ object.ementa|safe }}</div>

    <small>
      {% with object.tramitacao_set.first as tram %}
        {% if tram.unidade_tramitacao_destino %}
          <strong>Localização Atual:</strong> &nbsp;{{tram.unidade_tramitacao_destino}}</br>
          <strong>Status:</strong> {{tram.status}}<br>
          <strong>Ultima Ação:</strong> {{tram.texto}}<br>
          <strong>Data da última Tramitação:</strong> {{tram.data_tramitacao}}<br>
        {% endif %}
      {% endwith %}
      <br>
    </small>
    <div class="clearfix"></div>
  </div>

  {% if object.url_video %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-sm-7">
          {% with object.url_video as url_video %}
            {% include 'youtube_widget.html' %}
          {% endwith %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if object.documento_set.exists %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-sm-7">
          <strong>Notícia: </strong>
          {% for n in object.documento_set.all %}
            <a href="/{{n.absolute_slug}}">{{n}}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  <div class="container">
    {{ block.super }}
  </div>


  {% if object.assuntos.exists %}

    <div class="container">
      <p class="control-label">Assuntos</p>
      <div class="form-control-static mb-3">
        {% for assunto in object.assuntos.all %}
          <a href="{% url 'cmj.search:materia_haystack_search'%}?assuntos_is={{assunto.id}}">
            {{assunto.assunto}}
          </a>
          {% if not forloop.last %} - {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif %}


  {% if object.documentoadministrativo_set.exists or object.vinculodocadminmateria_set.exists%}
    <p class="control-label">Documentos Administrativos Vinculados a Matéria</p>
    <div class="bg-white p-3">
        {% with object.vinculodocadminmateria_set.all|map_field_from_queryset:'documento' as doc_list %}
          {% include 'protocoloadm/documentoadministrativo_widget_materia.html' %}
        {% endwith %}
    </div>
    <div class="bg-white p-3">
        {% with object.documentoadministrativo_set.all as doc_list %}
          {% include 'protocoloadm/documentoadministrativo_widget_materia.html' %}
        {% endwith %}
    </div>
  {% endif %}

  {% if object.audienciapublica_set.exists %}
    <p class="control-label">&emsp; Audiência(s) Pública(s)</p>
    <div class="actions btn-group btn-group-sm" role="group">
      {% for ap in object.audienciapublica_set.all %}
        &emsp;&emsp;<a href="{% url 'sapl.audiencia:audienciapublica_detail' ap.id %}">
            {{ ap.nome }}
        </a>
          {% if not forloop.last %} </br> {% endif %}
      {% endfor %}
    </div>
  {% endif %}

  {% if object.registrovotacao_set.exists %}
    {% with object as materia %}
      {% include "materia/materialegislativa_detail_deliberacao_plenario.html" %}
    {% endwith %}
  {% endif %}

  {% with object.tramitacao_set.all as object_list %}
    <br>
    {% include "materia/tramitacao_list_container.html" %}
  {% endwith %}

  {% if object.ano > 2024 and object.metadata_model %}
    {% with object.metadata_model as md %}
      {% if md.metadata.genia.template == 'table1' %}
        {% include "materia/materialegislativa_genia_table1.html" %}
      {% endif %}
    {% endwith %}
  {% endif %}

  {% if user.is_superuser %}
    <div class="container pt-5">
    <div class="row">
      {% if materialegislativa.user %}
        <div class="col-sm-6">
          <div id="div_id_user" class="form-group">
            <p class="control-label">Usuário</p>
            <div class="controls">
              <div class="form-control-static">
                <div class="dont-break-out">
                  <a href="{% url 'cmj.core:user_update' materialegislativa.user.pk %}">{{materialegislativa.user}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      {% if materialegislativa.ip %}
        <div class="col-sm-6">
          <div id="div_ip_user" class="form-group">
            <p class="control-label">IP</p>
            <div class="controls">
              <div class="form-control-static">
                <div class="dont-break-out">{{materialegislativa.ip}}</div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
    </div>
  {% endif %}

  {% with object as object_materia %}
    {% include "materia/materialegislativa_widget_anexadas.html" %}
  {% endwith %}

{% endblock detail_content %}
