{% extends "crud/detail.html" %}
{% load i18n common_tags %}
{% load tz %}

{% block base_workspace %}
  {% if view.is_contained %}
    <div class="box-area-trabalho">
          <a>
          Autor de Documentos e Proposições: <strong>{{user.autor_set.all.0}}</strong></a>
    </div>
  {% endif %}
{% endblock base_workspace %}
{% block sub_actions %}
  {{block.super}}
  <div class="actions btn-group btn-group-sm {%block sub_actions_pull%}{% endblock%}" role="group">
    {% if object.texto_articulado.exists %}
      <a class="btn btn-success" href="{% url 'sapl.materia:proposicao_ta' object.pk%}">{% trans "Texto Eletrônico" %}</a>
    {% endif %}
  </div>
{% endblock sub_actions%}
{% block editions %}
  {% if object.data_envio %}
    {% if user in object.autor.operadores.all  %}
      {% block editions_actions_return %}
        <div class="actions btn-group" role="group">
          <a class="btn btn-{% if object.data_recebimento %}success text-white{% else %}outline-primary{% endif %}" onclick="window.open('{% url 'sapl.materia:recibo-proposicao' object.pk %}','Recibo','width=1100, height=600, scrollbars=yes')">
            {% if object.data_recebimento %}
              {% trans "Comprovante de Protocolo" %}
            {% else %}
              {% trans "Recibo de Envio" %}
            {% endif %}
          </a>
          {% if not object.data_recebimento %}
            <a href="{% url 'sapl.materia:retornar-proposicao' object.pk %}" class="btn btn-outline-primary btn-outline-danger">{% trans 'Retornar Proposição Enviada' %}</a>
          {% endif %}
        </div>
      {% endblock %}
    {% endif %}
  {% else %}
    {% block editions_actions_send %}
      {% if object.metadata.signs and object.metadata.signs.texto_original.signs or not object.tipo.exige_assinatura_digital %}
        {% if not impedimentos_de_envio.0 %}
          <div class="actions btn-group" role="group">
            <a href="{{ view.detail_url }}?action=send" class="btn btn-primary">{% trans 'Enviar' %}</a>
          </div>
        {% endif %}
      {% endif %}
      <div class="actions btn-group" role="group">
        <a href="{{ view.update_url }}" class="btn btn-outline-primary">{% trans 'Editar' %}</a>
        <a href="{{ view.delete_url }}" class="btn btn-outline-primary btn-outline-danger">{% trans 'Excluir' %}</a>
      </div>
    {% endblock %}
  {% endif %}
{% endblock editions %}
{% block detail_content %}

  {% if not object.data_recebimento and object.data_envio%}
    <div class="alert alert-info alert-dismissible " role="alert">
      <strong>{% trans "Proposição aguardando recebimento!" %}</strong>
    </div>
  {% endif %}

  <div class="row">
    <div class="col-sm-6">
      {% with object as p %}
        {% include 'materia/proposicao_widget_file.html' %}
      {% endwith %}
    </div>

    {% if impedimentos_de_envio.0 %}
      <div class="col-sm-6">
        <div id="div_id_impedimento" class="form-group">
          <p class="control-label text-red">Impedimentos de envio devido a contagem individual</p>
          <div class="controls">
            <div class="form-control-static">
              <ul>
                {% for autor, nome_completo, length_fmt_individual in impedimentos_de_envio.0 %}
                  <li>{{ autor }} ({{length_fmt_individual}})</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>

  <h2 class="legend">{% model_verbose_name 'sapl.materia.models.Proposicao' %}</h2>
  <div class="row">
    <div class="col-sm-4 small">
      <div id="div_id_tipo" class="form-group">
        <p class="control-label">{%field_verbose_name object 'tipo'%}</p>
        <div class="controls">
          <div class="form-control-static">{{object.tipo}}</div>
        </div>
      </div>
    </div>


    {% if object.conteudo_gerado_related %}
      <div class="col-sm-8">
        <p class="control-label">{% trans "Conteúdo Gerado" %}</p>
        <div id="div_id_conteudo_gerado_related" class="form-group">
          <div class="controls form-control-static">
            <a href="{% url object|urldetail_content_type:object.conteudo_gerado_related object.conteudo_gerado_related.id%}">
              {{object.conteudo_gerado_related}}
            </a>
          </div>
        </div>
      </div>
    {% endif %}


    {% if object.data_devolucao %}
      <div class="col-sm-8">
        <div class="alert alert-danger alert-dismissible " role="alert">
          <strong>{% trans "Proposição devolvida em:" %} {{ object.data_devolucao}}</strong>
          <div >{% trans "Justificativa:" %} {{object.justificativa_devolucao}}</div>
        </div>
      </div>
    {% else %}
      {% if object.data_envio %}
        <div class="col-sm-3 small">
          <div id="div_id_data_envio" class="form-group">
            <p class="control-label">{%field_verbose_name object 'data_envio' %}</p>
            <div class="controls">
              <div class="form-control-static">{{object.data_envio}}</div>
            </div>
          </div>
        </div>
      {% endif %}
      {% if object.data_recebimento %}
        <div class="col-sm-3 small">
          <div id="div_id_data_envio" class="form-group">
            <p class="control-label">{%field_verbose_name object 'data_recebimento'%}</p>
            <div class="controls">
              <div class="form-control-static">{{object.data_recebimento}}</div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endif %}

    {% if not AppConfig.receber_recibo_proposicao %}
      {% if object.hash_code %}
        <div class="col-sm-6 small">
          <div id="div_id_hash_code" class="form-group">
            <p class="control-label">{%field_verbose_name object 'hash_code'%}</p>
            <div class="controls">
              <div class="form-control-static">{{object.hash_code}}</div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endif %}

  </div>

  <div class="row">
    <div class="col-sm-12">
      <div id="div_id_descricao" class="form-group">
        <p class="control-label">{%field_verbose_name object 'descricao'%}</p>
        <div class="controls">
          <div class="form-control-static">{{object.descricao}}</div>
        </div>
      </div>
    </div>
  </div>
  {% if object.observacao %}
    <div class="row">
      <div class="col-sm-12">
        <div id="div_id_obseracao" class="form-group">
          <p class="control-label">{%field_verbose_name object 'observacao'%}</p>
          <div class="controls">
            <div class="form-control-static">{{object.observacao}}</div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="row">

    {% if object.materia_de_vinculo %}
      <div class="col-sm-12">
        <p class="control-label">{% trans "Vínculo com Matéria Legislativa" %}</p>
        <div id="div_id_materia_de_vinculo" class="form-group">
          <div class="controls form-control-static w-100">
            <a href="{% url object.materia_de_vinculo|urldetail object.materia_de_vinculo.id%}">
              {{object.materia_de_vinculo}}
            </a>
            </br>
            <small class="d-inline-block" style="line-height: 1em !important">
            {% if object.materia_de_vinculo.autoria_set.all %}
            	<strong>Autores:</strong>
            	{% for a in object.materia_de_vinculo.autoria_set.all %}
                </br>&nbsp;&nbsp;&nbsp;&nbsp;{{a.autor}}
              {% endfor %}
            {% endif %}
            </small>
            {% comment %}</br>
            Texto Original
            </br>
            {% if object.materia_de_vinculo.texto_original %}
              <a href="{{object.materia_de_vinculo.texto_original.url}}">
                {{object.materia_de_vinculo.texto_original| to_str | split:"/" | get_last_item_from_list:-1}}
              </a>
            {% endif %}
            </br>
            {% endcomment %}
          </div>
        </div>
      </div>
    {% endif %}
    {% if object.proposicao_vinculada %}
      <div class="col-sm-12">
        <p class="control-label">{% trans "Vínculo com Proposição" %}</p>
        <div id="div_id_proposicao_vinculada" class="form-group">
          <div class="controls form-control-static w-100">
            <a href="{% url object.proposicao_vinculada|urldetail object.proposicao_vinculada.id%}">
              {{object.proposicao_vinculada}}
            </a><BR>
            <small>
              {{object.proposicao_vinculada.descricao}}
            </small>
            {% comment %}</br>
              Texto Original
              </br>
              {% if object.proposicao_vinculada.texto_original %}
                <a href="{{object.proposicao_vinculada.texto_original.url}}">
                  {{object.proposicao_vinculada.texto_original| to_str | split:"/" | get_last_item_from_list:-1}}
                </a>
              {% endif %}
              </br>
            {% endcomment %}
          </div>
        </div>
      </div>
    {% endif %}

  </div>
  {% if user.is_superuser %}
    <div class="row">
      {% if proposicao.user %}
        <div class="col-sm-4">
          <div id="div_id_user" class="form-group">
            <p class="control-label">Usuário</p>
            <div class="controls">
              <div class="form-control-static">
                <div class="dont-break-out">
                  <a href="{% url 'cmj.core:user_update' proposicao.user.pk %}">{{ proposicao.user }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      {% if proposicao.ip %}
        <div class="col-sm-4">
          <div id="div_ip_user" class="form-group">
            <p class="control-label">IP</p>
            <div class="controls">
              <div class="form-control-static">
                <div class="dont-break-out">{{ proposicao.ip }}</div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      {% if proposicao.ultima_edicao %}
        <div class="col-sm-4">
          <div id="div_ud_user" class="form-group">
            <p class="control-label">Data e Hora da Edição</p>
            <div class="controls">
              <div class="form-control-static">
                <div class="dont-break-out">{{ proposicao.ultima_edicao }}</div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endblock detail_content %}


{% block extra_js %}

<script language="Javascript">
  $(document).ready(function() {
    if( $('.running_extraction').length ) {
      let count = 10
      setInterval(function() {
        if (count < 1 ) {
          location.reload()
        }
        else {
          $('.running_extraction i').last().html(`[ ${count} ]`)
          count -= 1
        }
      }, 1000)
    }
  })
</script>
{% endblock extra_js %}

