{% extends "crud/list.html" %}
{% load i18n %}
{% block main_container_class %}container container-box{% endblock %}


{% block base_workspace %}
  {% if view.is_contained %}
    <div class="box-area-trabalho">
          <a>
          Autor de Documentos e Proposições: <strong>{{user.autor_set.all.0}}</strong></a>
    </div>
  {% endif %}
{% endblock base_workspace %}


{% block actions %}
  <div>
  {% for tipo, autores_materias in view.tipos_autores_materias %}
    {% if forloop.first %}
      <strong>Matérias em tramitação:</strong><br>
    {% endif %}
    <a href="{% url 'cmj.search:materia_haystack_search' %}?tipo_i={{tipo.id}}&em_tramitacao_b=1&autoria_is={{user.autor_set.all.0.id}}">{{tipo}} <strong>({{autores_materias|length}})</strong></a><br>
  {% endfor %}
  </div>
  {{ block.super }}
{% endblock %}