DATABASE_URL = postgresql://postgres:@cmjdb:/cmj
KEY
DEBUG = False
EMAIL_USE_TLS = True
EMAIL_PORT = 587
EMAIL_HOST = ''
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''
EMAIL_USE_TLS = False
EMAIL_USE_SSL = False
EMAIL_SEND_USER = 

SOCIAL_AUTH_FACEBOOK_KEY = 
SOCIAL_AUTH_FACEBOOK_SECRET = 
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY = 
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET = 
SOCIAL_AUTH_TWITTER_KEY = 
SOCIAL_AUTH_TWITTER_SECRET = 

GOOGLE_URL_SHORTENER_KEY = 
GOOGLE_URL_API_KEY = 
GOOGLE_RECAPTCHA_SITE_KEY = 
GOOGLE_RECAPTCHA_SECRET_KEY = 

INITIAL_VALUE_FORMS_UF = GO
INITIAL_VALUE_FORMS_MUNICIPIO = 5211909
INITIAL_VALUE_FORMS_CEP = 75800000
