{% extends "norma/normajuridica_filter.html" %}
{% load i18n %}

{% block container_actions %}
{% endblock container_actions %}

{% block detail_content %}
{% endblock detail_content %}

{% block table_content %}
  <div class="container-table mt-3">
      <table class="table table-striped">
        {% for n in page_obj %}
          <tr>
            <td class="item-listas">
              <div class="item-raiz">

                <strong>
                  <a href="{% url 'sapl.norma:normajuridica_detail' n.pk %}">{{ n.apelido }}</a>
                </strong><br>{% if n.ementa %}<small>{{n}}</small>{% endif %}

                <div class="text-ementa">
                  {% if not n.ementa %}{{n}}{% else %}{{n.ementa}}{% endif %}
                </div>
            </td>
            {% comment "" %}

            <td>
                {% if n.get_normas_relacionadas.0|length == 0 and n.get_normas_relacionadas.1|length == 0%}
                   Norma sem alterações posteriores.
                {% else %}
                  {% for p in n.get_normas_relacionadas.0 %}
                    <div>
                      <b>{{ p.tipo_vinculo.descricao_ativa }}</b>&nbsp;
                        <a href="{% url 'sapl.norma:normajuridica_detail' p.norma_relacionada.pk %}">
                          {{ p.norma_relacionada }}
                        </a>
                    </div>
                  {% endfor %}
                  {% for r in n.get_normas_relacionadas.1 %}
                    <div>
                      <b>{{ r.tipo_vinculo.descricao_passiva }}</b>&nbsp;
                        <a href="{% url 'sapl.norma:normajuridica_detail' r.norma_principal.pk %}">
                          {{ r.norma_principal }}
                        </a>
                    </div>
                  {% endfor %}
              {% endif %}
            </td>
            {% endcomment %}
    			</tr>
    		{% endfor %}
    	</table>
</div>
{% endblock table_content %}

{% block extra_js %}
{% endblock extra_js %}