{% extends "crud/list.html" %}
{% load i18n cache %}
{% load crispy_forms_tags cropping common_tags %}

{% block title %}
  <div class="float-right mt-3">
    <div class="actions btn-group btn-exports" role="group">
      <a class="btn btn-success btn-sm" href="{% url 'sapl.api:loa_emendaloa-list' %}" title="OpenAPI">OpenAPI</a>
    </div>
  </div>
  {{ block.super }}
{% endblock %}

{% block more_buttons_left %}
  {% if view.extras_url %}
    <div class="d-md-flex justify-content-end pr-2">
      <div class="actions btn-group btn-group-sm" role="group">
        {% for href, css_class, text in view.extras_url %}
          <a href="{{href}}" class="btn {{css_class}}">
              {{text|safe}}
          </a>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock more_buttons_left %}

{% block extra_content %}
  {% crispy filter.form %}
{% endblock %}

{% block container_table_list %}
{% if not object_list %}
  <div class="text-muted py-3 text-center zoom-2">
    Nenhuma Emenda Parlamentar encontrada com os critérios de busca acima!
  </div>
{% else %}
  <div class="bg-white px-2 my-3 font-weight-bold">
    {% if paginator.count == 1%}
      Foi encontrada uma Emenda Parlamentar
    {% else %}
      Foram encontradas {{ paginator.count }} Emendas Parlamentares
    {% endif %}
  </div>
  <div class="container">
    <div class="row">
      {% for emenda in object_list %}
        <div class="col-12 pl-0 pr-0 emendaloa-item">
          <button class="btn btn-link btn-expand">
            <i class="fas fa-expand"></i>
          </button>
          {% include "loa/emendaloa_filter_cache.html" %}
        </div>
        {% comment %}
        {% cache 604800 l.el.l emenda.id %}
        {% endcache %}
        {% cache 604800 l.el emenda.id %}
        {% include "loa/emendaloa_filter_cache.html" %}
        {% endcache %}
        {% endcomment %}
      {% endfor %}
    </div>
  </div>
{% endif %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  $(document).ready(function() {
    $('.btn-register-emendas-liberadas').on('click', function(e) {
        e.preventDefault();
        var url = $(this).attr('href');
        if (confirm('Confirma a criação automatizada de proposições para suas emendas em fase "Liberado pela Contabilidade e/ou Aguardando Protocolo"? Você poderá acompanhar o andamento no módulo de proposições.')) {
            window.location.href = url;
        } else {
            return false;
        }
    });

    $('.btn-expand').on('click', function(e) {
        e.preventDefault();
        var $item = $(this).closest('.emendaloa-item');
        var elem = $item[0];

        if (!document.fullscreenElement) {
            elem.requestFullscreen().then(function() {
                $item.addClass('expanded');
                $(e.currentTarget).find('i').removeClass('fa-expand').addClass('fa-compress');
            });
        } else {
            document.exitFullscreen().then(function() {
                $item.removeClass('expanded');
                $(e.currentTarget).find('i').removeClass('fa-compress').addClass('fa-expand');
            });
        }
    });

    $(document).on('fullscreenchange', function() {
        if (!document.fullscreenElement) {
            var $expanded = $('.emendaloa-item.expanded');
            $expanded.removeClass('expanded');
            $expanded.find('.btn-expand i').removeClass('fa-compress').addClass('fa-expand');
        }
    });
  });

</script>
{% endblock %}
