{% extends "crud/form.html" %}
{% load i18n %}
{% block extra_js %}
<script language="Javascript">

  {% if not object %}
    function atualizar_numero_documento(){
      var tipo = $("#id_tipo").val()
      var ano = $("#id_ano").val()
      if (tipo){
        $.get(
          "{% url 'sapl.protocoloadm:atualizar_numero_documento' %}",
          {tipo: tipo, ano:ano},
          function(data, status) {
            $("#id_numero").val(data.numero);
            $("#id_ano").val(data.ano);
          });
      }
    }
    var fields = ["#id_tipo", "#id_ano"]
    for (i = 0; i < fields.length; i++) {
      $(fields[i]).change(atualizar_numero_documento);
    }
  {% endif %}

  $("select[name=tipo_materia], input[name=numero_materia], input[name=ano_materia]").change(function(event) {
    var url = '{% url 'sapl.api:materialegislativa-list'%}'

    var formData = {
          'tipo'   : $("select[name=tipo_materia]").val(),
          'ano'    : $("input[name=ano_materia]").val(),
          'numero' : $("input[name=numero_materia]").val(),
    }
    if (formData.tipo == '' || formData.ano == '' || formData.numero == '')
      return;
    $.get(url, formData).done(function(data) {
      if (data.pagination.total_entries == 1) {
        $(".ementa_materia strong").html(data.results[0].__str__);
        $(".ementa_materia span").html(data.results[0].ementa);
        $(".ementa_materia").removeClass('hidden').removeClass('alert-danger').addClass('alert-info');
      }
      else {
        $(".ementa_materia strong").html('Atenção!');
        $(".ementa_materia span").html('Matéria não localizada...');
        $(".ementa_materia").removeClass('hidden').removeClass('alert-info').addClass('alert-danger');

      }
        
    });
  });
  $("select[name=tipo_materia]").trigger('change');


  $("select[name=tipo_anexador], input[name=numero_anexador], input[name=ano_anexador]").change(function(event) {
    var url = '{% url 'sapl.api:documentoadministrativo-list'%}'

    var formData = {
          'tipo'   : $("select[name=tipo_anexador]").val(),
          'ano'    : $("input[name=ano_anexador]").val(),
          'numero' : $("input[name=numero_anexador]").val(),
    }
    if (formData.tipo == '' || formData.ano == '' || formData.numero == '')
      return;
    $.get(url, formData).done(function(data) {
      if (data.pagination.total_entries == 1) {
        $(".assunto_anexador strong").html(data.results[0].__str__);
        $(".assunto_anexador span").html(data.results[0].assunto);
        $(".assunto_anexador").removeClass('hidden').removeClass('alert-danger').addClass('alert-info');
      }
      else {
        $(".assunto_anexador strong").html('Atenção!');
        $(".assunto_anexador span").html('Documento não localizado...');
        $(".assunto_anexador").removeClass('hidden').removeClass('alert-info').addClass('alert-danger');
      }
    });
  });
  $("select[name=tipo_anexador]").trigger('change');


  
</script>
{% endblock %}
