{% load i18n %}
{% load compilacao_filters %}
{% load common_cmj_tags common_tags%}
{% load static %}
{% load webpack_static from webpack_loader %}
{% if d.texto_integral %}
  <div class="row item-listas align-items-center file-documentoadministrativo justify-content-between">
    <div class="col-12 col-md-auto justify-content-center">


      {% if d.metadata.signs and d.metadata.locaweb and d.metadata.signs.texto_integral.signs and d.metadata.locaweb.texto_integral.hash == d.metadata.locaweb.texto_integral.original_hash %}
        <a class="link-texto"  target="_blank" href="{{d.texto_integral.url}}?original" title="Documento Eletrônico">
          <i class="fas fa-2x fa-certificate"></i>
          <br>
          <strong>Documento 
              Eletrônico
              <small>
                <br>com Assinatura Digital
              </small>
          </strong>
        </a>
      {% else %}

        {% if d.texto_integral and '.pdf' in d.texto_integral.path %}
          <a class="link-texto" target="_blank" href="{{d.texto_integral.url}}" title="Documento Digitalizado">
            <i class="far fa-2x fa-file-pdf"></i>
            <br>
            <strong>
                Documento Digitalizado
                <small>
                  <br>Com OCR Otimizado para Download
                </small>
            </strong>
          </a>
        {% endif %}
        <a class="link-texto"  target="_blank" href="{{d.texto_integral.url}}?original" title="Documento Eletrônico">
          {% if d.metadata.signs and d.metadata.signs.texto_integral.signs %}
            <i class="fas fa-2x fa-certificate"></i>
          {% else %}
            <i class="far fa-2x fa-file-{% if '.pdf' in d.texto_integral.path %}pdf{% else %}archive{% endif %}"></i>
          {% endif %}
          <br>
          <strong>Documento 
            {% if d.metadata.signs and d.metadata.signs.texto_integral.signs %}
              Eletrônico
              <small>
                <br>com Assinatura Digital
              </small>
            {% else %}
              {% if '.pdf' in d.texto_integral.path %}
                  <br>Digitalizado Original
              {% else %}
                <br>Eletrônico
              {% endif %}
            {% endif %}
          </strong>
        </a>
      {% endif %}
    </div>
    {% with d.metadata.signs.texto_integral.signs as signs %}
      {% include 'core/sign_widget.html' %}
    {% endwith %}
    {% if render_ementa %}
      <div class="col{% if d.metadata.signs.texto_integral.signs %}-12{% endif %}">
        <div class="text-ementa">
          {{d.assunto|safe}}
        </div>
      </div>
    {% endif %}
  </div>
{% endif %}