{% load i18n %}
{% load crispy_forms_tags %}
{% load common_tags %}


<div {% if not d.anexo_de.first %}class="item-raiz"{% else %}class="item-node"{% endif %}>

  {% if d.anexo_de.first %}
    <div class="parent">
      Vinculado a: {{d.anexo_de.first}}
    </div>
    {% if not user.is_superuser %}
      <div class="parent-right">
        <small>
          Última Atualização: {{d.data_ultima_atualizacao}}
        </small>
      </div>
    {% endif %}
  {% else %}
    <div class="parent-right">
      Última Atualização: {{d.data_ultima_atualizacao}}
    </div>
{% endif %}

  {% if not render_widget_file or render_widget_file_list == False%}
    <div class="links-texto">
        {% if d.texto_integral %}
          <a class="link-texto"  target="_blank" href="{{d.texto_integral.url}}?u={% now "u"%}" title="Documento Administrativo">
            <i class="far fa-2x fa-file-{% if '.pdf' in d.texto_integral.path %}pdf{% else %}archive{% endif %}"></i>
          </a>
      {% endif %}
    </div>
  {% endif %}

  <a class="item-titulo" href="{% url 'sapl.protocoloadm:documentoadministrativo_detail' d.pk %}">{% if d.is_signed %} <i class="fas fa-1x fa-certificate" title="Documento possui versão com Assinatura Digital, entre nos detalhes do documento para abrir o Arquivo Original"></i>{% endif %} {{ d }}</a>
  
  {% if not d.documento_anexado_set.exists and d.documento_principal_set.exists %}
    <a class="float-right text-black-50" title="Download de todo o processo" href="{% url 'sapl.protocoloadm:documentoadministrativo_detail' d.id%}?download"><i class="fas fa-2x fa-download"></i></a>
  {% endif %}

  {% if d.certidao %}
    <br><small>
    <a class="text-danger" href="{% url 'cmj.core:certidaopublicacao_detail' d.certidao.id %}">Certidão de Publicação nº {{d.certidao.id|stringformat:"06d" }} de {{d.certidao.created}}</a>
    </small>
  {% endif %}
     
  <br><strong>Data do documento:</strong> {{d.data}} | {{d.tipo}} | {{d.tipo.sigla}} {{d.numero}}/{{d.ano}}

  {% if d.paginas %}<br><strong>Número de Página(s):</strong> {{d.paginas}}{% endif %}

  {% if d.protocolo_gr.exists %}
    | 
    {% if perms.detail_protocolo %}
      <strong>Protocolo:</strong>&nbsp;<a href="{% url 'sapl.protocoloadm:protocolo_mostrar' d.protocolo_gr.first.id %}">{{ d.protocolo_gr.first.epigrafe}}</a></br>
    {% else %}
      <strong>Protocolo:</strong> {{ d.protocolo_gr.first.epigrafe}}
    {% endif %}
  {% endif %}

  
  
  {% if d.data_vencimento %}
    <br><small>Data de Vencimento: {{d.data_vencimento}}</small>
  {% endif %}

  {% if d.assunto %}

    <div class="text-ementa">{{ d.assunto|safe }}</div>
  {% endif %}

  {% if render_widget_file and render_widget_file_list is None or render_widget_file_list == True %}
    {% include 'protocoloadm/documentoadministrativo_widget_file.html' %}
  {% endif %}

  <small>
    {% if d.interessado %}
      <strong>Interessado:</strong>&nbsp;{{ d.interessado|default_if_none:"Não informado"}}
      {% if d.protocolo_gr.first.email %}               
        <br><strong>Email:</strong>  {{ d.protocolo_gr.first.email}}                  
      {% endif %}

    {% endif %}

    {% define d.tramitacaoadministrativo_set.first as tram %}
    {% if tram.unidade_tramitacao_destino %}        
      <strong>Localização Atual:</strong> &nbsp;{{tram.unidade_tramitacao_destino}}</br>        
      <strong>Status:</strong> {{tram.status}}
    {% endif %}
    {% if not d.anexo_de.first %}
      {% if d.tramitacao and not perms.protocoloadm.detail_documentoadministrativo and d.workspace.tipo == d.workspace.TIPO_PUBLICO and mail_service_configured %}
        <br><a class="btn btn-sm btn-outline-primary" href="{% url 'sapl.protocoloadm:acompanhar_documento' d.id %}">Acompanhar Tramitação</a>
      {% endif %}
    {% endif %}



    {% define d.documentoacessorioadministrativo_set.all as acess %}
    {% if d.documentoacessorioadministrativo_set.all.exists %}
        <strong>Documentos Acessórios:</strong>
        <a href="{% url 'sapl.protocoloadm:documentoacessorioadministrativo_list' d.id %}">
            {{ d.documentoacessorioadministrativo_set.all.count }}
        </a>
        </br>
    {% endif %}
  </small>




    {% for anexado in d.documento_principal_set.childs_anexados %}
      {% if forloop.first %}        
        <br><strong>Documentos Anexados:</strong>
        <div class="childs">
      {% endif %}
        {% with True as render_widget_file %}
          {% with anexado.documento_anexado as d %}
            {% include "protocoloadm/documentoadministrativo_item_filter.html" %}
          {% endwith %}
        {% endwith %}
      {% if forloop.last %}
        </div>
      {% endif %}
    {% endfor %}
</div>