{% load i18n %}
{% load crispy_forms_tags %}
{% load common_tags %}
<div {% if not d.anexo_de.first %}class="item-raiz"{% else %}class="item-node"{% endif %}>
 {% if d.anexo_de.first %}
 <div class="parent">
  Vinculado a: {{d.anexo_de.first}}
 </div>
 <div class="clearfix"></div>
 {% endif %}
  

  <div class="links-texto">
      {% if d.texto_integral %}
        <a class="link-texto" href="{{d.texto_integral.url}}" title="Documento Administrativo">
          <i class="far fa-2x fa-file-{% if '.pdf' in d.texto_integral.path %}pdf{% else %}archive{% endif %}"></i>
        </a>
      {% endif %}
  </div>

    <a class="item-titulo" href="{% url 'sapl.protocoloadm:documentoadministrativo_detail' d.pk %}">{{ d }}</a>
    {% if d.certidao %}
      <br><small>
      <span class="text-danger">Certidão de Publicação nº {{d.certidao.id|stringformat:"06d" }} de {{d.certidao.created}}</span>
      </small>
    {% endif %}
    
  <br><strong>Data do documento:</strong> {{d.data}} | {{d.tipo}} | {{d.tipo.sigla}} {{d.numero}}/{{d.ano}}

  {% if d.protocolo %}
    | 
    {% if perms.detail_protocolo %}
      <strong>Protocolo:</strong>&nbsp;<a href="{% url 'sapl.protocoloadm:protocolo_mostrar' d.protocolo.id %}">{{ d.protocolo}}</a></br>
    {% else %}
      <strong>Protocolo:</strong> {{ d.protocolo}}
    {% endif %}
  {% endif %}


  {% if d.assunto %}
    <div class="text-ementa">{{ d.assunto }}</div>
  {% endif %}


  <small>
    {% if d.interessado %}
      <strong>Interessado:</strong>&nbsp;{{ d.interessado|default_if_none:"Não informado"}}
    {% endif %}

    {% define d.tramitacaoadministrativo_set.first as tram %}
    {% if tram.unidade_tramitacao_destino %}
        </br>
      <strong>Localização Atual:</strong> &nbsp;{{tram.unidade_tramitacao_destino}}
        </br>
      <strong>Status:</strong> {{tram.status}}
    {% endif %}

    {% define d.documentoacessorioadministrativo_set.all as acess %}
    {% if d.documentoacessorioadministrativo_set.all.exists %}
        <strong>Documentos Acessórios:</strong>
        <a href="{% url 'sapl.protocoloadm:documentoacessorioadministrativo_list' d.id %}">
            {{ d.documentoacessorioadministrativo_set.all.count }}
        </a>
        </br>
    {% endif %}
  </small>

    {% for anexado in d.documento_principal_set.all %}
      {% if forloop.first %}
        <div class="childs">
      {% endif %}
        {% with anexado.documento_anexado as d %}
          {% include "protocoloadm/documentoadministrativo_item_filter.html" %}
        {% endwith %}
      {% if forloop.last %}
        </div>
      {% endif %}
    {% endfor %}
</div>