{% extends "crud/detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load common_tags %}

{% block sections_nav %} {% endblock %}

{% block actions %}
  <div class="actions btn-group" role="group">
    {% comment "" %}
      <div class="container-search">
        <form method="get" action="{% url 'cmj.core:haystack_search'%}?q=&models=protocoloadm.documentoadministrativo">
          <div class="row">
            <div class="col-md-12"> 
              <div class="form-group">
                <div class="input-group">
                  <input type="search" name="q" placeholder="Busca Textual" type="search" class="textinput textInput form-control" id="id_q" />
                  <span class="input-group-append">
                    <button  class="btn btn-outline-primary" type="submit">
                      <i class="fas fa-2x fa-search"></i>
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

    {% endcomment %}
    <a href="{% url 'sapl.base:haystack_search' %}?q=&models=protocoloadm.documentoadministrativo" class="btn btn-outline-primary">
      Pesquisa Textual
    </a>
    {% if show_results %}
      <a href="{% url 'sapl.protocoloadm:documentoadministrativo_list' %}" class="btn btn-outline-primary">{% trans 'Pesquisa Parametrizada' %}</a>
    {% endif %}
  </div>
  <div class="actions btn-group btn-group-lg" role="group">
    {% if perms.protocoloadm.add_documentoadministrativo %}
      <a href="{% url 'sapl.protocoloadm:documentoadministrativo_create' %}" class="btn btn-outline-primary">
        {% blocktrans with verbose_name=view.verbose_name %}Adicionar Documento Administrativo {% endblocktrans %}
      </a>
    {% endif %}
  </div>
{% endblock actions %}

{% block detail_content %}
  {% if user.is_anonymous or not user.areatrabalho_set.exists %}
    <div class="alert alert-danger">
      <strong>ATENÇÃO!!!</strong><br>
      O Sistema de Publicação de Documentos Administrativos da Câmara Municipal passou por migração.<br>
      Todos os documentos estão aqui mas sem classificação apropriada.<br>
      Nas dificuldades encontradas para localização de documentos e processos diversos, 
      o Setor de Tecnologia e Desenvolvimento da Câmara Municipal pede a compreensão momentânea pelo transtornos.
    </div>
  {% endif %}
  {% if not show_results %} {% crispy filter.form %} {% endif %}
{% endblock detail_content %}

{% block table_content %}
  {% if show_results %}
      {% if page_obj|length %}

      <div class="container-table">
        <div class="result-count">Total de Documentos: <strong>{{paginator.count}}</strong></div>
        <table class="table table-striped table-hover table-link-ordering">
    	
        {% for d in page_obj %}
          <tr>
            <td>
              <strong><a href="{% url 'sapl.protocoloadm:documentoadministrativo_detail' d.id %}">{{d.tipo.sigla}} {{d.numero}}/{{d.ano}} - {{d.tipo}}</strong></a></br>
                <strong>Data:</strong>&nbsp;{{ d.data }}<br>

                <strong>Interessado:</strong>&nbsp;{{ d.interessado|default_if_none:"Não informado"}}
                </br>
              <strong>Assunto:</strong>&nbsp;{{ d.assunto|safe }}
                </br>
              {% if d.protocolo %}
                <strong>Protocolo:</strong>&nbsp;<a href="{% url 'sapl.protocoloadm:protocolo_mostrar' d.protocolo.id %}">{{ d.protocolo}}</a></br>
              {% endif %}
                {% define d.tramitacaoadministrativo_set.last as tram %}
                {% if tram.unidade_tramitacao_destino %}
                <strong>Localização Atual:</strong> &nbsp;{{tram.unidade_tramitacao_destino}}
                    </br>
                   <strong>Status:</strong> {{tram.status}}
                    </br>
                {% endif %}
                {% define d.documentoacessorioadministrativo_set.all as acess %}
                {% if d.documentoacessorioadministrativo_set.all.exists %}
                        <strong>Documentos Acessórios:</strong>
                        <a href="{% url 'sapl.protocoloadm:documentoacessorioadministrativo_list' d.id %}">
                            {{ d.documentoacessorioadministrativo_set.all.count }}
                        </a>
                        </br>
                    {% endif %}
              {% if d.texto_integral %}
                <strong><a href="{{ d.texto_integral.url}}">Texto Integral</a></strong></br>
              {% endif %}
              {% comment "" %}
                {% if user.is_superuser and d.tramitacao and mail_service_configured or  user.is_superuser %}
                  <a class="btn btn-sm btn-outline-primary" href="{% url 'sapl.protocoloadm:acompanhar_documento' d.id %}">Acompanhar Documento (SUPERUPSER)</a>
                {% endif %}
              {% endcomment %}
            </td>

          </tr>
        {% endfor %}
      {% else  %}
        <tr><td><h3>Nenhum documento encontrado com essas especificações</h3></tr>
      {% endif %}
    </table>
    {% include "paginacao.html" %}
  {% endif %}
{% endblock table_content %}


{% block extra_js %}

{% comment "" %}
<style>
  .select-error {
    border-color: red;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  }
</style>

<script type="text/javascript">

  validation = () => {
    if (document.getElementById("relatorio").checked && !$("#id_ano").val()){
      $("#submit-id-pesquisar").attr("disabled", true);
      $("#id_ano").addClass("select-error");
      $("#div_id_ano").append('<spam id="error-ano" style="font-size:8pt;color:red">Selecione uma data.</spam>');
    }
    else{
      error = document.getElementById("error-ano")
      if (error){
        $("#submit-id-pesquisar").attr("disabled", false);
        $("#id_ano").removeClass("select-error");
        document.getElementById("error-ano").remove();
      }
      
    }
  }

  document.getElementById("relatorio").onchange = validation;
  document.getElementById("id_ano").onchange = validation;
  validation();


</script>
{% endcomment %}

{% endblock %}
