{% extends "crud/detail.html" %}
{% load i18n %}
{% load crispy_forms_tags common_cmj_tags %}  

{% block base_workspace %}
  <div class="box-area-trabalho">
    {% for at in areatrabalho %}
        <a>{{at.nome}}</a>
    {% endfor %}
  </div>
{% endblock base_workspace %}

{% block actions %}
<div>

    {% block action_newsearch %}
      <div class="actions btn-group btn-group-sm" role="group">
        <a href="{% url 'sapl.protocoloadm:protocolo' %}" class="btn btn-outline-primary">{% trans 'Fazer nova pesquisa' %}</a>
      </div>
    {% endblock action_newsearch %}

    {% url 'sapl.protocoloadm:protocolar_mat' as url_protocolar_materia%}
    {% url 'sapl.protocoloadm:protocolar_doc' as url_protocolar_docadm%}
    {% url 'sapl.protocoloadm:protocolar_doc_acess' as url_protocolar_docacess%}

    <div class="actions btn-group btn-group-sm" role="group">
      <a href="{{url_protocolar_materia}}" class="btn btn-outline-primary {% if request.scope.path == url_protocolar_materia %}active{% endif %}">{% trans 'Protocolar Matéria' %}</a>
      <a href="{{url_protocolar_docacess}}" class="btn btn-outline-primary {% if request.scope.path == url_protocolar_docacess %}active{% endif %}">{% trans 'Protocolar DocAcessório' %}</a>
    </div>

    <div class="actions btn-group btn-group-sm" role="group">
      <a href="{{url_protocolar_docadm}}" class="btn btn-outline-primary {% if request.scope.path == url_protocolar_docadm %}active{% endif %}">{% trans 'Protocolar Documento Administrativo' %}</a>
      
    </div>
    <div class="actions btn-group btn-group-sm" role="group">
      <a href="{% url 'sapl.protocoloadm:anular_protocolo' %}" class="btn btn-outline-danger">{% trans 'Anular Protocolo' %}</a>
      {% comment %}
        <a href="{% url 'sapl.protocoloadm:desvincular_documento' %}" class="btn btn-outline-danger">{% trans 'Desvinc Doc' %}</a>
        <a href="{% url 'sapl.protocoloadm:desvincular_materia' %}" class="btn btn-outline-danger">{% trans 'Desvincular Matérias' %}</a>
      {% endcomment %}
    </div>
  </div>
{% endblock actions %}

{% block detail_content %}

{% if form %}
	{% crispy form %}
{% else %}
  {{ block.super }}
{% endif %}
{% endblock detail_content %}
