{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}homepage{% endblock %}

{% block base_content %}

Você está acessando a nova ferramenta da Câmara Municipal de Jataí, que será a plataforma para as soluções parlamentares, legislativas, administrativas, transparência e institucionais. Soluções estas que serão migradas possivelmente na ordem citada, respectivamente.
<br><br>
Inicialmente, em fase final de migração, a solução de apoio aos Parlamentares.<br><br>
Se você é um funcionário de gabinete, use a opção Acessar e faça autenticação com seu Facebook ou sua conta do Google e, em seguida, solicite ao Departamento de Informática que lhe dê permissão de acesso ao seu Gabinete Parlamentar.
<br>Se você não é funcionário da Câmara, no futuro teremos funcionalidades para sua interação dentro do Portal, coisas como solicitações, comentários, edição participativa de matérias e outros.
<br><br>Observamos que a autenticação está disponivel apenas via Facebook e/ou Google por ser um meio seguro de autenticação. Criar algo próprio da Câmara Municipal de Jataí com segurança mínima e, ainda assim, menor do que as oferecidas já citadas, seria um tempo gasto com uma burocracia desnecessária, ao menos na atualidade!

{% endblock %}
