
// Customizações da Ouvidoria  ############################
.container-mensagens {
  position: relative;
  margin: 20px 10% 60px;
  .container-logged-user, .container-member {
    position: relative;

  }
  .time {
    position: absolute;
    font-size: 70%;
    background: white;
    padding:0 15px;
    left: 90px;
    border-radius: 0 0 10px 10px;
  }
  .inner {
    margin: 15px 0;
    display: inline-block;
    .mensagem {
      text-align: left;
      padding: 10px;
      border-radius: 10px;
      &:before {
        content: '';
        position: absolute;
        left: 65px;
        width: 0;
        height: 0;
      }
    }
    .avatar {
      float:left;
      img {
        width: 60px;
        height: auto;
      }
    }
  }
  .container-logged-user {
    text-align: right;
    margin-left: 25%;

    .mensagem {
      margin-right: 75px;
      background: #3c8dbc;
      color: white;
      &:before {
        right: 65px;
        left:auto;
        border-top: 10px dashed #3c8dbc;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
      }
    }
    .time {
      background: #3c8dbc;
      left: auto;
      right: 90px;
      color: white;
    }
    .avatar {
      float: right;
    }
  }
  .container-member {
    margin-right: 25%;
    .mensagem {
      margin-left: 75px;
      background: white;
      &:before {
        border-top: 10px dashed white;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
      }
    }
    &.odd {
      .mensagem {
        background-color: #eefff5;
        &:before {
          border-top: 10px dashed  #eefff5;
        }
      }
      .time {
          background-color: #eefff5;
      }
    }
  }
}

.container-ouvidoria {
  margin-top: $grid-gutter-width;
  .inner-ouvidoria {
    padding: 20px 30px;
    font-size: 100%;
  }
  .actions {
      margin: 60px 0;
    div {
      padding: 0 1px 0 0;
    }
  }
  .action {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    background: $url_bg_png;
    span {
      display: inline-block;
      width: 100%;
      line-height: 1.4em;
      font-variant: small-caps;
      font-size: 150%;
      background-color: $hover_background_10p;
    }
    i {
        line-height: 160%;
        opacity: 0.9;
    }


    &:hover {

      i {
        opacity: 1;
      }
      .fa-lightbulb {
        text-shadow: 1px 1px 20px #fff;
      }
      //  background-color: $hover_background_10p !important;
    }
  }
  .btn-ouvidoria {
    margin-bottom: $grid-gutter-width;
    display: inline-block;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    color: white !important;
    background: rgba(#0073b7, 0.8) $url_bg_png;
  
    &:hover {
      background-color: rgba(#0073b7, 0.9);
    }
    span {
      display: inline-block;
      width: 100%;
      line-height: 1.4em;
      font-variant: small-caps;
      font-size: 100%;
      background-color: $hover_background_10p;
      font-weight: bold;
    }
    i {
      line-height: 120%;
    }
  }
}

.container-resposta {
  border: 1px solid transparentize(#3d9970,0.8);
  margin: $grid-gutter-width / 2 $grid-gutter-width / 2 $grid-gutter-width;
  border-radius: 7px 7px 5px 5px;
  .form-resposta {
    padding: $grid-gutter-width * 2 $grid-gutter-width * 1.2 $grid-gutter-width;
  }
}