{% extends "base.html" %}
{% load i18n social_utils staticfiles sass_tags %}

{% block head_content %}{{block.super}}
  {% comment %} customizações de layout para tela de login apartir de 2017 {% endcomment %}
  <link rel="stylesheet" href="{% sass_src 'styles/login.scss' %}" type="text/css">
{% endblock %}
{% block body_class %}login-page{%endblock%}
{% block button_toogle %}{%endblock%}
{% block global_container %}{%endblock%}
{% block login_container %}

  {% include "core/user/login_portlet.html" %}

{% endblock  %}

{% block extra_js %}
  <script>
    $("#autenticacao") .css("display","none");
    $("html").addClass('html-login');
  </script>
{% endblock %}
