{% extends "crud/detail.html" %}
{% load i18n common_cmj_tags %}

{% block extra_actions %}

  <div class="actions btn-group-sm" role="group">
    <a  class="btn btn-outline-primary" href="{{request.path}}?view=table">TabView</a>
    <a  class="btn btn-outline-primary" href="{{request.path}}?view=tree">TreeView</a>
    {% if not object %}
      <a  class="btn btn-outline-primary" href="{{request.path}}?view=tree2">Tree2View</a>
    {% endif %}
  </div>

  <div class="actions btn-group-sm" role="group">
    {% if object and object.parent%}
    <a  class="btn btn-outline-primary" href="{% url 'cmj.arq:subarqclasse_list' object.parent.pk %}?view={{request.GET.view|default:view_format}}">{% trans "Voltar para" %} {{ object.parent.titulo }}</a>
    {% elif object and not object.parent%}
      <a  class="btn btn-outline-primary" href="{% url 'cmj.arq:arqclasse_list' %}?view={{request.GET.view|default:view_format}}">{% trans "Ver a Raiz" %}</a>
    {% endif %}
  </div>
{% endblock extra_actions %}

{% block detail_content %}

<i>{{object.descricao|linebreaksbr}}</i><br><br>

{% if object and object_list or not object and object_list%}
    <ul class="container-arqclasse-{{request.GET.view|default:view_format}}">
      {% for arqclasse in object_list %}
        <li class="li-nivel0">
          <span class="inner">
            <div class="d-flex justify-content-between">
              <a href="{% url 'cmj.arq:subarqclasse_list' arqclasse.pk %}?view={{request.GET.view|default:view_format}}">
                {{ arqclasse.conta }} - {{ arqclasse.titulo }}
              </a>
            </div>
            <small class="text-info">
              <small>
                <i>
                  {{arqclasse.parent.titulo}}
                </i> -
                <i>
                  {{arqclasse.parent.parent.titulo}}
                </i> -
                <i>
                  {{arqclasse.parent.parent.parent.titulo}}
                </i>
              </small>
            </small>
            <small>
              <i class="text-secondary">
                {{arqclasse.descricao|linebreaksbr}}
              </i>
            </small>
          </span>
          {% with arqclasse as object %}
            {% include 'arq/arqclasse_subtree.html' %}
          {% endwith %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}


{% endblock %}
