{% extends "crud/detail.html" %}
{% load i18n common_cmj_tags %}

{% block title %}
  {% include "arq/arqclasse_title.html" %}
{% endblock %}

{% block extra_actions %}
  <div class="actions btn-group-sm" role="group">
    <a  class="btn btn-outline-primary {% if view_format == 'tree' %}active{% endif %}" href="{% url 'cmj.arq:arqclasse_list' %}?view=tree">ArqClasses Abertas</a>
    <a  class="btn btn-outline-primary {% if not view_format or view_format == 'table' %}active{% endif %}" href="{{request.path}}?view=table">Listagem Completa</a>
    {% if not object %}
      <a  class="btn btn-outline-primary {% if view_format == 'tree2' %}active{% endif %}" href="{{request.path}}?view=tree2">Mapa do Arquivo</a>
    {% else %}
      <a  class="btn btn-outline-primary" href="/arq/{{object.id}}/{{object.id}}">ArqView</a>
    {% endif %}
  </div>
  <div class="actions btn-group-sm" role="group">
    {% if object and object.parent%}
    <a  class="btn btn-outline-primary" href="{% url 'cmj.arq:subarqclasse_list' object.parent.pk %}?view={{request.GET.view|default:view_format}}">{% trans "Voltar para" %} {{ object.parent.titulo }}</a>
    {% elif object and not object.parent%}
      <a  class="btn btn-outline-primary" href="{% url 'cmj.arq:arqclasse_list' %}?view={{request.GET.view|default:view_format}}">{% trans "Ver a Raiz" %}</a>
    {% endif %}
  </div>
{% endblock extra_actions %}

{% block detail_content %}
<i>{{object.descricao|linebreaksbr}}</i><br><br>
{% if object and object_list or not object and object_list%}
    <table class="table table-hover" width="100%">
        <thead>
            <tr>
              <th>{% if not object %}ArqClasses{% else %}SubArqClasses{% endif %}</th>
            </tr>
        </thead>
        <tbody>
            {% for arqclasse in object_list %}
            <tr>
              <td>
                <a href="{% url 'cmj.arq:subarqclasse_list' arqclasse.pk %}?view={{request.GET.view|default:view_format}}">
                  {{ arqclasse.conta }} -
                  {{ arqclasse.titulo }}
                  </a>
                {% if arqclasse.checkcheck %}
                  <i class="fas fa-xs fa-lock text-light-blue" title="SubArqClasse Arquivada."></i> -
                {% endif %}

                <small><small>
                  <i>({{ arqclasse.get_perfil_display }})</i><br>
                </small></small>
                {% if arqclasse.descricao %}
                  <div class="pl-3">
                    <i>
                      {{arqclasse.descricao|linebreaksbr}}<br>
                    </i>
                  </div>
                {% endif %}
                <small>
                  <ul>
                    {% for c in arqclasse.childs.all %}
                      <li>

                        <a href="{% url 'cmj.arq:subarqclasse_list' c.pk %}?view={{request.GET.view|default:view_format}}">
                          {{ c.conta }} -{{c.titulo}}
                        </a>
                        {% if c.checkcheck %}
                          <i class="fas fa-xs fa-lock text-light-blue" title="SubArqClasse Arquivada."></i>
                        {% endif %}
                        <br>

                        <i>{{c.descricao|linebreaksbr}}</i>
                      </li>
                    {% endfor %}
                  </ul>

                </small>
              </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  {% endif %}
  {% if object and object.can_arqdoc %}
    {% with object as classe %}
      {% include "arq/arqdoc_widget_list.html" %}
    {% endwith %}
  {% endif %}
{% endblock %}
