{% load i18n common_cmj_tags %}

<h1 class="page-header d-flex justify-content-between">

  {% with object.parents_and_me as breadcrumb_classe_parents %}
    {% with '' as css_class %}
      {% include "arq/breadcrumb_classe_parents.html" %}
    {% endwith %}
  {% endwith %}

  {% if object %}
    <a href="{{request.META.PATH_INFO}}?{{request.META.QUERY_STRING}}{% if request.META.QUERY_STRING %}&{% endif %}{% if 'toggle_padlock' not in request.META.QUERY_STRING %}toggle_padlock{% endif %}">
      {% if object.checkcheck %}
        <i class="fas fa-lock text-light-blue" title="SubArqClasse Arquivada. Remover Arquivamento?"></i>
      {% else %}
        <i class="fas fa-lock-open" title="Arquivar SubArqClasse"></i>
      {% endif %}
    </a>
  {% endif %}
</h1>
