{% load i18n common_cmj_tags %}
<hr>
<div class="d-flex w-100 justify-content-between align-items-center">
  <h2>
    ArqDocumentos da ArqClasse: {{ object.titulo }}<br>Conta: {{object.conta}}
  </h2>
  <div class="btn-group-sm" role="group">
    {% if not object.checkcheck %}
    <a class="btn btn-outline-primary" href="{% url 'cmj.arq:arqdoc_create' object.id %}">
      Adicionar ArqDocumento
    </a>
    {% endif %}
  </div>
</div>
{% with object.arqdoc_set as arqdoc_set%}
<caption>Quantidade de documentos na ArqClasse: {{arqdoc_set.all.count}}</caption>
<table class="table table-hover" width="100%">
  <thead>
    <tr>
      <th WIDTH="20%" align=center>{% fieldclass_verbose_name 'cmj.arq.models.ArqDoc' 'data' %}</th>
      <th>{% fieldclass_verbose_name 'cmj.arq.models.ArqDoc' 'titulo' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for arqdoc in arqdoc_set.all %}
    <tr>
      <td align=center>
        {% if arqdoc.checkcheck %}
          <i class="fas fa-xs fa-lock text-light-blue" title="Documento Arquivado."></i><br>
        {% endif %}
        {{ arqdoc.data|date:"d/m/Y" }}
      </td>
      <td>
        <div class="d-flex w-100 justify-content-between">
          <div class="d-block">
            <a name="{{arqdoc.pk }}" href="{% url 'cmj.arq:arqdoc_detail' arqdoc.classe_estrutural_id arqdoc.pk %}">{{ arqdoc.conta }} - {{ arqdoc.titulo }}</a>
            <br>
            <small>
              {{arqdoc.descricao}}
            </small>

            {% if object.perfil == 100 %}
              <small>
                {% with arqdoc.classe_logica.parents_and_me as breadcrumb_classe_parents %}
                  {% with 'verbose_name text-black-50' as css_class %}
                    {% include "arq/breadcrumb_classe_parents.html" %}
                  {% endwith %}
                {% endwith %}
              </small>
            {% else %}
              <small>
                {% with arqdoc.classe_estrutural.parents_and_me as breadcrumb_classe_parents %}
                  {% with 'verbose_name text-black-50' as css_class %}
                    {% include "arq/breadcrumb_classe_parents.html" %}
                  {% endwith %}
                {% endwith %}
              </small>
            {% endif %}

          </div>
          {% if not arqdoc.checkcheck %}
            <div class="d-block">
              <a href="{% url 'cmj.arq:arqdoc_delete' arqdoc.classe_estrutural_id arqdoc.pk %}" class="btn btn-outline-primary btn-excluir btn-sm">Excluir</a>
            </div>
          {% endif %}
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endwith %}
