  <ul class="breadcrumb {{css_class}} bg-transparent">
    {% for p in breadcrumb_classe_parents %}
      <li class="breadcrumb-item" aria-current="page" title="{{p.conta}}">
        <a href="{% url 'cmj.arq:subarqclasse_list' p.id %}?view={{request.GET.view|default:view_format}}">
          {{ p.titulo }}
        </a>
        <ul>
          {% for pc in p.childs.all %}
            <li>
              <a href="{% url 'cmj.arq:subarqclasse_list' pc.id %}?view={{request.GET.view|default:view_format}}">
                {{ pc.titulo }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
