
{% load common_tags %}
{% if materias_ordem %}
<fieldset>
  <legend>Matérias da Ordem do Dia</legend>

      <table class="table">
      {% for mo in materias_ordem %}
        <tr>
          <td class="item-listas" id="id{{mo.materia.id}}">
            <div class="item-raiz">
              <strong>
                {{mo.numero}} - {{mo.titulo}}
              </strong>
              {% if mo.numero_protocolo %}
                <br><strong>Protocolo: </strong>{{mo.numero_protocolo}} |
              {% endif %}
              <b>Turno:</b> {{mo.turno|default:''}} |
              <b>Autor{{ mo.autor|length|pluralize:"es" }}</b>: {{ mo.autor|join:', ' }}
              <div class="text-ementa">{{ mo.ementa }}</div>
              <small>
                {% with mo.tramitacao as tram %}
                  {% if tram and tram.unidade_tramitacao_destino %}
                    <strong>Localização Atual:</strong> &nbsp;{{tram.unidade_tramitacao_destino}}</br>
                    <strong>Status:</strong> {{tram.status}}<br>
                    <strong>Ultima Ação:</strong> {{tram.texto}}<br>
                    <strong>Data desta Tramitação:</strong> {{tram.data_tramitacao}}<br>
                  {% endif %}
                {% endwith %}
              </small>
              <small>
                {% for anexada in mo.materia.anexadas.materias_anexadas %}
                  {% if forloop.first %}
                    <strong>Matérias Anexadas</strong>
                    <ul>
                  {% endif %}
                    <li>
                      {{ anexada }} - Data de Anexação: {{anexada.data_anexacao}}
                    </li>
                  {% if forloop.last %}
                    </ul>
                    <br>
                  {% endif %}
                {% endfor %}
                {% for anexada in mo.materia.anexadas.materias_desanexadas %}
                  {% if forloop.first %}
                    <strong>Matérias Desanexadas</strong>
                    <ul>
                  {% endif %}
                    <li>
                      {{ anexada }} - Data de Desanexação: {{anexada.data_desanexacao}}
                    </li>
                  {% if forloop.last %}
                    </ul>
                    <br>
                  {% endif %}
                {% endfor %}
              </small>
              {% if not user.is_anonymous  %}
                {{mo.ementa_observacao|linebreaksbr|safe}}
              {% endif %}
            </div>
          </td>
          <td>
            <b>{{mo.resultado}}</b><br/>{{mo.resultado_observacao}}
          </td>
        </tr>
      {% endfor %}
      </table>
</fieldset>
<br>
{% endif %}