.google-search {
  background:  url(~@/assets/img/search_box_icon36.png) no-repeat 2px 3px;
  position: fixed;
  padding: 10px;
  top: 0px;
  right: 0px;
  width: 42px;
  height: 42px;
  z-index: 9999;
  .search, .result {
    display: none;
  }
  &:hover {
    height: auto;
    width: 45%;
    background:  white;
    overflow-y: auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border-left: 1px solid green;

    .search, .result  {
      z-index: 9999;
      display: block;
    }
  }
}

@media screen and (max-width: 991px) {
  .google-search {
    position: relative;
    &:hover {
      position: fixed;
    }
  }
}
@media screen and (max-width: 480px) {
  .google-search {
    background-size: 70%;
    background-position-y:8px;
    width: 36px;
    &:hover {
      width: 75%;
    }
  }
}
