
@import 'header';


body, html {
  background: $color_main_bg $url_bg_png;
}

strong {
  font-weight: bold;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.fa, .fas {
  span {
    font-size: 0;
  }
}

// ajuste bootstrap ########################################

.row-fluid:before, .row-fluid:after {
    content: " ";
    display: table;
}
.row-fluid:after {
    clear: both;
}
.row-fluid {
  @extend .row;
}

.caret {
  /* Por padrão caret aponta para baixo*/
  &.top {
    transform: rotate(180deg);
  }
}

.avatar {
  padding: 0 0 0 0;
  display: inline-block;
  opacity: 0.75;
  img {
    border: 0px solid transparent;
    border-radius: 50%;
    width: 100%;
  }
  &:hover {
    opacity: 1;
  }
}



.nav-acessar {
  display: none;
}



a {
  color: $color_topo_bg;
}
a:focus,
a:hover {
  color: darken($color_topo_bg, 20%);
}

.bg-back-image {
  background: $color_main_bg $url_bg_png;
}

.control-label {
  color: $color_text;
  font-weight: normal;
}

.container-fluid {
  margin: 0;
}


.container-table {
  overflow: hidden;
  margin: -15px;

  .result-count {
    display: inline-block;
    background-color: darken($color_container_bg, 5);
    padding: 0px 10px;
    margin-left: 10px;
    border: 1px solid white;
    border-bottom: 0px;
  }
}

.table {
  margin-bottom: 0;
  th, td {
    vertical-align: middle;
    border: 1px solid #fff;
  }
  thead {
    th {
      border: 1px solid #fff;
    }
  }
  th {
    padding: 15px 10px;
    background-color: darken($color_container_bg, 5);
    a {
      display: inline-block;
      width: 100%;
    }
    &:hover {
      background-color: darken($color_container_bg, 10);
    }
  }
  tbody {
    tr:nth-child(odd) {
      background-color: lighten($hover_background_05p, 40);
    }
    tr:hover {
      background-color: darken($color_container_bg, 10);
    }
  }

  .row-unread {
    td {
      background-color:#e3d4b5;
    }
    
  }
}
  
.alert {
  margin: $grid-gutter-width $grid-gutter-width/2 $grid-gutter-width;
}

// #### CRUD DETAIL ########################################
p.control-label {
  font-weight: bold;
  margin-bottom: 0;
}


// #### CRUD UPDATE ########################################

.avatar-parlamentar {
  height: 42px;
  width: 42px;
}

.cts {  // container trecho search
  position: fixed;
  background-color: white;
  z-index: 1;
  border: 1px solid #dcdac8;
  border-radius: 4px;
  margin-top: -0.4em;
  visibility: hidden;
  overflow: hidden;

  .its {  // item trecho search
    padding: 0.3em 0.7em;
    cursor: pointer;
    &:nth-child(even) {
      background-color: #f9f9f9;
    }
    &:hover {
      background-color: #f0f0f0;
    }
  }
}


// ADJUST DRUNKEN PARROT STYLES ########################################
.panel-primary {
  border-color: $color_topo_bg;
  .panel-heading {
    background-color: $color_topo_bg;
    color: lighten($color_topo_bg, 20%);
  }
  .panel-footer {
    padding: 0;
    background-color: $color_topo_bg;
    border-width: 0;
    small {
      color: lighten($color_topo_bg, 20%);
      text-align: center;
      display: block;
    }
  }
  .panel-body {
    padding: 0;
    .panel-empty {
      padding: 1em;
    }
  }
}


.h1,
h1 {
  font-size: 35px;
}
.h2,
h2 {
  font-size: 24px;
}
.h3,
h3 {
  font-size: 20px;
}
.h4,
h4 {
  font-size: 16px;
}
.h5,
h5 {
  font-size: 14px;
}
.h6,
h6 {
  font-size: 12px;
}

.input-lg {
  height: 50px;
}

.embed-audio {
  padding-bottom: 18%;
}


.panel-nota-site-antigo {
  margin-left: 10px;
  margin-bottom: 15px;
  font-size: 60%;
  .panel-heading {
    border: 0px;
    text-align: center;
    padding: 5px;
    line-height: 1.2em;
  }
  .panel-body {
    padding: 5px;
  }
}

// #### pagination ########################################
.pagination {
  padding-top: 25px;
}

// #### IMPLEMENTAÇÃO 2018 #####################

.tags {
  display: inline-block;
  position: relative;
  color: #a97905;
  font-weight: bold;
  font-size: 0.8em;
  line-height: 2.1;
  &:hover {
    text-decoration: underline;
    color: darken(#a97905, 5);
  }
}

@import 'apps/app';
@import '_social_links';
@import 'layouts/layout';

@import '_google_search';

@import '_alto_contraste';

@media print {
  .screen-lg {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding: 0px;
  }
  .masthead, .btn-group, .canais-absolute {
    display: none;
  }
  a[href]:after {
    content: none !important;
  }
  footer {
    display: none;
  }

  .container-box, .container-box-fluid {
    border: 0px;
  }
}


@media (min-width: 992px) and (max-width: 1199px) {

  .container {
    width: 100%;
  }



  main .container, header .container {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }
}