.container-first {
  position: relative;
  overflow: hidden;
  margin-bottom: $grid-gutter-width;
  margin-top: $grid-gutter-width;
  .painel-corte {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding-top: 30%;
    background: linear-gradient(to top,  rgba(darken($color_main_bg, 5),1) 0, rgba(255,255,255,0) 70%);

    text-align: center;
    .btn {
      margin-bottom: -5px;
    }

  }
}

.container-avatar {
  .avatar {
    padding: 0 0 0 0;
    display: inline-block;
    opacity: 0.75;
    margin-left: 10px;
    img {
      border: 0px solid transparent;
      border-radius: 50%;
      width: 100%;
    }
    &:hover {
      opacity: 1;
    }
  }
  .avatar1 {
    width: 250px;
  }
  .avatar2 {
    width: 170px;
  }
  .avatar3 {
    width: 130px;
  }
  .avatar4 {
    width: 90px;
  }
  .avatar5 {
    width: 70px;
  }
}

.path-parlamentares {
  @extend .container-avatar;
  float: right;
  clear: right;
  text-align: right;
  margin: $grid-gutter-width 0 0px 10px;

  &:first-child {
    margin-top: $grid-gutter-width * 3;
  }

  &:last-of-type {
    margin-bottom: $grid-gutter-width;
  }

  .linebreak {
    display: none;
    &:nth-child(5n) {
      display: block;
    }
  }
}

.container-path {
  background-color: transparent;
  border: 0px solid;
  font-family: "Lato";
  font-size: 1.6em;
  font-weight: 300;
  position: static;

  a:not(.btn) {
    color: #a97905;
    &:hover {
      color: darken(#a97905, 15%);
    }
  }
  &.container-list {
    .path-data-pub {
      border-top-width: 3px;
    }
  }

  .path-title-classe {
    font-size: 170%;
    line-height: 1;
    padding-left: 10px;
    font-weight: 800;
    margin-top: $grid-gutter-width;
    a {
      text-decoration: none;
    }
  }
  .path-title {
    text-align: center;
    margin-top: 1.8em;
    margin-bottom: 0.8em;
    font-size: 130%;
    display: block;
    font-weight: 800;
    line-height: 1.2em;
  }
  .path-description {
    display: block;
    font-weight: normal;
    color: $color_topo_bg;
    margin-bottom: 0.9em;
    font-size: 90%;
    margin-left: 5%;
    text-align: center;
    font-style: italic;
  }
  .path-data-pub {
    border-top: 1px solid transparentize(#a97905, 0.6);
    text-align: center;
    font-size: 0.6em;
    margin: 0;
    color: #888;
    line-height: 1;
    display: block;
    position: absolute;
    left: 0;
    right: 0;

    .container-versions  {
      display: inline-block;
      position:static;
      margin: 0px;
      line-height: 2;
      &:before {
        margin: 0 -5px;
        content: '';
        display: block;
        height: 3px;
        background-color: transparentize(#a97905, 0.6);
      }
      a{
        display: block;
      }
      a[aria-expanded="true"] {
        background-color: white;
      }
      span {
        display: block;
        background-color: white;
        text-align: left;
        line-height: 1;
        padding: 5px;
      }
      /*.collapse, .collapsing {
        right: 0px;
        top: 0;
        position: absolute;
      }*/
    }
  }

  .path-imagem {
    width: 49.9%;
    position: relative;
    margin-bottom: $grid-gutter-width / 4;
    img {
      width: 100%;
    }
    &.alinhamento-center {
      margin: 0 auto;
      width: 60%;
      &.img128 {
        width: 128px;
      }
    }
    &.alinhamento-left {
      margin-right: $grid-gutter-width;
      float: left;
      &.img128 {
        width: 128px;
      }
    }
    &.alinhamento-right {
      margin-left: $grid-gutter-width;
      float: right;
      &.img128 {
        width: 128px;
      }
    }
    &.alinhamento-justify {
      display: block;
      width: auto;
    }

    .img-contexto {
      line-height: 1.2;
      background: white $url_bg_png;
      .texto {
        font-size: 0.65em;
      }
      .titulo {
        padding: 5px 5px 0 5px;
        font-weight: 300;
      }
      .descricao {
        padding: 0px;
      }
    }

    .autor {
      text-align: right;
      font-size: 0.6em;
      float: right;
    }
  }
  .path-title-container {
    display:block;
    //border-left: 5px solid transparentize($color_text, 0.7);
    padding: 15px 0 5px 10px;
    font-weight: bold;
    font-size: 115%;
  }
  .path-title-partes {
    display:block;
    //border-left: 5px solid transparentize($color_text, 0.7);
    padding: 15px 0 5px 10px;
    font-weight: bold;
    font-size: 105%;
  }
  .pagination {
    a {
      font-size: 0.7em;
      padding: 5px 15px;
    }
  }
}

.path-item-list {
  font-size: 1.4rem;
  line-height: 1.3;
  display: inline-block;
  vertical-align: top;

  .row {
    margin: 0;
  }
  position: relative;
  &.status-private {
    border-left: 5px solid #d90040;
  }
  &.status-restrict {
    border-left: 5px solid #f0c040;
  }

  .avatar {
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    img {
      width: 100%;
    }
  }

  .data-pub {
    font-size: 0.5em;
    color: #777;
    display: inline-block;
    text-align: center;
    padding-top: 0px;
    border-top: 1px solid #ccc;
    &::after {
      width: 100%;
      display: block;
    }
  }
  .titulo {
    padding: 0 0 $grid-gutter-width/4 0;
    font-weight: 600;
    a {
      color: #443;
      &:hover {
        color: black;
        text-decoration: underline;
      }
    }
  }
  .descricao {
    color: #006556;
    font-size: 90%;
    padding: 0;
    padding: 0 $grid-gutter-width/4 $grid-gutter-width;
  }

  .path-imagem {
    width: 50%;
    line-height: 0;
    position: relative;
    overflow: hidden;
    .imagem {
      width: 100%;
      height: 200px;
      display: inline-block;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% center;
    }
    .img-contexto {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: all 0.4s ease;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0px, transparent 100%, transparent);
      .texto {
        transition: all 0.4s ease;
        position: absolute;
        bottom: 5px;
        color: white;
      }
    }
    .autor {
      font-size: 60%;
      color: white;
      line-height: 1;
      position: absolute;
      bottom: 0;
      right: 3px;
    }
  }

  .path-parlamentares {
    margin: 0px 15px 5px 0px;
    float: left;
    &:first-child {
      margin-top:$grid-gutter-width / 1.5;
    }
    .avatar {
      display: inline-block;
      margin: 0 0 0 5px;
      float:right;
      width: 60px;
    }
  }

  .inner {
    padding: $grid-gutter-width / 2 0;
    &:hover {
      .path-imagem {
        box-shadow: 2px 2px 6px #bba;
        .img-contexto {
          transition: all 0.4s ease;
          .texto {
            transition: all 0.4s ease;
          }
        }
      }
    }
  }
}

.page:not(#pagina-inicial) {
  .path-item-list {
    position: relative;
    &:hover {
      background: $hover_background_05p;
    }
  }
}


.container-path-parlamentar {
  margin-top: -$grid-gutter-width;
  .container-topo-parlamentar {
    margin-bottom: $grid-gutter-width * 2;
    padding: 0px;
  }
  .path-capa {
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% center;
    position: relative;
    &.path-capa-semfoto {
      height: 100px;
    }
    .container-social {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      .container {
        position: relative;
      }
    }

    .navbar-social-links {
      position: absolute;
      bottom: 10px;
      right: 10px;
      a {
        i {
          text-shadow: 0px 0px 10px rgba(0,0,0,0.4);
          color: #fafafa;
        }
        &:hover {
          i {

            text-shadow: none;
            color: white;
          }
        }
      }
    }
  }
  .path-header {
    //border-bottom: 1px solid $color_topo_bg;;
    position: relative;
    box-shadow: -3px 1px 3px 0 rgba(0,0,0,0.25), 5px 1px 100px 0 rgba(#fff, 0.5);
    background: darken($color_main_bg,5) $url_bg_png;
  }
  .path-title {
    padding-top: 4px;
    margin: 0;
    line-height: 2em;
    text-align: right;
  }
  .path-parlamentares {
    margin: 0 0 0 20px;
    position: absolute;
    bottom: -70%;
    &:first-child {
      margin-top: 0px;
    }
    .avatar {
      margin: 0;
      opacity: 1;
      border-radius: 50%;
      background-color: white;
      img {
        opacity: 0.75;
        transition: opacity 0.3s ease;
        padding: 6px;
        box-shadow: 5px 1px 30px 0 rgba(#fff, 0.6);
      }
      &:hover {
        img {
          transition: opacity 0.3s ease;
          opacity: 1;
        }
      }
    }
  }
  .container-list {
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
  }
  .path-item-list {
    max-width: none;
    .path-parlamentares {
      display: none;
    }
  }
  .path-item-list:first-child {
    grid-area: 1 / 1 / 3 / 3;
    .titulo {
      font-size: 200%;
    }
    .descricao {
      font-size: 200%;
    }
    .data-pub {
      display: none;
    }
  }
}

.container-path {
  .path-direction {
    position: fixed;
    bottom: 50%;
    z-index: 2000;
    a, a:hover {
      color: white;
    }
    &.scroll_down {
      & > a {
        background-color: rgba(#0689c2,.3);
      }
    }
    &.scroll_up {
      & > a {
        background-color: rgba(#0689c2,.4);
      }
    }
    & > a {
      position: relative;
      background: rgba(#0689c2,.35) $url_bg_png;
      color: white;
      display: inline-block;
      border-radius: 50%;
      &:hover {
        background-color: #0689c2;
      }
    }
    &:hover {
      min-width: 40%;
      .inner {
        z-index: 2000;
        bottom: 3.1em;
        display: block;
        position: absolute;
        margin: 0 10px;
        background: darken($color_main_bg, 4%) $url_bg_png;
        font-size: 80%;
        border-radius: 2px;
        border: 1px solid white;
        box-shadow: 3px 3px 10px  lighten($hover_background_50p, 3%);
        .titulo {
          white-space: nowrap;
          background: darken($color_main_bg, 8%) $url_bg_png;
          padding: 5px 10px;
          font-weight: 600;
          margin-bottom: 6px;

          a {
            color: #443;
            &:hover {
              color: black;
            }
          }
        }
        .descricao {
          color: #006556;
          font-size: 90%;
          font-style: italic;
          padding: 10px;
        }
      }
    }
    .path-parlamentares {
      margin: 0px 5px 5px 5px;
      .avatar {
        display: inline-block;
        margin: 0 0 0 5px;
        float: right;
        width: 60px;
      }
    }
    .path-imagem {
      padding-left: 0.5em;
    }
  }

  .path-next {
    right: -1.6em;
    text-align: right;
    a {
      padding: 1.2em 1.7em 1.0em 0.5em;
    }
    .inner {
      display: none;
    }
    &:hover {
      .inner {
        right: 2.2em;
      }
    }
  }

  .path-previous {
    left: -1.2em;
    text-align: left;
    transition: left 0.5s ease;
    a {
      padding: 1.2em 0.5em 1.0em 1.7em;
    }
    .inner {
      display: none;
    }
    &:hover {
      .inner {
        left: 2.2em;
      }
    }
  }
}

@media screen and (max-width:767px) {
  .container-path {

    font-size: 1.3em;

    .path-imagem {
      .imagem {
        width: 100%;
        height: 150px;
      }
      &.alinhamento-left {
        margin-right: $grid-gutter-width / 2;
      }
      &.alinhamento-right {
        margin-left: $grid-gutter-width / 2;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .container-path {
    .pagination {
      a {
        padding: 5px 10px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .path-item-list {
    font-size: 1rem;
  }
  
}
