{% extends "base_email.html" %}
{% load i18n static %}
{% load webpack_static from webpack_loader %}

{% block email_content %}
  <div style="padding: 30px 20px 40px;">
    <p>Registramos seu pedido para acompanhamento por e-mail
    {% if tipo == 'materia' %}
      da matéria legislativa identificada a seguir:</p>
    {% else %}
      do documento administrativo identificado a seguir:</p>
    {% endif %}

    <a href="{{base_url}}{{materia_url}}">
      {{materia}}<br>
      <b>{{descricao_materia}}</b>
    </a>
    <br/>
    {{ementa}}
    <br/>

    <p>Para garantia de sua privacidade, solicitamos que ative o recebimento das futuras mensagens clicando no link:</p>

<h4>
  <a href="{{base_url}}{{confirmacao_url}}?hash_txt={{hash_txt}}">{{base_url}}{{confirmacao_url}}?hash_txt={{hash_txt}}</a>
</h4>
{% endblock email_content %}
