{% extends "base_email.html" %}
{% load i18n static %}
{% load webpack_static from webpack_loader %}

{% block email_content %}
	<a href="{{base_url}}{{materia_url}}"><b>{{materia}} - {{descricao_materia}}</b></a>
	<br/><br/>
{% if autoria %}
<b>Autoria:</b></br>
{% for autor in autoria %}
	 {{ autor }}</br>
{% endfor %}
{% endif %}
</h4>
<p></p>
<p>
	<b>Data da a&ccedil;&atilde;o</b>: {{data}}<br/>
	<b>Status</b>: {{status}}<br/>
	<b>Localização Atual:</b> {{localizacao}}<br/>
	<b>Texto da a&ccedil;&atilde;o</b>: {{texto_acao}}</p>
	<hr>
	<p>
		<a href="{{base_url}}{{excluir_url}}?hash_txt={{hash_txt}}">
		Clique aqui para excluir seu e-mail da lista de envio</a>
	<p>
	<p>Esta &eacute; uma mensagem autom&aacute;tica.
	 Por favor, n&atilde;o a responda.</p>
{% endblock email_content %}