{% load i18n %}
{% load compilacao_filters %}
{% load common_cmj_tags %}
{% load static %}
{% load webpack_static from webpack_loader %}


<div class="pt-3 d-flex justify-content-around align-items-center">
  <div>
    <img height="100"
        src="{% if logotipo %}{{ MEDIA_URL }}{{ logotipo }}{% else %}{% webpack_static 'img/logo.png' %}{% endif %}"
        alt="Logotipo"
        class="img-responsive visible-lg-inline-block vcenter">
  </div>
  <div class="control-label">
    <h1 class="text-center">
      {% if nome %}
        <b>{{ nome }}</b>
      {% else %}
        <b>{% trans 'Sem Nome Cadastrado' %}</b>
      {% endif %}
    </h1>
    <h2 class="text-center">
      Poder Legislativo
    </h2>
  </div>
</div>
<div class="row">
  <div class="col pt-3">
    <h2 class="text-center">
      <strong>
        {{object.content_object}}
      </strong>
    </h2>
  </div>
</div>

<button class="btn btn-primary d-print-none"
  type="button"
  data-toggle="collapse"
  data-target="#collapse-{{object.id}}"
  aria-expanded="False"
  aria-controls="collapse-{{object.id}}">
  Ver Documentos Originais
</button>


<div class="collapse d-print-none my-3" id="collapse-{{object.id}}">
  {% with object.content_object as n %}
    <div class="row">
      <div class="col-md-auto">
        <div class="item-listas text-center">
          <div class="item-raiz">
            {% if n.texto_integral %}
              <a class="link-texto d-inline-block" target="_blank" href="{{n.texto_integral.url}}" title="Documento Digitalizado">
                <i class="far fa-2x fa-file-{% if '.pdf' in n.texto_integral.path %}pdf{% else %}archive{% endif %}"></i>
                <br>
                <strong>
                  {% if '.pdf' in n.texto_integral.path %}
                    Documento Digitalizado
                    <small>
                      <br>Com OCR
                      <br>Otimizado para Download
                    </small>
                  {% else %}
                    Documento Eletrônico
                  {% endif %}
                </strong>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="item-listas text-center d-flex align-items-center">
          <div class="item-raiz">
            <a class="link-texto" target="_blank" href="{{n.texto_integral.url}}?original" title="Documento Eletrônico">
              {% if n.metadata.signs and n.metadata.signs.texto_integral %}
                <i class="fas fa-2x fa-certificate"></i>
              {% else %}
                <i class="far fa-2x fa-file-{% if '.pdf' in n.texto_integral.path %}pdf{% else %}archive{% endif %}"></i>
              {% endif %}
              <br>
              <strong>Documento 
                {% if n.metadata.signs and n.metadata.signs.texto_integral %}
                  Eltrônico
                  <small>
                    <br>com Assinatura Digital
                  </small>
                {% else %}
                  <br>Digitalizado<br>Original
                {% endif %}
              </strong>
            </a>
          </div>
          {% for nome, data in n.metadata.signs.texto_integral %}
            {% if forloop.first %}
              <div class="box-assinatura-eletronica">
                <span class="title">
                  Assinaturas
                </span>
                <div class="sigs">
            {% endif %}
                  <div class="sig w-100">
                    <span class="sig-nome">
                      {{nome}}
                    </span>
                    <small class="sig-data">
                      Assinado em: {{data|parse_datetime|date:"DATETIME_FORMAT" }}
                    </small>
                  </div>
            {% if forloop.last %}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endwith %}
</div>