{% extends "compilacao/textoarticulado_detail.html" %}
{% load i18n %}
{% load compilacao_filters %}
{% load common_tags %}

{% block base_content %}
  {% if user.is_anonymous or not user.areatrabalho_set.exists %}
    <div class="alert alert-danger d-print-none d-none">
      <strong>ATENÇÃO!!!</strong><br>
      O Sistema de Publicação de Compilação de Textos Articulados da Câmara Municipal passou por migração. <br>
      Todas as normas estão aqui, mas podem ter ocorrido falhas na migração da antiga compilação. <br>
      Novas funcionalidades já estão disponíveis, tais como a Linha de Vigência e os Botões de Visualização.<br>
      O Setor de Tecnologia e Desenvolvimento da Câmara Municipal pede a compreensão momentânea pelos transtornos e que erros encontrados na compilação sejam reportados através da Ouvidoria ou diretamente via telefone (64) 3636-0800 - Dpto de Informática.
      </div>
  {% endif%}
  {% block actions %}
    {{block.super}}
  {% endblock %}

  {% block detail_content %}
    {{block.super}}
  {% endblock %}
  
  {% include 'compilacao/text_list__embedded.html'%}

  {{object.tipo_ta.rodape_global|dont_break_out}}


{% endblock base_content %}
