{% extends "base.html" %}
{% load i18n %}

{% block title %}
  <h1 class="page-header">
    {{ view.title }} - {{object_list.1.0.data|date:"F \d\e Y"}}
  </h1>
{% endblock %}

{% block base_content %}
  <div class="context-actions clearfix">
    {% block actions %}
      <div class="actions btn-group pull-right btn-group-lg" role="group">
        {% if view.create_url %}
        <a href="{{ view.create_url }}" class="btn btn-default">
          {% blocktrans with verbose_name=view.verbose_name %} Adicionar {{ verbose_name }} {% endblocktrans %}
        </a>
        {% endif %}
        {% block more_buttons %}{% endblock more_buttons %}
      </div>
    {% endblock actions %}
  </div>


  <div class="container-calendar">
    <div class="btn-calendar btn-next">
      <a href="{% url 'cmj.agenda:evento_list'%}?m={{m_next}}">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>
    </div>
    <div class="btn-calendar btn-previous">
      <a href="{% url 'cmj.agenda:evento_list'%}?m={{m_previous}}">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </a>
    </div>

    <div class="semana nomes">
      <div class="dia">DOM</div>
      <div class="dia">SEG</div>
      <div class="dia">TER</div>
      <div class="dia">QUA</div>
      <div class="dia">QUI</div>
      <div class="dia">SEX</div>
      <div class="dia">SÁB</div>
    </div>

    {% for semana in object_list %}
      <div class="semana">
        {% for dia in semana %}
          <div class="dia {% if dia.eventos is None %}dia-out{% endif %} {% if dia.now %}dia-now{% endif %}{% if dia.destaque %}dia-destaque{% endif %}">
            <div class="inner">
              <div class="numero">
                  {{dia.data.day}}
              </div>
              <div class="eventos">
                {% for evento in dia.eventos %}
                  <div class="evento {% if evento.caracteristica == evento.FERIADO %}evento-feriado{% endif %}">
                    {% if perms.agenda.change_evento %}
                      <a href="{% url 'cmj.agenda:evento_update' evento.pk %}">
                        {% if evento.caracteristica != evento.FERIADO %}
                            {{evento.inicio|date:"H:i"}} -
                        {% endif %}
                        {{evento.titulo}}
                      </a>
                    {% else %}
                      {% if evento.caracteristica != evento.FERIADO %}
                          {{evento.inicio|date:"H:i"}} -
                      {% endif %}
                      {{evento.titulo}}
                    {% endif %}
                    <div class="hover">
                      {% if evento.caracteristica != evento.FERIADO %}<strong>Solicitação:</strong> {{evento.solicitante}}</br>{% endif %}
                      <strong>Descrição:</strong> {{evento.descricao}}</br>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>


{% endblock %}
