footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  .btn {
    justify-content: center;
    margin: 0;
    padding: 0;
  }
}

// ######### Dark Mode #########
@include color-mode(dark) {
}
