{% extends "crud/form.html" %}
{% load i18n crispy_forms_tags %}

{% block extra_js %}

  <script type="text/javascript">

    function atualizaPronomes(event) {
      var _this = $(event.currentTarget)
      var url_get_pronomes = '{% url 'cmj.cerimonial:list_pronomes' 0 %}';
      var pk = _this.val()
      if (pk != '')
        url_get_pronomes = url_get_pronomes.replace('0', pk);

      $.get(url_get_pronomes, function (data) {
        var new_obj = $(data);
        var old_obj = $('#'+new_obj[0].id).replaceWith(new_obj);
      });
    }
    initTextRichEditor();
  </script>

{% endblock %}
