{% extends "crud/form.html" %}
{% load i18n crispy_forms_tags %}

{% block extra_js %}

  <script type="text/javascript">
    function changeHideShow() {
      var help = $('.form-group-contatos .help-block');
      if (help.parent().children().length > 1)
        help.css('display', 'none');
      else {
        help.css('display', 'block');
      }
    }
    function updateBindChange() {
      changeHideShow();
      $('.form-group-contatos input').on('change', function(event) {
        if (!event.currentTarget.checked)
          event.currentTarget.parentElement.parentElement.remove();
        changeHideShow();
      });
    }
    function atualizaContatos(event) {
      if (event.type == 'keypress' && event.keyCode != 13)
        return;

      var pks_exclude = $(".form-group-contatos input:checkbox[name=contatos]:checked").map(function(){return $(this).val()}).get()

      var _this = $("#id_q");
      var url_get_contatos = '{% url 'cmj.cerimonial:ajax_search_contatos' %}';
      var q = _this.val()
      updateBindChange();
      $.get(url_get_contatos, {'q':q, 'pks_exclude':pks_exclude}, function(data) {
        var parent = _this.closest('.form-group').siblings();
        parent.replaceWith(data);
        OptionalCustomFrontEnd();

        $( ".form-group-contatos-search div, .form-group-contatos div" ).sortable({
          connectWith: ".controls",
          items: "div.checkbox",
          stop: function( event, ui ) {
            var value = ui.item.find('input').val();
            var text =  ui.item.text()
            var items = ui.item.parent().find('input[value="'+value+'"]');
            if (items.length > 1) {
                alert('"'+text.replace(/(^\s+|\s+$)/g, "")+'" já está na lista de contatos selecionados.');
                $(this).sortable('cancel');
            }
            else {
              var i = ui.item.find('input')
              i.prop( "checked", true );
              i.prop( 'name', 'contatos');
              i.trigger('click');
              updateBindChange()
            }
          }
        }).disableSelection();
      });
    }
    updateBindChange();
    $(document).on("keypress", "form", function(event) {
        return event.keyCode != 13;
    });
  </script>

{% endblock %}
