{% extends "base.html" %}
{% load i18n common_cmj_tags crispy_forms_tags%}

{% block base_content %}
  <div class="context-actions clearfix">
      {% if filter.form %}
        {% crispy filter.form %}
      {% endif %}
  </div>
  {% block extra_content %} {% endblock %}
  <div class="container-table">
    <div class="result-count">{% blocktrans with verbose_name_plural=view.verbose_name_plural %}Total de {{ verbose_name_plural }} Selecionados: <strong>{{count}}</strong>{% endblocktrans %}</div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Data de Nascimento</th>
          <th>Telefones</th>
        </tr>
      </thead>
      <tbody>
      {% for obj in page_obj %}
        <tr>
          <td>
              {{ obj.nome|safe }}
          </td>
          <td>
              {{ obj.data_nascimento }}<small><small> - {{obj.data_nascimento|age }}</small></small>
          </td>
          <td>
            <ul>
              {% for telefone in obj.telefone_set.all %}
                <li>{{telefone.telefone}}</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
  {% include "paginacao.html" %}
{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
    $(document).on("keypress", "form", function (event) {
        return event.keyCode != 13;
    });

    var change_imprimir_cargo = function () {
      var local_cargo = $('[name="local_cargo"]');
      var _this = this;
      if ($('[name="imprimir_cargo"] option:selected').val() == "True") {
        local_cargo.removeAttr("disabled");
        local_cargo.closest('.form-group').removeClass("disabled");
      }
      else {
        local_cargo.attr("disabled", "disabled");
        local_cargo.closest('.form-group').addClass("disabled");
      }
    }

    $('[name="imprimir_cargo"]').on('change', change_imprimir_cargo);
    $('[name="imprimir_cargo"]').trigger('change');

  </script>
{% endblock %}
