@import 'variables';

.copylink {
  cursor: pointer;
  position: relative;
  width: 2em;
  height: 2em;
  display: inline-block;
  &::after {
    background-image: url(~@/assets/img/icon_copy_area_transferencia.png);
  }
  i {
    display: none;
  }
  &::after {
    background-size: 100% 100%;
    content: " ";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;   
  }
}


.navbar-social-links {
  display: inline-block;
  padding: 0;
  line-height: 1;
  z-index: 1;
  a {
    font-size: 1rem;
    display: inline-block;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    i {
      color: rgba(green, 0.3);
      //display: none;
    }

    &.facebook {
      &::after {
      background-image: url(~@/assets/img/icon_facebook64x64.png);
      }
    }

    &.whatsapp {
      &::after {
      background-image: url(~@/assets/img/icon_whatsapp64x64.png);
      }
    }

    &.twitter {
      &::after {
      background-image: url(~@/assets/img/icon_twitter64x64.png);
      }
    }
    &.youtube {
      &::after {
      background-image: url(~@/assets/img/icon_youtube64x64.png);
      }
    }

    &.facebook,
    &.whatsapp, 
    &.twitter,
    &.youtube{
      position: relative;
      i {
        display: none;
      }
      &::after {
        background-size: 100% 100%;
        content: " ";
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 0;   
      }
    }

    &:hover {
        &::after {
          opacity: 1;
        }
    }



  }
  .icon-sessoes-online {
    margin-right: 0.7em;
    background-image: url(~@/assets/img/icon_plenarias.png);
    background-size: 1.8em auto;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
  &.absolute-center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
  &.absolute-top-center {
    position: absolute;
    top: 5px;
    left: 50%;
  }
  &.absolute-right {
    position: absolute;
    right: 5px;
    top: 5px;
  }
  &.top-right {
    position: relative;
    right: 0;
    text-align: right;
    padding-left: 5px;
  }
  &.icon-block {
    a {
      display: block;
    }
  }
  &.block {
    display: block;
    width: 100%;
  }
  span {
    display: none;
  }
}

.navbar-collapse {

}