footer {
  position: relative;
  background: #ccc $url_bg_png;
  border-top: 1px solid #bbb;
  //z-index: 2100;
  span {
    color: black;
  }
  a {
    color: #444449;
    padding: 0;
    display: inline-block;
    &:hover {
      color: black;
    }
  }

  ul {
    font-size: 0px;
    list-style: none;
    padding: 0;
    width: 100%;
    display: table;
    margin: 0;
  }
  li {

    position: relative;
    font-size: 1rem;
    display: inline-block;
    width: calc(100%);
  }

  .head_title {
    display: inline-block;
    padding: 20px 0 0 0;
    font-variant: small-caps;
    font-size: 120%;
    font-weight: bold;
    font-family: arial;
    color: #555;
  }
  .title-social-link {
    font-weight: bold;
  }
  .navbar-social-links {
    zoom: 1.7;
  }
  .link-externo-sic {
    width: 8rem;
    display: inline-block;
    text-align: right;
    img {
      width: 100%;
    }
  }

  & > div:nth-child(2) {
    background:  #aaa $url_bg_png;
    color: gray;
    text-align: center;
    li {
      font-size: 0.8rem;
      line-height: 1rem;
    }
    a {
      color: black;
    }
  }

  & > div:nth-child(1) {
    padding-bottom: 20px;
    .container {
      & > ul {
        & > li {
          width: calc(20%);
          vertical-align: top;
        }
      }
    }
  }
}

.container-footer {
  background: $hover_background_05p;
  margin: $grid-gutter-width 0 0 0;
  z-index: 2100;
  .path-parlamentares {
    display: none;
  }
  .path-item-list {
    padding-top: $grid-gutter-width / 2;
    .path-imagem {
      width: 100%;
      margin: 0px;
      padding: 0;
      height: 130px;
    }
    .data-pub {
      position: static;
      text-align: right;
      padding: 0 0 5px;
      border: 0px;
    }
    .titulo {
      font-size: 90%;
    }

    .descricao {
      font-size: 70%;
    }

  }
}

@media screen and (max-width: 991px) {
  .container-footer {
    .path-item-list {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  footer {
    li {
      font-size: 0.7rem;
    }
    & > div:nth-child(1) {
      .container {
        & > ul {
          & > li {
            width: calc(50%);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .container-footer {
    .path-item-list {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
