{% load i18n staticfiles cropping%}
{% if notificacoes %}
  <div class="popup-notificacoes">
    <div class="inner">
      <div class="popup-titulo">
        {% trans "Notificações" %}
        {{ perms.popup_notificacao}}
      </div>
      {% if notificacoes_anonimas.count %}
        <div class="inner-list">
          <div class="popup-subtitulo">
            {% trans "Denúncias Anônimas" %}
          </div>
          {% for item in notificacoes_anonimas %}
            <a class="item" href="{% url 'cmj.core:notificacao_redirect' item.pk %}">

              {% if item.user_origin.avatar %}
                <img class="avatar" src="{% cropped_thumbnail item.user_origin "cropping" %}">
              {% else %}
                {% for us in item.user_origin.social_auth.all %}
                  {% if us.provider == 'facebook' %}
                    <img  class="avatar" src="https://graph.facebook.com/v2.6/{{us.uid}}/picture?height=60" />
                  {% elif us.provider == 'google-oauth2' %}
                    <img  class="avatar" src="{% static 'img/perfil.jpg' %}">
                  {% endif %}
                {% empty %}
                  <img  class="avatar" src="{% static 'img/perfil.jpg' %}">
                {% endfor %}
              {% endif %}

              <div class="texto">
                <div class="titulo">
                  {{item.content_object|truncatechars:110}}
                </div>
                <div class="time">
                há {{item.created|timesince}}
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
      {% endif %}
      {% if notificacoes_usuarios.count %}
        <div class="inner-list">
          <div class="popup-subtitulo">
            {% trans "Notificações de Usuários" %}
          </div>
          {% for item in notificacoes_usuarios %}
            <a class="item" href="{% url 'cmj.core:notificacao_redirect' item.pk %}">
              <div >

                {% if item.user_origin.avatar %}
                  <img  class="avatar" src="{% cropped_thumbnail item.user_origin "cropping" %}">
                {% else %}
                  {% for us in item.user_origin.social_auth.all %}
                    {% if us.provider == 'facebook' %}
                      <img  class="avatar" src="https://graph.facebook.com/v2.6/{{us.uid}}/picture?height=60" />
                    {% elif us.provider == 'google-oauth2' %}
                      <img  class="avatar" src="{% static 'img/perfil.jpg' %}">
                    {% endif %}
                  {% empty %}
                    <img  class="avatar" src="{% static 'img/perfil.jpg' %}">
                  {% endfor %}
                {% endif %}


              </div>
              <div class="texto">
                <div class="titulo">
                  {{item.content_object|truncatechars:110}}
                </div>
                <div class="time">
                há {{item.created|timesince}}
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <a href="#" class="btn-unread">{{notificacoes}}</a>
  </div>
{% endif %}
