.container-scroll-x {
  font-size: 1rem;

  .title-container {
    margin: 1rem;
    display: inline-flex;
    align-items: center;
    font-size: 2.2em;
    font-weight: bold;
    padding: 0 1em 0 0em;
    position: absolute;


    .icon {
      width: 2em;
      height: 2em;
      border-radius: 50%;
      opacity: 1;
      margin-right: 0.5em;
    }

    label {
      margin: 0;
    }
  }

  .scroll-container {
    overflow: hidden;
    position: relative;

    .btn-action-left,
    .btn-action-right {
      position: absolute;
      width: 1.7rem;
      top: 30vh;
      margin-top: -1rem;
      padding: 0.3rem 0;
      background-color: #000f;
      z-index: 1;
      cursor: pointer;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      color: white;
      opacity: 0.5;
      transition: opacity 0.3s ease;
      font-size: 2em;
      font-weight: bold;
    }

    &:hover {

      .btn-action-left,
      .btn-action-right {
        transition: opacity 0.3s ease;
        opacity: 1;
      }
    }

    .btn-action-left {
      border-radius: 0 0.5rem 0.5rem 0;
      left: 0;
      display: none;
    }

    .btn-action-right {
      border-radius: 0.5rem 0 0 0.5rem;
      right: 0;
    }

    .inner-scroll {
      display: flex;
      width: auto;
      transition: all 1s ease;

      .item-scroll {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 75vw;
        flex: 0 0 75vw;
        padding: 0.5em;
        margin: 6.4em 0.7em 3em;
        overflow: hidden;
        transition: all 0.3s ease;
        background-color: #0002;
        border-radius: 0.7em;

        .bg-image {
          height: 25vh;
          margin: -0.5em;
          margin-bottom: 0.5em;
        }

        .item-titulo {
          font-size: 1.4em;
          font-weight: bold;
        }

        .item-body {
          font-size: 1.2em;
        }

        &.item-scroll-4 {
          width: 21vw;
          flex: 0 0 21vw;
        }

        &:hover {
          width: 85vw;
          flex: 0 0 85vw;
          transition: all 0.3s ease;
          background-color: #0007;

          .bg-image {
            height: 35vh;
          }

          .item-titulo {
            font-size: 2em;
          }

          .item-body {
            font-size: 1.5em;
          }

          .item-titulo,
          .item-body {
            padding: 0.5em;
          }

        }

        &:first-child {
          margin-left: 2.5em;
        }

        &:last-child {
          margin-right: 4em;
        }
      }

      .item-body {
        flex: 2 1 auto;
        overflow: hidden;
        padding: 0;
      }

      .item-footer {}

      strong {
        font-weight: bold;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .container-scroll-x {
    font-size: 0.8rem;

    .scroll-container {

      .btn-action-left,
      .btn-action-right {
        top: 20vh;
      }
    }
  }
}

@media screen and (max-width: 359px) {
  .container-scroll-x {
    font-size: 0.7rem;

    .scroll-container {
      .inner-scroll {
        .item-scroll {
          .bg-image {
            height: 16vh;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .container-scroll-x {
    .scroll-container {
      .inner-scroll {
        .item-scroll {
          &.item-scroll-lg-3 {
            width: 27vw;
            flex: 0 0 27vw;

            &:hover {
              width: 55vw;
              flex: 0 0 55vw;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .container-scroll-x {
    .scroll-container {
      .inner-scroll {
        .item-scroll {
          .bg-image {
            //height: 30vh;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .container-scroll-x {
    font-size: 1.2em;

    .scroll-container {
      .inner-scroll {
        .item-scroll {
          .bg-image {
            height: 30vh;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  .container-scroll-x {
    font-size: 1.5em;
  }
}