{% load common_tags %}
{% if materia_expediente %}
<fieldset>
  <legend>Matérias do Expediente</legend>
      <table class="table">
      {% for m in materia_expediente %}
        <tr>
          <td class="item-listas">
            <div class="item-raiz">
              <strong>
                {{m.numero}} - {{m.titulo}}
              </strong>
              {% if m.numero_protocolo %}
                <br><strong>Protocolo: </strong>{{m.numero_protocolo}} |
              {% endif %}
              <b>Turno:</b> {{m.turno|default:''}} |
              <b>Autor{{ m.autor|length|pluralize:"es" }}</b>: {{ m.autor|join:', ' }}
              <div class="text-ementa">{{ m.ementa|safe }}</div>
              {% if not user.is_anonymous  %}
                {{m.observacao|linebreaksbr|safe}}
              {% endif %}
              {% comment %}
                <b>{{m.resultado}}</b><br/>{{m.resultado_observacao}}
              {% endcomment %}
            </div>
          </td>
        </tr>
      {% endfor %}
      </table>
</fieldset>
<br>
<br>
{% endif %}