.container-search {
  ul {
    list-style: none;
  }
  input {
    font-size: 2em;
    line-height: 1em;
  }
  label {
    font-size: 1.3em;
    line-height: 1.5em;
  }
  button {
    padding-left: 2em;
    padding-right: 2em;
    color: rgba(0, 101, 86, 0.7);
  }
  .form-group {
    padding-top: 1em;
  }

  .collapse {
    margin: 10px 0;
  }
  .btn-ajuda {
    position: absolute;
    right: 1em;
    line-height: 1;
    padding: 5px 15px 3px;
  }
}


.google-search {
  background:  url(~@/assets/img/search_box_icon36.png) no-repeat 2px 3px; 
  position: fixed;
  padding: 10px;
  top: 0px;
  right: 0px;
  width: 42px;
  height: 42px;
  z-index: $zindex-google-search;
  display: none;
  .search, .result {
    display: none;
  }
  &:hover {
    height: auto;
    width: 45%;
    background:  white;
    overflow-y: auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border-left: 1px solid green;

    .search, .result  {
      z-index: $zindex-google-search;
      display: block;
    }
  }
}


@media screen and (max-width: 1199px) {
  .google-search {
    position: relative;
    padding: 10px 20px;
    &:hover {
      position: fixed;
    }
  }
}
@media screen and (max-width: 991px) {
  .google-search {
    background-size: 70%;
    background-position-y:8px;
    width: 36px;
    &:hover {
      border-left: 0px solid green;
      width: 100%;
      position: relative;
    }
  }
}

@media screen and (max-width: 767.98px) {
  .container-search__ {
    ul {
      list-style: none;
    }
    input {
      font-size: 2em;
      line-height: 1em;
    }
    label {
      font-size: 1.3em;
      line-height: 1.5em;
    }
    button {
      padding-left: 2em;
      padding-right: 2em;
      color: rgba(0, 101, 86, 0.7);
    }
  
    .collapse {
      margin: 10px 0;
    }
    .btn-ajuda {
      position: relative;
    }
  }
  
}

@media screen and (max-width: 480px) {
  .container-search {
    font-size: 0.8em;
    label{
      font-size: 1.3em;
    }
    input{
      font-size: 1.5em;
    }
    .fa-2x {
      font-size: 1.3em;
    }
  }
}

@media screen and (max-width: 359px) {
  .container-search {

    button {
      padding-left: 1em;
      padding-right: 1em;
      .fa-2x {
        font-size: 100%;
      }
    }
  }
}
