{% extends "base_pdf.html" %}
{% load common_tags %}

{% block head_extra_css %}

  {% include "css/base_table.css" %}

  table {
    font-size: 8pt;
    width: 196mm;
  }
  table td {
    padding: 2px 7px;
  }
  ul {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0.2cm;
  }

  .whitespace {
    white-space: nowrap !important;
  }

{% endblock head_extra_css %}

{% block body_content %}

<table>
  <thead>
    <tr>
      {% for head in json_results.headers.items %}
        {% if not head.1.1 %}
        <th>{{ head.1.0 }}</th>
        {% else %}
          <th class="{{head.1.1}}">
            {{head.1.0}}
          </th>
        {% endif %}
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in json_results.results %}
      <tr>
        {% for field, value in row.items %}
        {% if value|is_list %}
          <td class="">
              <ul>
                {% for item in value %}
                  <li>{{ item|safe }}</li>
                {% endfor %}
              </ul>
          </td>
        {% else %}
          <td class="{{value.2}}">
              {% if value.1 %}
                <a class="{{value.2}}" href="{{value.1}}">
                  {{value.0}}
                </a>
              {% else %}
                {{ value.0|safe }}
              {% endif %}
              </td>
        {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
</table>

{% endblock body_content %}
