{% extends "base_pdf.html" %}

{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}

{% block head_page_counter_css %}
  {% include 'css/RelatorioGestaoView.scss' %}

  @page {
    @bottom-center{
      content: "";
      padding-top: 0.5cm;
      font-style: italic;
      color: #444;
    }
  }
{% endblock head_page_counter_css %}

{% block header_content %}
  <section class="fullpage">
    <img src="{% webpack_static 'public/img/foto_chao_camara_retrato.jpg' %}">
    <div class="relatorio-gestao relatorio-gestao-pdf ">
      {{html_capa|safe}}
    </div>
  </section>

  <header>
    <img src="{% webpack_static 'public/img/pdf_cabec.jpg' %}">
  </header>
{% endblock header_content %}

{% block body_content %}
  <div class="relatorio-gestao relatorio-gestao-pdf">
    {{html_body|safe}}
  </div>
{% endblock body_content %}
