{% extends "crud/detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load common_tags %}

{% block sections_nav %} {% endblock %}

{% block actions %}
  <div class="actions btn-group" role="group">
    {% if show_results %}
      <a href="{% url 'sapl.protocoloadm:documentoadministrativo_list' %}" class="btn btn-outline-primary">{% trans 'Fazer nova pesquisa' %}</a>
    {% endif %}
  </div>
  <div class="actions btn-group btn-group-lg" role="group">
    {% if perms.protocoloadm.add_documentoadministrativo %}
      <a href="{% url 'sapl.protocoloadm:documentoadministrativo_create' %}" class="btn btn-outline-primary">
        {% blocktrans with verbose_name=view.verbose_name %}Adicionar Documento Administrativo {% endblocktrans %}
      </a>
    {% endif %}
  </div>
{% endblock actions %}

{% block detail_content %}
  {% if not show_results %}
    {% include 'search/search_widget.html' %}
    <hr>
    {% crispy filter.form %}
  {% endif %}
{% endblock detail_content %}

{% block table_content %}
  {% if show_results %}
    {% if page_obj|length %}

      <div class="container-table">
        <div class="result-count">
          Total de Processos e/ou Documentos individuais: <strong>{{paginator.count}}</strong>
        </div>
          {% for d in page_obj %}
            <div class="item-listas">
              <div  id="btn-view-{{d.id}}">
                <div {% if not d.anexo_de.first %}class="item-raiz"{% else %}class="item-node"{% endif %}>
                  {% if d.anexo_de.first %}
                    <div class="parent">
                      Vinculado a: {{d.anexo_de.first}}
                    </div>
                  {% else %}
                    <div class="parent-right">
                      Última Atualização: {{d.data_ultima_atualizacao}}
                    </div>
                  {% endif %}

                  {% if not d.documento_anexado_set.exists and d.documento_principal_set.exists %}

                    <div class="float-right p-1 d-inline-flex">
                      {% with d.metadata.zipfile.keys|length as zip_count %}
                        {% for zn in d.metadata.zipfile.keys %}
                          <a class="text-black-50"
                          title="{% if zip_count > 1 %}Foi necessário segmentar o download dos arquivos do processo. Baixar parte {{forloop.counter}} de {{zip_count}}{% else %}Baixar arquivo compactado contendo todos os arquivos do processo.{% endif %}"
                          href="{% url 'sapl.protocoloadm:documentoadministrativo_detail' d.id%}?download={{zn}}">
                          <i class="fas fa-2x fa-download">{% if zip_count > 1%}{{forloop.counter}}{% endif %}</i>
                          </a>
                        {% endfor %}
                      {% endwith %}
                    </div>
                  {% endif %}

                  <div class="links-texto">
                    {% if d.texto_integral %}
                      <a class="link-texto"  target="_blank" href="{{d.texto_integral.url}}?u={% now "u"%}" title="Documento Administrativo">
                        <i class="far fa-2x fa-file-{% if '.pdf' in d.texto_integral.path %}pdf{% else %}archive{% endif %}"></i>
                      </a>
                    {% endif %}
                  </div>

                  <a class="item-titulo" href="{% url 'sapl.protocoloadm:documentoadministrativo_detail' d.pk %}">{% if d.is_signed %} <i class="fas fa-1x fa-certificate"  title="Documento possui versão com Assinatura Digital, entre nos detalhes do documento para abrir o Arquivo Original"></i>{% endif %} {{ d }}</a>
                  {% if d.certidao %}
                    <br><small>
                    <span class="text-danger">Certidão de Publicação nº {{d.certidao.id|stringformat:"06d" }} de {{d.certidao.created}}</span>
                    </small>
                  {% endif %}

                  <br><strong>Data do documento:</strong> {{d.data}} | {{d.tipo}} | {{d.tipo.sigla}} {{d.numero}}/{{d.ano}}

                  {% if d.protocolo_gr.exists %}
                    |
                    {% if perms.detail_protocolo %}
                      <strong>Protocolo:</strong>&nbsp;<a href="{% url 'sapl.protocoloadm:protocolo_mostrar' d.protocolo_gr.first.id %}">{{ d.protocolo_gr.first.epigrafe}}</a></br>
                    {% else %}
                      <strong>Protocolo:</strong> {{ d.protocolo_gr.first.epigrafe}}
                    {% endif %}
                  {% endif %}

                  {% if d.data_vencimento %}
                    <br><small>Data de Vencimento: {{d.data_vencimento}}</small>
                  {% endif %}

                  {% if d.assunto %}
                    <div class="text-ementa">{{ d.assunto|safe }}</div>
                  {% endif %}


                  <small>
                    {% if d.interessado %}
                      <strong>Interessado:</strong>&nbsp;{{ d.interessado|default_if_none:"Não informado"}}</br>
                    {% endif %}

                    {% define d.tramitacaoadministrativo_set.first as tram %}
                    {% if tram.unidade_tramitacao_destino %}
                      <strong>Localização Atual:</strong> &nbsp;{{tram.unidade_tramitacao_destino}}</br>
                      <strong>Status:</strong> {{tram.status}}
                    {% endif %}
                    {% if not d.anexo_de.first %}
                      {% if d.tramitacao and not perms.protocoloadm.detail_documentoadministrativo and d.workspace.tipo == d.workspace.TIPO_PUBLICO and mail_service_configured %}
                        <br><a class="btn btn-sm btn-outline-primary" href="{% url 'sapl.protocoloadm:acompanhar_documento' d.id %}">Acompanhar Tramitação</a>
                      {% endif %}
                    {% endif %}
                    {% define d.documentoacessorioadministrativo_set.all as acess %}
                    {% if d.documentoacessorioadministrativo_set.all.exists %}
                        <br><strong>Documentos Acessórios:</strong>
                        <a href="{% url 'sapl.protocoloadm:documentoacessorioadministrativo_list' d.id %}">
                            {{ d.documentoacessorioadministrativo_set.all.count }}
                        </a>
                        </br>
                    {% endif %}
                  </small>
                </div>

                {% if mostrar_anexos and d.documento_principal_set.exists %}
                  <button class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapse-{{d.id}}"
                    aria-expanded="false"
                    aria-controls="collapse-{{d.id}}">
                    Ver Documentos Anexados
                  </button>
                {% elif d.documento_principal_set.exists %}
                  <a class="ml-2 mb-2 mt-n2 btn btn-link" href="{% url 'sapl.protocoloadm:documentoadministrativo_detail' d.id%}">
                    Processo possui {{d.documento_principal_set.count }} Ite{% if d.documento_principal_set.count > 1 %}ns{% else %}m{% endif %}
                  </a>
                {% endif %}
              </div>

              {% if mostrar_anexos %}
                <div class="collapse"
                    id="collapse-{{d.id}}">
                  {% for anexado in d.documento_principal_set.childs_anexados %}
                    {% if forloop.first %}
                      <div class="childs">
                    {% endif %}
                      {% with False as render_widget_file_list %}
                        {% with anexado.documento_anexado as d %}
                          {% include "protocoloadm/documentoadministrativo_item_filter.html" %}
                        {% endwith %}
                      {% endwith %}
                    {% if forloop.last %}
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              {% endif %}

              {% for principal in d.documento_anexado_set.all %}
                {% if forloop.first %}
                  <div class="item-raiz anexador">
                  <strong>Anexado a:</strong>
                  <ul>
                {% endif %}
                <li>
                  {% with principal.documento_principal as d %}
                    {% comment %}
                    <div class="links-texto">
                        {% if d.texto_integral %}
                          <a class="link-texto" href="{{d.texto_integral.url}}" title="Documento Administrativo">
                            <i class="far fa-2x fa-file-{% if '.pdf' in d.texto_integral.path %}pdf{% else %}archive{% endif %}"></i>
                          </a>
                        {% endif %}
                    </div>
                    {% endcomment %}

                    <a class="item-titulo" href="{% url 'sapl.protocoloadm:documentoadministrativo_detail' d.pk %}">{{ d }}</a>
                    {% if d.certidao %}
                      <br><small>
                      <span class="text-danger">Certidão de Publicação nº {{d.certidao.id|stringformat:"06d" }} de {{d.certidao.created}}</span>
                      </small>
                    {% endif %}
                    <br><strong>Data do documento:</strong> {{d.data}} | {{d.tipo}} | {{d.tipo.sigla}} {{d.numero}}/{{d.ano}}

                    {% if d.protocolo %}
                      |
                      {% if perms.detail_protocolo %}
                        <strong>Protocolo:</strong>&nbsp;<a href="{% url 'sapl.protocoloadm:protocolo_mostrar' d.protocolo.id %}">{{ d.protocolo}}</a></br>
                      {% else %}
                        <strong>Protocolo:</strong> {{ d.protocolo}}
                      {% endif %}
                    {% endif %}

                    {% if d.assunto %}
                      <div class="text-ementa">{{ d.assunto|safe }}</div>
                    {% endif %}

                    <small>
                      {% if d.interessado %}
                        <strong>Interessado:</strong>&nbsp;{{ d.interessado|default_if_none:"Não informado"}}</br>
                      {% endif %}

                      {% define d.tramitacaoadministrativo_set.first as tram %}
                      {% if tram.unidade_tramitacao_destino %}
                        <strong>Localização Atual:</strong> &nbsp;{{tram.unidade_tramitacao_destino}}</br>
                        <strong>Status:</strong> {{tram.status}}
                      {% endif %}
                      {% if not d.anexo_de.first %}
                        {% if d.tramitacao and not perms.protocoloadm.detail_documentoadministrativo and d.workspace.tipo == d.workspace.TIPO_PUBLICO and mail_service_configured %}
                          <br><a class="btn btn-sm btn-outline-primary" href="{% url 'sapl.protocoloadm:acompanhar_documento' d.id %}">Acompanhar Tramitação</a>
                        {% endif %}
                      {% endif %}
                    </small>
                  {% endwith %}
                </li>
                {% if forloop.last %}
                    </ul>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          {% endfor %}

      </div>

    {% else  %}
      <h3>Nenhum documento encontrado com essas especificações</h3>
    {% endif %}

    {% include "paginacao.html" %}

  {% endif %}
{% endblock table_content %}
