{% load i18n %}
{% load compilacao_filters %}
{% load common_cmj_tags common_tags%}
{% load static %}
{% load webpack_static from webpack_loader %}
{% if d.texto_integral %}
  <div class="row item-listas align-items-center file-documentoadministrativo justify-content-between">
    <div class="col-12 col-md-auto justify-content-center">

      {% if d.metadata.signs and d.metadata.signs.texto_integral.signs %}
        <a class="link-texto" href="{{d.texto_integral.url}}" title="Documento Eletrônico">
          <i class="fas fa-2x fa-certificate"></i>
          <br>
          <strong>Documento
              Eletrônico
              <small>
                <br>com Assinatura Digital
              </small>
          </strong>
        </a>
      {% elif d.texto_integral and '.pdf' in d.texto_integral.path %}
          <a class="link-texto" href="{{d.texto_integral.url}}" title="Documento Digitalizado">
            <i class="far fa-2x fa-file-pdf"></i>
            <br>
            <strong>
                Documento<br>Digitalizado
            </strong>
          </a>
      {% else %}
        <a class="link-texto" href="{{d.texto_integral.url}}" title="Documento Eletrônico">
          <i class="far fa-2x fa-file-archive"></i>
          <br>
          <strong>Documento<br>Eletrônico</strong>
        </a>
      {% endif %}
    </div>
    {% with d.metadata.signs.texto_integral.signs as signs %}
      {% include 'core/sign_widget.html' %}
    {% endwith %}
    {% if render_ementa %}
      <div class="col{% if d.metadata.signs.texto_integral.signs %}-12{% endif %}">
        <div class="text-ementa">
          {{d.assunto|safe}}
        </div>
      </div>
    {% endif %}
  </div>
{% endif %}