footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #0000;
  &:hover {
    background-color: rgba(0, 0, 0, 1);
  }
  .btn {
    padding: 0;
  }

}

// ######### Dark Mode #########
@include color-mode(dark) {
}
