footer {
  // position: fixed;
  background-color: #0000;
  &:hover {
    background-color: rgba(0, 0, 0, 1);
  }
  .btn {
    padding: 0;
  }

}

// ######### Dark Mode #########
@include color-mode(dark) {
}
