

.navbar {
  --bs-navbar-padding-y: 0rem;
}

header {
  border-top: 2px solid $color_primary;

  .navbar-topo {
    border-top: 2px solid $color_primary;
    border-bottom: 1px solid #ccc;
    display: flex;
    background-color: #fff;
  }

  &,
  * {
    transition: all 0.5s ease;
  }

  .nav-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: auto;
    flex: 0 0 auto;
    gap: 1rem;
    padding: 0.5rem;
    min-height: $heightBrand * 2;
  }

  .nav-user {
    align-items: stretch;
    .avatar-2 {
      color: $color_secondary;
      border-radius: 50%;
    }
  }

  &.header-scrolled {
    .nav-brand {
      min-height: $heightBrand * 1;
    }
  }

  .navbar-nav {
    li {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 1rem;
      text-decoration: none;
      white-space: nowrap;
      color: $color_primary;
    }

    a,
    button {
      color: $color_primary;
    }

    a:not(.dropdown-toggle),
    button,
    span {
      display: inline-flex;
      align-items: center;
      gap: 1rem;
    }

    i {
      width: 1rem;
      text-align: center;
    }

    li.head_title {
      & > span {
        cursor: context-menu;
      }
    }

    ul {
      display: none;
      position: absolute;
      flex-direction: column;
      top: 100%;
      margin-top: -10px;
      padding: 0;
      background-color: white;
      border: var(--bs-border-width) solid var(--bs-border-color);
      border-radius: var(--bs-border-radius);
      box-shadow: var(--bs-box-shadow);

      li {
        padding: 0.5rem 1rem;
        ul {
          z-index: 1;
        }

        &.divider_description {
          &,
          * {
            color: var(--bs-nav-link-color);
            font-family: 'Rubik';
            font-variant: small-caps;
            font-weight: 500;
          }
          padding: 0 0.3rem;
          &:hover {
            background-color: transparent;
            color: var(--bs-nav-link-color);
          }
        }
      }
      li {
        border-radius: var(--bs-border-radius);
      }

      li:not(:first-child):not(:last-child) {
        border-radius: 0;
      }
      li:first-child {
        &:not(:last-child) {
          border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0;
        }
      }
      li:last-child {
        &:not(:first-child) {
          border-radius: 0 0 var(--bs-border-radius) var(--bs-border-radius);
        }
      }

      &.right {
        right: 10px;
        left: auto;
        ul {
          left: auto;
          right: calc(100% - 10px);
          top: 10px;
          margin-top: 0;
        }
      }
    }

    &:hover {
      li:hover {
        background-color: $color_primary;
        & > a,
        & > span,
        .avatar-2 {
          color: white;
        }

        li:hover {
          button {
            color: white;
          }
        }
        form,
        button {
          cursor: pointer;
          width: 100%;
        }
        & > ul {
          display: flex;
        }
      }
    }
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: start;

  svg {
    width: $heightBrand;
    height: $heightBrand;
  }
  img {
    height: $heightBrand;
    width: auto;
  }
}

.header-casa-legislativa, .footer-casa-legislativa {
  display: flex;
  gap: 1rem;
  padding: 1rem 0 2rem 0;
  align-items: center;
  h4 {
    white-space: nowrap;
  }
  .img-brasao {
    width: auto;
    height: $heightBrasao * 1;
    padding: 2px;
    border-radius: 10px;
  }
}

@media (max-width: 991.98px) {
  header {
    .navbar-nav {
      &.nav-main {
        ul,
        li {
          display: flex;
          flex-direction: column;
          position: relative;
          align-items: start;
          margin: 0;
          width: 100%;
          border: 0;
          padding: 0 0.3rem;
          & > a,
          & > span {
            color: $color_primary;
            width: 100%;
            padding: 0.5rem 1rem;
          }
          &:hover {
            background-color: white;
            & > a,
            & > span {
              color: $color_primary;
              &:hover {
                color: white;
                background-color: $color_primary;
              }
            }
          }
        }
      }
      &.nav-admin {
        & > li {
          position: static;
        }
        ul {
          left: 10px;
          ul {
            right: 10px;
            top: calc(100% - 10px);
          }
        }
      }
    }
  }
}

@include color-mode(dark) {
  header {
    .navbar-topo {
      background-color: #111;
      border-bottom: 1px solid #333;
    }
    .navbar-nav {
      ul {
        background-color: black;
      }
    }
  }
  @media (max-width: 991.98px) {
    header {
      .navbar-nav {
        &.nav-main {
          ul,
          li {
            &:hover {
              background-color: black;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  header {
    .navbar-collapse {
      align-items: stretch;
    }
    .nav-brand {
      min-height: $heightBrand * 1.7;
    }
    &.header-scrolled {
      .nav-brand {
        min-height: $heightBrand * 1.27;
      }
    }
    .navbar-nav {
      &.nav-main {
        & > li {
          & > ul {
            & > li {
              & ul {
                left: calc(100% - 10px);
                margin-top: 0;
                top: 10px;
              }
            }
          }
        }
      }
    }
  }
}

.dropdown-divider,
.divider {
  margin: 0 !important;
  padding: 0 !important;
  height: 1px !important;
  background-color: transparentize($color_primary, 0.5) !important;
  border: 0 !important;
  display: block;
}
