@import 'bootstrap/scss/root';


[data-bs-theme="light"] {
 --nav-bg-hover-color: #e9ecef;
 --nav-text-hover-color: #fff;
 --box-shadow-color: #e3e5e7;
 --cmj-background-color: #f5f5f5;
 --cmj-expmat-background-color: #ffffe3;
 --cmj-expmat-background-color-hover: #f5d576;
 --cmj-ordemdia-background-color: #ffffff;
 --cmj-ordemdia-background-color-hover: #d6e6fd;
}


[data-bs-theme="dark"] {
 --nav-bg-hover-color: #495057;
 --nav-text-hover-color: #ffffff;
 --box-shadow-color: #30383f;
 --cmj-background-color: #121212;

 --cmj-expmat-background-color: #181201;
 --cmj-expmat-background-color-hover: #221902;
 --cmj-ordemdia-background-color: #000000;
 --cmj-ordemdia-background-color-hover: #02010c;
}
