$fa-font-path: '/static/webfonts';

@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';

@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap);

$color_logo_portalcmj_portalcmj: #5B9F91; // CMYK: 60, 5, 40, 20
$color_logo_portalcmj_mais: #00A1D5; // CMYK: 100, 5, 5, 5
$color_logo_portalcmj_plataforma: #7D7E7F; // CMYK: 5, 5, 5, 60

$color_primary: $color_logo_portalcmj_portalcmj;
$color_secondary: $color_logo_portalcmj_mais;

$heightBrand: 3rem;
$heightBrasao: 6rem;

$utilities: () !default;

$utilities: map-merge(
  (
    "min-viewport-height": (
      property: min-height,
      class: min-vh,
      values: (
        50: 50vh,
        60: 60vh,
        70: 70vh,
        80: 80vh,
        90: 90vh,
        100: 100vh
      )
    ),
    "avatar": (
      property: height width,
      class: avatar,
      values: (
        1: 1rem,
        2: 2rem,
        3: 3rem,
        4: 4rem,
        5: 5rem,
        6: 6rem,
        7: 7rem,
        8: 8rem,
        9: 9rem
      )
    ),
  ),
  $utilities
);

$grid-gutter-width: 2rem !default;

$yellow:  #c99909 !default;

@import 'custom/bootstrap';

@import 'header';
@import 'apps/orcamento';

a {
  text-decoration: none;
}

main {
  padding: 1rem;
  margin: 0;
  background: linear-gradient(to bottom, #f7f6f9, #f0ece4);
  border-bottom: 1px solid #fff;
  .main-box {
    position: relative;
    background-color: #fff;
    padding: 1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    .page-header {
      font-weight: bold;
      color: $color_primary;
      padding: 0rem 0 1rem;
      small {
        font-size: 80%;
        font-weight: 400;
        font-style: italic;
        color: $color_logo_portalcmj_plataforma;
      }
    }
  }
  .nav {
    border: 0;
    .nav-link {
      border:0;
    }
    .nav-link:hover {
      border-bottom: 0;
      background-color: #fff;
    }
  }
}

footer {
  background-color: #dedddf;
  border-top: 1px solid #ddd;
  text-align: center;

  .footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .footer-logo {
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2rem;
    font-variant: small-caps;
    span {
      color: $color_logo_portalcmj_plataforma;

    }
    svg {
      width: $heightBrand;
      height: $heightBrand;
    }
    img {
      height: $heightBrand;
      width: auto;
    }
  }
  .licence-message {
    padding: 0.5rem 0;
    background-color: #cdccce;
  }
}

.bi.theme-icon {
  width: 1em;
  height: 1em;
  fill: currentcolor;
}

.text-right {
  text-align: right;
}

.color-modes {
  .dropdown-menu {
    padding: .25rem;
    li + li {
      margin-top: .125rem;
    }
  }
  .dropdown-item {
    @include border-radius(.25rem);
  }
  .active {
    font-weight: 600;
    .bi {
      display: block !important; // stylelint-disable-line declaration-no-important
    }
  }
}

.nav-pagination {
  position: sticky;
  z-index: 1;
  padding: 1rem 0;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 2rem;

  .pagination {
    margin: 0;
  }
  .sr-only {
    display: none;
  }
}
// PortalCMJ
[id*=helptext] {
  color: $color_logo_portalcmj_portalcmj;
}

// #### CRUD ########################################
.context-actions {
  position: relative;
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column-reverse;
  gap: 1rem;
  margin-top: 0.5rem;
  z-index: 1;


  .form-filter {
    margin-bottom: 0 !important;
  }

  .actions {
    flex: 0 0 0%;
    .btn {
      white-space: nowrap;
    }
    &:empty {
      display: none;
    }
    &.search {
      flex: 3 1 100%;
      width: 100%;
      input {
        border-color: $primary;
        // margin: 0;
      }
    }
  }
}

.container-table {
  .container-info-table {
    display: flex;
    flex-direction: column-reverse;

    .totalize {
      width: 100%;
      text-align: center;
      padding: 0;
      margin: 0;
    }
  }
  th {
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: lighten($color_primary, 10%);
    white-space: nowrap;
    a {
      color: white;
      text-decoration: none;
      position: relative;

      &.ordering {
        margin: 0 1rem;

        &::before, &::after {
          opacity: 0.4;
          position: absolute;
          right: -0.8rem;
          font-size: 0.8rem;
          line-height: 0rem;
        }

        &::before {
          content: "Δ";
          top: 3px;
        }
        &::after {
          content: "∇";
          bottom: 3px;
        }
        &.asc::before {
          opacity: 1;
        }
        &.desc::after {
          opacity: 1;
        }

        &:hover {
          &::before {
            opacity: 1;
          }
        }
        &.asc {
          &:hover {
            &::after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  th, td {
    vertical-align: middle;
    &:not(:first-child) {
      border-left: 1px solid #fff;
    }
  }
}
.container-detail {
  h2 {
    margin-top: 2rem;
  }
}
.form-label {
  font-weight: bold;
  margin: 0 0.3rem 0;
  // margin: 1rem 0.3rem 0;
}
.asteriskField {
  color: red;
  font-size: 1rem;
  margin-left: 0.3rem;
}
.form-actions {
  margin-top: 1rem;;
  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.form-control-static {
  background-color: #7771;
  line-height: 1.2rem;
  padding: 0.7rem 1rem;
  min-height: 2.6rem;
  overflow-x: auto;
}
p.control-label {
  //font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  margin: 1rem 0.3rem 0;
  color: darken($color_primary, 15%);
}

// ####### Container Login #########

.container-login {
  //box-shadow: 0px 1px 5px #ccc;
  background-color: var(--bs-body-bg);
  color: $color_primary;
  position: relative;
  width: 100%;
  .inner {
    padding: $grid-gutter-width / 2;
    line-height: 1;
  }
  h4 {
    font-size: 1.2rem;
  }
  .input-icon {
    margin: 1.5rem 0 0;
    span.fa {
      position: absolute;
      padding: 0.45em 0.3em;
      opacity: 0.6;
    }
  }
  .row-recovery {
    margin: 0.5rem 0 1rem 0;
    a {
      color: $color_primary;
      text-decoration: none;
      font-size: 1.2rem;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  input {
    height: 3em;
    font-size: 1.4em;
    padding: 1em 1em 1em 2.2em;
    &:focus {
      background-color: white;
    }
  }
  .btns-login {
    display: flex;
    justify-content: flex-end;
    margin: 0 2rem;
    .btn-login {
      border: 0px solid $color_primary;
      background-color: $color_primary;
      cursor: pointer;
      display: inline-block;
      line-height: 3rem;
      padding: 0 10px;
      font-size: 1.2rem;
      width: 30%;
      text-align: center;
      color: white;
      text-decoration: none;
    }
  }
}


// ######### Dark Mode #########

@include color-mode(dark) {

  footer {
    background-color: #111;
    border-top: 1px solid #333;

    .licence-message {
      background-color: #000;
    }
  }

  main {
    background: linear-gradient(to bottom, #1110, #111f);
    border-bottom: 0px solid #444;
    .main-box {
      background-color: #111;
    }
    .nav {
      .nav-link:hover, .active {
        border-bottom: 0;
        background-color: #111;
      }
    }
  }

  .container-table {
    th {
      background-color: darken($color_primary, 20%);
    }
    th, td {
      &:not(:first-child) {
        border-left: 1px solid #555;
      }
    }
  }

  p.control-label {
    color: $color_primary;
  }

}


@media (min-width: 768px) {
  .context-actions {
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
  }
  .container-login {
    margin: 0 auto;
    max-width: 600px;
    .inner {
      padding: $grid-gutter-width;
    }
    h1 {
      padding: 2rem 2rem 0rem ;
    }
    .input-icon {
      margin: 2rem 0 0;
    }
  }

  .container-table {
    .container-info-table {
      flex-direction: row;
      justify-content: space-between;
      align-items: end;
      margin-top: -2.5rem;
      z-index: -1;
      .totalize {
        width: auto;
        text-align: right;
      }
    }
  }
}


@media (min-width: 992px) {
  .row {
    > [class^="col"]:not(:last-child) {
      padding-right: 0;
    }
  }
}

@media (min-width: 1200px) {

  main {
    .main-box {
      padding: $grid-gutter-width ;
    }
  }
  .nav-pagination {
    padding: 2rem 0 1rem 0;
  }
  .row {
    > [class^="col"]:not(:last-child) {
      padding-right: $grid-gutter-width / 2;
    }
  }
}
@media print {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    padding: 0;
    margin: 0;
    background: none;
    border-bottom: none;
    .main-box {
      padding: 0;
      margin-left: 0;
      margin-right: 0;
      border-radius: 0;
      box-shadow: none;
    }
  }
  .context-actions, .nav {
    display: none;
  }
}