@import 'custom/variables.scss';

@import 'custom/bootstrap';
@import 'custom/fortawesome.scss';

@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap);


a {
  text-decoration: none;
}

footer {
}

.bi.theme-icon {
  width: 1em;
  height: 1em;
  fill: currentcolor;
}

.color-modes {
  .dropdown-menu {
    padding: .25rem;
    li + li {
      margin-top: .125rem;
    }
  }
  .dropdown-item {
    @include border-radius(.25rem);
  }
  .active {
    font-weight: 600;
    .bi {
      display: block !important; // stylelint-disable-line declaration-no-important
    }
  }
}

// ######### Dark Mode #########
@include color-mode(dark) {
}

// ######### Media Queries #########

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
@media print {
}