{% extends "crud/detail.html" %}
{% load i18n %}
{% load common_tags dashboardtags %}
{% load webpack_static from webpack_loader %}

{% block head_content %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.9/dist/chart.umd.min.js"></script>
  <script type="module" src="{% webpack_static 'public/js/dashboard_custom.js' %}"></script>
{% endblock %}

{% block actions %}{% endblock %}

{% block title %}
  <div class="clearfix">
      <h1 class="page-header">
          Matérias <small>({{nome_parlamentar}})</small>
      </h1>
  </div>
{% endblock title %}

{% block detail_content %}

{% dash_grid 'materiaparlamentardashboard' dashboard.dash_grids autoria_is=autor_pk %}



<table class="table table-striped table-bordered">
  {% for autoria in autoria.0 %}
    <thead class="thead-default">
      <tr>
        <td colspan=3>
          <strong class="h1">
            Em: {{ autoria.0 }}
          </strong>
        </td>
      </tr>
    </thead>
    {% for materias in autoria.1 %}
      <tr>
      <td>{{ materias.1 }}&nbsp;</td>
      <td>
      <a href="{% url 'sapl.materia:pesquisar_materia'%}?tipo={{materias.0}}&ano={{autoria.0}}&autoria__autor={{autor_pk}}&autoria__primeiro_autor=True">
        {{ materias.2}}
      </a>
      </td>
      <td>&nbsp;{{ materias.3}}</td>
    </tr>
    {% endfor %}
  {% endfor %}
  <tr>
    <td colspan=3>
      <strong>
        <h2>Total: {{ autoria.1 }}</h2>
      </strong>
    </td>
  </tr>
</table>


{% if coautoria.0 %}
  <h2 style="text-align: center">Co-Autor</h2>
  <br/>
  <table class="table table-striped table-bordered">
  {% for coautoria in coautoria.0 %}
    <thead class="thead-default"><tr><td><h3>Ano: {{ coautoria.0 }}</h3></td></tr></thead>
    {% for materias in coautoria.1 %}
      <tr>
        <td>{{ materias.1 }}&nbsp;</td>
        <td>
          <a href="{% url 'sapl.materia:pesquisar_materia'%}?tipo={{materias.0}}&ano={{coautoria.0}}&autoria__autor={{autor_pk}}&autoria__primeiro_autor=False">
            {{ materias.2}}
          </a>
        </td>
        <td>&nbsp;{{ materias.3}}</td>
      </tr>
    {% endfor %}
  {% endfor %}
  </table>
  <h2>Total: {{ coautoria.1 }}</h2><br/>
{% endif %}


{% endblock detail_content %}
