{% load i18n sigad_filters social_utils%}
<div class="container-noticias-secundarias">

{% with 'noticias_secundarias'|caixa_publicacao:None as noticias_secundarias %}
  {% for d in  noticias_secundarias.docs%}
    <div class="path-item-list">
      <div class="inner">
        <div class="path-imagem alinhamento-justify">
          <div class="imagem" style="background-image: url(/{{d.1.absolute_slug}}.256)"></div>
          {% comment %}
            <a class="img-contexto" href="{% url 'cmj.sigad:path_view' d.0.absolute_slug %}">
            </a>
          {% endcomment %}
          <div class="autor">{{d.1.autor|default:''}}</div>
        </div>
        <div class="texto">

          <h2 class="titulo">
            <a tabindex="{{view.tabindex}}" href="{% url 'cmj.sigad:path_view' d.0.absolute_slug %}">
              {{d.0.titulo}}
            </a>
          </h2>

          <div class="descricao">
            <p tabindex="{{view.tabindex}}" >
              {{d.0.descricao|safe|urlize}}
              {% social_link_share d.0 'pull-right'%}

            </p>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  {% if perms.sigad.change_documento %}
    <div class="btn-edit-destaques">
      <a href="{% url 'cmj.sigad:caixapublicacao_update' noticias_secundarias.cp.pk %}" title="{% trans "Editar Caixa de Publicação" %}">
        <i class="fas fa-edit" aria-hidden="true"></i>
      </a>
    </div>
  {% endif %}
{% endwith %}

</div>
