{% extends "base.html" %}
{% load i18n %}

{% block id_wrapper %}pagina-inicial{% endblock %}
{% block menu_canais_relative %}{% endblock %}
{% block canais_absolute %}{% endblock %}
{% block base_header %}{% endblock %}

{% block main_header %}
  <div class="container-fluid canais-columns">
    {% include "base_sidebar.html" %}
  </div>
{% endblock %}
{% block base_functions %}{% endblock %}
{% block main_container_class %}container container{{fluid}}{{path}}{% endblock %}
{% block base_content %}
  <div class="row">
    <div class="col-md-8">
      {% with noticias_destaque as noticias_destaque %}
        {% include "path/pagina_inicial_noticias_destaque.html" %}
      {% endwith %}
    </div>

    <div class="col-md-4">
      {% with noticias_dos_parlamentares as object_list %}
          {% include "path/pagina_inicial_noticia_parlamentares.html" %}
      {% endwith %}
    </div>

  </div>
{% endblock %}
