{% load i18n sigad_filters social_utils common_cmj_tags%}
<div class="container-ultimas-publicacoes">
  <h2 class="title-container-noticias">Últimas Publicações</h2>
  {% for cert in ultimas_publicacoes%}
    <div class="path-item-list">
      <small class="pl-1">
        {{ cert.content_object|meta_model_value:'verbose_name' }}
      </small>
      <div class="inner">
        {% if cert.content_object|meta_model_value:'label' == 'norma.NormaJuridica' %}
          {% with cert.content_object as n %}
            {% include 'norma/normajuridica_widget_list.html' %}
          {% endwith %}
        {% elif cert.content_object|meta_model_value:'label' == 'protocoloadm.DocumentoAdministrativo' %}

          {% with cert.content_object as doc_adm %}
            {% include 'protocoloadm/documentoadministrativo_widget_list.html' %}
          {% endwith %}

        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
