{% load i18n %}

<div class="container-leis-capa">
  <span class="title btn-info btn">Acesso Rápido</span>
  <div class="row">
    <a class="col-2 btn btn-info" href="/ta/1/text">Lei nº 1.400 de 1990</a>
    <a class="col-2 btn btn-info" href="/ta/1538/text">Lei nº 1.722 de 1994</a>
    <a class="col-2 btn btn-info" href="/ta/667/text">Lei nº 2.135 de 1999</a>
    <a class="col-2 btn btn-info" href="/ta/1210/text">Lei nº 2.822 de 2007</a>
    <a class="col-2 btn btn-info" href="/ta/6989/text">Lei nº 3.947 de 2017</a>
    <a class="col-2 btn btn-info" href="/ta/7879/text">Lei nº 4.107 de 2019</a>
  </div>
</div>