{% load i18n %}
<div class="col-lg-3">
  <div>
    <a href="/fale-conosco/ouvidoria" class="btn-ouvidoria">
      <i class="fa fa-bullhorn fa-2x" aria-hidden="true"></i><br>
      <span>
        Fale Conosco
      </span>
      </a>
  </div>
</div>
<div class="col-lg-3">
    <a href="/evento/" class="btn-ouvidoria">
      <i class="fa fa-calendar fa-2x" aria-hidden="true"></i><br>
      <span>
        Agenda Legislativa
      </span>
    </a>
</div>

<div class="col-lg-3">
    <a href="/tv-cmj/ao-vivo" class="btn-ouvidoria">
      <i class="fa fa-tv fa-2x" aria-hidden="true"></i><br>
      <span>
        TV Câmara
      </span>
    </a>
</div>

<div class="col-lg-3">
    <a href="/radio-cmj/ao-vivo" class="btn-ouvidoria">
      <i class="fa fa-radiation-alt fa-2x" aria-hidden="true"></i><br>
      <span>
        Rádio Câmara
      </span>
    </a>
</div>
