{% load i18n %}
<div class="col-lg-4 d-flex flex-column mt-4 pt-2 pl-lg-1">

  <div class="btn-segmentos btn-search">
    <form method="get" action="{% url 'cmj.core:haystack_search'%}">
      <div class="inner">
        <div class="item-form">
          <input type="search" name="q" placeholder="Busca Textual" class="textinput textInput form-control" id="id_q" />
        </div>
        <div class="item-form">
          <button  class="button" type="submit"value="">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
     

  <a href="/fale-conosco/ouvidoria" class="btn-segmentos">
    <i class="fas fa-bullhorn" aria-hidden="true"></i>
    <span>
      Ouvidoria
    </span>
  </a>


  <a href="/tv-cmj/ao-vivo" class="btn-segmentos">
    <i class="fas fa-tv" aria-hidden="true"></i>
    <span>
      TV Câmara - Ao Vivo
    </span>
    
  </a>

  <a href="/radio-cmj/ao-vivo" class="btn-segmentos">
<i class="fas fa-broadcast-tower"></i>
    <span>
      Rádio Câmara - Ao Vivo
    </span>
  </a>

  <a href="/evento/" class="btn-segmentos">
    <i class="fas fa-calendar" aria-hidden="true"></i>
    <span>
      Agenda Legislativa
    </span>
  </a>
</div>
