{% load i18n %}

<div class="container-leis-capa">
  <span class="title btn-info btn">Acesso Rápido</span>
  <div class="row">
    <a class="col-2 btn btn-info" href="/ta/1/text" title="Institui o regime jurídico único dos servidores públicos de Jataí, e dá outras providências.">Lei nº 1.400 de 1990</a>
    <a class="col-2 btn btn-info" href="/ta/1538/text" title="Dispõe sobre o Plano de Cargos e Vencimentos com Carreira Funcional dos servidores do município de Jataí.">Lei nº 1.722 de 1994</a>
    <a class="col-2 btn btn-info" href="/ta/667/text" title="Dispõe sobre o Plano de Carreira e Remuneração do Magistério Público do Município de Jataí, na forma que especifica e da outras providências.">Lei nº 2.135 de 1999</a>
    <a class="col-2 btn btn-info" href="/ta/1210/text" title="Dispõe sobre o Estatuto e o Plano de Cargos e Vencimentos dos Profissionais do Magistério do Município de Jataí - GO e dá outras providências.">Lei nº 2.822 de 2007</a>
    <a class="col-2 btn btn-info" href="/ta/6989/text" title="Dispõe sobre a estrutura administrativa do Poder Executivo do Município de Jataí e dá outras providências.">Lei nº 3.947 de 2017</a>
    <a class="col-2 btn btn-info" href="/ta/7879/text" title="Dispõe sobre a isenção do pagamento de valores a título de inscrição em concursos públicos no âmbito do Município de Jataí (GO), para doadores de medula óssea, de sangue e doadores ou receptoras de rim e dá outras providências.">Lei nº 4.107 de 2019</a>
  </div>
</div>