{% extends "base.html" %}
{% load i18n %}

{% block id_wrapper %}pagina-inicial{% endblock %}
{% block menu_canais_relative %}{% endblock %}
{% block canais_absolute %}{% endblock %}
{% block base_header %}{% endblock %}

{% block main_header %}
  <div class="container-fluid canais-columns">
    {% include "base_sidebar.html" %}
  </div>
{% endblock %}
{% block base_functions %}{% endblock %}
{% block main_container_class %}container container{{fluid}}{{path}}{% endblock %}
{% block base_content %}
  <div class="row">
    <div class="col-md-8">
      {% with noticias_destaque as noticias_destaque %}
        {% include "path/pagina_inicial_noticias_destaque.html" %}
      {% endwith %}
    </div>

    <div class="col-md-4">

      <div class="panel panel-info panel-nota-site-antigo">
          <div class="panel-heading">
            Este é nosso novo Portal.<br>
            <a data-toggle="collapse" href="http://siteantigo.camarajatai.go.gov.br">O antigo ainda pode ser acessado aqui.</a>
          </div>
          <div class="panel-collapse collapse">
              <div class="panel-body">
                <p>Desde o dia 25 de janeiro de 2018, este é o novo Portal da Câmara Municipal de Jataí.</p>
                <p>Esta mudança faz parte de um projeto que visa melhorar a transparência do Poder Legislativo jataiense, dando, para isso, mecanismos modernos de publicação de dados e de interação com o cidadão.</p>
                <p>Até o lançamento deste, nosso portal era composto por mais de 10 (dez) soluções tecnológicas
                  gratuitas, porém de plataformas diferentes, antigas e de onerosa manutenção,
                  desenvolvidas ao longo do tempo pela casa e/ou terceiros através da filosofia open source.</p>
                <p>Este novo projeto visa, numa primeira etapa, convergir as soluções existentes
                  para uma mesma plataforma: robusta, integrada, com foco produtivo na gestão da informação
                   e de fácil manutenção e evolução de novas e futuras necessidades. Numa segunda etapa,
                    a intenção é evoluir a qualidade da informação, ofertando-a de forma mais clara e através
                     de melhores mecanismos de interação com nosso cidadão.</p>
                <p>No estágio atual, foi construído o alicerce para o novo Portal:
                   foi implementada a tecnologia gratuita que permite autenticação segura de usuário
                    na plataforma somado a uma segunda alternativa, de forma integrada às redes sociais principais (Google e Facebook);
                     todas as notícias do portal antigo foram migradas;
                     também o do SAAP - Sistema de Apoio à Atividade Parlamentar;
                     além da nova ferramenta de E-mail que oferece mais segurança aos emails institucionais e melhor experiência dos usuários deste serviço.</p>
                <p><a href="https://github.com/cmjatai/cmj">Está disponível no GitHub</a>, onde pode ser conferido diariamente a evolução enquanto um processo de desenvolvimento de sistemas.</p>
                <p>
                  As soluções isoladas que inicialmente serão redesenvolvidas e migradas para a nova plataforma, são: (em azul os itens já concretizados)
                  <ol>
                    <li class="text-primary" title="Já Migrado">Site de Notícias</li>
                    <li class="text-primary" title="Já Migrado">Sistema de Fotografia</li>
                    <li class="text-primary" title="Já Migrado">SAAP - Sistema de Apoio à Atividade Parlamentar</li>
                    <li>Publicação de Licitações e Contratos</li>
                    <li>Documentos Administrativos</li>
                    <li>Integração com Youtube para a TV CMJ</li>
                    <li>Integração com SoundCloud para a Rádio CMJ</li>
                    <li>Base da Legislação Jataiense</li>
                    <li>SAPL - Sistema de Apoio ao Processo Legislativo
                      <ul>
                        <li>Matérias Legislativas</li>
                        <li>Protocolo Geral</li>
                        <li>Sessões Plenárias</li>
                        <li class="text-primary" title="Já Migrado">Registro de Legislaturas e Parlamentares</li>
                      </ul>
                    </li>
                    <li>SaplMobile - SAPL no plenário</li>
                    <li>Republicação do Diário Oficial do Município</li>
                    <li class="text-primary" title="Já Migrado">Serviço de E-mail</li>
                    <li class="text-primary" title="Já Implementado">https - Troca segura de informação com o usuário</li>
                    <li>Entre outras tecnologias para a gestão interna dos dados e inerentes ao Departamento de Informática</li>
                  </ol>
                </p>
              </div>
          </div>
      </div>

      {% with noticias_dos_parlamentares as object_list %}
          {% include "path/pagina_inicial_noticia_parlamentares.html" %}
      {% endwith %}
    </div>

  </div>
{% endblock %}

{% block extra_js  %}


<script type="text/javascript">
  $(document).ready(function(){
    $(".panel-nota-site-antigo").hover(
     function() {
        $('.panel-collapse').collapse('show');
      }, function() {
        $('.panel-collapse').collapse('hide');
      }
    );
  });
</script>
{% endblock %}
