{% load i18n sigad_filters social_utils cropping%}
<div class="container-box-parlamentares">
  {% for documento in object_list %}
    <div class="path-item-list  {{ documento.visibilidade_css_class}}">
      <div class="row inner">
        <span class="data-pub">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          {% if documento.public_date %}
            {{documento.public_date|date:"d"}} {% trans "de" %} {{documento.public_date|date:"F"}} {% trans "de" %} {{documento.public_date|date:"Y"}}
          {% else%}
            {% with documento.revisoes.first as rev %}
              {{rev.get_visibilidade_display}} - {{rev.data}} - {% trans "por:" %} {{rev.user.first_name|default:rev.user.email}}
            {% endwith %}
          {% endif %}
        </span>
        <div class="w-100"></div>
        {% comment %}
          {% social_link_share documento %}
          <div class="clearfix"></div>
        {% endcomment %}
        {% with documento.parlamentares.first as parlamentar %}
            <div class="col-3">
              {% if  documento.parlamentares.first.fotografia %}
                <a class="avatar" href="/{{ parlamentar.classe_set.first.absolute_slug }}">
                  <img src="{% cropped_thumbnail parlamentar "cropping" %}" alt="{{ documento.parlamentares.first.nome_parlamentar}}"> 
                </a>
              {% endif %}
            </div>
            <div class="col">
              <h3>
                <a tabindex="{{view.tabindex}}" class="tags tag-parlamentar" href="/{{ documento.parlamentares.first.classe_set.first.absolute_slug }}">
                    {{ documento.parlamentares.first.nome_parlamentar}}
                </a>
              </h3>
              <h2 class="titulo">
                <a tabindex="{{view.tabindex}}" href="/{{documento.url_prefixo_parlamentar}}/{{documento.absolute_slug}}">
                  {{documento.titulo}}
                </a>
              </h2>
            </div>
            <div class="col-xs-12">
              <div class="descricao">
                {{ documento.descricao|default:''|safe}}
              </div>
            </div>
        {% endwith %}
      </div>
    </div>
  {% endfor %}
</div>
