{% extends "base_path.html" %}
{% load i18n sigad_filters  social_utils cropping thumbnail%}
{% load webpack_static from webpack_loader %}

{% block main_container_class %}container-fluid container-legislaturas{% endblock %}
{% block base_functions %}{% endblock %}
{% block base_header %}

  {% block controls_content %}
    {% if False and perms.sigad.change_classe %}
      <a href="{% url 'cmj.sigad:classe_edit' object.id %}">{% trans "[Editar]" %}</a>
    {% endif %}
  {% endblock %}
{% endblock %}

{% block base_content %}
  <div class="row inner-topo">
    <div class="col-md-4 inner-legis">
      <div class="tags">
        Legislaturas
      </div>
      <a class="inner-titulo">
        <span class="active">
          {{legislatura_ativa.numero}}º<br>
          ({{legislatura_ativa.data_inicio.year}} - {{legislatura_ativa.data_fim.year}})
        </span>
      </a>

      {% for leg in legislaturas %}
        <a href="?l={{leg.legislatura.pk}}" title="{{leg.legislatura}}" class="col-2 col-md-3 {% if leg.legislatura == legislatura_ativa%}selected{% endif %}">
          {{leg.legislatura.numero}}º
        </a>
      {% endfor %}
      <div class="clearfix">

      </div>
    </div>
    <div class="col-md-8">
      <div class="row inner-sessoes">
        <div class="col-xs-12">
          <div class="tags">Sessões Legislativas</div>
          {% for leg in legislaturas %}
            {% if leg.legislatura == legislatura_ativa %}
              {% for sessao in leg.sessoes %}
                  <a href="?sl={{sessao.sessao.pk}}" class="{% if sessao.sessao == sessaolegislativa_ativa %}active{% endif %}">{{sessao.sessao}}</a>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
      </div> 
      <div class="row container-avatar inner-mesa">
        <div class="tags w-100">Mesa Diretora</div>
        <div class="inner-parla w-100">
          {% for leg in legislaturas %}
            {% if leg.legislatura == legislatura_ativa %}
              {% for sessao in leg.sessoes %}
                {% if sessao.sessao == sessaolegislativa_ativa %}
                  {% for parlamentar in sessao.mesa %}
                    {% comment %}
                      <a class="avatar avatar2" href="/{{parlamentar.classe_set.first.absolute_slug}}" class="{% if parlamentar == parlamentar_ativo %}active{% endif %}">
                    {% endcomment %}
                      <a class="avatar avatar2" href="{% url 'sapl.parlamentares:parlamentar_detail' parlamentar.id %}" class="{% if parlamentar == parlamentar_ativo %}active{% endif %}">

                      {% if parlamentar.fotografia %}
                        <img src="{% thumbnail parlamentar.fotografia 1000x1000 box=parlamentar.cropping crop detail %}">
                      {% else %}
                          <img src="{% webpack_static 'img/perfil.jpg' %}">
                      {% endif %}
                        <span>{{parlamentar}}</span>
                        <small>{{parlamentar.cargo_mesa}}</small>
                      </a>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="row inner-parlamentares">
    <div class="tags w-100 pl-3">Parlamentares Titulares</div>
    <div class="col-xs-12 container-avatar inner-ativos w-100">
      {% for leg in legislaturas %}
        {% if leg.legislatura == legislatura_ativa %}
          {% for sessao in leg.sessoes %}
            {% if sessao.sessao == sessaolegislativa_ativa %}
              {% for parlamentar in sessao.parlamentares %}
                {% if parlamentar.titular and not parlamentar.afastado%}
                  <a class="avatar avatar3" href="/{{parlamentar.classe_set.first.absolute_slug}}" class="{% if parlamentar == parlamentar_ativo %}active{% endif %}">
                  {% if parlamentar.fotografia %}
                          <img src="{% thumbnail parlamentar.fotografia 1000x1000 box=object.parlamentar.cropping crop detail %}">
                  {% else %}
                      <img src="{% webpack_static 'img/perfil.jpg' %}">
                  {% endif %}
                    <span>{{parlamentar}}</span>
                  </a>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="row inner-extra">
    <div class="col-6 container-avatar inner-suplentes">
      <div class="tags">Parlamentares Suplentes</div>
      {% for leg in legislaturas %}
        {% if leg.legislatura == legislatura_ativa %}
          {% for sessao in leg.sessoes %}
            {% if sessao.sessao == sessaolegislativa_ativa %}
              {% for parlamentar in sessao.parlamentares %}
                {% if not parlamentar.titular and not parlamentar.afastado %}
                  <a class="avatar avatar3" href="/{{parlamentar.classe_set.first.absolute_slug}}" class="{% if parlamentar == parlamentar_ativo %}active{% endif %}">
                  {% if parlamentar.fotografia %}
                      <img src="{% cropped_thumbnail parlamentar "fotografia_cropping" %}">
                  {% else %}
                      <img src="{% webpack_static 'img/perfil.jpg' %}">
                  {% endif %}
                    <span>{{parlamentar}}</span>
                  </a>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
    <div class="col-6 container-avatar inner-inativos ">
      <div class="tags">Parlamentares Inativos</div>
      {% for leg in legislaturas %}
        {% if leg.legislatura == legislatura_ativa %}
          {% for sessao in leg.sessoes %}
            {% if sessao.sessao == sessaolegislativa_ativa %} 
              {% for parlamentar in sessao.parlamentares %}

                {% if parlamentar.afastado %}
                  <a class="avatar avatar3" href="/{{parlamentar.classe_set.first.absolute_slug}}" class="{% if parlamentar == parlamentar_ativo %}active{% endif %}">
                  {% if parlamentar.fotografia %}
                      <img src="{% cropped_thumbnail parlamentar "fotografia_cropping" %}">
                  {% else %}
                      <img src="{% webpack_static 'img/perfil.jpg' %}">
                  {% endif %}
                    <span>{{parlamentar}}</span>
                  </a>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block cmj_extra_content %}
{% endblock %}
