
{% extends "base_path.html" %}
{% load i18n sigad_filters social_utils cropping thumbnail %}
{% load webpack_static from webpack_loader %}

{% block main_container_class %}container-path container-path-parlamentar{% endblock %}
{% block base_functions %}{% endblock %}
{% block base_header %}
  <div class="container-fluid container-topo-parlamentar">
    <div class="inner">
      <div class="path-capa {% if not object.parlamentar.capa  %}path-capa-semfoto{% endif %}">
        <div class="container">
          <img src="{% thumbnail object.parlamentar.capa 9000x9000 box=object.parlamentar.capa_cropping crop detail %}">
        </div>
      </div>

      <div class="path-header">
        <div class="container">
          {% block title %}
          {% social_link_share object 'absolute-top-center' %}


            {{block.super}}
          {% endblock %}
          <div class="path-parlamentares">
            <a class="avatar avatar1" href="/{{ object.absolute_slug }}">
              {% if object.parlamentar.fotografia %}
                  <img src="{% thumbnail object.parlamentar.fotografia 9000x9000 box=object.parlamentar.fotografia_cropping crop detail %}">
              {% else %}
                  <img src="{% webpack_static 'img/perfil.jpg' %}">
              {% endif %}
            </a>
          </div>
        </div>
      </div>



    </div>
  </div>

  {% block controls_content %}
    {% if perms.sigad.change_classe %}
      <a href="{% url 'cmj.sigad:classe_edit' object.id %}">{% trans "[Editar]" %}</a>
    {% endif %}
  {% endblock %}
{% endblock %}

{% block base_content %}

<div class="container">
  <div class="container-list">
    {% with slug as prefixo_slug %}
      {% with 0 as split_row %}
        {% with 'path-item-list col-md-4' as css_class %}
          {% include "path/path_list_docs.html" %}
        {% endwith %}
      {% endwith %}
    {% endwith %}
  </div>
  {% include "paginacao.html" %}
</div>


{% endblock %}

{% block cmj_extra_content %}
  <div class="container-fluid container{{fluid}}{{path}}">
    ...
  </div>
{% endblock %}
