{% load i18n sigad_filters %}

{% for documento in object_list %}
    <div class="{{css_class}}">
      {% with documento.parlamentares.count as count_parlamentares %}
        <div class="inner">
          {% comment %} primeiro container, o primeiro item {% endcomment %}
          {% with documento.childs.view_childs.first as primeiro_container %}
            {% with primeiro_container.childs.view_childs.first as primeiro_item %}
              {% if primeiro_item.tipo == primeiro_item.TPD_IMAGE %}
                <div class="path-imagem {{primeiro_item.css_class}}">
                  <div class="imagem" style="background-image: url(/{{primeiro_item.absolute_slug}}.512)"></div>
                  <a class="img-contexto" href="{% url 'cmj.sigad:path_view' documento.absolute_slug %}">
                    <div class="texto">
                      <div class="titulo">{{primeiro_item.titulo|default:''}}</div>

                    </div>
                  </a>
                  <div class="autor">{{primeiro_item.autor|default:''}}</div>
                </div>
              {% else %}
              {% endif %}
            {% endwith %}
          {% endwith %}

          <span class="data-pub">
            {% comment %}
              FIXME tratar histórico de revisão e publicação/privacidade
            {% endcomment %}
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            {{documento.public_date|date:"d"}} {% trans "de" %} {{documento.public_date|date:"F"}} {% trans "de" %} {{documento.public_date|date:"Y"}}
          </span>

          <div class="titulo">
            <a href="{% url 'cmj.sigad:path_view' documento.absolute_slug %}">
              {{documento.titulo}}
            </a>
          </div>

          {% for parlamentar in documento.parlamentares.all %}
            {% if forloop.counter0 > 0 and forloop.counter0|organize_direction_avatars:count_parlamentares  %}
              </div>
            {% endif %}

            {% if forloop.counter0|organize_direction_avatars:count_parlamentares %}
              <div class="path-parlamentares">
            {% endif %}

              {% if parlamentar.fotografia %}
                <a class="avatar" href="#">
                  <img src="{{ parlamentar.fotografia.url }}">
                </a>
              {% endif %}

            {% if not forloop.last %}
              <span class="linebreak"></span>
            {% else %}
              </div>
            {% endif %}
          {% endfor %}

          {% if documento.descricao %}
            <div class="descricao">
              {{documento.descricao|striptags|safe}}
            </div>
          {% endif %}

          <div class="clearfix"></div>

        </div>
      {% endwith %}
    </div>
{% endfor %}
