{% extends "base_path.html" %}
{% load i18n sigad_filters social_utils %}
{% block head_title %}{{block.super}} - {{object}}{% endblock head_title %}
{% block main_container_class %}container-path{% endblock %}

{% block controls_content %}
  {% if perms.sigad.change_documento %}
    <a class="btn btn-default" href="{% url 'cmj.sigad:documento_construct' object.id %}">{% trans "Editar" %}</a>
  {% endif %}
  {% if perms.sigad.delete_documento %}
    <a class="btn btn-danger" href="{% url 'cmj.sigad:documento_delete' object.id %}">{% trans "Excluir" %}</a>
  {% endif %}
{% endblock %}

{% block base_functions %}
  {% if next %}
    <div class="path-direction path-next">
      <a href="{% if view.parlamentar %}/{{view.parlamentar.absolute_slug}}{% endif %}{% url 'cmj.sigad:path_view' next.absolute_slug %}">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>
      <div class="inner">
        <div class="titulo">
          <a href="{% if view.parlamentar %}/{{view.parlamentar.absolute_slug}}{% endif %}{% url 'cmj.sigad:path_view' next.absolute_slug %}">
            {{next.titulo}}
          </a>
        </div>

          {% if next.childs.view_childs.first.tipo == next.childs.view_childs.first.TPD_IMAGE %}
            <div class="path-imagem {{next.childs.view_childs.first.midia.last.css_class}} img128">
              <img src="/{{next.childs.view_childs.first.absolute_slug}}.128" alt="" />
            </div>
          {% endif %}

            {% with next.parlamentares.count as count_parlamentares %}
              {% for parlamentar in next.parlamentares.all %}

                {% if forloop.counter0 > 0 and forloop.counter0|organize_direction_avatars:count_parlamentares  %}
                  </div>
                {% endif %}

                {% if forloop.counter0|organize_direction_avatars:count_parlamentares %}
                  <div class="path-parlamentares">
                {% endif %}

                  {% if parlamentar.fotografia %}
                    <a class="avatar" href="/{{ parlamentar.classe_set.first.absolute_slug }}">
                      <img src="{{ parlamentar.fotografia.url }}">
                    </a>
                  {% endif %}

                {% if not forloop.last %}
                  <span class="linebreak"></span>
                {% else %}
                  </div>
                {% endif %}

              {% endfor %}
            {% endwith %}
        <div class="descricao">
          {{next.descricao}}
        </div>
      </div>
    </div>
  {% endif %}

  {% if previous %}
    <div class="path-direction path-previous">

      <a href="{% if view.parlamentar %}/{{view.parlamentar.absolute_slug}}{% endif %}{% url 'cmj.sigad:path_view' previous.absolute_slug %}">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </a>
      <div class="inner">
        <div class="titulo">
          <a href="{% if view.parlamentar %}/{{view.parlamentar.absolute_slug}}{% endif %}{% url 'cmj.sigad:path_view' previous.absolute_slug %}">
            {{previous.titulo}}
          </a>
        </div>

          {% if previous.childs.view_childs.first.tipo == previous.childs.view_childs.first.TPD_IMAGE %}
            <div class="path-imagem {{previous.childs.view_childs.first.midia.last.css_class}} img128">
              <img src="/{{previous.childs.view_childs.first.absolute_slug}}.128" alt="" />
            </div>
          {% endif %}


            {% with previous.parlamentares.count as count_parlamentares %}
              {% for parlamentar in previous.parlamentares.all %}

                {% if forloop.counter0 > 0 and forloop.counter0|organize_direction_avatars:count_parlamentares  %}
                  </div>
                {% endif %}

                {% if forloop.counter0|organize_direction_avatars:count_parlamentares %}
                  <div class="path-parlamentares">
                {% endif %}

                  {% if parlamentar.fotografia %}
                    <a class="avatar" href="/{{ parlamentar.classe_set.first.absolute_slug }}">
                      <img src="{{ parlamentar.fotografia.url }}">
                    </a>
                  {% endif %}

                {% if not forloop.last %}
                  <span class="linebreak"></span>
                {% else %}
                  </div>
                {% endif %}

              {% endfor %}
            {% endwith %}
        <div class="descricao">
          {{previous.descricao}}
        </div>
      </div>
    </div>
  {% endif %}

  {{block.super}}


{% endblock %}

{% block base_container_header %}
{% endblock %}


{% block base_content %}
  {% block render_content %}

  {% with  object.childs.view_childs.first  as container%}
    <div class="container{% if container.tipo == container.TPD_CONTAINER_EXTENDIDO%}-fluid{% endif %} {% if forloop.first%}container-first{% endif %}">
      {% with object.parlamentares.count as count_parlamentares %}
        {% for parlamentar in object.parlamentares.all %}

          {% if forloop.counter0 > 0 and forloop.counter0|organize_avatars:count_parlamentares %}
            </div>
          {% endif %}

          {% if forloop.counter0|organize_avatars:count_parlamentares %}
            <div class="path-parlamentares">
          {% endif %}

            {% if parlamentar.fotografia %}
              <a class="avatar avatar{% if count_parlamentares >= 5 %}5{%else%}{{count_parlamentares}}{% endif %}" href="/{{ parlamentar.classe_set.first.absolute_slug }}">
                <img src="{{ parlamentar.fotografia.url }}">
              </a>
            {% endif %}

          {% if not forloop.last %}
            <span class="linebreak"></span>
          {% else %}
            </div>
          {% endif %}

        {% endfor %}
      {% endwith %}
      {% block base_header %}
         {{block.super}}
      {% endblock %}
      {{object.texto|default:''|safe|urlize}}
    </div>
  {% endwith %}

    {% for container in object.childs.view_childs %}
      <div class="container{% if container.tipo == container.TPD_CONTAINER_EXTENDIDO%}-fluid{% endif %} {% if forloop.first%}container-first{% endif %}">
        {% if container.titulo %}
          <div class="path-title-container">
              <br>{{container.titulo}}
          </div>
        {% endif %}
        {% if container.descricao %}
          <div class="path-description">
            {{container.descricao}}
          </div>
        {% endif %}

      {% for child in container.childs.view_childs %}
        {% if child.tipo == child.TPD_TEXTO %}
          {% if child.titulo %}
            <span class="path-title-partes">{{child.titulo|safe|urlize}}</span>
          {% endif %}
          {% if child.texto %}
            {{child.texto|safe|urlize}}
          {% endif %}

          {% elif child.tipo == child.TPD_VIDEO %}
            {% if child.titulo %}    <span class="path-title-partes">{{child.titulo|safe|urlize}}</span> {% endif %}
            {% if child.descricao %} <small>{{child.descricao|safe|urlize}}</small>{% endif %}

            {% if child.texto %}
              <div class="embed-responsive embed-responsive-16by9">
                {{child.texto|safe}}
              </div>
            {% endif %}

          {% elif child.tipo == child.TPD_AUDIO %}
            {% if child.titulo %}    <span class="path-title-partes">{{child.titulo|safe|urlize}}</span>{% endif %}
            {% if child.descricao %} <small>{{child.descricao|safe|urlize}}</small>{% endif %}
            {% if child.texto %}
              <div class="embed-responsive embed-responsive-16by9 embed-audio">
                {{child.texto|safe}}
              </div>
            {% endif %}

          {% elif child.tipo == child.TPD_IMAGE %}
            <div class="path-imagem {{child.alinhamento_css_class}}">
              <a href="/{{child.absolute_slug}}" target="_blank">
                <img src="/{{child.absolute_slug}}.{%if child.alinhamento == 1%}1024{%else%}512{%endif%}.jpg" alt="" />
              </a>
              <div  class="img-contexto">
                <div class="autor">{{child.autor|default:''}}</div>
                {% if child.titulo or child.descricao %}
                <div class="texto">
                  <div class="titulo">{{child.titulo|default:child.parents.0.titulo}}</div>
                  <div class="descricao">{{child.descricao|default:''}}</div>
                </div>
                {% endif %}
              </div>
            </div>

          {% elif child.tipo == child.TPD_GALLERY %}
              {% with child as object %}
                {% include "path/path_gallery.html" %}
              {% endwith %}
        {% endif %}
      {% endfor %}
      {% if forloop.first and not forloop.last %}
        <div class="painel-corte">
          <div class="btn btn-success">
            {% trans "Continuar Lendo" %}
          </div>
        </div>
      {% endif %}
    </div>
  {% endfor %}

  {% endblock %}

{% endblock %}

{% block cmj_extra_content %}
  <div class="{% if path %}container{{path}}{% endif %} container-fluid container-footer">
    <div class="container">
      <div class="row">
        {% with 'path-item-list col-md-3' as css_class %}
          {% include "path/path_list_docs.html" %}
        {% endwith %}

      </div>
    </div>
  </div>
{% endblock %}


{% block extra_js  %}


<script type="text/javascript">
  $(document).ready(function(){
    ContainerFirst();
    Gallery().init();
  });
</script>
{% endblock %}
