{% extends "base_path.html" %}
{% load i18n sigad_filters common_cmj_tags%}

{% block historico_publicacao %}{% endblock %}
{% block title %}

{% endblock %}
{% block base_content %}
  {% block controls_content %}
    {% if perms.sigad.change_classe %}
      <a href="{% url 'cmj.sigad:subclasse_list' object.id %}">{% trans "[Admin]" %}</a>
      <a href="{% url create_doc_url object.id %}">[{% trans "Adicionar item a" %} {{object }}]</a>
    {% endif %}
  {% endblock %}

  <div class="row">
    {% with 'path-item-list col-lg-10 col-lg-offset-1' as css_class %}
      {% include "path/path_list_docs.html" %}
    {% endwith %}
  </div>


  {% include "paginacao.html" %}

{% endblock %}

{% block cmj_extra_content %}
  <div class="container-fluid container{{fluid}}{{path}}">
    ...
  </div>
{% endblock %}
