{% extends "base_path.html" %}
{% load i18n sigad_filters social_utils %}
{% block head_title %}{{block.super}} - {{object}}{% endblock head_title %}
{% block main_container_class %}container-path{% endblock %}

{% block controls_content %}
  {% if object.classe %}
    {% if perms.sigad.change_documento %}
      <a class="btn btn-outline-primary" href="{% url 'cmj.sigad:documento_construct' object.id %}">{% trans "Editar" %}</a>
    {% endif %}
    {% if perms.sigad.delete_documento %}
      <a class="btn btn-danger" href="{% url 'cmj.sigad:documento_delete' object.id %}">{% trans "Excluir" %}</a>
    {% endif %}
  {% endif %}

  {% if not object.classe or object == object.classe.capa %}
    {% if perms.sigad.change_classe %}
      <a class="btn btn-outline-primary" href="{% url 'cmj.sigad:subclasse_list' object.classe.id %}">{% trans "Editar Classe" %}: {{object.classe}}</a>
    {% endif %}
    {% if perms.sigad.add_documento and create_doc_url %}
      <a class="btn btn-outline-primary" href="{% url create_doc_url object.classe.id %}">{% trans "Adicionar item a" %} {{object.classe }}</a>
    {% endif %}
  {% endif %}

{% endblock %}

{% block base_functions %}
  {% if next %}
    <div class="path-direction path-next">
      <a href="{% if view.parlamentar %}/{{view.parlamentar.absolute_slug}}{% endif %}{% url 'cmj.sigad:path_view' next.absolute_slug %}">
        <i class="fas fa-chevron-right" aria-hidden="true"><span>Próximo</span></i>
      </a>
      <div class="inner">
        <div class="titulo">
          <a href="{% if view.parlamentar %}/{{view.parlamentar.absolute_slug}}{% endif %}{% url 'cmj.sigad:path_view' next.absolute_slug %}">
            {{next.titulo}}
          </a>
        </div>

          {% if next.childs.view_childs.first.tipo == next.childs.view_childs.first.TPD_IMAGE %}
            <div class="path-imagem {{next.childs.view_childs.first.midia.last.css_class}} img128">
              <img src="/{{next.childs.view_childs.first.absolute_slug}}.128" alt="" />
            </div>
          {% endif %}

            {% with next.parlamentares.count as count_parlamentares %}
              {% for parlamentar in next.parlamentares.all %}

                {% if forloop.counter0 > 0 and forloop.counter0|organize_direction_avatars:count_parlamentares  %}
                  </div>
                {% endif %}

                {% if forloop.counter0|organize_direction_avatars:count_parlamentares %}
                  <div class="path-parlamentares">
                {% endif %}

                  {% if parlamentar.fotografia %}
                    <a class="avatar" href="/{{ parlamentar.classe_set.first.absolute_slug }}" title="{{parlamentar}}">
                      <img src="{{ parlamentar.fotografia.url }}" alt="{{parlamentar}}">
                    </a>
                  {% endif %}

                {% if not forloop.last %}
                  <span class="linebreak"></span>
                {% else %}
                  </div>
                {% endif %}

              {% endfor %}
            {% endwith %}
        <div class="descricao">
          {{next.descricao}}
        </div>
      </div>
    </div>
  {% endif %}

  {% if previous %}
    <div class="path-direction path-previous">

      <a href="{% if view.parlamentar %}/{{view.parlamentar.absolute_slug}}{% endif %}{% url 'cmj.sigad:path_view' previous.absolute_slug %}">
        <i class="fa fa-chevron-left" aria-hidden="true"><span>Anterior</span></i>
      </a>
      <div class="inner">
        <div class="titulo">
          <a href="{% if view.parlamentar %}/{{view.parlamentar.absolute_slug}}{% endif %}{% url 'cmj.sigad:path_view' previous.absolute_slug %}">
            {{previous.titulo}}
          </a>
        </div>

          {% if previous.childs.view_childs.first.tipo == previous.childs.view_childs.first.TPD_IMAGE %}
            <div class="path-imagem {{previous.childs.view_childs.first.midia.last.css_class}} img128">
              <img src="/{{previous.childs.view_childs.first.absolute_slug}}.128" alt="" />
            </div>
          {% endif %}


            {% with previous.parlamentares.count as count_parlamentares %}
              {% for parlamentar in previous.parlamentares.all %}

                {% if forloop.counter0 > 0 and forloop.counter0|organize_direction_avatars:count_parlamentares  %}
                  </div>
                {% endif %}

                {% if forloop.counter0|organize_direction_avatars:count_parlamentares %}
                  <div class="path-parlamentares">
                {% endif %}

                  {% if parlamentar.fotografia %}
                    <a class="avatar" href="/{{ parlamentar.classe_set.first.absolute_slug }}" title="{{parlamentar}}">
                      <img src="{{ parlamentar.fotografia.url }}" alt="{{parlamentar}}">
                    </a>
                  {% endif %}

                {% if not forloop.last %}
                  <span class="linebreak"></span>
                {% else %}
                  </div>
                {% endif %}

              {% endfor %}
            {% endwith %}
        <div class="descricao">
          {{previous.descricao}}
        </div>
      </div>
    </div>
  {% endif %}

  {{block.super}}


{% endblock %}

{% block base_container_header %}
{% endblock %}


{% block base_content %}
  {% block render_content %}

  {% with  object.childs.view_childs.first  as container%}
    <div class="container{% if container.tipo == container.TPD_CONTAINER_EXTENDIDO%}-fluid{% endif %} {% if forloop.first%}container-first{% endif %}">
      {% with object.parlamentares.count as count_parlamentares %}
        {% for parlamentar in object.parlamentares.all %}

          {% if forloop.counter0 > 0 and forloop.counter0|organize_avatars:count_parlamentares %}
            </div>
          {% endif %}

          {% if forloop.counter0|organize_avatars:count_parlamentares %}
            <div class="path-parlamentares">
          {% endif %}

            {% if parlamentar.fotografia %}
              <a class="avatar avatar{% if count_parlamentares >= 5 %}5{%else%}{{count_parlamentares}}{% endif %}" href="/{{ parlamentar.classe_set.first.absolute_slug }}" title="{{parlamentar}}">
                <img src="{{ parlamentar.fotografia.url }}" alt="{{parlamentar}}">
              </a>
            {% endif %}

          {% if not forloop.last %}
            <span class="linebreak"></span>
          {% else %}
            </div>
          {% endif %}

        {% endfor %}
      {% endwith %}
      {% block base_header %}
         {{block.super}}
      {% endblock %}
      <div class="container container-simples">
        {{object.texto|default:''|safe|urlize}}
      </div>
      <div class="clearfix"></div>
    </div>
  {% endwith %}

  {% for container in object.childs.view_childs %}
    {% if container.tipo == container.TPD_CONTAINER_FILE and container.childs.exists %}
      <div class="container container-file">
        <a class="icon-container" tabindex="{{view.tabindex}}" href="/{{container.slug}}" target="_blank">
          <i class="far fa-2x fa-file-{% if container.is_pdf_container %}pdf{% else %}archive{% endif %}"></i>
        </a>
        <div class="path-title-container" >
          <a tabindex="{{view.tabindex}}" href="/{{container.slug}}" target="_blank">
            <span >
              {{container.titulo|default:''|safe|urlize}}
            </span>
          </a>
        </div>
        <div class="path-description">
          {{container.descricao|default:''|safe|urlize}}
        </div>

        <span class="path-autor">
          {{container.autor|default:''|safe|urlize}}
        </span>
        {% with rev=container.revisoes.first %}
          <span class="data-pub">
            {{rev.data}} - {% trans "por:" %} {{rev.user.first_name|default:rev.user.email}}
          </span>
        {% endwith %}

        {% if not container.is_pdf_container %}
          <div class="inner-container">
            {% for item in container.childs.view_childs %}
              <div class="inner-item">
                <a class="icon-container" tabindex="{{view.tabindex}}" href="/{{item.slug}}" target="_blank">
                  <i class="far fa-file-{% if item.is_pdf_container %}pdf{% else %}archive{% endif %}"></i>
                </a>
                <div class="path-title-container" >
                  <a tabindex="{{view.tabindex}}" href="/{{item.slug}}" target="_blank">
                    <span >
                      {{item.titulo|default:'Arquivo'|safe|urlize}}
                    </span>
                  </a>
                </div>
                <div class="path-description">
                  {{item.descricao|default:''|safe|urlize}}
                </div>
                <span class="path-autor">
                  {{item.autor|default:''|safe|urlize}}
                </span>
                
                {% with rev=item.revisoes.first %}
                  <span class="data-pub">
                    {{rev.data}} - {% trans "por:" %} {{rev.user.first_name|default:rev.user.email}}
                  </span>
                {% endwith %}
              </div>
            {% endfor %}
          </div>
        {% endif %}

      </div>
    {% else %}


      <div class="container{% if container.tipo == container.TPD_CONTAINER_EXTENDIDO%}-fluid{% else %} container-simples{% endif %} {% if forloop.first%}container-first{% endif %}">
        
        {% if container.titulo %}
          <div class="path-title-container">
              <br>{{container.titulo}}
          </div>
        {% endif %}


        {% if container.descricao %}
          <div class="path-description">
            {{container.descricao}}
          </div>
        {% endif %}

        {% for child in container.childs.view_childs %}
          {% if child.tipo == child.TPD_TEXTO %}


            {% if child.titulo %}
              <span class="path-title-partes">{{child.titulo|safe|urlize}}</span>
            {% endif %}
            {% if child.texto %}
              {{child.texto|safe|urlize}}
            {% endif %}


          {% elif child.tipo == child.TPD_VIDEO %}


            {% if child.titulo %}<span class="path-title-partes">{{child.titulo|safe|urlize}}</span>{% endif %}
            {% if child.descricao %}<small>{{child.descricao|safe|urlize}}</small>{% endif %}

            {% if child.texto %}
              <div class="embed-responsive embed-responsive-16by9">
                {{child.texto|safe}}
              </div>
            {% endif %}


          {% elif child.tipo == child.TPD_AUDIO %}


            {% if child.titulo %}    <span class="path-title-partes">{{child.titulo|safe|urlize}}</span>{% endif %}
            {% if child.descricao %} <small>{{child.descricao|safe|urlize}}</small>{% endif %}
            {% if child.texto %}
              <div class="embed-responsive embed-responsive-16by9 embed-audio">
                {{child.texto|safe}}
              </div>
            {% endif %}


          {% elif child.tipo == child.TPD_IMAGE and child.raiz.tipo != child.TD_VIDEO_NEWS %}
            <div class="path-imagem {{child.alinhamento_css_class}}">

              <a href="/{{child.absolute_slug}}" target="_blank">
                <img src="/{{child.absolute_slug}}.{%if child.alinhamento == 1%}1024{%else%}512{%endif%}.jpg" alt="{% if child.titulo and not child.descricao %}{{child.titulo|default:child.parents.0.titulo}}{% endif %}{% if not child.titulo and child.descricao %}{{child.descricao|default:child.parents.0.descricao}}{% endif %}{% if not child.titulo and not child.descricao %}{{child.parents.0.descricao}}{% endif %}" />
              </a>
              <div  class="img-contexto">

                <span class="autor">{{child.autor|default:''}}</span>
                {% if child.titulo or child.descricao %}
                  <div class="texto">
                    <div class="titulo">{{child.titulo|default:child.parents.0.titulo}}</div>
                    <div class="descricao">{{child.descricao|default:''}}</div>
                  </div>
                {% endif %}

              </div>
            </div>

          {% elif child.tipo == child.TPD_FILE %}

              <div class="container-file">
                <a class="icon-container" tabindex="{{view.tabindex}}" href="/{{child.slug}}" target="_blank">
                  <i class="far fa-file-{% if child.is_pdf %}pdf{% else %}archive{% endif %}"></i>
                </a>
                <div class="path-title-container" >
                  <a tabindex="{{view.tabindex}}" href="/{{child.slug}}" target="_blank">
                    <span >
                      {{child.titulo|default:'Arquivo'|safe|urlize}}
                    </span>
                  </a>
                </div>
                <div class="path-description">
                  {{child.descricao|default:''|safe|urlize}}
                </div>
                <span class="path-autor">
                  {{child.autor|default:''|safe|urlize}}
                </span>
                
                {% with rev=child.revisoes.first %}
                  <span class="data-pub">
                    {{rev.data}} - {% trans "por:" %} {{rev.user.first_name|default:rev.user.email}}
                  </span>
                {% endwith %}
              </div>


          {% elif child.tipo == child.TPD_GALLERY %}
              {% with child as object %}
                {% include "path/path_gallery.html" %}
              {% endwith %}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    {% comment %}
    
    {% if forloop.first and not forloop.last %}
      <div class="painel-corte">
        <div class="btn btn-success">
          {% trans "Continuar Lendo" %}
        </div>
      </div>
    {% endif %}
    {% endcomment %}
  {% endfor %}

{% endblock %}

{% endblock %}



{% block cmj_extra_content %}
{% if object != object.classe.capa %}
  <div class="{% if path %}container{{path}}{% endif %} container-fluid container-footer d-print-none">
    <div class="container">
      <div class="row">
        {% with 'path-item-list col-md-3' as css_class %}
          {% include "path/path_list_docs.html" %}
        {% endwith %}
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}


{% block extra_js  %}


<script>
  $(document).ready(function (){
    //ContainerFirst();
    Gallery().init();
  });
</script>
{% endblock %}
