{% load i18n sigad_filters social_utils %}
<div class="container-gallery">
  <span class="btn-close invisible">
    <i class="fa fa-times fa-3" aria-hidden="true"></i>
  </span>
  <div class="gallery-inner">
    <div class="gallery-show active">
      <div class="show-image">
        <div class="image">
          <div class="progress invisible">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
          </div>
          <img src="/{{object.cita.first.absolute_slug}}.96.jpg" alt="" />
        </div>
      </div>
      <div class="show-contexto">
        <div class="show-sep"></div>
        <div class="show-texto"></div>
      </div>
    </div>
    <div class="gallery-thumbnails">
      <div class="thumb-scroll">
      {% for ref_doc in object.cita.all %}
        <div class="gallery-item">
          <img src="/{{ref_doc.absolute_slug}}.256.jpg" data-src="/{{ref_doc.absolute_slug}}.1024.jpg"  alt="" />
            <div class="show-texto">
                {% social_link_share ref_doc 'top-right block'%}
              <div class="show-titulo">
                {% if ref_doc.titulo %}
                  {{ref_doc.titulo}}
                {% elif ref_doc.referenciado.titulo %}
                  {{ref_doc.referenciado.titulo}}
                {% elif object.titulo %}
                  {{object.titulo}}
                {% else %}
                  {{object.raiz.titulo}}
                {% endif %}
              </div>
              <div class="show-descricao">
                {% if ref_doc.descricao %}
                  {{ref_doc.descricao|safe}}
                {% elif ref_doc.referenciado.descricao %}
                  {{ref_doc.referenciado.descricao|safe}}
                {% elif object.descricao %}
                  {{object.descricao|safe}}
                {% else %}
                  {{object.raiz.descricao|safe}}
                {% endif %}

              </div>
              <div class="show-autor">
                {% if ref_doc.autor %}
                  {{ref_doc.autor}}
                {% elif object.autor %}
                  {{object.autor}}
                {% else %}
                  {{object.parents.0.autor|default:''}}
                {% endif %}
              </div>
            </div>

        </div>
      {% endfor %}
      </div>
    </div>
    <div class="path-direction path-next">
      <a href="">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>
    </div>
    <div class="path-direction path-previous">
      <a href="">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </a>
    </div>
  </div>

</div>
