{% load i18n sigad_filters %}

<div class="row">
  {% for documento in object_list %}
    <div class="{{css_class}}">
      <div class="inner">

        <div class="titulo">
          <a href="{% url 'cmj.sigad:path_view' documento.absolute_slug %}">
            {{documento.titulo}}
          </a>
        </div>


        {% with documento.parlamentares.count as count_parlamentares %}
          {% for parlamentar in documento.parlamentares.all %}

            {% if forloop.counter0 > 0 and forloop.counter0|organize_direction_avatars:count_parlamentares  %}
              </div>
            {% endif %}

            {% if forloop.counter0|organize_direction_avatars:count_parlamentares %}
              <div class="path-parlamentares">
            {% endif %}

              {% if parlamentar.fotografia %}
                <a class="avatar" href="#">
                  <img src="{{ parlamentar.fotografia.url }}">
                </a>
              {% endif %}

            {% if not forloop.last %}
              <span class="linebreak"></span>
            {% else %}
              </div>
            {% endif %}
          {% endfor %}
        {% endwith %}

        <span class="data-pub">
          {% comment %}
            FIXME tratar histórico de revisão e publicação/privacidade
          {% endcomment %}
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          {{documento.public_date|date:"d"}} {% trans "de" %} {{documento.public_date|date:"F"}} {% trans "de" %} {{documento.public_date|date:"Y"}}
        </span>

        {% if documento.childs.view_childs.first.tipo == documento.childs.view_childs.first.TPD_IMAGE %}
          <div class="path-imagem {{documento.childs.view_childs.first.midia.last.css_class}}">
            <img src="/{{documento.childs.view_childs.first.absolute_slug}}.512" alt="" />

          </div>
        {% else %}
        {% endif %}

        {% if documento.descricao %}
          <div class="descricao">
            {{documento.descricao}}
          </div>
        {% endif %}
        <div class="clearfix"></div>

      </div>
    </div>
  {% endfor %}
</div>
