-r test-requirements.txt
autopep8==2.2.0
beautifulsoup4==4.12.3
django-debug-toolbar==2.2.1
pygraphviz==1.10
pipdeptree



opencv-contrib-python-headless
pymupdf

#sudo apt install tesseract
#sudo apt install tesseract-ocr
#sudo apt install tesseract-ocr-por
#sudo apt install jbig2enc
