# -r test-requirements.txt

#autopep8==2.3.1
#django-debug-toolbar==4.4.6
#pygraphviz==1.14

pipdeptree==2.25.0

jupyter # Instala os pacotes abaixo
  #notebook - Jupyter Notebook
  #jupyterlab - JupyterLab (added to metapackage v1.1)
  #ipython - IPython (terminal)
  #ipykernel - IPython Kernel for Jupyter
  #jupyter-console - terminal Jupyter client
  #nbconvert - convert notebooks between formats
  #ipywidgets - interactive widgets package for IPython

plotly==6.0.0
pandas==2.2.3
numpy==2.2.3

#opencv-contrib-python-headless

#sudo apt install tesseract
#sudo apt install tesseract-ocr
#sudo apt install tesseract-ocr-por
#sudo apt install jbig2enc
