django>=1.11,<2.0
django-haystack==2.6.0
django-bootstrap4
django-braces==1.9.0
django-compressor==2.0
django-crispy-forms==1.7.2
django-extensions==1.9.7
django-extra-views==0.11.0
django-filter==1.1
django-floppyforms==1.6.2
django-model-utils==3.1.1
django-sass-processor==0.5.8
django-image-cropping==1.2
django-reversion==2.0.8
djangorestframework==3.7.3
djangorestframework-recursive
social-auth-app-django==2.0.0
django-reversion-compare==0.8.4
django-speedinfo==1.3.5
easy-thumbnails==2.5
django-taggit
django-webpack-loader

git+git://github.com/django-admin-bootstrapped/django-admin-bootstrapped.git
git+git://github.com/jasperlittle/django-rest-framework-docs
git+git://github.com/interlegis/trml2pdf.git
git+git://github.com/cmjatai/sapl.git@3.1.x.cmj.cmj-portal
