django>=2.2.13,<3.0
django-braces==1.14.0
django-celery-results==1.2.1
django-crispy-forms==1.9.1
django-extensions==2.2.9
django-filter==2.2.0
django-floppyforms==1.9.0
django-haystack==2.8.1
django-image-cropping==1.2.0
django-model-utils==4.0.0
#django-reversion==3.0.7
#django-reversion-compare==0.12.2
django-webpack4-loader

djangorestframework==3.11.2
drf_yasg==1.17.0
asn1crypto

boto3==1.18.19

billiard==3.6.3.0
celery==4.4.2

#billiard<4.0,>=3.6.4.0
#celery==5.1.2

celery-haystack==0.10

channels==2.4.0
channels_redis==2.4.2
#cryptography==3.3.2
daphne==2.5.0
dj-database-url==0.5.0
easy-thumbnails==2.7.0

gunicorn==20.0.4
jedi==0.17.2
kombu==4.6.8
pdfrw
Pillow==8.3.2
psycopg2-binary==2.8.5
pyoai==2.5.0
pypdf4==1.27.0
pysolr==3.9.0
python-dateutil==2.8.1
python-decouple==3.1
python-magic==0.4.18
pytz==2021.1
pyyaml==5.4
redis==3.5.2
reportlab==3.5.54
social-auth-app-django==3.1.0
unipath==1.1
WeasyPrint==51
qrcode
#html5lib==0.999999


git+git://github.com/interlegis/django-admin-bootstrapped
git+git://github.com/interlegis/trml2pdf.git
#git+git://github.com/cmjatai/sapl.git@master.para.portal.cmj

#django-extra-views==0.12.0
#django-speedinfo==2.0.1
#redis<=3.3.4
#Whoosh==2.7.4
#django-taggit