django==5.2.11


django-ratelimit==4.1.0

django-image-cropping==1.7.0   # Suporte ao django 4.2
django-haystack==3.3.0         # Suporte ao django 5.0
django-extensions==4.1

djangorestframework==3.16.0
django-filter==25.1

social-auth-app-django==5.6.0
python-telegram-bot==21.6

django-crispy-forms==2.3
crispy-bootstrap4==2025.6

ipython==9.8.0
pytz==2025.2
num2words==0.5.14

gunicorn==23.0.0
daphne==4.1.2
Twisted==24.7.0
channels==4.1.0
channels_redis==4.2.0
redis==5.1.1
celery==5.4.0
django-celery-results==2.5.1
django-celery-beat==2.8.1
#celery-haystack==0.10

git+https://github.com/LeandroJatai/celery-haystack.git

#git+https://github.com/LeandroJatai/django-dashboard.git@main_jatai
pandas

#django_prometheus==2.3.1

django-debug-toolbar==6.1.0
django-silk==5.4.3

pymupdf==1.25.1
pymupdf4llm==0.0.17

ocrmypdf==16.8.0
#pikepdf>=5.0.0,<6.0.0
trml2pdf
pypdf4==1.27.0
pdfrw
WeasyPrint==62.3
python-docx==1.1.2
XlsxWriter==3.2.0
Pillow==11.3.0
markdown==3.7

reportlab==4.2.5
rl-renderPM==4.0.3

django-braces==1.14.0
django-model-utils==4.0.0
drf-spectacular==0.24.2
django-webpack-loader



dj-database-url==0.5.0
easy-thumbnails==2.10

asn1crypto
boto3==1.26.95

beautifulsoup4==4.12.3
#billiard==3.6.3.0

#billiard<4.0,>=3.6.4.0
#celery==5.1.2
#kombu==4.6.8

python-dateutil==2.8.2

jedi==0.19.2
psycopg2-binary==2.9.9
pyoai==2.5.0
pysolr==3.9.0
python-decouple==3.1
python-magic==0.4.27
pyyaml==6.0.1
requests==2.32.4
unipath==1.1
qrcode
kazoo==2.8.0

opencv-python==4.11.0.86

python-osc==1.9.3


django-vite==3.1.0
crispy-bootstrap5==2025.6
