django==4.2.16
django-image-cropping==1.7.0
django-haystack==3.2.1
django-extensions==3.2.3

djangorestframework==3.15.2
django-filter==24.3

social-auth-app-django==5.4.2
python-telegram-bot==21.6

django-crispy-forms==2.3
crispy-bootstrap4==2024.1

pytz==2024.2
num2words==0.5.13

gunicorn==23.0.0
daphne==4.1.2
channels==4.1.0
channels_redis==4.2.0
redis==5.1.1
celery==5.4.0
django-celery-results==2.5.1
git+https://github.com/LeandroJatai/celery-haystack.git
#celery-haystack==0.10


pymupdf==1.24.11
ocrmypdf==16.5.0 # versões acima precisam do ghostscript acima de 9.53.3
#pikepdf>=5.0.0,<6.0.0
reportlab==4.2.5
trml2pdf
pypdf4==1.27.0
pdfrw
WeasyPrint==62.3
python-docx==1.1.2
XlsxWriter==3.2.0
Pillow==10.4.0
markdown==3.7

django-braces==1.14.0
django-model-utils==4.0.0
drf-spectacular==0.24.2
django-webpack4-loader



dj-database-url==0.5.0
easy-thumbnails==2.8.5

asn1crypto
boto3==1.26.95

beautifulsoup4==4.12.3
#billiard==3.6.3.0

#billiard<4.0,>=3.6.4.0
#celery==5.1.2
#kombu==4.6.8

python-dateutil==2.8.2

jedi==0.17.2
psycopg2-binary==2.9.9
pyoai==2.5.0
pysolr==3.9.0
python-decouple==3.1
python-magic==0.4.18
pyyaml==6.0.1
requests==2.32.0
unipath==1.1
qrcode
kazoo==2.8.0


ipython

#git+https://github.com/interlegis/django-admin-bootstrapped.git
#git+https://github.com/interlegis/trml2pdf.git
#git+git://github.com/cmjatai/sapl.git@master.para.portal.cmj

#django-extra-views==0.12.0
#django-speedinfo==2.0.1
#redis<=3.3.4
#Whoosh==2.7.4
#django-taggit

#cryptography==3.3.2
