-r requirements.txt
coverage==7.13.4
django-webtest==1.9.14
model_mommy==2.0.0
pep8==1.7.1
pytest==9.0.2
pytest-cov==7.0.0
pytest-django==4.12.0
webtest==3.0.7
model-bakery==1.23.3
pycodestyle==2.14.0