{% load i18n %}
<div class="card">
  <h3 class="p-2">{{ card.title }}</h3>
  <div class="card-body" style="{{ card.style|default:'' }}">
    {% if filter and render_filterset %}
      <form action="{{ card.url }}" role="chart-filter" data-chart-target="#{{ card.dash_name|slugify }}_{% if card.chart_type == card.TYPE_HTML %}html{% else %}chart{% endif %}">
        {{ filter.form }}
      </form>
    {% endif %}
    {% if card.chart_type == card.TYPE_HTML %}
      <div id="{{ card.dash_name|slugify }}_html" data-url="{{ card.url }}" role="dashcard-render"></div>
    {% else %}
      <canvas id="{{ card.dash_name|slugify }}_chart" data-url="{{ card.url }}" role="dashcard-render"></canvas>
    {% endif %}
  </div>
</div>