{% load i18n %}
<div class="card">
  <div class="card-title">{{ card.title }}</div>
  <div class="card-description">{{ card.description|default:'&nbsp;' }}</div>

  <div class="card-body" style="{{ card.style|default:'' }}">
    {% if filter and render_filterset %}
      <form action="{{ card.url }}" role="chart-filter" data-chart-target="#{{ card.dashcard_name }}_{% if card.chart_type == card.TYPE_HTML %}html{% else %}chart{% endif %}">
        {{ filter.form }}
      </form>
    {% endif %}
    {% if card.chart_type == card.TYPE_HTML %}
      <div id="{{ card.dashcard_name }}_html" data-url="{{ card.url }}" role="dashcard-render"></div>
    {% else %}
      <canvas id="{{ card.dashcard_name }}_chart" data-url="{{ card.url }}" role="dashcard-render"></canvas>
    {% endif %}
  </div>
  {% if card.rodape %}
    <div class="card-rodape"><em>{{ card.rodape }}</em></div>
  {% endif %}
</div>