table {
  /* font-family: 'Courier New', Courier, monospace;*/
  font-size: 8pt;
  display: table;
  border-collapse: collapse;
  width: 100%;
}
table th, table td {
  border: 0.5px solid #6e6e6e;
  padding: 3px 5px;
}

table th {
  text-align: center;
  padding: 10px;
  background-color: #ccc;
}

table td.text-center {
  text-align: center;
}

table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}
/* Evita quebras dentro das linhas (tr) */
tr {
  break-inside: avoid;
  page-break-inside: avoid; /* Propriedade antiga, mas útil para compatibilidade */
  display: table-row; /* Garante que 'tr' seja tratado como um elemento de linha de tabela */
}
td, th {
  /* Opcional: Evita quebras dentro das células, se o conteúdo for pequeno o suficiente */
  break-inside: avoid;
  page-break-inside: avoid;
}