@page {
  margin-left: 2.5cm;
  margin-right: 2cm;
}
header {
  left: -1.8cm;
  right: -1.3cm;
}

section {
  position: fixed;
  width: 5cm;
  text-align: center;
  font-weight: bold;
  font-size: 16pt;
  transform: rotate(45deg);
  right: -2cm;
  top: 1.6cm;
  line-height: 1.2;
  padding: 0.4cm;
}

section.red {
  color:red;
  border: 4px dashed red;
}

section.blue {
  color:#0073b7;
  border: 4px dashed #0073b7;
}
p.referencia {
  margin: 0cm;
  text-align: justify;
  font-size: 10pt;
  line-height: 1;
}
p.art {
  margin: 0.2cm 0;
  text-indent: 2cm;
}

.ementa, .preambulo, .art {
  text-align: justify;
}

.rotulo {
  font-weight: bold;
}

.ementa {
  margin: 0.7cm 0cm 0.7cm 0;

  &.recuo4 {
    margin-left: 4cm;
  }
  &.recuo5 {
    margin-left: 5cm;
  }
}

.data {
  text-align: right;
}

h3, h4, h5 {
  margin: 0;
  padding: 0;
}

.assinaturas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.assinatura {
  flex: 1 1 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2cm;
  text-align: center;
  font-weight: bold;
  line-height: 1.15;
}

.assinatura small {
  font-style: italic;
}