
header {
  left: 0cm;
  right: 0cm;

}
footer {
  left: 0cm;
  right: 0cm;
}
hr {
  border: 0.5px solid #777;
}
h5 {
  margin-bottom: 0.1cm;
}

.d-flex {
}

.loa-mat {
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .col {
    display: inline-flex;
  }
}
.text-right {
  text-align: right;
}
span.materia {
  a {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
  }
}
.title_group {
  font-size: 9pt;
  font-family: 'Courier New', Courier, monospace;
}
ul {
  font-family: 'Courier New', Courier, monospace;
  padding-left: 1.5em;
  margin: 0;
  li {
    font-size: 7pt;
    color: #222;
  }
}

span.indicacao {
  color: #555;
  padding: 5px;
  display: inline-block;
}
small {
  color: #444;
  font-style: italic;
}
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
.sub-total {
  padding: 10px 5px 10px 10px;
  font-family: 'Courier New', Courier, monospace;
}

.courier {
  font-family: 'Courier New', Courier, monospace;
}

.new-page {
  break-before: always;
}

.materia {
  font-weight: bold;
}

