header {
  left: 0cm;
  right: 0cm;

}
footer {
  left: 0cm;
  right: 0cm;
}
hr {
  border: 0.5px solid #777;
}
h5 {
  margin-bottom: 0.1cm;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.sub-total {
  padding: 10px 5px 10px 10px;
  font-family: 'Courier New', Courier, monospace;
}

.courier {
  font-family: 'Courier New', Courier, monospace;
}

.new-page {
  break-before: always;
}

span.materia, small.tipo {
  font-weight: bold;
  a {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
  }
}




.loa-mat {
  ul {
    font-family: 'Courier New', Courier, monospace;
    padding-left: 1.5em;
    margin: 0;
    li {
      font-size: 7pt;
      color: #222;
    }
  }
}

.title_group {
  font-size: 9pt;
  font-family: 'Courier New', Courier, monospace;
}

span.indicacao {
  color: #555;
  padding: 5px;
  display: block;
}
old__ {


  small {
    color: #444;
    font-style: italic;
  }

  .materia {
  }
}