@page {
  margin-top: 0.5cm;
}

.image-header img {
  max-height: 3cm;
  max-width: 3cm;
  margin-right: 1cm;
}

#header_relatorios dl {
  display: flex;
}

dt, dd, ul, li, h2, h3, h4, h5, section {
  padding: 0;
  margin: 0;
}
h4 {
  margin: 0.2cm 0;
}
.title-header {
  text-align: center;
  display: block;
  width: 100%;
}
