{% load i18n common_tags%}
{% for bloco in view.layout_display %}
  {% if bloco.version == 2 %}
    {% if forloop.first %}
      <div class="row">
    {% endif %}

    {% for colgroup in bloco.colgroups %}
      <div class="{{colgroup.class_col}}">

        {% for fieldset in colgroup.colfieldsets %}
          {% if forloop.first %}
            <h2 class="legend">{{ fieldset.legend }}</h2>
            <div class="row">
          {% endif %}

          <div class="{{fieldset.class_col}}">
            {% for row in fieldset.rows %}
              <div class="row">
                {% for column in row %}
                  {% include "crud/detail_column_widget.html" %}
                {% endfor %}
              </div>
            {% endfor %}
          </div>

          {% if forloop.last %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}

    {% if forloop.last %}
      </div>
    {% endif %}
  {% else %}
    <h2 class="legend">{{ bloco.legend }}</h2>
    {% for row in bloco.rows %}
      <div class="row">
        {% for column in row %}
          {% include "crud/detail_column_widget.html" %}
        {% endfor %}
      </div>
    {% endfor %}
  {% endif %}
{% endfor %}