{% extends "crud/list.html" %}
{% load i18n menus%}

{% load render_bundle from webpack_loader %}
{% block webpack_loader_css %}
    {{ block.super }}
    {% if view.crud.frontend %}
      {% render_bundle view.crud.frontend 'css' %}
    {% endif %}
{% endblock %}
{% block webpack_loader_js %}
    {{ block.super }}
    {% if view.crud.frontend %}
      {% render_bundle view.crud.frontend 'js' %}
    {% endif %}
{% endblock %}

{% block base_content %}
  <div class="row container-tabaux">
    <div class="{% if perms.base.view_tabelas_auxiliares %}col{% endif %}">
      {{block.super}}
    </div>
    {% if perms.base.view_tabelas_auxiliares %}
      <div class="sidebar-tabaux">
          <h3>{% trans "Tabelas Auxiliares" %}</h3>
          {% subnav 'menu_tabelas_auxiliares.yaml'%}
      </div>
    {% endif %}
  </div>
{% endblock base_content %}
