
{% load common_tags %}
{% if materias_ordem %}
<fieldset>
  <legend>Matérias da Ordem do Dia</legend>
  
      <table class="table">
      {% for m in materias_ordem %}
        <tr>
          <td class="item-listas">  
            <div class="item-raiz">
              <strong>
                {{m.numero}} - {{m.titulo}}                  
              </strong>
              {% if m.numero_protocolo %}
                <br><strong>Protocolo: </strong>{{m.numero_protocolo}} | 
              {% endif %}
              <b>Turno:</b> {{m.turno|default:''}} |
              <b>Autor{{ m.autor|length|pluralize:"es" }}</b>: {{ m.autor|join:', ' }}
              <div class="text-ementa">{{ m.ementa }}</div>

              <small>
                {% with m.materia.tramitacao_set.last as tram %}
                  {% if tram.unidade_tramitacao_destino %}        
                    <strong>Localização Atual:</strong> &nbsp;{{tram.unidade_tramitacao_destino}}</br>        
                    <strong>Status:</strong> {{tram.status}}<br>
                    <strong>Ultima Ação:</strong> {{tram.texto}}<br>
                    <strong>Data da última Tramitação:</strong> {{tram.data_tramitacao}}<br>       
                  {% endif %}
                {% endwith %}
                <br>      
              </small>
              {% comment %}
              {% endcomment %}
            </div>
          </td>
          <td>
              <b>{{m.resultado}}</b><br/>{{m.resultado_observacao}}
          </td>
        </tr>
      {% endfor %}
      </table>
</fieldset>
<br>
<br>
{% endif %}