
{% load common_tags %}
{% if materias_ordem %}
<fieldset>
  <legend>Matérias da Ordem do Dia</legend>
  
      {% for m in materias_ordem %}
      <table class="table">
        <tr>
          <td class="item-listas">  
            <div class="item-raiz">
              <strong>
                {{m.numero}} - {{m.titulo}}                  
              </strong>
              {% if m.numero_protocolo %}
                <br><strong>Protocolo: </strong>{{m.numero_protocolo}} | 
              {% endif %}
              <b>Turno:</b> {{m.turno|default:''}} |
              <b>Autor{{ m.autor|length|pluralize:"es" }}</b>: {{ m.autor|join:', ' }}
              <div class="text-ementa">{{ m.ementa }}</div>
              <hr>
              <b>{{m.resultado}}</b><br/>{{m.resultado_observacao}}
              {% comment %}
              {% endcomment %}
            </div>
          </td>
        </tr>
      </table>
      {% endfor %}
</fieldset>
<br>
<br>
{% endif %}