{% extends "base_email.html" %}
{% load i18n staticfiles %}

{% block email_content_table %}

<tr>
  <td colspan="8" align="center" style="padding: 10px;">
   <b>COMPROVANTE DE PROTOCOLO</b>
    <br>
    Autenticação: {{ autenticacao }}
    <br>  
  </td>
  <td colspan=4>
    <img src="{{barcode}}" height="50px" width="170px">
  </td>
</tr>
<tr>
   <td colspan=12 style="text-align: left; padding: 10px;">
	   <strong>Número / Ano:</strong>
{{ protocolo.numero|stringformat:'06d' }}/{{ protocolo.ano }} | 
<strong>Data / Horário:</strong>
{% if protocolo.timestamp %}
  {{ protocolo.timestamp|date:"d/m/Y" }} - {{ protocolo.timestamp|date:"H:i:s" }}
{% else %}
  {{ protocolo.data|date:"d/m/Y" }} - {{ protocolo.hora|date:"H:i:s" }}
{% endif %}

<br>

{% if protocolo.tipo_processo == 1 %}

<br><strong>Ementa: </strong>{{protocolo.assunto_ementa}}
<br>
<strong>Autor: </strong>{{ protocolo.autor }}
	{% if protocolo.conteudo_protocolado %}
		{% with protocolo.conteudo_protocolado.metadata.signs.texto_original.signs as signs %}
			{% include 'core/sign_widget.html' %}
		{% endwith %}
	{% endif %}


{% else %}

<br><strong>Assunto:</strong> {{ protocolo.assunto_ementa }}
<br><strong>Interessado:</strong> {{ protocolo.interessado }}

<br><strong>Natureza:</strong>  
{% if protocolo.tipo_processo == 0 %} Administrativo {% elif protocolo.tipo_processo == 1 %} Legislativo {% endif %}

{% endif %}
<hr>
{% if protocolo.conteudo_protocolado %}
	<strong>Especie do Documento: </strong>
	{{protocolo.conteudo_content_type}}
	<br><strong>Tipo do Documento: </strong>
	{{protocolo.tipo_conteudo_protocolado}}
	<br><strong>Documento: </strong>
	{{protocolo.conteudo_protocolado|default:''}}


	<br><strong>Número de Páginas: </strong>
  {{ protocolo.numero_paginas|default_if_none:"Não informado." }}

  {% comment  %}
    <br><strong>Número de Páginas:</strong>
    {{ protocolo.conteudo_protocolado.paginas|default_if_none:"0" }}
  {% endcomment %}

{% endif %}




   </td>
</tr>

{% endblock email_content_table %}
{% block email_message_ti %}
{% endblock email_message_ti %}
