{% load i18n sigad_filters social_utils cropping%}

<div class="container-scroll-x bg-red">
  <div class="inner-container">
    <div class="title-container">
      <div class="icon bg-red"></div>
      <label class="text-white">Notícias Parlamentares</label>
    </div>
    <div
      class="scroll-container"
      v-on:touchstart="handleTouch"
      v-on:touchend="handleTouch"
    >
      <div class="btn-action-left" v-on:click="handleClickContainerScrollX">
        &lt;
      </div>
      <div class="btn-action-right" v-on:click="handleClickContainerScrollX">
        &gt;
      </div>
      <div class="inner-scroll">
        {% for documento in noticias_dos_parlamentares %}
          <div class="item-scroll item-scroll-lg-3">
            <div class="item-head">


              <a
                tabindex="{{view.tabindex}}"
                class="d-block text-white"
                href="/{{ documento.parlamentares.first.classe_set.first.absolute_slug }}"
              >
                {{ documento.parlamentares.first.nome_parlamentar}}
              </a>

              <a
                class="item-titulo text-white"
                tabindex="{{view.tabindex}}"
                href="/{{documento.url_prefixo_parlamentar}}/{{documento.absolute_slug}}"
              >
                {{documento.titulo}}
              </a>
            </div>

            <div class="item-body">
              <span class="pr-2 float-left">
                <a class="avatar avatar4" href="/{{ documento.parlamentares.first.classe_set.first.absolute_slug }}" >
                  <img
                    src="{% cropped_thumbnail documento.parlamentares.first 'fotografia_cropping'%}"
                    alt="{{documento.parlamentares.first.nome_parlamentar}}"/>
                </a>
              </span>
              {{ documento.descricao|default:''|safe|urlize}}
            </div>

            <div class="item-footer">
              <small>
                <span class="data-pub">
                  <i class="far fa-clock" aria-hidden="true"></i>
                  {% if documento.public_date %}
                    {{documento.public_date|date:"d"}} {% trans "de" %} {{documento.public_date|date:"F"}} {% trans "de" %} {{documento.public_date|date:"Y"}}
                  {% else%}
                    {% with documento.revisoes.first as rev %}
                      {{rev.get_visibilidade_display}} - {{rev.timestamp}} - {% trans "por:" %} {{rev.user.first_name|default:rev.user.email}}
                    {% endwith %}
                  {% endif %}
                </span>
              </small>


              {% social_link_share documento 'float-right'%}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
