main .header-materia{
  h1 {
    padding: 4rem 0 0rem 0;
  }

  .tipo_header {
    &.materia {
      color: #4943;
    }
  }
  &:hover {
    .tipo_header {
      &.materia {
        transition: all 0.3s ease;
        color: #494f;
      }
    }
  }
}

.container-youtube {
  position: relative;
  float: right;
  width: 35%;
  z-index: 1;
  opacity: 0.4;
  transition: all 0.3s ease-in;
  padding-left: 1rem;
  &:hover, &:active {
    width: 60%;
    transition: all 0.3s ease-out;
    opacity: 1;
  }
}

.container-video {
  display: flex;
  align-items: center;
  .inner-content {
    flex: 1 1 0%;
    padding-right: 10px;
  }
  .container-youtube {
    flex: 0 0 35%;
    width: auto;
    float: none;
    padding-left: 0rem;
    &.mini {
      flex: 0 0 20%;
      padding-bottom: 0px;
      padding-right: 10px;
    }
  }
  &:hover {
    .container-youtube {
      width: auto;
      flex: 0 0 60%;
    }
  }
}

@media screen and (max-width: 767.98px) {
  main .header-materia{
    h1 {
      padding: 3rem 0 0 0;
      font-size: 1.5rem;
    }
    h3 {
      padding-left: 0rem;
      font-size: 1.5rem;
    }
  }
  .container-youtube {
    opacity: 1;
    float: none;
    width: auto;
    padding-left: 0;
    padding-bottom: 1rem;
    margin: 0 -15px;
    &:hover {
      width: auto;
    }
  }
  .container-video {
    .inner-content {
      border: 0;
      padding-right: 0;
    }
    .container-youtube {
      margin: 0;
      &.mini {
        padding-right: 0;
        flex: 0 0 50%;
      }
    }
  }

}

@media screen and (max-width: 575.98px) {

  .container-video {
    flex-direction: column;
    .inner-content {
      border: 0;
    }
    .container-youtube {
      height: 100px;
      width: 100%;

      &.mini {
        flex: 0 0 100%;
      }
    }

  }
}