{% extends "base.html" %}
{% load i18n social_utils%}

{% block html_class %}html{{path}}{%endblock%}
{% block body_class %}body{{path}}{%endblock%}

{% block second_header %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      {% for p in object.classes_parents_and_me %}
        {% if forloop.first %}
        <li class="breadcrumb-item"><a href="/">Página Inicial</a></li>
        {% endif %}
        <li class="breadcrumb-item {% if p == object %}active{% endif %}">
          
          <a href="/{{p.absolute_slug}}" {% if p == object %}aria-current="page"{% endif %}>
            {% if p == object %}Esta Página{% else %}{{p.apelido|default:p.titulo}}{% endif %}
          </a>
        </li>
      {% endfor %}
    </ol>
  </nav>


{% endblock second_header %}

{% block base_functions %}
  <div class="container">
      <div class="btn-toolbar">
        <div class="btn-group" role="group" aria-label="First group">
          {% block controls_content %}{% endblock %}
        </div>
      </div>
  </div>
{% endblock %}

{% block base_header %}

{% comment %}
  <div class=" float-right col-5 {% if not object.classe.childs.exists %}d-none{% endif %}">
    {% if object.classe.childs.exists %}
    <ul class="nav">
      {% for ch in object.classe.childs.all %}
      <li>
        <a href="/{{ch.absolute_slug}}">{{ch.apelido|default:ch.titulo}}</a>
      </li> 
      {% endfor %}
    </ul>
    {% endif %}
  </div>
{% endcomment %}


    <div style="position:relative;">
      <h1 class="path-title-classe {% if object.classe %}display-doc{% endif %}">
        {% if object.classe %}
          <a tabindex="{{view.tabindex}}" href="/{{object.classe.slug}}" title="Listar {{object.classe}}">{{object.classe.apelido|default:object.classe}}</a>
        {% else %}
          <a tabindex="{{view.tabindex}}" href="#"  id="main_content">{{object.apelido|default:object.titulo}}</a>
        {% endif %}
      </h1>
      <div class="path-data-pub">
        {% block historico_publicacao %}
          <div class="container-versions">
            <a href="#list-revisoes" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="list-revisoes">
              {% comment %}
                FIXME tratar histórico de revisão e publicação/privacidade
              {% endcomment %}
              <i class="fas fa-clock" aria-hidden="true"></i>
              {% if object.public_date %}
                {% trans "Publicado em" %} {{object.public_date|date:"d"}} {% trans "de" %} {{object.public_date|date:"F"|lower}} {% trans "de" %} {{object.public_date|date:"Y"}}
              {% else %}
                {% trans "Criado em" %} {{object.created|date:"d"}} {% trans "de" %} {{object.created|date:"F"|lower}} {% trans "de" %} {{object.created|date:"Y"}}
              {% endif %}
            </a>
            <div class="collapse" id="list-revisoes">
              {% for rev in object.revisoes.all %}
                  {% if rev.user %}
                    <span class="">
                      {{rev.get_visibilidade_display}} - {{rev.timestamp}} - {% trans "por:" %}
                        {{rev.user.first_name|default:rev.user.email}}
                    </span>
                  {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endblock %}
      </div>
    </div>

    {% block title %}
      <h1  id="main_content" class="path-title" tabindex="{{view.tabindex}}">
        {% if object.titulo %}
          {{ object.titulo|safe|linebreaksbr }}
          {% else %}
          {{ object.parents.0.titulo|safe|linebreaksbr }}
          {% endif %}
      </h1>
    {% endblock %}
          
    <div class="path-description">
      {% block descricao %}
      {% if object.descricao %}
        {{object.descricao|striptags|safe|linebreaksbr }}
      {% else %}
        {{ object.parents.0.descricao|striptags|safe|linebreaksbr  }}
      {% endif %}
        {% endblock %}
        {% social_link_share object 'top-right block'%}
    </div>

{% endblock %}
