{% extends "base.html" %}
{% load i18n social_utils%}

{% block html_class %}html{{path}}{%endblock%}
{% block body_class %}body{{path}}{%endblock%}

{% block base_functions %}
  <div class="container">
      <div class="btn-toolbar">
        <div class="btn-group" role="group" aria-label="First group">
          {% block controls_content %}{% endblock %}
        </div>
      </div>
  </div>
{% endblock %}

{% block base_header %}
    <div style="position:relative;">
      <h1 class="path-title-classe {% if object.classe %}display-doc{% endif %}">
        {% if object.classe %}
          <a tabindex="{{view.tabindex}}" href="/{{object.classe.slug}}" title="Listar {{object.classe}}">{{object.classe.apelido|default:object.classe}}</a>
        {% else %}
          <a tabindex="{{view.tabindex}}" href="#"  id="main_content">{{object.apelido|default:object.titulo}}</a>
        {% endif %}
      </h1>
      <div class="path-data-pub">
        {% block historico_publicacao %}
          <div class="container-versions">
            <a href="#list-revisoes" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="list-revisoes">
              {% comment %}
                FIXME tratar histórico de revisão e publicação/privacidade
              {% endcomment %}
              <i class="fas fa-clock" aria-hidden="true"></i>
              {% if object.public_date %}
                {% trans "Publicado em" %} {{object.public_date|date:"d"}} {% trans "de" %} {{object.public_date|date:"F"|lower}} {% trans "de" %} {{object.public_date|date:"Y"}}
              {% else %}
                {% trans "Criado em" %} {{object.created|date:"d"}} {% trans "de" %} {{object.created|date:"F"|lower}} {% trans "de" %} {{object.created|date:"Y"}}
              {% endif %}
            </a>
            <div class="collapse" id="list-revisoes">
              {% for rev in object.revisoes.all %}
                  {% if rev.user %}
                    <span class="">
                      {{rev.get_visibilidade_display}} - {{rev.timestamp}} - {% trans "por:" %}
                        {{rev.user|default:''}}
                    </span>
                  {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endblock %}
      </div>
    </div>

    {% block title %}
      <h1  id="main_content" class="path-title" tabindex="{{view.tabindex}}">
        {% if object.titulo %}
          {{ object.titulo|safe|linebreaksbr }}
          {% else %}
          {{ object.parents.0.titulo|safe|linebreaksbr }}
          {% endif %}
      </h1>
    {% endblock %}

    <div class="path-description">
      {% block descricao %}
      {% if object.descricao %}
        {{object.descricao|striptags|safe|linebreaksbr }}
      {% else %}
        {{ object.parents.0.descricao|striptags|safe|linebreaksbr  }}
      {% endif %}
        {% endblock %}
          {% social_link_share object 'top-right mt-3 clearfix block' %}
    </div>

{% endblock base_header %}

{% block base_content %}
  {% block render_content %}

    {% if object.classe.menu_lateral %}
    <div class="container">
      <div class="row">
        <div class="col">
    {% endif %}

    {% block render_main_content %}
    {% endblock render_main_content%}

    {% if object.classe.menu_lateral %}
      </div>
      <div class="col-md-4 container-menu-lateral">
        {% block render_right_content %}
          {% if object.classe.perfil == object.classe.CLASSE_DOCUMENTAL %}
            {% if object.classe.parent.childs.exists %}
              <ul class="nav">
                {% for ch in object.classe.parent.childs.all %}
                <li>
                  <a href="/{{ch.absolute_slug}}">{{ch.apelido|default:ch.titulo}}</a>
                </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% else %}
            {% if object.classe.childs.exists %}
              <ul class="nav">
                {% for ch in object.classe.childs.all %}
                <li>
                  <a href="/{{ch.absolute_slug}}">{{ch.apelido|default:ch.titulo}}</a>
                </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endif %}
        {% endblock render_right_content %}
      </div>
    {% endif %}

    {% if object.classe.menu_lateral %}
      </div>
    </div>
    {% endif %}

  {% endblock render_content %}

  {% block base_extra_content %}
  {% endblock base_extra_content %}

{% endblock base_content %}



