{% load i18n cache sigad_filters common_cmj_tags%}
<div class="container-transparencia">
  <a class="link-radar" href="https://radardatransparencia.atricon.org.br">Radar<br>de Transparência Pública</a>
  <div class="container-e-sic">
    <a class="link-e-sic">Acesso à<br>Informação</a>
    <div class="popup-sic {% if False and DEBUG and request.scope.path == '/' %}d-block{% endif %}">
      <div class="inner">
        <div class="row">
          {% for col in None|list_in_informacao %}
            <div class="col-md">
              {% for classe in col %}
                <div class="subclasse-sic item-sic {% if classe.visibilidade and perms.sigad %}text-red{% endif %}">
                  <a class="titulo">{{classe.apelido|default:classe.titulo}}
                    {% if classe.descricao %}
                      <span class="sic-descricao">
                        {{classe.descricao|safe|linebreaksbr}}
                      </span>
                    {% endif %}
                  </a>
                  <ul>
                  {% for item in classe|list_in_informacao %}
                    {% if item.visibilidade == 0 %}
                      <li class="item-sic">
                        <div>
                          <a href="/{{item.absolute_slug}}">{{item.apelido|default:item.titulo}}
                            {% if item.descricao %}
                              <span class="sic-descricao">
                                {{item.descricao|safe|linebreaksbr}}
                              </span>
                            {% endif %}
                          </a>
                          {% if perms.sigad.change_classe %}
                            <a class="btn-edit-classe" href="{% url "cmj.sigad:classe_edit" item.id %}"><i class="fas fa-edit"></i></a>
                          {% endif %}
                        </div>
                        {% for child in item|list_in_informacao %}
                          {% if forloop.first %}
                            <ul>
                          {% endif %}
                            <li class="item-sic">
                              <div>
                                <a href="/{{child.absolute_slug}}">{{child.apelido|default:child.titulo}}
                                  {% if child.descricao %}
                                  <span class="sic-descricao">
                                    {{child.descricao|safe|linebreaksbr}}
                                  </span>
                                  {% endif %}
                                </a>
                                {% if perms.sigad.change_classe %}
                                  <a class="btn-edit-classe" href="{% url "cmj.sigad:classe_edit" child.id %}"><i class="fas fa-edit"></i></a>
                                {% endif %}
                              </div>
                            </li>
                          {% if forloop.last %}
                            </ul>
                          {% endif %}
                    {% endfor %}
                      </li>
                    {% else%}
                      {% if perms.sigad.change_classe %}
                        <li>
                          <a class="text-red" href="/{{item.absolute_slug}}">{{item.apelido|default:item.titulo}}</a>
                        </li>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                  </ul>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="icon_selo_atricon">&nbsp;</div>

</div>
