{% load common_cmj_tags %}


<aside>
  <div class="container-aside">
    <div class="box box-search">
      <a onclick="return false;" class="d-none d-lg-block icon icon-busca-textual" href="{% url 'cmj.core:haystack_search'%}">
      </a>
      <a class="d-lg-none icon icon-busca-textual" href="{% url 'cmj.core:haystack_search'%}">
      </a>
      <div class="inner">
        <a href="{% url 'cmj.core:haystack_search'%}" class="">Busca Textual</a>
      </div>
    </div>

    <div class="box box-parlamentares">
      <a onclick="return false;" class="d-none d-lg-block icon icon-parlamentares" href="/parlamentar">
      </a>
      <a class="d-lg-none icon icon-parlamentares" href="/parlamentar">
      </a>
      <div class="inner">
        <a href="/parlamentar" class="">Parlamentares</a>
      </div>
    </div>
    <div class="box box-documento-administrativo">
      <a onclick="return false;" class="d-none d-lg-block icon icon-licitacao" href="{% url 'sapl.protocoloadm:documentoadministrativo_list' %}?o" >
      </a>
      <a class="d-lg-none icon icon-licitacao" href="{% url 'sapl.protocoloadm:documentoadministrativo_list' %}?o" >
      </a>
      <div class="inner">
        <a href="{% url 'sapl.protocoloadm:documentoadministrativo_list' %}?o" class="">Documentos Administrativos</a>

        <ul class="submenu submenu-docadm">
          <li><a>Licitações</a>
            <ul>
              <li><a href="/doc/?tipo=187&o=&tramitacaoadministrativo__status=12">Em Andamento</a></li>
              <li><a href="/doc/?tipo=187&o=&tramitacaoadministrativo__status=13">Com Contratos Assinados</a></li>
              <li><a href="/doc/?tipo=187&o=&tramitacaoadministrativo__status=14">Encerradas</a></li>
              <li><a href="/doc/?tipo=187&o=&tramitacaoadministrativo__status=15">Canceladas</a></li>
            </ul>
          </li>

          <li><a>Contratos</a>
            <ul>
              <li><a href="/doc/?tipo=189">Credenciamentos da Imprensa</a></li>
              <li><a href="/doc/?data_vencimento_0={% now "d/m/Y" %}">Contratos Em Vigência</a></li>
              <li><a href="/doc/?data_vencimento_0={% now "d/m/Y" %}&data_vencimento_1={{""|timedelta_filter:90|date:"d/m/Y"}}" title="Contratos a vencer nos próximos 90 dias.">Contratos a Vencer</a></li>
              <li><a href="/doc/?data_vencimento_1={% now "d/m/Y" %}">Contratos Encerrados</a></li>
            </ul>
          </li>

          <li><a>Acesso Rápido</a>
            <ul>
              <li><a href="/doc/?o=">Últimas Publicações</a>
              <li><a href="/doc/?tipo=197&o=">Dispensa de Licitação</a></li>
              <li><a href="/doc/?tipo=193&o=">Edital de Pregão Presencial</a></li>
              <li><a href="/doc/?tipo=182&o=">Balancetes Contábeis</a></li>
              <li><a href="/doc/?tipo=185&o=">Relatórios de Gestão Fiscal</a></li>
              <li><a href="/doc/?tipo=233&o=">Comissões Parlamentares de Inquérito</a></li>
            </ul>
          </li>

        </ul>


      </div>
    </div>
    <div class="box box-materia">
      <a onclick="return false;" class="d-none d-lg-block icon icon-atividade-legislativa" href="{% url 'sapl.materia:pesquisar_materia' %}" >
      </a>
      <a class="d-lg-none icon icon-atividade-legislativa" href="{% url 'sapl.materia:pesquisar_materia' %}" >
      </a>
      <div class="inner">
        <a href="{% url 'sapl.materia:pesquisar_materia' %}" class="">Matérias Legislativas</a>
          {% comment %}
          <ul class="submenu submenu-materia">
            <li>
              <a>Todas as Matérias</a>
              <ul>
                {% for tipo in ""|sidebar_tipos_de_materias %}
                  <li>
                    <a href="{% url 'sapl.materia:pesquisar_materia' %}?tipo={{tipo.pk}}">{{tipo}}</a>
                  </li>
                {% endfor %}

              </ul>
            </li>
            <li>
              <a href="{% url 'sapl.materia:pesquisar_materia' %}?em_tramitacao=1">Matérias em tramitação</a>
            </li>
          </ul>
          {% endcomment %}
      </div>
    </div>
    <div class="box box-norma">
      <a onclick="return false;" class="d-none d-lg-block icon icon-norma-juridica" href="{% url 'sapl.norma:norma_pesquisa' %}" >
      </a>
      <a class="d-lg-none icon icon-norma-juridica" href="{% url 'sapl.norma:norma_pesquisa' %}" >
      </a>
      <div class="inner">
        <a href="{% url 'sapl.norma:norma_pesquisa' %}" class="">Legislação Municipal</a>

        {% comment %}
        <ul>
          {% for tipo in ""|sidebar_tipos_de_normas %}
            <li>
              <a href="{% url 'sapl.norma:norma_pesquisa' %}?tipo={{tipo.pk}}">{{tipo}}</a>
            </li>
          {% endfor %}
        </ul>
        {% endcomment %}


      </div>
    </div>
    <div class="box box-norma-destaque">
      <a onclick="return false;" class="d-none d-lg-block icon icon-norma-juridica-destaque" href="{% url 'sapl.norma:norma_de_destaque' %}" >
      </a>
      <a class="d-lg-none icon icon-norma-juridica-destaque" href="{% url 'sapl.norma:norma_de_destaque' %}" >
      </a>
      <div class="inner">
        <a href="{% url 'sapl.norma:norma_de_destaque' %}" class="">Normas de Destaque</a>

        {% comment %}
        <ul>
          {% for norma in ""|normas_de_destaque %}
            <li>
              <a href="{% url 'sapl.norma:normajuridica_detail' norma.id %}">{{norma.apelido}}</a>
            </li>
          {% endfor %}
        </ul>
        {% endcomment %}


      </div>
    </div>
    <div class="box box-sessao">
      <a onclick="return false;" class="d-none d-lg-block icon icon-sessao-plenaria" href="{%url 'sapl.sessao:pesquisar_sessao' %}?data_inicio__year=2021" >
      </a>
      <a class="d-lg-none icon icon-sessao-plenaria" href="{%url 'sapl.sessao:pesquisar_sessao' %}?data_inicio__year=2021" >
      </a>
      <div class="inner">
        <a href="{%url 'sapl.sessao:pesquisar_sessao' %}?data_inicio__year=2021" class="">Sessões Plenárias</a>
      </div>
    </div>
    <div class="box box-diario-oficial">
      <a onclick="return false;" class="d-none d-lg-block icon icon-diario-oficial" href="{% url 'cmj.diarios:diariooficial_list' %}" >
      </a>
      <a class="d-lg-none icon icon-diario-oficial" href="{% url 'cmj.diarios:diariooficial_list' %}" >
      </a>
      <div class="inner">
        <a href="{% url 'cmj.diarios:diariooficial_list' %}" class="">Diário Oficial</a>
      </div>
    </div>
    <div class="box box-comissao">
      <a onclick="return false;" class="d-none d-lg-block icon icon-comissoes" href="{% url 'sapl.comissoes:comissao_list' %}">
      </a>
      <a class="d-lg-none icon icon-comissoes" href="{% url 'sapl.comissoes:comissao_list' %}">
      </a>
      <div class="inner">
        <a href="{% url 'sapl.comissoes:comissao_list' %}" class="">Comissões</a>
      </div>
    </div>
    <div class="box box-transparencia">
      <a onclick="return false;" class="d-none d-lg-block icon icon-transparencia" href="http://camaradejatai.sigepnet.com.br/?portal=1" >
      </a>
      <a class="d-lg-none icon icon-transparencia" href="http://camaradejatai.sigepnet.com.br/?portal=1" >
      </a>
      <div class="inner">
        <a href="http://camaradejatai.sigepnet.com.br/?portal=1" class="">Prestação de Contas</a>
      </div>
    </div>
  </div>
</aside>
