{% if is_paginated %}
  <nav class="nav-pagination {{ type_pagination|default:'pagination-sticky'}}">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" aria-label="Anterior" href="?page={{ page_obj.previous_page_number }}{{filter_url}}">

            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Anterior</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" aria-label="Anterior">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Anterior</span>
          </a>
        </li>
      {% endif %}

      {% for page in page_range %}
        {% if page == None or page == 'None' %}
          <li class="page-item disabled">
            <a class="page-link" href="">...</a>
          </li>
        {% else %}
          <li {% if page == page_obj.number %} class="page-item active" {% endif %}>
            <a class="page-link" href="?page={{ page }}{{filter_url}}">{{ page }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" aria-label="Próxima" href="?page={{ page_obj.next_page_number }}{{filter_url}}">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Próxima</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" aria-label="Próxima">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Próxima</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}