{% load common_cmj_tags %}
<div class="container" id="main_content">
  <div class="row">
    <div class="{% if 1|sessaoplenarias_futuras %}col-sm-12 col-lg-7{% else %}col-12{% endif %} p-0 p-lg-2 pt-lg-3">
      {% include "path/pagina_inicial_noticias_principais.html" %}
    </div>
    {% include "path/widget_sessoesplenarias_futuras.html" %}
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 p-2">
      {% include "path/pagina_inicial_buttons.html" %}
    </div>
  </div>
</div>