{% extends 'crud/form.html' %}
{% load crispy_forms_tags  cropping thumbnail  %}
{% load common_cmj_tags %}

{% block title %}
  <h1 class="page-header container-search" >
    Pesquisa Textual
      <a class="btn btn-warning btn-ajuda" data-toggle="collapse" href="#collapseAjudaBuscaTextual" role="button" aria-expanded="false" aria-controls="collapseAjudaBuscaTextual">
        ?
      </a>
  </h1>
{% endblock title %}


{% block base_content %}
<div class="container-search">

  <form method="get" action=".">
    <div class="collapse" id="collapseAjudaBuscaTextual">
      <div class="clearfix"></div>
      <div class="card card-body">
        <h2 class="card-title">Pesquisar uma correspondência exata</h2>
        <p class="card-text">
          Coloque o conteúdo entre aspas. Por exemplo: 
          <span class="text-green">"Inclusão Social das Pessoas com Deficiência"</span>
        </p>
      </div> 
      <div class="card card-body">
        <h2 class="card-title">Excluir palavras da pesquisa</h2>
        <p class="card-text">
          Coloque o sinal de "-" antes da palavra que não deve aparecer na pesquisa. Por exemplo: 
          <span class="text-green">servidor -executivo</span>
        </p>
      </div>
      <div class="card card-body">
        <h2 class="card-title">Combinar pesquisas</h2>
        <p class="card-text">
          Coloque "OR" na consulta. Por exemplo: 
          <span class="text-green">servidor OR executivo</span>
        </p>
      </div>
      <div class="card card-body">
        <h2 class="card-title">Restringir pesquisas</h2>
        <p class="card-text">Coloque "AND" na consulta. Por exemplo: 
          <span class="text-green">servidor AND executivo</span>
          <br><small>palavras soltas já são pesquisadas como se você colocasse "AND", ou seja,
          pesquisar <span class="text-green">servidor AND executivo</span> é o mesmo que <span class="text-green">servidor executivo</span></small>. 
        </p>
      </div>
      <div class="card card-body">
        <h2 class="card-title">Combinar as opções de pesquisa</h2>
        <p class="card-text">
          Uma pesquisa exata com uma exclusão. Por exemplo:
          <span class="text-green">"servidor efetivo" -câmara</span>
          <br>
          Duas pesquisas exatas. Por exemplo:
          <span class="text-green">"audiência pública" AND "diretrizes orçamentárias"</span>
          <br>
          Duas pesquisas exatas e que o resultado tenha ao menos uma delas. Por exemplo:
          <span class="text-green">"audiência pública" OR "diretrizes orçamentárias"</span>
          <br>
          Duas pesquisas exatas, que o resultado tenha ao menos uma delas e que não tenha a palavra "diário". Por exemplo:
          <span class="text-green">"audiência pública" OR "diretrizes orçamentárias" -diário</span>
          <br>
        </p>
      </div>
    </div>

    <div class="row">
      {% crispy form %}
    </div>
    <div class="row">
      <div class="col-md-5 ">
        <div class="checkbox" id="check_all">
          <input type="checkbox" id="id_check_all" onchange="checkAll(this)" />
          <label for="id_check_all">
            Marcar/Desmarcar Todos
          </label>
        </div>
      </div>
    </div>

      <div class="container-table">
        <div class="result-count">Foram encontrados {{ page.paginator.count }} registros </div>
        
        <table class="table table-striped table-bordered">
        
        {% comment "" %}
        
          <thead class="thead-default">
            <tr><td><h3>Resultados - Foram encontrados {{ page.paginator.count }} registros <br/>
              {% if page.paginator.count %}
              Registros {{ page.start_index }} a {{ page.end_index }} de {{ page.paginator.count }}
              {% endif %}
            </h3></td></tr>
          </thead>
        {% endcomment %}

        {% for result in page.object_list %}
          {% if result.object %}
            <tr>
              <td class="item-listas">  
              
                <div class="item-raiz">

                <div class="verbose_name">
                  {% if not result.model_name == 'documento' %}{{result.verbose_name}}{%else%}Notícias{% endif %}                  
                </div>

                {% if user.is_superuser %}
                  <div class="parent-right">
                    {{ result.text|length }} 
                  </div>
                {% endif %}

                {% if result.model_name == 'materialegislativa' %}
                  {% with result.object as m %}
                    <div class="links-texto">
                      {% if m.texto_original %}
                        <a class="link-texto" href="{{m.texto_original.url}}?u={% now "u"%}" title="Texto Original">
                          <i class="far fa-2x fa-file-{% if '.pdf' in m.texto_original.path %}pdf{% else %}archive{% endif %}"></i>
                          <br><small>Arquivo<br>Digitalizado da Matéria</small>

                        </a>
                      {% endif %}
                      {% if m.texto_articulado.exists %}
                        <a class="link-texto" href="{% url 'sapl.materia:materia_ta' m.id%}">
                          Texto Articulado
                        </a>
                      {% endif %}
                    </div>
                    
                    <strong>
                      <a href="{% url 'sapl.materia:materialegislativa_detail' m.id %}">{{m.tipo.sigla}} {{m.numero}}/{{m.ano}} - {{m.tipo}}</a>
                    </strong><br>
                    {% if m.numero_protocolo %}
                        <strong>Protocolo: </strong>{{m.numero_protocolo}}/{{m.ano}} | 
                    {% endif %}
                    <strong>Data de Apresentação:</strong> {{m.data_apresentacao}}
                    <br><strong>Autoria:</strong> {{ m.autores.all|join:", "}}
                    <div class="text-ementa">{{ m.ementa }}</div>
                  {% endwith %}

                  <small>
                    {% for anexada in result.object.materia_principal_set.all %}
                      {% if forloop.first %}
                        <strong>Matérias Anexadas:</strong>
                        <ul>
                      {% endif %}
                      <li><a href="{% url 'sapl.materia:materialegislativa_detail' anexada.materia_anexada.pk %}">{{ anexada.materia_anexada }}</a></li>
                      {% if forloop.last %}
                        </ul>
                        {% endif %}
                    {% endfor %}
                    {% for principal in result.object.materia_anexada_set.all %}
                      {% if forloop.first %}
                        <strong>Matéria Principal:</strong>
                        <ul>
                      {% endif %}
                        <li><a href="{% url 'sapl.materia:materialegislativa_detail' principal.materia_principal.pk %}">{{ principal.materia_principal }}</a></li>
                      {% if forloop.last %}
                        </ul>
                      {% endif %}
                    {% endfor %}
                  </small>






                {% elif result.model_name == 'documentoacessorio' %}
                  <div class="links-texto">
                    {% if result.object.arquivo %}
                      <a class="link-texto" href="{{result.object.arquivo.url}}?u={% now "u"%}" title="Documento Acessório">
                        <i class="far fa-2x fa-file-{% if '.pdf' in result.object.arquivo.path %}pdf{% else %}archive{% endif %}"></i>
                      </a>
                    {% endif %}
                  </div>
                  <a href="{% url 'sapl.materia:documentoacessorio_detail' result.object.pk %}">{{ result.object }}</a>
                  <br><small>Matéria legislativa vinculada: <strong>{{result.object.materia}} </strong></small>
                  <br><strong>Data:</strong> {{result.object.data}}
                  <div class="text-ementa">{{ result.object.ementa }}</div>





                {% elif result.model_name == 'documentoadministrativo' %}
                  <div class="links-texto">
                    {% if result.object.texto_integral %}
                      <a class="link-texto" href="{{result.object.texto_integral.url}}?u={% now "u"%}" title="Documento Administrativo">
                        <i class="far fa-2x fa-file-{% if '.pdf' in result.object.texto_integral.path %}pdf{% else %}archive{% endif %}"></i>
                      </a>
                    {% endif %}
                  </div>

                  <strong>
                    <a href="{% url 'sapl.protocoloadm:documentoadministrativo_detail' result.object.pk %}">{{ result.object }}</a>
                  </strong>

                  <br><strong>Data:</strong> {{result.object.data}}
                  {% if result.object.certidao %}
                    <br><small>
                    <span class="text-danger">Certidão de Publicação nº {{result.object.certidao.id|stringformat:"06d" }} de {{result.object.certidao.created}}</span>
                    </small>
                  {% endif %}
                  {% if result.object.assunto %}
                    <div class="text-ementa">{{ result.object.assunto }}</div>
                  {% else %}
                    {% if result.object.documento_principal_set.exists %}
                      {{result.object.documento_principal_set.last.assunto}}
                    {% endif %}
                  {% endif %}

                  <small>
                    {% for anexado in result.object.documento_principal_set.all %}
                      {% if forloop.first %}
                        <div class="clearfix"></div>
                        <strong>Documentos Vinculados:</strong>
                        <ul>
                      {% endif %}
                      <li><a href="{% url 'sapl.protocoloadm:documentoadministrativo_detail' anexado.documento_anexado.pk %}">{{ anexado.documento_anexado }}</a></li>
                      {% if forloop.last %}
                        </ul>
                        {% endif %}
                    {% endfor %}
                    {% for principal in result.object.documento_anexado_set.all %}
                      {% if forloop.first %}
                        <div class="clearfix"></div>
                        <strong>Vinculado a:</strong>
                        <ul>
                      {% endif %}
                        <li><a href="{% url 'sapl.protocoloadm:documentoadministrativo_detail' principal.documento_principal.pk %}">{{ principal.documento_principal }}</a></li>
                      {% if forloop.last %}
                        </ul>
                      {% endif %}
                    {% endfor %}
                  </small>





                {% elif result.model_name == 'diariooficial' %}
                    <div class="links-texto">
                      {% if result.object.arquivo %}
                        <a class="link-texto" href="{{result.object.arquivo.url}}?u={% now "u"%}" title="Arquivo do Diários Oficial">
                          <i class="far fa-2x fa-file-{% if '.pdf' in result.object.arquivo.path %}pdf{% else %}archive{% endif %}"></i>
                        </a>
                      {% endif %}
                    </div>

                    <a href="{% url 'cmj.diarios:diariooficial_detail' result.object.pk %}">{{ result.object }}</a>
                    <br><strong>Data:</strong> {{result.object.data}}




                    

                {% elif result.model_name == 'normajuridica' %}
                  {% comment %}
                    <div class="links-texto">
                      {% if result.object.texto_integral %}
                        <a class="link-texto" href="{{result.object.texto_integral.url}}?u={% now "u"%}" title="Arquivo Digitalizado da Norma ">
                          <i class="far fa-2x fa-file-{% if '.pdf' in result.object.texto_integral.path %}pdf{% else %}archive{% endif %}"></i>
                          <br><small>Arquivo<br>Digitalizado da Norma</small>

                        </a>
                      {% endif %}
                      {% if result.object.texto_articulado.exists and result.object.texto_articulado.first.privacidade == 0 or perms.compilacao.change_dispositivo_edicao_dinamica%}
                        <a class="link-texto" href="{% url 'sapl.norma:norma_ta' result.object.pk%}">
                          Texto Articulado
                        </a>
                      {% endif %}
                    </div>
                  {% endcomment %}
                  
                  <strong>
                    <a href="{% url 'sapl.norma:normajuridica_detail' result.object.pk %}">{{ result.object }}</a>
                  </strong>

                  <div class="text-ementa">
                    {{result.object.ementa}}
                  </div>




                  
                {% elif result.model_name == 'sessaoplenaria' %}
                    <strong>
                    <a href="{% url 'sapl.sessao:sessaoplenaria_detail' result.object.pk %}">{{ result.object }}</a>
                    </strong>
                    
                    <br><strong>Data:</strong> {{result.object.data_inicio}}
                    {% if result.object.upload_ata %}
                      <br><strong>Ata da Sessão:</strong><a href="{{result.object.upload_ata.url}}?u={% now "u"%}">Clique aqui</a>
                    {% endif %}





                {% elif result.model_name == 'documento' %}
                    <div class="container">
                      <div class="data-pub">
                        <i class="far fa-clock" aria-hidden="true"></i>
                        {{result.object.public_date}}
                      </div>
                      <div class="row">
                        {% for p in result.object.parlamentares.all %}
                          {% if forloop.first %}
                            <div class="{% if result.object.parlamentares.count == 1 %}col-lg-1 col-md-1 col-sm-2 col-2{% else %}col-lg-2 col-md-2 col-sm-3 col-4{% endif %} ml-3 mt-3 d-flex">
                          {% endif %}

                          <div class="avatar ml-1">
                            <img src="{% cropped_thumbnail p "fotografia_cropping" %}" alt="{{p.nome_parlamentar}}">
                          </div>

                          {% if forloop.last %}
                            </div>
                          {% endif %}

                          {% endfor %}
                        <div class="col">
                          <strong>
                            <a href="/{{result.object.absolute_slug}}">{{ result.object }}</a>
                          </strong>
                          <div class="text-ementa p-0">
                            {{result.object.descricao}}
                          </div>
                        </div>
                      </div>
                    </div>
                {% endif %}
                </div>
              </td>
            </tr>
          {% endif %}

          {% empty %}
          <tr>
            <td>
              <h3>Nenhum texto encontrado!</h3>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
      {% if page.object_list  %}
        {% include "paginacao.html" %}
      {% endif %}

  </form>
</div>
{% endblock %}

{% block extra_js %}

  <script language="JavaScript">
		function checkAll(elem) {
      let checkboxes = document.getElementsByName('models');
      for (let i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i].type == 'checkbox') 
            checkboxes[i].checked = elem.checked; 
      }
    }
  </script>

{% endblock %}