{% load static common_cmj_tags common_tags %}
{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}
<!DOCTYPE html>
<html lang="pt-br">
<meta charset="utf-8"></meta>
<head>
  <title>LOA {{ object.ano }} - Emendas Impositivas/Modificativas</title>
  <style>
    {% include "css/base.css" %}
    {% include "css/base_table.css" %}
    {% include "css/emendaloa-list.css" %}

    {% comment %}
    @page :right {
      @bottom-right{
        content: "Página " counter(page) " de " counter(pages);
        padding-top: 0cm;
        font-style: italic;
        color: #444;
      }
    }
    {% endcomment %}
  </style>
</head>
<body>

  <header>
    <img src="{% webpack_static '/img/pdf_cabec.jpg' %}">
  </header>

  <h2>{{title|safe}}</h2>
  {% if filters %}
    <small>{{filters|safe}}</small><br><br>
  {% endif %}

  {% for group in groups %}
    {% if group.title %}
      <div class="title_group">{{group.title|safe}}</div>
    {% else %}
      <br>
    {% endif %}

    <div class="courier text-right">
      {% if tipo_agrupamento and tipo_agrupamento != 'sem_registro' %}
      <small><small><em>Orçamento Original: <strong>{{group.soma_valor_orcamento}}</strong> | Movimentação Geral: <strong>{{group.movimentacao_valores}}</strong> | Saldo: <strong>{{group.saldo_orcamento}} *</strong> </em></small></small>
      {% endif %}
    </div>

    <table>
      <thead>
        <tr>
          {% for col in group.columns %}
            <th>{{col|safe}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in group.rows %}
          <tr>
            {% for col in row %}
              <td><div class="{{col.1}}">{{col.0|safe}}</div></td>
            {% endfor %}
          </tr>

          {% if forloop.last %}
            {% if True or not tipo_agrupamento or tipo_agrupamento == 'sem_registro' %}
                <tr>
                  <td class="text-right sub-total" {% if group.ncols_menos2 > 0 %}colspan="{{group.ncols_menos1}}"{% endif %}>
                    <strong>Soma das Emendas:</strong>
                    {% if group.sub_total_agrupado != group.sub_total_emendas and tipo_agrupamento != 'sem_registro'%}
                      <br><strong>Soma do Agrupamento:</strong>&nbsp;
                    {% endif %}
                  </td>
                  <td class="text-right sub-total">
                    <strong>{{group.sub_total_emendas}}</strong>
                    {% if group.sub_total_agrupado != group.sub_total_emendas and tipo_agrupamento != 'sem_registro'%}
                      <br><strong>{{group.sub_total_agrupado}}</strong>&nbsp;
                    {% endif %}
                  </td>
                </tr>
              {% endif %}
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
      {% if group.sub_total_agrupado != group.sub_total_emendas and tipo_agrupamento != 'sem_registro'%}
        <small><small><em>As somas podem ser diferentes nos dois subtotais se a emenda destina/recebe recursos em mais de um registro contábil do agrupamento.</em></small></small>
      {% endif %}
    {% if forloop.last %}
      {% if True or not tipo_agrupamento or tipo_agrupamento == 'sem_registro' %}
        <hr>
        <div class="text-right">
          ** Total: {{total}}
        </div>
      {% endif %}
      <div>
        <small>
          <small>
            <em>
              Esta totalização mostrada é a soma das emendas listadas acima uma única vez,
              mesmo que apareça em mais de um agrupamento. **
            </em>
          </small>
        </small>
      </div>
      <hr>
      <div>
        <small>
          <small>
            <em>
              * Os valores de "Orçamento Original", "Movimentação Geral" e "Saldo"
              mostrados no inicio de cada tabela são a totalização da base inteira
              de emendas com registros contábeis do agrupamento e não particularizados pelos filtros aplicados, caso existam.
            </em>
          </small>
        </small>
      </div>
    {% else %}
      <div class="new-page"></div>
    {% endif %}
  {% empty %}
    <h4>
      Nenhuma Emenda encontrada a partir dos filtros aplicados.
    </h4>
  {% endfor %}

  {% comment %}
    <footer>
      <hr>
      <img src="{% webpack_static '/img/pdf_rodape.jpg' %}">
    </footer>
  {% endcomment %}
  </body>
</html>