{% load static common_cmj_tags common_tags %}
{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}
<!DOCTYPE html>
<html lang="pt-br">
<meta charset="utf-8"></meta>
<head>
  <title>LOA {{ object.ano }} - Emendas Impositivas/Modificativas</title>
  <style>
    {% include "css/base.css" %}
    {% include "css/base_table.css" %}
    {% include "css/emendaloa-list.css" %}

    {% comment %}
    @page :right {
      @bottom-right{
        content: "Página " counter(page) " de " counter(pages);
        padding-top: 0cm;
        font-style: italic;
        color: #444;
      }
    }
    {% endcomment %}
  </style>
</head>
<body>

  <header>
    <img src="{% webpack_static '/img/pdf_cabec.jpg' %}">
  </header>

  <h2>{{title|safe}}</h2>
  {% if filters %}
    <small>{{filters|safe}}</small><br>
  {% endif %}

  {% for group in groups %}
    {% if group.title %}
      <h5>{{group.title|safe}}</h5>
    {% else %}
      <br>
    {% endif %}

    <div class="courier">
      {% if tipo_agrupamento and tipo_agrupamento != 'sem_registro' %}
      <small><small><em>Orçamento Original: {{group.soma_valor_orcamento}} | Movimentação Geral: {{group.movimentacao_valores}} | Saldo: {{group.saldo_orcamento}}</em></small></small>
      {% endif %}
    </div>

    <table>
      <thead>
        <tr>
          {% for col in group.columns %}
            <th>{{col|safe}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in group.rows %}
          <tr>
            {% for col in row %}
              <td><div class="{{col.1}}">{{col.0|safe}}</div></td>
            {% endfor %}
          </tr>

          {% if forloop.last %}
            {% if not tipo_agrupamento or tipo_agrupamento == 'sem_registro' %}
                <tr>
                  <td class="text-right sub-total" {% if group.ncols_menos2 > 0 %}colspan="{{group.ncols_menos1}}"{% endif %}>
                    <strong>SubTotais:</strong>
                  </td>
                  <td class="text-right sub-total">
                    <strong>{{group.sub_total_emendas}}</strong>
                  </td>
                </tr>
              {% endif %}
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
    {% if forloop.last %}
      {% if not tipo_agrupamento or tipo_agrupamento == 'sem_registro' %}
          <hr>
          <div class="text-right">
            Total: {{total}}
          </div>
      {% else %}
          <hr>
          <div>
            <small>
              <small>
                <em>
                  OBS 1: Uma linha com subtotais ao fim de cada tabela
                    listada acima é colocada apenas quando feito a listagem
                    "Via Valor da Emenda" pois, a depender dos lançamentos
                    de contábeis de dedução e inserção, <b>em outra via de totalização</b>,
                    uma mesma Emenda pode aparecer em mais de um Agrupamento/Totalizador.
                    Do mesmo modo, uma linha de "TOTAL:" ao final com a soma geral
                    só faz sentido quando o tipo de agrupamento é "Via Valor da Emenda"
                </em>
              </small>
            </small>
          </div>
          <hr>
          <div>
            <small>
              <small>
                <em>
                  OBS 2: Os valores de "Orçamento Original", "Movimentação Geral" e "Saldo"
                  mostrados no inicio de cada tabela são a totalização da base inteira
                  de emendas com registros contábeis e não particularizados pelos filtros aplicados.
                </em>
              </small>
            </small>
          </div>
      {% endif %}
    {% endif %}
  {% empty %}
    <h4>
      Nenhuma Emenda encontrada a partir dos filtros aplicados.
    </h4>
  {% endfor %}

  {% comment %}
    <footer>
      <hr>
      <img src="{% webpack_static '/img/pdf_rodape.jpg' %}">
    </footer>
  {% endcomment %}
  </body>
</html>