{% load i18n static menus common_cmj_tags cropping %}
{% load webpack_static from webpack_loader %}

<footer id="rodape_access">
  <div class="container-fluid">
    <div class="container">
      <ul>
        {% menu 'yaml/menu_footer.yaml'%}
      </ul>
    </div>
    <div class="container lacation">


      <hr>

      <div class="row align-items-center">

        <div class="col">
          <i class="fa fa-map-marker"></i>
          <strong>Câmara Municipal de Jataí</strong><br>
              Praça da Bandeira, 96 - Centro - Jataí - GO<br>
              Cep: 75800-020<br>
              Fone: (64) 3636-0800<br>
        </div>

        <div class="col-auto">
          <span class="title-social-link">REDES SOCIAIS</span>
          <div class="navbar-social-links  justify-content-center" id="socialactions">
            {% with True as only_externals %}
              {% include 'social_links_global.html'%}
            {% endwith %}
          </div>
        </div>

        <div class="col-auto text-right">
          <a class="link-sic" href="/fale-conosco/servico-de-informacoes-ao-cidadao-sic">
            <img src="{% webpack_static 'img/logo_sic.png' %}">
          </a>
        </div>
        <div class="col-12 text-right">
        <hr>
            O trabalho legislativo na Câmara Municipal de Jataí compreende os períodos
            de 19 de janeiro a 30 de junho e de 1º de agosto a 20 de dezembro.<br>

            Semanalmente de segunda a sexta-feira das 8 às 11h e das 13h às 17h.

            O recesso ocorre de 1º de julho a 31 de julho e de 21 de dezembro a 18 de janeiro.

        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container">
      <ul>
        {% menu 'yaml/menu_footer_base.yaml'%}
        <li>
          Departamento de Tecnologia de Informação e Comunicação
        </li>
      </ul>
    </div>
  </div>
</footer>
